Repository dotnet/aspire, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radical, @eerhardt, @reubenbond, @sebastienros, @captainsafia, @mitchdenny

Add webapi reference in playground
  playground/AspireWithMaui/AspireWithMaui.AppHost/AppHost.cs
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
Owners: none

Basic implementation
  playground/AspireWithMaui/AspireWithMaui.AppHost/AppHost.cs
  playground/AspireWithMaui/AspireWithMaui.AppHost/AspireWithMaui.AppHost.csproj
  src/Aspire.Hosting.Maui/Aspire.Hosting.Maui.csproj
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
  src/Aspire.Hosting.Maui/MauiProjectExtensions.cs
  src/Aspire.Hosting.Maui/MauiProjectResource.cs
Owners: none

Correct reference name
  playground/AspireWithMaui/AspireWithMaui.MauiClient/MauiProgram.cs
Owners: none

Really fix webapi reference
  playground/AspireWithMaui/AspireWithMaui.MauiClient/MauiProgram.cs
Owners: none

Add basic tests
  tests/Aspire.Hosting.Maui.Tests/Aspire.Hosting.Maui.Tests.csproj
  tests/Aspire.Hosting.Maui.Tests/MauiMacCatalystTests.cs
  tests/Aspire.Hosting.Maui.Tests/MauiPlatformSelectionTests.cs
  tests/Aspire.Hosting.Maui.Tests/MauiTestHelpers.cs
  tests/Aspire.Hosting.Maui.Tests/MauiWindowsResourceTests.cs
  tests/Aspire.Hosting.Maui.Tests/MauiWindowsTests.cs
Owners: none

Windows & Mac Catalyst work
  src/Aspire.Hosting.Maui/Aspire.Hosting.Maui.csproj
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
  src/Aspire.Hosting.Maui/MauiProjectExtensions.cs
  src/Aspire.Hosting.Maui/MauiStartupPhaseTracker.cs
Owners: none

Add warning if no platform is enabled
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
Owners: none

Add auto detection when no WithPlatform() method
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
  tests/Aspire.Hosting.Maui.Tests/MauiPlatformSelectionTests.cs
Owners: none

Add auto detect propagate SD test
  tests/Aspire.Hosting.Maui.Tests/MauiPlatformSelectionTests.cs
Owners: none

Add more tests
  tests/Aspire.Hosting.Maui.Tests/MauiMacCatalystTests.cs
  tests/Aspire.Hosting.Maui.Tests/MauiPlatformSelectionTests.cs
Owners: none

Code style
  tests/Aspire.Hosting.Maui.Tests/MauiMacCatalystTests.cs
  tests/Aspire.Hosting.Maui.Tests/MauiWindowsResourceTests.cs
  tests/Aspire.Hosting.Maui.Tests/MauiWindowsTests.cs
Owners: none

Normalize AppHost project path
  playground/AspireWithMaui/AspireWithMaui.AppHost/AppHost.cs
  src/Aspire.Hosting.Maui/Aspire.Hosting.Maui.csproj
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
  src/Aspire.Hosting.Maui/MauiProjectExtensions.cs
  src/Aspire.Hosting.Maui/MauiProjectResource.cs
Owners: none

Add warnings for unsupported platforms/hosts
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
Owners: none

Refactoring
  src/Aspire.Hosting.Maui/MauiPlatformDetection.cs
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
Owners: none

Unsupported platform test
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
  tests/Aspire.Hosting.Maui.Tests/MauiUnsupportedPlatformTests.cs
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 1309: Build ID 2800807
  src/Aspire.Cli/Resources/xlf/InteractionServiceStrings.de.xlf
  src/Aspire.Cli/Resources/xlf/InteractionServiceStrings.ja.xlf
  src/Aspire.Cli/Resources/xlf/InteractionServiceStrings.ko.xlf
  src/Aspire.Cli/Resources/xlf/InteractionServiceStrings.pt-BR.xlf
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 1309: Build ID 2800807
  src/Aspire.Cli/Resources/xlf/UpdateCommandStrings.de.xlf
  src/Aspire.Cli/Resources/xlf/UpdateCommandStrings.ja.xlf
  src/Aspire.Cli/Resources/xlf/UpdateCommandStrings.pt-BR.xlf
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 1309: Build ID 2800807
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.cs.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.de.xlf
Owners: none

Localized file check-in by OneLocBuild Task: Build definition ID 1309: Build ID 2800807
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.es.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.fr.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.it.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.ja.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.ko.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.pl.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.pt-BR.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.ru.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.tr.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.zh-Hans.xlf
  src/Aspire.Hosting.DevTunnels/Resources/xlf/MessageStrings.zh-Hant.xlf
Owners: none

Move AddAzureKustoCluster extension method to Aspire.Hosting namespace (#11639)
  playground/AzureKusto/AzureKusto.AppHost/Program.cs
  src/Aspire.Hosting.Azure.Kusto/AzureKustoBuilderExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/RoleAssignmentTests.cs
Owners: none

Ensure that the Tool form of the Aspire CLI is platform-independent, framework-dependent.
  src/Aspire.Cli/Aspire.Cli.csproj
Owners: none

Checkpoint from VS Code for coding agent session
  src/Aspire.Hosting.Azure.AppContainers/ContainerAppEnvironmentContext.cs
  src/Aspire.Hosting.Azure.AppService/AzureAppServiceEnvironmentContext.cs
  src/Aspire.Hosting.Azure/AzureResourcePreparer.cs
  src/Aspire.Hosting.Azure/TargetComputeResourceAnnotation.cs
Owners: @captainsafia, @eerhardt

Checkpoint from VS Code for coding agent session
  src/Aspire.Cli/Commands/RunCommand.cs
Owners: none

add comment based on feedback from @ eerhardt
  eng/clipack/Common.projitems
Owners: none

Address review feedback from @ eerhardt
  eng/clipack/Common.projitems
Owners: none

Pass in env vars to iOS
  playground/AspireWithMaui/AspireWithMaui.AppHost/AppHost.cs
  playground/AspireWithMaui/AspireWithMaui.AppHost/AspireWithMaui.AppHost.csproj
  playground/AspireWithMaui/AspireWithMaui.MauiClient/AppShell.xaml
  playground/AspireWithMaui/AspireWithMaui.MauiClient/AspireWithMaui.MauiClient.csproj
  playground/AspireWithMaui/AspireWithMaui.MauiClient/EnvironmentPage.xaml
  playground/AspireWithMaui/AspireWithMaui.MauiClient/EnvironmentPage.xaml.cs
  playground/AspireWithMaui/AspireWithMaui.MauiClient/MainPage.xaml
  playground/AspireWithMaui/AspireWithMaui.MauiClient/MainPage.xaml.cs
  playground/AspireWithMaui/AspireWithMaui.MauiClient/Properties/launchSettings.json
  playground/AspireWithMaui/AspireWithMaui.MauiClient/Resources/Styles/Styles.xaml
  src/Aspire.Hosting.Maui/MauiProjectBuilder.cs
  src/Aspire.Hosting.Maui/Platforms/iOS/iOSMlaunchEnvironmentTargetGenerator.cs
Owners: none

[release/9.5] Remove IServiceProvider from ContainerImageReference (#11585)
  src/Aspire.Hosting.Azure.AppContainers/BaseContainerAppContext.cs
  src/Aspire.Hosting.Azure.AppService/AzureAppServiceWebsiteContext.cs
  src/Aspire.Hosting.Azure/AzureDeployingContext.cs
  src/Aspire.Hosting.Azure/AzureEnvironmentResource.cs
  src/Aspire.Hosting.Docker/DockerComposeEnvironmentContext.cs
  src/Aspire.Hosting.Docker/DockerComposeInfrastructure.cs
  src/Aspire.Hosting.Docker/DockerComposeServiceExtensions.cs
  src/Aspire.Hosting.Docker/DockerComposeServiceResource.cs
  src/Aspire.Hosting/ApplicationModel/ContainerImageReference.cs
  src/Aspire.Hosting/ApplicationModel/DeploymentImageTagAnnotation.cs
  tests/Aspire.Hosting.Tests/ResourceExtensionsTests.cs
Owners: @captainsafia, @eerhardt, @mitchdenny

Add a size check for the max size of the aspire CLI executable. (#11611)
  eng/clipack/Common.projitems
Owners: none

Remove --watch flag from aspire run and add features.defaultWatchEnabled feature flag (#11633)
  src/Aspire.Cli/Commands/RunCommand.cs
  src/Aspire.Cli/DotNet/DotNetSdkInstaller.cs
  src/Aspire.Cli/KnownFeatures.cs
  tests/Aspire.Cli.Tests/Commands/RunCommandTests.cs
  tests/Aspire.Cli.Tests/DotNetSdkInstallerTests.cs
Owners: none

Whitespace
  eng/Versions.props
Owners: none

Refactor CheckAppHostCompatibilityAsync for improved readability and structure
  src/Aspire.Cli/Utils/AppHostHelper.cs
Owners: none

Update
  playground/Stress/Stress.AppHost/InteractionCommands.cs
  src/Aspire.Hosting/IInteractionService.cs
  src/Aspire.Hosting/InteractionService.cs
  tests/Aspire.Hosting.Tests/InteractionServiceTests.cs
Owners: @mitchdenny

Display help text for enabling GenAI sensitive data when there are no messages
  src/Aspire.Dashboard/Model/GenAI/GenAIVisualizerDialogViewModel.cs
Owners: none

Update
  tests/Aspire.Dashboard.Tests/Model/GenAIVisualizerDialogViewModelTests.cs
Owners: none

Refactor Devcontainer port forwarding logic to use a channel for updates and improve asynchronous processing.
  src/Aspire.Hosting/Devcontainers/DevcontainerPortForwardingLifecycleHook.cs
  src/Aspire.Hosting/Devcontainers/DevcontainerSettingsWriter.cs
Owners: none

Handle error spans
  src/Aspire.Dashboard/Model/GenAI/GenAIVisualizerDialogViewModel.cs
Owners: none

.github/CODEOWNERS:

/dogfood.sh                           @radical @eerhardt
/src/Aspire.Hosting.Testing           @reubenbond
/src/Components                       @radical @eerhardt @sebastienros
/src/Aspire.Hosting.Azure             @captainsafia @eerhardt
/src/Aspire.Hosting.Azure.Functions   @captainsafia
/src/Aspire.Hosting.Azure.AppContainers  @captainsafia @eerhardt
/src/Aspire.Hosting.Azure.AppService  @captainsafia @eerhardt
/src/Aspire.Hosting.Docker            @captainsafia

# tests

/tests/Aspire.EndToEnd.Tests          @radical @eerhardt
/tests/Aspire.Hosting.Testing.Tests   @reubenbond
/tests/Aspire.Hosting.Tests           @mitchdenny
/tests/Aspire.Templates.Tests          @radical @eerhardt
/tests/Shared                         @radical @eerhardt
/tests/helix                          @radical @eerhardt
/tests/templates.proj                 @radical @eerhardt

# playground apps
/playground/deployers                @captainsafia
/playground/publishers               @captainsafia
