Repository dotnet/aspire, pull requests merged in 2023-11, with the labels that each got.

#861 Add dependabot
  .github/dependabot.yml
Labels: area-engineering-systems

#856 Remove check for dotnet.exe from startvs.cmd.
  startvs.cmd
Labels: area-engineering-systems

#819 Use FluentSplitter for Summary/Details View
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor.cs
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor.css
  src/Aspire.Dashboard/Components/Pages/Containers.razor
  src/Aspire.Dashboard/Components/Pages/Executables.razor
  src/Aspire.Dashboard/Components/Pages/Index.razor
  src/Aspire.Dashboard/Components/Pages/ResourcesListBase.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
Labels: area-dashboard

#840 Add tooltip to `Filter` input in `Structured Logs` and `Traces` page
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
Labels: area-dashboard

#860 Fix for endpoint not having correct port.
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
Labels: area-app-model

#919 update sample base image
  samples/eShopLite/ApiGateway/ApiGateway.csproj
  samples/eShopLite/BasketService/BasketService.csproj
  samples/eShopLite/CatalogService/CatalogService.csproj
  samples/eShopLite/MyFrontend/MyFrontend.csproj
Labels: area-components

#929 Fix arcade dependencies for RemoteExecutor and XunitExtensions packages
  Directory.Packages.props
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#933 Update `ArgumentOutOfRangeException.ThrowIfNullOrWhiteSpace` usage in `FileUtil`
  src/Aspire.Hosting/Utils/FileUtil.cs
Labels: area-codeflow

#938 Add support for comment handling in launchSettings.json
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Utils/LaunchProfileExtensions.cs
  tests/Aspire.Hosting.Tests/LaunchSettingsSerializerContextTests.cs
Labels: area-app-model

#939 Remove dotnet8 feed comment
  NuGet.config
Labels: area-engineering-systems

#825 Add Aspire.MySqlConnector
  Aspire.sln
  Directory.Packages.props
  src/Aspire.Hosting/MySql/IMySqlResource.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlConnectionResource.cs
  src/Aspire.Hosting/MySql/MySqlContainerResource.cs
  src/Aspire.Hosting/MySql/MySqlDatabaseResource.cs
  src/Components/Aspire.MySqlConnector/Aspire.MySqlConnector.csproj
  src/Components/Aspire.MySqlConnector/AspireMySqlConnectorExtensions.cs
  src/Components/Aspire.MySqlConnector/ConfigurationSchema.json
  src/Components/Aspire.MySqlConnector/MySqlConnectorSettings.cs
  src/Components/Aspire.MySqlConnector/README.md
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  tests/Aspire.MySqlConnector.Tests/Aspire.MySqlConnector.Tests.csproj
  tests/Aspire.MySqlConnector.Tests/AspireMySqlConnectorExtensionsTests.cs
  tests/Aspire.MySqlConnector.Tests/ConfigurationTests.cs
  tests/Aspire.MySqlConnector.Tests/ConformanceTests.cs
  tests/Aspire.Npgsql.Tests/ConformanceTests.cs
Labels: area-components

#961 Span Details Title Padding
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.css
Labels: area-dashboard

#960 Span Id formatting in details title
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#957 Remove padding around content pane
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.css
  src/Aspire.Dashboard/Components/Pages/ResourceLogsBase.razor.css
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.css
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
  src/Aspire.Dashboard/Components/Pages/Traces.razor.css
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#953 Fix: Project Names with Spaces Break the Build
  src/Aspire.Hosting/build/Aspire.Hosting.targets
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.AppHost/AspireApplication.1.AppHost.csproj
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.AppHost/Program.cs
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.AppHost/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.AppHost/appsettings.Development.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.AppHost/appsettings.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/AspireApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.sln
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ApiService/AspireStarterApplication.1.ApiService.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ApiService/Program.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ApiService/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ApiService/appsettings.Development.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ApiService/appsettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.AppHost/AspireStarterApplication.1.AppHost.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.AppHost/Program.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.AppHost/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.AppHost/appsettings.Development.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.AppHost/appsettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/AspireStarterApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/AspireStarterApplication.1.Web.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/App.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/Layout/MainLayout.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/Layout/MainLayout.razor.css
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/Layout/NavMenu.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/Layout/NavMenu.razor.css
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/Pages/Counter.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/Pages/Error.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/Pages/Home.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/Pages/Weather.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/Routes.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Components/_Imports.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Program.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/WeatherApiClient.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/appsettings.Development.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/appsettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/wwwroot/app.css
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/wwwroot/bootstrap/bootstrap.min.css
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/wwwroot/bootstrap/bootstrap.min.css.map
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/wwwroot/favicon.png
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.sln
Labels: area-components

#973 Fixing a bug in SQL AppHost resource & add end to end integration test
  Aspire.sln
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/AllocatedEndpointAnnotationTestExtensions.cs
  tests/testproject/TestProject.AppHost/Program.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/Properties/launchSettings.json
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
  tests/testproject/TestProject.IntegrationServiceA/appsettings.Development.json
  tests/testproject/TestProject.IntegrationServiceA/appsettings.json
Labels: area-app-model

#886 Support proxyless singleton containers
  src/Aspire.Hosting/AspireEventSource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpHostService.cs
  src/Aspire.Hosting/Dcp/DcpVersion.cs
  src/Aspire.Hosting/Dcp/Model/Service.cs
  src/Aspire.Hosting/DistributedApplication.cs
  src/Aspire.Hosting/Properties/Resources.Designer.cs
  src/Aspire.Hosting/Properties/Resources.resx
  src/Aspire.Hosting/Properties/xlf/Resources.cs.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.de.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.es.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.fr.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.it.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ja.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ko.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.pl.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.pt-BR.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ru.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.tr.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.zh-Hans.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.zh-Hant.xlf
Labels: area-orchestrator

#989 Add more components/resources to smoke test.
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Labels: area-components

#859 Don't inject bindings at manifest generation for worker projects.
  Aspire.sln
  samples/eShopLite/AppHost/aspire-manifest.json
  src/Aspire.Hosting/Publishing/AutomaticManifestPublisherBindingInjectionHook.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
  tests/testproject/TestProject.WorkerA/Program.cs
  tests/testproject/TestProject.WorkerA/Properties/launchSettings.json
  tests/testproject/TestProject.WorkerA/TestProject.WorkerA.csproj
  tests/testproject/TestProject.WorkerA/Worker.cs
  tests/testproject/TestProject.WorkerA/appsettings.Development.json
  tests/testproject/TestProject.WorkerA/appsettings.json
Labels: area-app-model

#970 Details Header Layout adjustments
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor.css
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
Labels: area-dashboard

#967 Add unique project capability to workload SDK
  src/Aspire.Hosting.Sdk/SDK/Sdk.targets
Labels: area-app-model

#968 Make DurationFormatterTests culture aware
  tests/Aspire.Dashboard.Tests/DurationFormatterTests.cs
Labels: area-dashboard

#1049 Use invariant culture when generating CSS numeric values
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
Labels: area-dashboard

#1033 Added support for node and npm based projects
  src/Aspire.Hosting/ApplicationModel/IResourceWithServiceDiscovery.cs
  src/Aspire.Hosting/ApplicationModel/ProjectResource.cs
  src/Aspire.Hosting/ApplicationModel/ServiceBindingAnnotation.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpOptions.cs
  src/Aspire.Hosting/DistributedApplicationOptions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Node/NodeAppResource.cs
  src/Aspire.Hosting/Node/NodeExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  src/Aspire.Hosting/build/Aspire.Hosting.targets
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/AllocatedEndpointAnnotationTestExtensions.cs
  tests/Aspire.Hosting.Tests/Helpers/JsonDocumentManifestPublisher.cs
  tests/Aspire.Hosting.Tests/Helpers/LocalOnlyFactAttribute.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/nodeapp/app.js
  tests/testproject/nodeapp/package.json
Labels: area-app-model

#1040 Tracing UI displays resource name for outgoing resources
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/IOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Model/Otlp/SpanWaterfallViewModel.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
Labels: area-dashboard, enhancement

#1034 Combine console logs pages
  src/Aspire.Dashboard/Components/Layout/NavMenu.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.css
  src/Aspire.Dashboard/Components/Pages/ContainerLogs.razor
  src/Aspire.Dashboard/Components/Pages/ExecutableLogs.razor
  src/Aspire.Dashboard/Components/Pages/ProjectLogs.razor
  src/Aspire.Dashboard/Components/Pages/ResourceLogsBase.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Model/LogStatus.cs
Labels: area-dashboard

#1054 Reverting updates of Microsoft.Extensions.Http.Resilience bump to unshipped versions.
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#1014 Create temp directory only if necessary
  src/Aspire.Hosting/Dcp/Locations.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
Labels: area-orchestrator

#1036 refactor : Remove twice reading of launchProfile
  src/Aspire.Hosting/Dcp/DcpDistributedApplicationLifecycleHook.cs
Labels: area-app-model

#1051 Show correct end point when launchUrl is absolute URL
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
Labels: area-dashboard

#1062 The sample no longer uses it
  samples/eShopLite/AppHost/Program.cs
Labels: area-samples

#1071 Added AddProject overload that takes a project path
  samples/eShopLite/AppHost/Program.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Extensions/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/IDistributedApplicationBuilder.cs
  src/Aspire.Hosting/IServiceMetadata.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  src/Aspire.Hosting/Utils/PathNormalizer.cs
  tests/Aspire.Hosting.Tests/Helpers/JsonDocumentManifestPublisher.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
Labels: area-app-model

#1059 Emit dockerfile.v0 resource in manifest.
  Aspire.sln
  src/Aspire.Hosting.Azure/AzureCosmosDBCloudApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ManifestPublishingCallbackAnnotation.cs
  src/Aspire.Hosting/Extensions/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/nodeapp/Dockerfile
Labels: area-app-model

#1090 PR follow up changes
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Extensions/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/IDistributedApplicationBuilder.cs
  src/Aspire.Hosting/IServiceMetadata.cs
  src/Aspire.Hosting/build/Aspire.Hosting.targets
  tests/Aspire.Hosting.Tests/DistributedApplicationBuilderTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-app-model

#1095 Add scriptPath argument to AddNodeApp
  src/Aspire.Hosting/Node/NodeExtensions.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/testproject/TestProject.AppHost/Program.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
Labels: area-app-model

#1103 Add missing NuGet package to Azure Key Vault README
  src/Components/Aspire.Azure.Security.KeyVault/README.md
Labels: area-codeflow

#1087 Update eShopLite to not call basket checkout if no current basket
  samples/eShopLite/MyFrontend/Components/Cart.razor
Labels: area-samples

#1115 Update templates to require "aspire" workload to be installed
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/ide.host.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/ide.host.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
Labels: area-templates

#1085 Add help wanted and AzDO badges to README file
  README.md
Labels: needs-area-label

#1092 Add validation message to filter dialog
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#1061 Resolve outgoing peer browserlink call in trace UI
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/BrowserLinkOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Model/IOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  tests/Aspire.Dashboard.Tests/BrowserLinkOutgoingPeerResolverTests.cs
Labels: area-dashboard

#1129 Update telemetry text to refer to resources
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
Labels: area-dashboard

#862 Generation of Dapr-specific manifest resources
  samples/dapr/AppHost/Program.cs
  samples/dapr/AppHost/aspire-manifest.json
  samples/dapr/ServiceA/Program.cs
  samples/dapr/ServiceB/DaprServiceB.csproj
  samples/dapr/ServiceB/Program.cs
  src/Aspire.Hosting.Dapr/DaprComponentOptions.cs
  src/Aspire.Hosting.Dapr/DaprComponentReferenceAnnotation.cs
  src/Aspire.Hosting.Dapr/DaprComponentResource.cs
  src/Aspire.Hosting.Dapr/DaprConstants.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Dapr/IDaprComponentResource.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationComponentBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/Utils/Utf8JsonWriterExtensions.cs
Labels: area-app-model, area-deployment

#1134 Password escaping for MySql, Postgres, and SQL Server
  src/Aspire.Hosting/MySql/MySqlContainerResource.cs
  src/Aspire.Hosting/Postgres/PostgresContainerResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerContainerResource.cs
  src/Aspire.Hosting/Utils/PasswordUtil.cs
  tests/Aspire.Hosting.Tests/MySql/MySqlContainerResourceTests.cs
  tests/Aspire.Hosting.Tests/Postgres/PostgresContainerResourceTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/SqlServerContainerResourceTests.cs
Labels: area-app-model

#1136 Add comment to README about evaluating container images.
  README.md
Labels: area-components

#1127 Make Copy tooltip text configurable
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
Labels: area-dashboard

#1119 Remove default selection on console logs page
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Model/LogStatus.cs
Labels: area-dashboard

#1089 Add theme manager and update chart on change
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor.cs
  src/Aspire.Dashboard/Components/Controls/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/InstrumentViewModel.cs
  src/Aspire.Dashboard/Model/ModelSubscription.cs
  src/Aspire.Dashboard/Model/ResourceChanged.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Model/ThemeManager.cs
Labels: area-dashboard

#1148 Use ValueStopWatch
  src/Aspire.Hosting.Azure.Provisioning/Aspire.Hosting.Azure.Provisioning.csproj
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AppConfigurationProvisoner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureCosmosDBProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureRedisProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/SqlServerProvisioner.cs
  src/Microsoft.Extensions.ServiceDiscovery/Http/ResolvingHttpClientHandler.cs
  src/Microsoft.Extensions.ServiceDiscovery/Http/ResolvingHttpDelegatingHandler.cs
  src/Microsoft.Extensions.ServiceDiscovery/Microsoft.Extensions.ServiceDiscovery.csproj
  src/Shared/ValueStopwatch/ValueStopwatch.cs
Labels: area-service-discovery

#1156 Add readonly to ValueStopwatch
  src/Shared/ValueStopwatch/ValueStopwatch.cs
Labels: area-engineering-systems

#1133 Made some dapr improvements based on feedback
  samples/dapr/AppHost/Program.cs
  samples/dapr/ServiceA/Program.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationComponentBuilderExtensions.cs
Labels: area-app-model

#1152 Update FluentUI packages to 4.1.1
  Directory.Packages.props
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor
Labels: area-dashboard

#1121 Add support for passing arguments to containers
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#1086 Add a description to the project templates
  src/Aspire.ProjectTemplates/Aspire.ProjectTemplates.csproj
Labels: area-templates
