Repository dotnet/aspire, pull requests merged in 2023-12, with the labels that each got.

#1084 Default Azure SDK tracing bool to the true if the environment variable or runtime config is set
  Directory.Packages.props
  src/Components/Aspire.Azure.Data.Tables/AzureDataTablesSettings.cs
  src/Components/Aspire.Azure.Messaging.ServiceBus/AzureMessagingServiceBusSettings.cs
  src/Components/Aspire.Azure.Security.KeyVault/AzureSecurityKeyVaultSettings.cs
  src/Components/Aspire.Azure.Storage.Blobs/AzureStorageBlobsSettings.cs
  src/Components/Aspire.Azure.Storage.Queues/AzureStorageQueuesSettings.cs
  tests/Aspire.Azure.Data.Tables.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/AzureMessagingServiceBusSettingsTests.cs
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Security.KeyVault.Tests/ConfigurationTests.cs
  tests/Aspire.Azure.Security.KeyVault.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Blobs.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Queues.Tests/ConformanceTests.cs
  tests/Aspire.Components.Common.Tests/ConformanceTests.cs
Labels: area-components

#1159 Use new tri-state checkbox
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/wwwroot/js/app.js
Labels: area-dashboard

#1160 Make behavior of IHttpClientBuilder.UseServiceDiscovery overloads consistent
  src/Microsoft.Extensions.ServiceDiscovery/Http/HttpClientBuilderExtensions.cs
Labels: area-service-discovery

#1162 Automatically call AddDapr
  samples/dapr/AppHost/Program.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationComponentBuilderExtensions.cs
Labels: area-app-model, area-dapr

#1155 Clean up default values in API comments
  src/Components/Aspire.Azure.Data.Tables/AzureDataTablesSettings.cs
  src/Components/Aspire.Azure.Security.KeyVault/AzureSecurityKeyVaultSettings.cs
  src/Components/Aspire.Azure.Storage.Blobs/AzureStorageBlobsSettings.cs
  src/Components/Aspire.Azure.Storage.Queues/AzureStorageQueuesSettings.cs
  src/Components/Aspire.Microsoft.Azure.Cosmos/AzureCosmosDBSettings.cs
  src/Components/Aspire.Microsoft.Data.SqlClient/MicrosoftDataSqlClientSettings.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/EntityFrameworkCoreCosmosDBSettings.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/MicrosoftEntityFrameworkCoreSqlServerSettings.cs
  src/Components/Aspire.MySqlConnector/MySqlConnectorSettings.cs
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/NpgsqlEntityFrameworkCorePostgreSQLSettings.cs
  src/Components/Aspire.Npgsql/NpgsqlSettings.cs
  src/Components/Aspire.RabbitMQ.Client/RabbitMQClientSettings.cs
  src/Components/Aspire.StackExchange.Redis/StackExchangeRedisSettings.cs
Labels: area-components

#1171 Fix PostgreSQL mention in RabbitMQ project
  src/Components/Aspire.RabbitMQ.Client/ConfigurationSchema.json
  src/Components/Aspire.RabbitMQ.Client/RabbitMQClientSettings.cs
Labels: area-components

#1174 Generate a new manifest for the dapr app
  samples/dapr/AppHost/aspire-manifest.json
Labels: area-app-model

#1182 Remove stray space from starter template
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ApiService/Program.cs
Labels: area-templates

#1183 Add space to starter template
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Program.cs
Labels: area-templates

#1166 Warn when host build in VS pre 17.9 starts.
  src/Aspire.Hosting.Sdk/SDK/Sdk.targets
Labels: area-engineering-systems

#1169 Missing applicationUrl does not inherit dashboard url
  Aspire.sln
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
  tests/testproject/TestProject.LaunchSettings/Program.cs
  tests/testproject/TestProject.LaunchSettings/Properties/launchSettings.json
  tests/testproject/TestProject.LaunchSettings/TestProject.LaunchSettings.csproj
  tests/testproject/TestProject.LaunchSettings/appsettings.Development.json
  tests/testproject/TestProject.LaunchSettings/appsettings.json
Labels: area-codeflow

#1196 Use forward slash in manifest
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-codeflow

#1198 Use the MySqlConnector logo for component package icon
  src/Components/Aspire.MySqlConnector/Aspire.MySqlConnector.csproj
  src/Shared/mysqlconnector_logo.png
Labels: area-components

#1202 Added the ability to resolve allocated ports
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Lifecycle/IDistributedApplicationLifecycleHook.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-app-model

#597 Enable Redis Logging
  src/Components/Aspire.StackExchange.Redis/AspireRedisExtensions.cs
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
  src/Components/Telemetry.md
  tests/Aspire.StackExchange.Redis.Tests/ConformanceTests.cs
Labels: area-components

#1207 Improve dashboard version display
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor.cs
  src/Aspire.Dashboard/Extensions/AssemblyExtensions.cs
  tests/Aspire.Dashboard.Tests/AssemblyExtensionsTests.cs
Labels: area-dashboard

#1184 Use ExecutableReplicaSet uniformly for running projects
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
  src/Aspire.Dashboard/Model/Otlp/SelectViewModelFactory.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Hosting.Dapr/CommandLineBuilder.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Dapr/DaprOptions.cs
  src/Aspire.Hosting.Dapr/DaprPortManager.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationBuilderExtensions.cs
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
  src/Aspire.Hosting/Otlp/OtlpConfigurationExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/AllocatedEndpointAnnotationTestExtensions.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-dashboard, area-orchestrator, area-telemetry

#986 Add mongodb container and connection support
  Aspire.sln
  Directory.Packages.props
  src/Aspire.Hosting/MongoDB/IMongoDBResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBConnectionResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBConnectionStringBuilder.cs
  src/Aspire.Hosting/MongoDB/MongoDBContainerResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBDatabaseResource.cs
  src/Components/Aspire.MongoDB.Driver/Aspire.MongoDB.Driver.csproj
  src/Components/Aspire.MongoDB.Driver/AspireMongoDBDriverExtensions.cs
  src/Components/Aspire.MongoDB.Driver/ConfigurationSchema.json
  src/Components/Aspire.MongoDB.Driver/MongoDBSettings.cs
  src/Components/Aspire.MongoDB.Driver/README.md
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/MongoDBContainerResourceTests.cs
  tests/Aspire.MongoDB.Driver.Tests/Aspire.MongoDB.Driver.Tests.csproj
  tests/Aspire.MongoDB.Driver.Tests/AspireMongoDBDriverExtensionsTests.cs
  tests/Aspire.MongoDB.Driver.Tests/ConformanceTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Labels: area-app-model, area-components

#1203 Workaround container networking limitations
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Otlp/OtlpConfigurationExtensions.cs
  src/Aspire.Hosting/Utils/HostNameResolver.cs
Labels: area-app-model

#1214 Add log category name to structured logs
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpScope.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpTrace.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: area-dashboard

#1223 Remove redundant JSInterop injection
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
Labels: area-dashboard

#1220 Remove unused data tracking
  src/Aspire.Dashboard/Model/IDashboardViewModelService.cs
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
Labels: area-dashboard

#1224 Honour GridValue.MaxDisplayLength
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.cs
Labels: area-dashboard

#1227 Fixed dapr sidecar resolution when app in container
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Utils/HostNameResolver.cs
Labels: area-app-model

#1229 Use instance ID throughout dashboard UI for disambiguation
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
  src/Aspire.Dashboard/Model/Otlp/SelectViewModelFactory.cs
  src/Aspire.Dashboard/Model/ResourceFormatter.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
Labels: area-dashboard

#1245 Fix build break after merge conflict
  eng/pipelines/azure-pipelines.yml
  eng/pipelines/templates/BuildAndTest.yml
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
Labels: area-dashboard

#1242 Revert "Enable Redis Logging (#597)"
  src/Components/Aspire.StackExchange.Redis/AspireRedisExtensions.cs
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
  src/Components/Telemetry.md
  tests/Aspire.StackExchange.Redis.Tests/ConformanceTests.cs
Labels: area-components

#1247 Branding updates for Preview 3
  eng/Versions.props
Labels: area-codeflow

#1213 proposal for component curation principles
  src/Components/README.md
Labels: area-components

#1238 Use destructuring
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
Labels: area-dashboard

#1236 Address TODO comment
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
Labels: area-dashboard

#1235 Remove unused NamespacedName type/property
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
Labels: area-dashboard

#1248 Enable full signing for Preview 2 builds
  eng/pipelines/common-variables.yml
Labels: area-engineering-systems

#1204 Slightly change resource grid name column header text + row content tooltip
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
Labels: area-dashboard

#1246 Localize dashboard Controls folder
  .gitattributes
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor
  src/Aspire.Dashboard/Components/Controls/EnvironmentVariables.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/PlotlyChart.razor
  src/Aspire.Dashboard/Components/Controls/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor
  src/Aspire.Dashboard/Components/Controls/TotalItemsFooter.razor
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Components/Controls/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Dashboard/Components/_Imports.razor
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.zh-Hant.xlf
Labels: area-dashboard

#1249 NavMenu work
  src/Aspire.Dashboard/Components/Layout/NavMenu.razor
Labels: area-dashboard

#1225 Show template items in Solution Explorer and Find in Files
  src/Aspire.ProjectTemplates/Aspire.ProjectTemplates.csproj
Labels: area-templates

#1222 Add spelling exclusion file
  .editorconfig
  Aspire.sln
  spelling.dic
Labels: area-components

#1237 Make some types non-generic
  src/Aspire.Dashboard/Model/IDashboardViewModelService.cs
  src/Aspire.Dashboard/Model/ResourceChange.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
  src/Aspire.Hosting/Dashboard/ViewModelProcessor.cs
Labels: area-dashboard

#1221 Generate resource type filters from data
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Extensions/StringComparers.cs
Labels: area-dashboard

#1141 Add missing NuGet packages to Azure component READMEs
  src/Components/Aspire.Azure.Data.Tables/README.md
  src/Components/Aspire.Azure.Messaging.ServiceBus/README.md
  src/Components/Aspire.Azure.Storage.Blobs/README.md
  src/Components/Aspire.Azure.Storage.Queues/README.md
  src/Components/Aspire.Microsoft.Azure.Cosmos/README.md
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/README.md
Labels: area-components

#1234 Avoid list copy on every update
  src/Aspire.Hosting/Dashboard/ViewModelProcessor.cs
Labels: area-dashboard

#1267 Delegate filtering logic to implementation
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Extensions/StringComparers.cs
  src/Aspire.Dashboard/Model/ContainerViewModel.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
Labels: area-dashboard

#1275 Set dashboards refresh rate
  src/Grafana/dashboards/aspnetcore-endpoint.json
  src/Grafana/dashboards/aspnetcore.json
Labels: area-dashboard

#1232 Only show file name in dashboard resources page
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/SourceColumnDisplay.razor
Labels: area-dashboard

#1265 Option on metrics histograms to show count
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor.cs
  src/Aspire.Dashboard/Components/Controls/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Model/InstrumentViewModel.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpInstrumentKey.cs
Labels: area-dashboard

#1286 Fix code analysis errors
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  tests/Aspire.Dashboard.Tests/BrowserLinkOutgoingPeerResolverTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-app-model

#1259 Add instructions to install builds from release branch
  docs/using-latest-daily.md
  eng/installLatestFromReleaseBranch.ps1
  eng/installLatestFromReleaseBranch.sh
Labels: area-engineering-systems

#1303 Revert "Missing applicationUrl does not inherit dashboard url (#1169)"
  Aspire.sln
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
  tests/testproject/TestProject.LaunchSettings/Program.cs
  tests/testproject/TestProject.LaunchSettings/Properties/launchSettings.json
  tests/testproject/TestProject.LaunchSettings/TestProject.LaunchSettings.csproj
  tests/testproject/TestProject.LaunchSettings/appsettings.Development.json
  tests/testproject/TestProject.LaunchSettings/appsettings.json
Labels: area-codeflow

#1302 Revert "Missing applicationUrl does not inherit dashboard url (#1169)"
  Aspire.sln
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
  tests/testproject/TestProject.LaunchSettings/Program.cs
  tests/testproject/TestProject.LaunchSettings/Properties/launchSettings.json
  tests/testproject/TestProject.LaunchSettings/TestProject.LaunchSettings.csproj
  tests/testproject/TestProject.LaunchSettings/appsettings.Development.json
  tests/testproject/TestProject.LaunchSettings/appsettings.json
Labels: area-components

#1306 Fix typos in README.md
  README.md
Labels: area-engineering-systems

#1305 Add Resource Management automation for issue and PR Triage
  .github/policies/labelManagement.issueOpened.yml
  .github/policies/labelManagement.issueUpdated.yml
  .github/policies/labelManagement.prUpdated.yml
  .github/policies/scheduledSearch.closeStaleIssuesAndPrs.yml
  .github/policies/scheduledSearch.markNoRecentActivity.yml
Labels: area-engineering-systems

#1311 Fix XML doc comment cref in Azure Tables component
  src/Components/Aspire.Azure.Data.Tables/AspireTablesExtensions.cs
Labels: area-components

#1030 Add Http Service Resource
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#1315 WithReference(..., Uri)
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#1212 Correctly use launch profile name from model annotations
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
Labels: area-app-model

#1272 Add support for Dapr `--runtime-path` option.
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Dapr/DaprSidecarOptions.cs
Labels: area-app-model

#1288 Extract all data acquisition from ResourceService
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/SourceColumnDisplay.razor
  src/Aspire.Dashboard/Model/ContainerViewModel.cs
  src/Aspire.Dashboard/Model/ExecutableViewModel.cs
  src/Aspire.Dashboard/Model/ObjectChangeType.cs
  src/Aspire.Dashboard/Model/ProjectViewModel.cs
  src/Aspire.Dashboard/Model/ResourceChange.cs
  src/Aspire.Dashboard/Model/ResourceChangeType.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dashboard/ResourcePublisher.cs
  src/Aspire.Hosting/Dashboard/ResourceService.cs
  src/Aspire.Hosting/Dcp/DcpHostService.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
  src/Aspire.Hosting/Dcp/Process/ProcessUtil.cs
Labels: area-dashboard

#1319 Minor fixups in log handling
  src/Aspire.Dashboard/ConsoleLogs/TimestampParser.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Hosting/Dashboard/DockerContainerLogSource.cs
  src/Aspire.Hosting/Dashboard/FileLogSource.cs
Labels: area-dashboard

#1325 Small perf improvements in log filtering
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
Labels: area-dashboard

#1334 Label community PRs
  .github/policies/labelManagement.prOpened.yml
Labels: area-components

#1337 Fix `SqlServerDatabaseResource` and `PostgresServerResource`
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerDatabaseResource.cs
Labels: area-app-model

#1301 Fix Component XML docs
  src/Components/Aspire.Azure.Data.Tables/AzureDataTablesSettings.cs
  src/Components/Aspire.Azure.Messaging.ServiceBus/AzureMessagingServiceBusSettings.cs
  src/Components/Aspire.Azure.Security.KeyVault/AzureSecurityKeyVaultSettings.cs
  src/Components/Aspire.Azure.Storage.Blobs/AzureStorageBlobsSettings.cs
  src/Components/Aspire.Azure.Storage.Queues/AzureStorageQueuesSettings.cs
  src/Components/Aspire.Microsoft.Azure.Cosmos/AzureCosmosDBSettings.cs
  src/Components/Aspire.Microsoft.Data.SqlClient/MicrosoftDataSqlClientSettings.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/EntityFrameworkCoreCosmosDBSettings.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/MicrosoftEntityFrameworkCoreSqlServerSettings.cs
  src/Components/Aspire.MongoDB.Driver/MongoDBSettings.cs
  src/Components/Aspire.MySqlConnector/MySqlConnectorSettings.cs
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/AspireEFPostgreSqlExtensions.cs
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/NpgsqlEntityFrameworkCorePostgreSQLSettings.cs
  src/Components/Aspire.Npgsql/NpgsqlSettings.cs
  src/Components/Aspire.RabbitMQ.Client/RabbitMQClientSettings.cs
  src/Components/Aspire.StackExchange.Redis/StackExchangeRedisSettings.cs
Labels: area-components

#1350 Added support for adding connection strings to non-resources
  src/Aspire.Hosting/Extensions/ConnectionString.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#1308 Add XML Docs for WithArgs()
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
Labels: community-contribution

#1345 Update README.md
  src/Components/Aspire.MySqlConnector/README.md
Labels: area-codeflow, community-contribution

#1357 Stop melting the CPU parsing logs from DCP
  src/Aspire.Hosting/Dcp/DcpHostService.cs
Labels: area-codeflow

#1347 Properly account for DAPR sidecar options
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
Labels: area-dapr

#1359 Address PR review comments from #1352
  src/Aspire.Hosting/Extensions/ConnectionString.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
Labels: area-app-model

#1358 Update README.md (#1345)
  src/Components/Aspire.MySqlConnector/README.md
Labels: area-components

#1365 Backport PR 1347 to release/8.0-preview2
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
Labels: area-codeflow

#1354 Reduce CPU while polling for console log changes
  src/Aspire.Hosting/Dashboard/FileLogSource.cs
Labels: area-dashboard, perf

#1371 Use mariner build of busybox.
  tests/testproject/nodeapp/Dockerfile
Labels: area-engineering-systems

#1349 Fix theme change when multiple browsers are open to be applied everywhere
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Model/ThemeManager.cs
Labels: area-dashboard

#1370 Remove null check for args
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
Labels: area-app-model, community-contribution

#1346 Simplify ResourcePublisher
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/ResourceChangeType.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dashboard/ResourcePublisher.cs
  src/Aspire.Hosting/Dashboard/ResourceService.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
Labels: area-dashboard

#1366 Include Executable WithArgs in manifest
  src/Aspire.Hosting/Extensions/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-codeflow, community-contribution

#1374 Replace note with comment in resx files
  src/Aspire.Dashboard/Resources/Columns.Designer.cs
  src/Aspire.Dashboard/Resources/Columns.resx
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/Dialogs.Designer.cs
  src/Aspire.Dashboard/Resources/Dialogs.resx
  src/Aspire.Dashboard/Resources/xlf/Columns.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hant.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.zh-Hant.xlf
Labels: area-dashboard

#1375 Don't write the dapr environments variables to the manifest
  samples/dapr/AppHost/aspire-manifest.json
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
Labels: area-codeflow

#1327 Improve UI for selecting metrics filter
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.css
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Extensions/StringExtensions.cs
  src/Aspire.Dashboard/Model/CounterChartViewModel.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
Labels: area-dashboard

#1398 Fix endpoint sorting issue
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
Labels: area-dashboard

#1401 Port #1344 and #1398 (endpoint fixes in dashboard) to main
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
Labels: area-dashboard

#1217 Create functional tests
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/AllocatedEndpointAnnotationTestExtensions.cs
  tests/Aspire.Hosting.Tests/Helpers/LocalOnlyFactAttribute.cs
  tests/Aspire.Hosting.Tests/IntegrationServicesTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/MongoDBFunctionalTests.cs
  tests/Aspire.Hosting.Tests/MySql/MySqlFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Node/NodeFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/Postgres/PostgresFunctionalTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/RabbitMQFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/Redis/RedisFunctionalTests.cs
  tests/Aspire.Hosting.Tests/SlimTestProgramTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/SqlServerFunctionalTests.cs
  tests/Aspire.Hosting.Tests/TestProgramFixture.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.IntegrationServiceA/MongoDB/MongoDBExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/MongoDB/Movie.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/MySqlExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Postgres/PostgresExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/RabbitMQ/RabbitMQExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Redis/RedisExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/SqlServer/SqlServerExtensions.cs
Labels: area-app-model

#1391 Move console log API from ResourceViewModel to IResourceService
  spelling.dic
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/ConsoleLogs/LogEntry.cs
  src/Aspire.Dashboard/ConsoleLogs/LogLevelParser.cs
  src/Aspire.Dashboard/ConsoleLogs/LogParser.cs
  src/Aspire.Dashboard/ConsoleLogs/LogParserOptions.cs
  src/Aspire.Dashboard/Model/ContainerViewModel.cs
  src/Aspire.Dashboard/Model/EnvironmentVariableViewModel.cs
  src/Aspire.Dashboard/Model/ExecutableViewModel.cs
  src/Aspire.Dashboard/Model/ILogSource.cs
  src/Aspire.Dashboard/Model/IResourceService.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/Utils/CancellationSeries.cs
  src/Aspire.Dashboard/Utils/StringComparers.cs
  src/Aspire.Hosting/Dashboard/ConsoleLogPublisher.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dashboard/DockerContainerLogSource.cs
  src/Aspire.Hosting/Dashboard/FileLogSource.cs
  src/Aspire.Hosting/Dashboard/ResourcePublisher.cs
  src/Aspire.Hosting/Dashboard/ResourceService.cs
  src/Aspire.Hosting/Dcp/Process/ProcessSpec.cs
  src/Aspire.Hosting/Extensions/ChannelExtensions.cs
  src/Aspire.Hosting/Utils/FileNameSuffixes.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
Labels: area-dashboard

#1387 Change traces page duration progress bar to a ring icon
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.css
Labels: area-dashboard

#1407 Order span apps in trace view by first start time
  src/Aspire.Dashboard/Components/Pages/Traces.razor
Labels: area-dashboard

#1409 Fix replica id trimming
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
Labels: area-dashboard

#1412 [release/8.0-preview2] Fix replica id trimming
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
Labels: area-dashboard

#1413 Skip flakey unit test
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
Labels: area-app-model

#1417 Update AspNetCore.HealthChecks* to 8.0.0
  Directory.Packages.props
  src/Components/Aspire.Azure.Security.KeyVault/AspireKeyVaultExtensions.cs
  src/Components/Aspire.MongoDB.Driver/Aspire.MongoDB.Driver.csproj
  src/Components/Aspire.MySqlConnector/AspireMySqlConnectorExtensions.cs
  src/Components/Aspire.Npgsql/AspirePostgreSqlNpgsqlExtensions.cs
  src/Components/Directory.Build.targets
Labels: area-components

#1383 Configuration Schema generator
  Aspire.sln
  Directory.Packages.props
  NuGet.config
  src/Components/Aspire.Azure.Storage.Blobs/Aspire.Azure.Storage.Blobs.csproj
  src/Components/Aspire.Azure.Storage.Blobs/AssemblyInfo.cs
  src/Components/Aspire.Azure.Storage.Blobs/ConfigurationSchema.json
  src/Components/Aspire.MySqlConnector/Aspire.MySqlConnector.csproj
  src/Components/Aspire.MySqlConnector/AssemblyInfo.cs
  src/Components/Aspire.MySqlConnector/ConfigurationSchema.json
  src/Components/Aspire.MySqlConnector/MySqlConnectorSettings.cs
  src/Components/Aspire.Npgsql/Aspire.Npgsql.csproj
  src/Components/Aspire.Npgsql/AssemblyInfo.cs
  src/Components/Aspire.Npgsql/ConfigurationSchema.json
  src/Components/Aspire.Npgsql/NpgsqlSettings.cs
  src/Components/Aspire.StackExchange.Redis/Aspire.StackExchange.Redis.csproj
  src/Components/Aspire.StackExchange.Redis/AssemblyInfo.cs
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
  src/Components/Common/ConfigurationSchemaAttributes.cs
  src/Components/Directory.Build.targets
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaEmitter.cs
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaGenerator.cs
  src/Tools/ConfigurationSchemaGenerator/ConfigurationBindingGenerator.ForSchemaGeneration.cs
  src/Tools/ConfigurationSchemaGenerator/ConfigurationSchemaGenerator.csproj
  src/Tools/ConfigurationSchemaGenerator/DiagnosticDescriptors.cs
  src/Tools/ConfigurationSchemaGenerator/Program.cs
  src/Tools/ConfigurationSchemaGenerator/RootGenerateCommand.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/.editorconfig
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/ConfigurationBindingGenerator.Parser.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Emitter/ExceptionMessages.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Parser/BinderInvocation.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Parser/ConfigurationBinder.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Parser/Extensions.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Parser/KnownTypeSymbols.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Parser/OptionsBuilderConfigurationExtensions.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Parser/OptionsConfigurationServiceCollectionExtensions.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/BindingHelperInfo.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/InterceptorInfo.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/Members/MemberSpec.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/Members/ParameterSpec.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/Members/PropertySpec.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/MethodsToGen.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/SourceGenerationSpec.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/TypeIndex.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/Types/CollectionSpec.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/Types/ObjectSpec.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/Types/SimpleTypeSpec.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Specs/Types/TypeSpec.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/HashHelpers.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Roslyn/DiagnosticDescriptorHelper.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Roslyn/GetBestTypeByMetadataName.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/SourceGenerators/CSharpSyntaxUtilities.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/SourceGenerators/DiagnosticInfo.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/SourceGenerators/ImmutableEquatableArray.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/SourceGenerators/TypeModelHelper.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/SourceGenerators/TypeRef.cs
  src/Tools/ConfigurationSchemaGenerator/SchemaGenerationSpec.cs
Labels: area-components

#1380 5 small a11y fixes
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.css
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.css
  src/Aspire.Dashboard/Components/ResourcesGridColumns/SourceColumnDisplay.razor
  src/Aspire.Dashboard/Resources/Dialogs.Designer.cs
  src/Aspire.Dashboard/Resources/Dialogs.resx
  src/Aspire.Dashboard/Resources/xlf/Dialogs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#1293 Disable "spec only" button when it doesn't do anything
  src/Aspire.Dashboard/Components/Controls/EnvironmentVariables.razor
  src/Aspire.Dashboard/Components/Controls/EnvironmentVariables.razor.cs
Labels: area-dashboard

#1274 Add initial dashboard network protocol definition file
  Aspire.sln
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
Labels: area-dashboard

#1423 Update the rest of the components to use the ConfigSchemaGenerator.
  Aspire.sln
  src/Components/Aspire.Azure.Data.Tables/Aspire.Azure.Data.Tables.csproj
  src/Components/Aspire.Azure.Data.Tables/AssemblyInfo.cs
  src/Components/Aspire.Azure.Data.Tables/ConfigurationSchema.json
  src/Components/Aspire.Azure.Messaging.ServiceBus/Aspire.Azure.Messaging.ServiceBus.csproj
  src/Components/Aspire.Azure.Messaging.ServiceBus/AssemblyInfo.cs
  src/Components/Aspire.Azure.Messaging.ServiceBus/ConfigurationSchema.json
  src/Components/Aspire.Azure.Security.KeyVault/Aspire.Azure.Security.KeyVault.csproj
  src/Components/Aspire.Azure.Security.KeyVault/AssemblyInfo.cs
  src/Components/Aspire.Azure.Security.KeyVault/ConfigurationSchema.json
  src/Components/Aspire.Azure.Storage.Blobs/AssemblyInfo.cs
  src/Components/Aspire.Azure.Storage.Blobs/ConfigurationSchema.json
  src/Components/Aspire.Azure.Storage.Queues/Aspire.Azure.Storage.Queues.csproj
  src/Components/Aspire.Azure.Storage.Queues/AssemblyInfo.cs
  src/Components/Aspire.Azure.Storage.Queues/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.Azure.Cosmos/Aspire.Microsoft.Azure.Cosmos.csproj
  src/Components/Aspire.Microsoft.Azure.Cosmos/AssemblyInfo.cs
  src/Components/Aspire.Microsoft.Azure.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.Data.SqlClient/Aspire.Microsoft.Data.SqlClient.csproj
  src/Components/Aspire.Microsoft.Data.SqlClient/AssemblyInfo.cs
  src/Components/Aspire.Microsoft.Data.SqlClient/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/Aspire.Microsoft.EntityFrameworkCore.Cosmos.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/AssemblyInfo.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/EntityFrameworkCoreCosmosDBSettings.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/Aspire.Microsoft.EntityFrameworkCore.SqlServer.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/AssemblyInfo.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/MicrosoftEntityFrameworkCoreSqlServerSettings.cs
  src/Components/Aspire.MongoDB.Driver/Aspire.MongoDB.Driver.csproj
  src/Components/Aspire.MongoDB.Driver/AssemblyInfo.cs
  src/Components/Aspire.MongoDB.Driver/ConfigurationSchema.json
  src/Components/Aspire.MongoDB.Driver/MongoDBSettings.cs
  src/Components/Aspire.MySqlConnector/Aspire.MySqlConnector.csproj
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.csproj
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/AssemblyInfo.cs
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/ConfigurationSchema.json
  src/Components/Aspire.Npgsql/Aspire.Npgsql.csproj
  src/Components/Aspire.RabbitMQ.Client/Aspire.RabbitMQ.Client.csproj
  src/Components/Aspire.RabbitMQ.Client/AssemblyInfo.cs
  src/Components/Aspire.RabbitMQ.Client/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis.DistributedCaching/Aspire.StackExchange.Redis.DistributedCaching.csproj
  src/Components/Aspire.StackExchange.Redis.DistributedCaching/AssemblyInfo.cs
  src/Components/Aspire.StackExchange.Redis.DistributedCaching/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis.OutputCaching/Aspire.StackExchange.Redis.OutputCaching.csproj
  src/Components/Aspire.StackExchange.Redis.OutputCaching/AssemblyInfo.cs
  src/Components/Aspire.StackExchange.Redis.OutputCaching/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaEmitter.cs
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaGenerator.cs
  src/Tools/ConfigurationSchemaGenerator/ConfigurationBindingGenerator.ForSchemaGeneration.cs
  src/Tools/ConfigurationSchemaGenerator/ConfigurationSchemaGenerator.csproj
  src/Tools/ConfigurationSchemaGenerator/SchemaGenerationSpec.cs
  tests/ConfigurationSchemaGenerator.Tests/ConfigurationSchemaGenerator.Tests.csproj
  tests/ConfigurationSchemaGenerator.Tests/GeneratorTests.cs
Labels: area-components

#1404 Successfully copying changes the icon to a tick
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/wwwroot/js/app.js
Labels: area-dashboard

#1427 Add a polling check for endpoints to workaround proxy 404 bug in dashboard
  src/Aspire.Hosting/Dashboard/DashboardViewModelService.cs
  src/Aspire.Hosting/Dcp/KubernetesService.cs
Labels: needs-area-label

#1432 Support passing the endpoint env into containers
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/WithServiceBindingTests.cs
Labels: area-codeflow

#1450 Avoid concurrency issues with dictionaries
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Utils/StringComparers.cs
Labels: area-dashboard

#1445 Add missing resources to ControlStrings.resx, use nameof for resource lookups
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor
  src/Aspire.Dashboard/Components/Controls/EnvironmentVariables.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor
  src/Aspire.Dashboard/Components/Controls/TotalItemsFooter.razor
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Components/Layout/NavMenu.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/SourceColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/UnreadLogErrorsBadge.razor
  src/Aspire.Dashboard/Components/Routes.razor
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
Labels: area-dashboard

#1324 Simplify search handling
  src/Aspire.Dashboard/Components/Controls/EnvironmentVariables.razor
  src/Aspire.Dashboard/Components/Controls/EnvironmentVariables.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
Labels: area-dashboard

#1240 Override fluentui-blazor error hex, darken trace duration background
  Directory.Packages.props
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Aspire.Dashboard/wwwroot/js/theme.js
Labels: area-dashboard

#1454 Ensure we don't try to run a proxy on the same port a container binds
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-app-model

#1455 [release/8.0-preview2] Assign a random binding port to container to avoid conflict with proxy
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-codeflow

#1457 Fix deadlock in ProcessUtil
  src/Aspire.Hosting/Dcp/Process/ProcessUtil.cs
Labels: area-orchestrator

#1458 Add information about launch profile parameter to IDE execution spec
  docs/specs/IDE-execution.md
Labels: area-tooling

#1466 Inject the https port for the redirect middleware
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-codeflow

#1470 fully qualify loc cs files
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
Labels: area-dashboard

#1378 Adds orange/red warning/error icons for exited resources on resources dashboard page
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.css
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.css
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/UnreadLogErrorsBadge.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/UnreadLogErrorsBadge.razor.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/Resources/Columns.Designer.cs
  src/Aspire.Dashboard/Resources/Columns.resx
  src/Aspire.Dashboard/Resources/xlf/Columns.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
Labels: area-dashboard

#1482 Fix IDE build
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor.cs
Labels: area-dashboard

#1461 Improve All checkbox behavior and instrument list
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Resources/Metrics.Designer.cs
  src/Aspire.Dashboard/Resources/Metrics.resx
  src/Aspire.Dashboard/Resources/xlf/Metrics.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Metrics.zh-Hant.xlf
Labels: area-dashboard

#1484 Rename WithServiceBinding to WithEndpoint
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReferenceAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ServiceBindingAnnotationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ServiceBindingCallbackAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ServiceBindingCallbackContext.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/AutomaticManifestPublisherBindingInjectionHook.cs
  src/Aspire.Hosting/Publishing/Http2TransportMutationHook.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  src/Microsoft.Extensions.ServiceDiscovery/README.md
  tests/Aspire.Hosting.Tests/AsHttp2ServiceTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/SlimTestProgramTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
  tests/Aspire.Hosting.Tests/WithServiceBindingTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
Labels: area-app-model

#1473 Improve generated description from xml docs
  src/Components/Aspire.Azure.Data.Tables/ConfigurationSchema.json
  src/Components/Aspire.Azure.Messaging.ServiceBus/ConfigurationSchema.json
  src/Components/Aspire.Azure.Security.KeyVault/ConfigurationSchema.json
  src/Components/Aspire.Azure.Storage.Blobs/ConfigurationSchema.json
  src/Components/Aspire.Azure.Storage.Queues/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.Azure.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.RabbitMQ.Client/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaEmitter.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/Parser/KnownTypeSymbols.cs
  tests/ConfigurationSchemaGenerator.Tests/GeneratorTests.cs
Labels: area-components, community-contribution

#1474 Reduce splitter bar size to 5 in summary view
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor
Labels: area-codeflow

#1341 Add support for user defined entrypoint in containers
  src/Aspire.Hosting/ApplicationModel/ContainerResource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/KubernetesHelper.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#1462 Add tags to hosting packages for easier searching
  src/Aspire.Hosting.Azure.Provisioning/Aspire.Hosting.Azure.Provisioning.csproj
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting.Dapr/Aspire.Hosting.Dapr.csproj
  src/Aspire.Hosting.Sdk/Aspire.Hosting.Sdk.csproj
  src/Aspire.Hosting/Aspire.Hosting.csproj
Labels: area-app-model, community-contribution

#1514 Adds live region to console log status + rows
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.js
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Resources/ConsoleLogs.Designer.cs
  src/Aspire.Dashboard/Resources/ConsoleLogs.resx
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.zh-Hant.xlf
Labels: area-dashboard
