Repository dotnet/aspire, pull requests merged in 2024-10, with the labels that each got.

#6018 Add a maximum log batch size to avoid exceeding max message size limit
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardServiceTests.cs
  tests/Aspire.Hosting.Tests/Utils/Grpc/TestAsyncStreamReader.cs
  tests/Aspire.Hosting.Tests/Utils/Grpc/TestServerCallContext.cs
  tests/Aspire.Hosting.Tests/Utils/Grpc/TestServerStreamWriter.cs
Labels: area-dashboard

#6019 Remove bad link to Microsoft.FluentUI.AspNetCore.Components CSS
  src/Aspire.Dashboard/Components/App.razor
Labels: area-dashboard

#6023 Cancel console logs load await when unloaded
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
Labels: area-dashboard

#6047 Add all resource command options to annotation and extension method
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/ResourceCommandAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Dashboard/GenericResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/ResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardServiceTests.cs
Labels: area-dashboard

#6046 Show toast immediately when a command is started
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
Labels: area-dashboard

#6011 Add console logs button to main grid
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.css
  src/Aspire.Dashboard/Components/Resize/GridColumnManager.razor
  src/Aspire.Dashboard/Components/Resize/GridColumnManager.razor.cs
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#5976 Fix filter encoding with colon and plus characters
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Extensions/TelemetryFilterFormatter.cs
  src/Aspire.Dashboard/Utils/DashboardUrls.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/StructuredLogsTests.cs
  tests/Aspire.Dashboard.Tests/DashboardUrlsTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryFilterFormatterTests.cs
Labels: area-dashboard

#5984 Highlight in filter autocomplete and various UI improvements
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Extensions/FluentUIExtensions.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#6039 Fix scrollbars added when opening menus
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
Labels: area-dashboard

#5761 WaitFor for Azure Storage
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.ApiService/AzureStorageEndToEnd.ApiService.csproj
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.ApiService/Program.cs
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/Program.cs
  playground/mongo/Mongo.ApiService/Program.cs
  playground/mongo/Mongo.AppHost/Program.cs
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBExtensions.cs
  src/Aspire.Hosting.Azure.Storage/Aspire.Hosting.Azure.Storage.csproj
  src/Aspire.Hosting.Azure.Storage/AzureStorageExtensions.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  tests/Aspire.Hosting.Azure.Tests/AzureStorageEmulatorFunctionalTests.cs
Labels: area-integrations, azure-storage

#6070 Fix typo in unit test code
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
Labels: testing ☑️

#6062 Limit max size of displayed filters on structured logs and traces pages
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#6012 Guarantee default Functions host storage has unique name
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/AzureFunctionsTests.cs
Labels: area-integrations, azure-functions

#6013 Add OpenTelemetry action menu options
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
Labels: area-dashboard, area-telemetry

#6065 Improve console log batching by counting characters
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardServiceTests.cs
Labels: area-dashboard

#6066 Filter containers out of Azure Provisioner.
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
Labels: area-app-model

#6049 Improve the handling of Container to Container references
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBEmulatorConnectionString.cs
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureStorageEmulatorConnectionString.cs
  src/Aspire.Hosting.Azure.Storage/AzureStorageResource.cs
  src/Aspire.Hosting/ApplicationModel/ExpressionResolver.cs
  src/Aspire.Hosting/ApplicationModel/ResourceExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  tests/Aspire.Hosting.Azure.Tests/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ExpressionResolverTests.cs
Labels: community-contribution

#6067 Suppress log noise produced by WithRedisInsights
  playground/Redis/Redis.AppHost/appsettings.Development.json
  playground/Redis/Redis.AppHost/appsettings.json
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
Labels: area-integrations, redis

#6010 Update daily installation instructions to account for workload removal.
  docs/machine-requirements.md
  docs/using-latest-daily.md
  eng/installLatestFromReleaseBranch.ps1
  eng/installLatestFromReleaseBranch.sh
Labels: community-contribution

#6071 Highlight search matches in resource details
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
Labels: area-dashboard

#6009 Added default labels to issue feature & bug templates
  .github/ISSUE_TEMPLATE/10_bug_report.yml
  .github/ISSUE_TEMPLATE/20_feature-request.yml
Labels: community-contribution

#6079 Add health checks to eventhubs emulator.
  Directory.Packages.props
  playground/AspireEventHub/EventHubs.AppHost/Program.cs
  src/Aspire.Hosting.Azure.EventHubs/Aspire.Hosting.Azure.EventHubs.csproj
  src/Aspire.Hosting.Azure.EventHubs/AzureEventHubsExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/AzureEventHubsExtensionsTests.cs
Labels: area-integrations, azure-eventhubs

#6081 Add WithHttpHealthCheck/WithHttpsHealthCheck.
  Aspire.sln
  Directory.Packages.props
  playground/waitfor/WaitFor.Frontend/Components/App.razor
  playground/waitfor/WaitFor.Frontend/Components/Layout/MainLayout.razor
  playground/waitfor/WaitFor.Frontend/Components/Layout/MainLayout.razor.css
  playground/waitfor/WaitFor.Frontend/Components/Pages/Error.razor
  playground/waitfor/WaitFor.Frontend/Components/Pages/Home.razor
  playground/waitfor/WaitFor.Frontend/Components/Routes.razor
  playground/waitfor/WaitFor.Frontend/Components/_Imports.razor
  playground/waitfor/WaitFor.Frontend/Program.cs
  playground/waitfor/WaitFor.Frontend/Properties/launchSettings.json
  playground/waitfor/WaitFor.Frontend/WaitFor.Frontend.csproj
  playground/waitfor/WaitFor.Frontend/appsettings.Development.json
  playground/waitfor/WaitFor.Frontend/appsettings.json
  playground/waitfor/WaitFor.Frontend/wwwroot/app.css
  playground/waitfor/WaitForSandbox.AppHost/Program.cs
  playground/waitfor/WaitForSandbox.AppHost/WaitForSandbox.AppHost.csproj
  src/Aspire.Hosting.PostgreSQL/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/HealthCheckTests.cs
Labels: area-app-model, area-integrations, postgres

#6080 Improve resource logging, and using wait for with replicas
  playground/waitfor/WaitForSandbox.AppHost/Program.cs
  src/Aspire.Hosting/ApplicationModel/DcpInstancesAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ReplicaInstancesAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/BuiltInDistributedApplicationEventSubscriptionHandlers.cs
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpNameGenerator.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Health/ResourceHealthCheckService.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardLifecycleHookTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/ResourceLoggerServiceTests.cs
  tests/cosmos.module.bicep
  tests/eventhubns.module.bicep
Labels: area-app-model

#6045 Support named config binding for remaining Aspire resources
  src/Components/Aspire.Confluent.Kafka/AspireKafkaConsumerExtensions.cs
  src/Components/Aspire.Confluent.Kafka/AspireKafkaProducerExtensions.cs
  src/Components/Aspire.Elastic.Clients.Elasticsearch/AspireElasticClientsElasticsearchExtensions.cs
  src/Components/Aspire.Microsoft.Azure.Cosmos/AspireMicrosoftAzureCosmosExtensions.cs
  src/Components/Aspire.Microsoft.Data.SqlClient/AspireSqlServerSqlClientExtensions.cs
  src/Components/Aspire.Milvus.Client/AspireMilvusExtensions.cs
  src/Components/Aspire.MongoDB.Driver/AspireMongoDBDriverExtensions.cs
  src/Components/Aspire.MySqlConnector/AspireMySqlConnectorExtensions.cs
  src/Components/Aspire.NATS.Net/AspireNatsClientExtensions.cs
  src/Components/Aspire.Npgsql/AspirePostgreSqlNpgsqlExtensions.cs
  src/Components/Aspire.OpenAI/AspireOpenAIExtensions.cs
  src/Components/Aspire.Qdrant.Client/AspireQdrantExtensions.cs
  src/Components/Aspire.RabbitMQ.Client/AspireRabbitMQExtensions.cs
  src/Components/Aspire.Seq/AspireSeqExtensions.cs
  src/Components/Aspire.StackExchange.Redis/AspireRedisExtensions.cs
  src/Components/Common/EntityFrameworkUtils.cs
  src/Components/README.md
  tests/Aspire.Azure.AI.OpenAI.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Data.Tables.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Messaging.EventHubs.Tests/AspireEventHubsExtensionsTests.cs
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Blobs.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Queues.Tests/ConformanceTests.cs
  tests/Aspire.Components.Common.Tests/ConformanceTests.cs
  tests/Aspire.Confluent.Kafka.Tests/ConsumerConformanceTests.cs
  tests/Aspire.Confluent.Kafka.Tests/ProducerConformanceTests.cs
  tests/Aspire.Microsoft.Data.SqlClient.Tests/ConformanceTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests/ConformanceTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests/EnrichCosmosDbTests.cs
  tests/Aspire.Milvus.Client.Tests/ConformanceTests.cs
  tests/Aspire.MongoDB.Driver.Tests/ConformanceTests.cs
  tests/Aspire.MySqlConnector.Tests/ConformanceTests.cs
  tests/Aspire.NATS.Net.Tests/ConformanceTests.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/ConformanceTests.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/EnrichNpgsqlTests.cs
  tests/Aspire.Npgsql.Tests/ConformanceTests.cs
  tests/Aspire.OpenAI.Tests/AspireOpenAIExtensionsTests.cs
  tests/Aspire.OpenAI.Tests/ConformanceTests.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/EnrichOracleDatabaseTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/EnrichMySqlTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/ConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/ConformanceTests.cs
Labels: area-integrations, azure-functions

#6093 Add fallback to 20px icon in commands
  playground/Stress/Stress.AppHost/Program.cs
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#6095 Show persistent containers in the dashboard
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
  src/Aspire.Dashboard/Model/KnownPropertyLookup.cs
  src/Aspire.Dashboard/Resources/Columns.Designer.cs
  src/Aspire.Dashboard/Resources/Columns.resx
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Columns.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hant.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Shared/Model/KnownProperties.cs
Labels: area-dashboard

#6102 Fix typo in manifest spec
  docs/specs/manifest-spec.md
Labels: community-contribution

#6106 Add "Container" prefix to lifetime property label
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
Labels: area-dashboard

#6098 Rename ContainerLifetime.Default to Session
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Aspire.Hosting/ApplicationModel/ContainerLifetimeAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceExtensions.cs
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpNameGenerator.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Tests/Dashboard/DashboardServiceTests.cs
Labels: area-app-model

#6107 Make popup menu icons consistent
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
Labels: area-dashboard

#6100 Improve the handling of Container to Container references (take 2)
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBEmulatorConnectionString.cs
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureStorageEmulatorConnectionString.cs
  src/Aspire.Hosting.Azure.Storage/AzureStorageResource.cs
  src/Aspire.Hosting/ApplicationModel/ExpressionResolver.cs
  src/Aspire.Hosting/ApplicationModel/ResourceExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  tests/Aspire.Hosting.Azure.Tests/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Dapr.Tests/DaprTests.cs
  tests/Aspire.Hosting.Milvus.Tests/AddMilvusTests.cs
  tests/Aspire.Hosting.Qdrant.Tests/AddQdrantTests.cs
  tests/Aspire.Hosting.Tests/ExpressionResolverTests.cs
  tests/Aspire.Hosting.Tests/Utils/EnvironmentVariableEvaluator.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
Labels: community-contribution

#6096 Fix bad ordering of resources by name in some situations
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  tests/Aspire.Dashboard.Tests/Model/ResourceViewModelNameComparerTests.cs
Labels: area-dashboard

#6090 Enable dotnet watch Hot Reload
  src/Aspire.Hosting.AppHost/build/Aspire.Hosting.AppHost.props
Labels: community-contribution

#6126 Fix menu displaying under header issue
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
Labels: area-dashboard

#6129 Fix not being able to copy endpoints in resource details
  src/Aspire.Dashboard/Model/ResourceEndpointHelpers.cs
Labels: area-dashboard

#6143 Handle HostUrl in ExpressionResolver
  src/Aspire.Hosting/ApplicationModel/ExpressionResolver.cs
  tests/Aspire.Hosting.Tests/ExpressionResolverTests.cs
Labels: community-contribution

#6147 Fix typo in `AfterResourceCreatedEvent description"
  src/Aspire.Hosting/ApplicationModel/AfterResourcesCreatedEvent.cs
Labels: community-contribution

#6145 Add IResourceWithWaitSupport.
  src/Aspire.Hosting/ApplicationModel/ContainerResource.cs
  src/Aspire.Hosting/ApplicationModel/ExecutableResource.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithWaitSupport.cs
  src/Aspire.Hosting/ApplicationModel/ProjectResource.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/AzureCosmosDBEmulatorFunctionalTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureStorageEmulatorFunctionalTests.cs
  tests/Aspire.Hosting.Tests/WaitForTests.cs
Labels: area-app-model

#6177 Ensure unique attributes on telemetry
  src/Aspire.Dashboard/Otlp/Model/MetricValues/DimensionScope.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpContext.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpInstrument.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpMeter.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpScope.cs
  src/Aspire.Dashboard/Otlp/Storage/Subscription.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  tests/Aspire.Dashboard.Components.Tests/Controls/PlotlyChartTests.cs
  tests/Aspire.Dashboard.Tests/Model/ApplicationsSelectHelpersTests.cs
  tests/Aspire.Dashboard.Tests/Model/DefaultInstrumentUnitResolverTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/OtlpHelpersTests.cs
  tests/Shared/Telemetry/TelemetryTestHelpers.cs
Labels: area-dashboard

#6182 Fix opening the settings dialog resetting the theme
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
Labels: area-dashboard

#6202 Silently regenerate antiforgery token on upgrade or in container
  src/Aspire.Dashboard/DashboardWebApplication.cs
  tests/Aspire.Dashboard.Tests/Integration/IntegrationTestHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard

#6204 Improve back button behavior when restoring state
  src/Aspire.Dashboard/Components/Pages/IPageWithSessionAndUrlState.cs
Labels: area-dashboard

#6220 Fix tick appearing over span bar
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
Labels: area-dashboard

#6219 Fix headers regression breaking resource dropdown
  src/Aspire.Dashboard/Components/Layout/AspirePageContentLayout.razor.css
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
  src/Aspire.Dashboard/Components/Pages/Traces.razor.css
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#6231 Use a clearer icon for finished state
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor.cs
Labels: area-dashboard

#6222 Standardise presentation of empty cells in grids
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/SourceColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StartTimeColumnDisplay.razor
  src/Aspire.Dashboard/Resources/Columns.Designer.cs
  src/Aspire.Dashboard/Resources/Columns.resx
  src/Aspire.Dashboard/Resources/xlf/Columns.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hant.xlf
Labels: area-dashboard

#6238 Add empty data text with CSS
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StartTimeColumnDisplay.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#5805 WithPgAdmin - Respect UserName Parameter
  src/Aspire.Hosting.PostgreSQL/PostgresBuilderExtensions.cs
  tests/Aspire.Hosting.PostgreSQL.Tests/AddPostgresTests.cs
Labels: area-integrations, community-contribution, postgres

#6305 API cleanup from diff review
  src/Aspire.Hosting/ApplicationModel/EndpointNameAttribute.cs
  src/Aspire.Hosting/ApplicationModel/ResourceCommandAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNameAttribute.cs
  src/Aspire.Hosting/ApplicationModel/WaitAnnotation.cs
Labels: area-app-model

#5478 Adding hub settings for Web PubSub
  playground/webpubsub/WebPubSub.AppHost/Program.cs
  playground/webpubsub/WebPubSub.AppHost/aspire-manifest.json
  playground/webpubsub/WebPubSub.AppHost/wps1.module.bicep
  playground/webpubsub/WebPubSubWeb/Program.cs
  src/Aspire.Hosting.Azure.WebPubSub/AzureWebPubSubExtensions.cs
  src/Aspire.Hosting.Azure.WebPubSub/AzureWebPubSubHubResource.cs
  src/Aspire.Hosting.Azure.WebPubSub/AzureWebPubSubResource.cs
  src/Aspire.Hosting.Azure.WebPubSub/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Azure.Tests/AzureWebPubSubExtensionsTests.cs
Labels: area-integrations, azure, community-contribution

#6307 Simplify the webpubsub addhub logic and add an override with ReferenceExpression
  src/Aspire.Hosting.Azure.WebPubSub/AzureWebPubSubExtensions.cs
  src/Aspire.Hosting.Azure.WebPubSub/AzureWebPubSubHubResource.cs
  src/Aspire.Hosting.Azure.WebPubSub/PublicAPI.Unshipped.txt
Labels: community-contribution

#6308 Use ResourceReadyEvent to avoid blocking startup importing redis databases
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  tests/Aspire.Hosting.Redis.Tests/RedisFunctionalTests.cs
Labels: area-integrations, redis

#6306 Display disabled OTEL actions for resources
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor.cs
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
Labels: area-dashboard

#6310 Remove experimental from event summaries.
  src/Aspire.Hosting/ApplicationModel/AfterEndpointsAllocatedEvent.cs
  src/Aspire.Hosting/ApplicationModel/AfterResourcesCreatedEvent.cs
  src/Aspire.Hosting/ApplicationModel/BeforeStartEvent.cs
Labels: area-app-model

#6241 Ensure grid item keys are unique
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Model/LogEntryPropertyViewModel.cs
  src/Aspire.Dashboard/Model/Otlp/KnownResourceFields.cs
  src/Aspire.Dashboard/Model/Otlp/KnownSourceFields.cs
  src/Aspire.Dashboard/Model/Otlp/KnownStructuredLogFields.cs
  src/Aspire.Dashboard/Model/Otlp/KnownTraceFields.cs
  src/Aspire.Dashboard/Model/Otlp/TelemetryFilter.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/Model/SpanDetailsViewModel.cs
  src/Aspire.Dashboard/Model/TelemetryPropertyViewModel.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplicationView.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpDisplayField.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpSpan.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpSpanEvent.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  tests/Aspire.Dashboard.Components.Tests/Controls/StructuredLogDetailsTests.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/StructuredLogsSetupHelpers.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: area-dashboard

#6348 Fix incorrect resource lookups
  src/Aspire.Dashboard/Components/Controls/Chart/ChartContainer.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/TreeMetricSelector.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor.cs
  src/Aspire.Dashboard/Model/KnownPropertyLookup.cs
Labels: area-dashboard

#6358 Improve vertical alignment of state text when showing error count
  src/Aspire.Dashboard/Components/Pages/Resources.razor.css
Labels: area-dashboard

#6051 Resolve KafkaHealthCheck from container (#6035)
  src/Components/Aspire.Confluent.Kafka/AspireKafkaConsumerExtensions.cs
  src/Components/Aspire.Confluent.Kafka/AspireKafkaProducerExtensions.cs
Labels: community-contribution

#6350 Rename CommandType to Name on resource command types
  playground/Stress/Stress.AppHost/Program.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/DashboardClient.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/ResourceCommandAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardServiceTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/ResourceCommandAnnotationTests.cs
Labels: area-dashboard, breaking-change

#6366 Fix flaky test and add more test logging
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Dashboard/DashboardLifecycleHookTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardServiceTests.cs
  tests/Aspire.Hosting.Tests/Helpers/DashboardServiceDataExtensions.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
  tests/Shared/TaskExtensions.cs
Labels: area-app-model

#6383 Set additional environment variable to support Functions telemetry
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
  tests/Aspire.Hosting.Tests/Health/ResourceHealthCheckServiceTests.cs
Labels: area-integrations, azure-functions

#5783 Improve Nats tests
  tests/Aspire.Hosting.Nats.Tests/NatsFunctionalTests.cs
Labels: community-contribution

#5772 Improve Milvus tests
  tests/Aspire.Hosting.Milvus.Tests/MilvusFunctionalTests.cs
Labels: community-contribution

#6359 Remove commas between endpoints in grid
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
Labels: area-dashboard

#6394 Fix spans not hidden on expand/collapse
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
Labels: area-dashboard

#6262 Reject spans that create a circular loop
  src/Aspire.Dashboard/Otlp/Model/OtlpSpan.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpSpanCollection.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpTrace.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpTraceCollection.cs
  src/Shared/StringComparers.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: area-dashboard

#6316 Fix creating temporary dashboard client on startup
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/ResourceService/DashboardClient.cs
  src/Aspire.Dashboard/ResourceService/DashboardClientStatus.cs
  src/Aspire.Dashboard/ResourceService/IDashboardClient.cs
  src/Aspire.Dashboard/ResourceService/IDashboardClientStatus.cs
  tests/Aspire.Dashboard.Components.Tests/Controls/ApplicationNameTests.cs
  tests/Aspire.Dashboard.Tests/Integration/DashboardClientAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/DashboardServerFixture.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/MockDashboardClient.cs
  tests/Aspire.Dashboard.Tests/Model/DashboardClientTests.cs
Labels: area-dashboard

#6230 Show exception details in text visualizer dialog
  src/Aspire.Dashboard/Components/Controls/ExceptionDetails.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.css
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor
  src/Aspire.Dashboard/wwwroot/js/app.js
Labels: area-dashboard

#6176 Automatically convert URLs in values into links in the dashboard
  playground/Stress/Stress.ApiService/Program.cs
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/SourceColumnDisplay.razor
  src/Aspire.Dashboard/ConsoleLogs/LogLevelParser.cs
  src/Aspire.Dashboard/ConsoleLogs/LogParser.cs
  src/Aspire.Dashboard/ConsoleLogs/UrlParser.cs
  src/Aspire.Dashboard/wwwroot/js/app.js
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/LogEntriesTests.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/LogLevelParserTests.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/UrlParserTests.cs
Labels: area-dashboard

#6443 Use CollectionsMarshal.GetValueRefOrAddDefault to optimize adding to dictionaries
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpInstrument.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
Labels: area-dashboard

#6413 [ci] Don't run tests on internal pipeline builds
  eng/pipelines/templates/BuildAndTest.yml
Labels: area-engineering-systems

#6448 Don't pass meter descriptions as units
  src/Components/Aspire.Confluent.Kafka/ConfluentKafkaMetrics.cs
Labels: community-contribution

#6480 Fix path to TestShop.AppHost in contributing.md
  docs/contributing.md
Labels: community-contribution

#6471 [release/9.0] Reject duplicate span ids
  playground/Stress/Stress.ApiService/Program.cs
  playground/Stress/Stress.ApiService/TraceCreator.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpTrace.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: area-dashboard

#6362 Allow DAPR apps without a http endpoint to function correctly
  Aspire.sln
  Directory.Packages.props
  playground/Directory.Packages.props
  playground/dapr/Dapr.AppHost/Dapr.AppHost.csproj
  playground/dapr/Dapr.AppHost/Program.cs
  playground/dapr/ServiceC/DaprServiceC.csproj
  playground/dapr/ServiceC/Program.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
Labels: community-contribution

#6488 Update Cosmos Hosting documentation with correct nuget package name
  src/Aspire.Hosting.Azure.CosmosDB/README.md
Labels: community-contribution

#6387 Hosting test timeouts
  tests/Aspire.Components.Common.Tests/ComponentTestConstants.cs
  tests/Aspire.Elastic.Clients.Elasticsearch.Tests/ElasticsearchContainerFixture.cs
  tests/Aspire.Hosting.Redis.Tests/RedisFunctionalTests.cs
  tests/Aspire.Hosting.Tests/AddParameterTests.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Dashboard/DashboardLifecycleHookTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Eventing/DistributedApplicationBuilderEventingTests.cs
  tests/Aspire.Hosting.Tests/ExecutableResourceTests.cs
  tests/Aspire.Hosting.Tests/ExpressionResolverTests.cs
  tests/Aspire.Hosting.Tests/Health/ResourceHealthCheckServiceTests.cs
  tests/Aspire.Hosting.Tests/HealthCheckTests.cs
  tests/Aspire.Hosting.Tests/Helpers/KubernetesHelper.cs
  tests/Aspire.Hosting.Tests/KestrelConfigTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/PublishAsConnectionStringTests.cs
  tests/Aspire.Hosting.Tests/PublishAsDockerfileTests.cs
  tests/Aspire.Hosting.Tests/ResourceExtensionsTests.cs
  tests/Aspire.Hosting.Tests/ResourceLoggerServiceTests.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
  tests/Aspire.Hosting.Tests/SlimTestProgramTests.cs
  tests/Aspire.Hosting.Tests/TestProgramFixture.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/WaitForTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
  tests/Aspire.Milvus.Client.Tests/MilvusContainerFixture.cs
  tests/Aspire.MongoDB.Driver.Tests/MongoDbContainerFixture.cs
  tests/Aspire.MySqlConnector.Tests/MySqlContainerFixture.cs
  tests/Aspire.NATS.Net.Tests/NatsContainerFixture.cs
  tests/Aspire.Npgsql.Tests/PostgreSQLContainerFixture.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/OracleContainerFixture.cs
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQLoggingTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/RabbitMQContainerFixture.cs
  tests/Aspire.StackExchange.Redis.Tests/RedisContainerFixture.cs
  tests/Shared/AsyncTestHelpers.cs
  tests/Shared/TaskExtensions.cs
Labels: area-app-model

#6250 Add CORS allowed origins config override to app host
  playground/BrowserTelemetry/BrowserTelemetry.AppHost/Program.cs
  playground/BrowserTelemetry/BrowserTelemetry.AppHost/Properties/launchSettings.json
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Shared/KnownConfigNames.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
Labels: area-app-model

#6524 Minor improvements to dist app builder config
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationBuilderTests.cs
Labels: area-app-model

#6278 Add argument null validation to Aspire.Hosting
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/ContainerResourceExtensions.cs
  src/Aspire.Hosting/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/ExecutableResourceExtensions.cs
  src/Aspire.Hosting/OtlpConfigurationExtensions.cs
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/PublicAPI.Shipped.txt
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
Labels: area-app-model

#6487 Add commands to stress playground
  playground/Stress/Stress.ApiService/Program.cs
  playground/Stress/Stress.ApiService/TraceCreator.cs
  playground/Stress/Stress.AppHost/Program.cs
  playground/Stress/Stress.AppHost/ResourceBuilderExtensions.cs
Labels: area-dashboard

#6540 Add DefaultTimeout to dashboard tests
  Aspire.sln
  tests/Aspire.Dashboard.Tests/BrowserSecurityHeadersMiddlewareTests.cs
  tests/Aspire.Dashboard.Tests/ChannelExtensionsTests.cs
  tests/Aspire.Dashboard.Tests/Integration/DashboardClientAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendBrowserTokenAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendOpenIdConnectAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpCorsHttpServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpGrpcServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpHttpServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/AppBarTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/BrowserTokenAuthenticationTests.cs
  tests/Aspire.Dashboard.Tests/Integration/ResponseCompressionTests.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
  tests/Aspire.Dashboard.Tests/LocalBrowserStorageTests.cs
  tests/Aspire.Dashboard.Tests/Middleware/ValidateTokenMiddlewareTests.cs
  tests/Aspire.Dashboard.Tests/Model/DashboardClientTests.cs
  tests/Aspire.Dashboard.Tests/OtlpApiKeyAuthenticationHandlerTests.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
Labels: area-dashboard

#6546 Add tooltip to error logs link
  src/Aspire.Dashboard/Components/ResourcesGridColumns/UnreadLogErrorsBadge.razor
Labels: area-dashboard

#6552 Move env vars to bottom of resource details
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
Labels: area-dashboard

#6568 Don't display telemetry actions when no telemetry
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor.cs
Labels: area-dashboard
