Repository dotnet/aspire, pull requests merged in 2024-04, with the labels that each got.

#3314 [release/8.0-preview5] Update dependencies from https://github.com/microsoft/usvc-apiserver build 0.1.62
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#3269 Re-enables IDE protocol v1 support.
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpVersion.cs
Labels: area-app-model, NO-MERGE

#3288 update OpenTelemetry.Instrumentation.GrpcNetClient version
  Directory.Packages.props
Labels: area-codeflow

#3322 Update FluentUI Blazor to 4.6
  Directory.Packages.props
Labels: area-dashboard

#3325 [release/8.0-preview5] Upgrade to new version of Azure.Provisioning (#3271)
  Directory.Packages.props
  NuGet.config
  playground/bicep/BicepSample.AppHost/ai.module.bicep
  playground/bicep/BicepSample.AppHost/aiwithoutlaw.module.bicep
  playground/bicep/BicepSample.AppHost/appConfig.module.bicep
  playground/bicep/BicepSample.AppHost/cosmos.module.bicep
  playground/bicep/BicepSample.AppHost/kv3.module.bicep
  playground/bicep/BicepSample.AppHost/lawkspc.module.bicep
  playground/bicep/BicepSample.AppHost/postgres2.module.bicep
  playground/bicep/BicepSample.AppHost/redis.module.bicep
  playground/bicep/BicepSample.AppHost/sb.module.bicep
  playground/bicep/BicepSample.AppHost/signalr.module.bicep
  playground/bicep/BicepSample.AppHost/sql.module.bicep
  playground/bicep/BicepSample.AppHost/storage.module.bicep
  src/Aspire.Hosting.Azure.PostgreSQL/AzurePostgresExtensions.cs
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-components

#3329 Remove obsolete APIs.
  src/Aspire.Hosting.Azure.Storage/AzureStorageExtensions.cs
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackContext.cs
  src/Aspire.Hosting/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Components/Aspire.Azure.AI.OpenAI/AspireAzureOpenAIExtensions.cs
  src/Components/Aspire.Azure.Data.Tables/AspireTablesExtensions.cs
  src/Components/Aspire.Azure.Messaging.ServiceBus/AspireServiceBusExtensions.cs
  src/Components/Aspire.Azure.Search.Documents/AspireAzureSearchExtensions.cs
  src/Components/Aspire.Azure.Security.KeyVault/AspireKeyVaultExtensions.cs
  src/Components/Aspire.Azure.Storage.Blobs/AspireBlobStorageExtensions.cs
  src/Components/Aspire.Azure.Storage.Queues/AspireQueueStorageExtensions.cs
  src/Components/Aspire.Microsoft.Azure.Cosmos/AspireAzureCosmosDBExtensions.cs
  src/Components/Aspire.RabbitMQ.Client/AspireRabbitMQExtensions.cs
  src/Components/Aspire.StackExchange.Redis/AspireRedisExtensions.cs
  src/Microsoft.Extensions.ServiceDiscovery/ServiceDiscoveryHttpClientBuilderExtensions.cs
Labels: area-app-model, area-components

#3333 Add missing QueuePolicy in AWS Playground AppHost
  playground/AWS/AWS.AppHost/app-resources.template
Labels: community-contribution

#3327 Remove Azure SDK feed from nuget.config
  NuGet.config
Labels: area-codeflow

#3320 Fix ConfigurationSchemaGenerator to use correct TimeSpan format
  src/Components/Aspire.Azure.AI.OpenAI/ConfigurationSchema.json
  src/Components/Aspire.Azure.Data.Tables/ConfigurationSchema.json
  src/Components/Aspire.Azure.Messaging.EventHubs/ConfigurationSchema.json
  src/Components/Aspire.Azure.Messaging.ServiceBus/ConfigurationSchema.json
  src/Components/Aspire.Azure.Search.Documents/ConfigurationSchema.json
  src/Components/Aspire.Azure.Security.KeyVault/ConfigurationSchema.json
  src/Components/Aspire.Azure.Storage.Blobs/ConfigurationSchema.json
  src/Components/Aspire.Azure.Storage.Queues/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.RabbitMQ.Client/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaEmitter.cs
  tests/Aspire.Azure.AI.OpenAI.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Data.Tables.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Search.Documents.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Security.KeyVault.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Blobs.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Queues.Tests/ConformanceTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/ConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/ConformanceTests.cs
  tests/ConfigurationSchemaGenerator.Tests/Baselines/IntegrationTest.baseline.json
  tests/ConfigurationSchemaGenerator.Tests/GeneratorTests.cs
Labels: area-components

#3338 Update AspNetCore.HealthChecks.* to latest versions
  Directory.Packages.props
Labels: area-components

#3235 Dashboard should request log streams only when the user gestures to display them
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/ResourceLogSource.cs
  tests/Aspire.Hosting.Tests/ResourceLoggerServiceTests.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
Labels: area-app-model

#3334 Publish build assets in the build stage
  eng/pipelines/azure-pipelines.yml
Labels: area-engineering-systems, area-codeflow

#3294 Improve service address allocation
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpOptions.cs
  src/Aspire.Hosting/Dcp/KubernetesService.cs
  tests/Aspire.Hosting.Tests/Dcp/MockKubernetesService.cs
Labels: area-app-model, area-service-discovery

#3305 Added ability to resolve target port
  src/Aspire.Hosting.Dapr/CommandLineBuilder.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/ApplicationModel/AllocatedEndpoint.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/ReferenceExpression.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/Dapr/DaprTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model, breaking-change

#3331 Tweak Bicep string name.
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/test0.module.bicep
  playground/cdk/CdkSample.AppHost/appConfig.module.bicep
  playground/cdk/CdkSample.AppHost/appInsights.module.bicep
  playground/cdk/CdkSample.AppHost/cache.module.bicep
  playground/cdk/CdkSample.AppHost/cosmos.module.bicep
  playground/cdk/CdkSample.AppHost/logAnalyticsWorkspace.module.bicep
  playground/cdk/CdkSample.AppHost/mykv.module.bicep
  playground/cdk/CdkSample.AppHost/pgsql.module.bicep
  playground/cdk/CdkSample.AppHost/pgsql2.module.bicep
  playground/cdk/CdkSample.AppHost/search.module.bicep
  playground/cdk/CdkSample.AppHost/servicebus.module.bicep
  playground/cdk/CdkSample.AppHost/signalr.module.bicep
  playground/cdk/CdkSample.AppHost/sql.module.bicep
  playground/cdk/CdkSample.AppHost/storage.module.bicep
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#3243 Improve writing dashboard startup config failure messages
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Program.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard

#3351 Update OpenTelemetry packages to 1.8.0
  Directory.Packages.props
  playground/AWS/AWS.ServiceDefaults/Extensions.cs
  playground/Playground.ServiceDefaults/Extensions.cs
  playground/TestShop/ServiceDefaults/Extensions.cs
  playground/orleans/OrleansServiceDefaults/Extensions.cs
  playground/seq/Seq.ServiceDefaults/Extensions.cs
  src/Aspire.Hosting/OtlpConfigurationExtensions.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/AspireApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Aspire.ServiceDefaults1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/AspireStarterApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/Extensions.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
  tests/TestingAppHost1/TestingAppHost1.ServiceDefaults/Extensions.cs
Labels: area-telemetry

#3192 Make sure copy button is tab-accessible and visible on tab
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.css
Labels: area-dashboard

#3189 Avoid reconnection modal taking up entire screen, not being able to i…
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#3116 Allow packages to not go stable
  eng/Versions.props
Labels: area-codeflow

#3113 [tests] EndToEnd - add test scenarios
  Directory.Build.props
  Directory.Build.targets
  tests/Aspire.EndToEnd.Tests/Aspire.EndToEnd.Tests.csproj
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Directory.Build.props
  tests/Shared/WorkloadTesting/EnvironmentVariables.cs
  tests/send-to-helix-workload-tests.targets
  tests/send-to-helix.proj
  tests/testproject/Common/TestResourceNames.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/PomeloEFCoreMySqlExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/PomeloMySqlDbContext.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
Labels: area-app-model, testing ☑️

#3369 Add Servicing-consider to new release PRs
  .github/policies/labelManagement.issueOpened.yml
Labels: area-engineering-systems

#3371 Rename DcpServiceName to TargetPortExpression
  src/Aspire.Hosting/ApplicationModel/AllocatedEndpoint.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  tests/Aspire.Hosting.Tests/Dapr/DaprTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
Labels: area-codeflow

#3343 [release/8.0] Dashboard should request log streams only when the user gestures to display them
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/ResourceLogSource.cs
  tests/Aspire.Hosting.Tests/ResourceLoggerServiceTests.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
Labels: area-app-model, Servicing-approved

#3373 Lift up the dependency of Newtonsoft.Json in Cosmos components
  src/Components/Aspire.Microsoft.Azure.Cosmos/Aspire.Microsoft.Azure.Cosmos.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/Aspire.Microsoft.EntityFrameworkCore.Cosmos.csproj
Labels: area-components

#3391 Fix dashboard token being written on publish
  src/Aspire.Hosting/DistributedApplicationLifecycle.cs
Labels: area-app-model

#3389 Fix local run of AddProjectAddsEnvironmentVariablesAndServiceMetadata
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-app-model

#3384 Explicitly specify grpc OTLP protocol with env var
  src/Aspire.Hosting/OtlpConfigurationExtensions.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-dashboard

#3359 [release/8.0] Update OpenTelemetry packages to 1.8.0 (#3351)
  Directory.Packages.props
  playground/AWS/AWS.ServiceDefaults/Extensions.cs
  playground/Playground.ServiceDefaults/Extensions.cs
  playground/TestShop/ServiceDefaults/Extensions.cs
  playground/orleans/OrleansServiceDefaults/Extensions.cs
  playground/seq/Seq.ServiceDefaults/Extensions.cs
  src/Aspire.Hosting/OtlpConfigurationExtensions.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/AspireApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Aspire.ServiceDefaults1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/AspireStarterApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/Extensions.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
  tests/TestingAppHost1/TestingAppHost1.ServiceDefaults/Extensions.cs
Labels: area-components, Servicing-approved

#3382 [tests] EndToEnd Skip oracle only on CI, and not local runs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesTests.cs
Labels: area-engineering-systems, testing ☑️

#3377 [release/8.0] [tests] EndToEnd - add test scenarios (#3113)
  Directory.Build.props
  Directory.Build.targets
  tests/Aspire.EndToEnd.Tests/Aspire.EndToEnd.Tests.csproj
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Directory.Build.props
  tests/Shared/WorkloadTesting/EnvironmentVariables.cs
  tests/send-to-helix-workload-tests.targets
  tests/send-to-helix.proj
  tests/testproject/Common/TestResourceNames.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/PomeloEFCoreMySqlExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/PomeloMySqlDbContext.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
Labels: area-components

#3131 Initial work for Qdrant resource and component
  Aspire.sln
  Directory.Packages.props
  playground/Qdrant/Qdrant.ApiService/Program.cs
  playground/Qdrant/Qdrant.ApiService/Properties/launchSettings.json
  playground/Qdrant/Qdrant.ApiService/Qdrant.ApiService.csproj
  playground/Qdrant/Qdrant.ApiService/appsettings.Development.json
  playground/Qdrant/Qdrant.ApiService/appsettings.json
  playground/Qdrant/Qdrant.AppHost/Directory.Build.props
  playground/Qdrant/Qdrant.AppHost/Directory.Build.targets
  playground/Qdrant/Qdrant.AppHost/Program.cs
  playground/Qdrant/Qdrant.AppHost/Properties/launchSettings.json
  playground/Qdrant/Qdrant.AppHost/Qdrant.AppHost.csproj
  playground/Qdrant/Qdrant.AppHost/appsettings.Development.json
  playground/Qdrant/Qdrant.AppHost/appsettings.json
  spelling.dic
  src/Aspire.Hosting.Qdrant/Aspire.Hosting.Qdrant.csproj
  src/Aspire.Hosting.Qdrant/QdrantBuilderExtensions.cs
  src/Aspire.Hosting.Qdrant/QdrantContainerImageTags.cs
  src/Aspire.Hosting.Qdrant/QdrantServerResource.cs
  src/Aspire.Hosting.Qdrant/README.md
  src/Components/Aspire.Qdrant.Client/Aspire.Qdrant.Client.csproj
  src/Components/Aspire.Qdrant.Client/AspireQdrantExtensions.cs
  src/Components/Aspire.Qdrant.Client/AssemblyInfo.cs
  src/Components/Aspire.Qdrant.Client/ConfigurationSchema.json
  src/Components/Aspire.Qdrant.Client/QdrantClientSettings.cs
  src/Components/Aspire.Qdrant.Client/README.md
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  src/Shared/QdrantLogo_256x.png
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Qdrant/AddQdrantTests.cs
  tests/Aspire.Qdrant.Client.Tests/Aspire.Qdrant.Client.Tests.csproj
  tests/Aspire.Qdrant.Client.Tests/AspireQdrantHelpers.cs
  tests/Aspire.Qdrant.Client.Tests/ConfigurationTests.cs
  tests/Aspire.Qdrant.Client.Tests/ConformanceTests.cs
  tests/Aspire.Qdrant.Client.Tests/README.md
Labels: area-components

#3381 Fix flaky OTLP client cert integration tests
  tests/Aspire.Dashboard.Tests/Integration/IntegrationTestHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpServiceTests.cs
Labels: area-dashboard

#3422 Addressing port/endpoint issues on Qdrant
  src/Aspire.Hosting.Qdrant/QdrantBuilderExtensions.cs
  src/Aspire.Hosting.Qdrant/QdrantServerResource.cs
  src/Aspire.Hosting.Qdrant/README.md
  tests/Aspire.Hosting.Tests/Qdrant/AddQdrantTests.cs
Labels: area-app-model

#3436 Use ConfigureAwait(false) when enumerating IAsyncEnumerable
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationStackExecutor.cs
  src/Aspire.Hosting.Azure/Provisioning/IAzureResourceEnumerator.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureResourceProvisionerOfT.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/KubernetesService.cs
  src/Aspire.Hosting/Dcp/ResourceLogSource.cs
Labels: area-dashboard

#3434 Add support for git worktrees in tests
  tests/Aspire.Hosting.Tests/MSBuildTests.cs
  tests/Shared/WorkloadTesting/BuildEnvironment.cs
Labels: area-components

#3368 Re-focus view button when closing details panel
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Dashboard/wwwroot/js/app.js
Labels: area-dashboard

#3372 Do not set TargetPort to Port when IsProxying is also set
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
Labels: area-app-model

#3420 Update README.md with configuration for browser token auth
  src/Aspire.Dashboard/README.md
Labels: area-dashboard

#3449 Fix WithReference extension return type
  src/Aspire.Hosting.Qdrant/QdrantBuilderExtensions.cs
Labels: area-components

#3445 [release/8.0] Added ability to resolve target port
  src/Aspire.Hosting.Dapr/CommandLineBuilder.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/ApplicationModel/AllocatedEndpoint.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/ReferenceExpression.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/Dapr/DaprTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model, Servicing-approved

#3437 KubernetesService: throw if accessed after Dispose() has been called
  src/Aspire.Hosting/Dcp/KubernetesService.cs
Labels: area-app-model

#3383 Uses new Azure.Provisioning packages which have been split by resource
  Directory.Packages.props
  eng/refreshManifests.ps1
  playground/AWS/AWS.AppHost/Properties/launchSettings.json
  playground/AspireEventHub/EventHubs.AppHost/Properties/launchSettings.json
  playground/AspireEventHub/EventHubs.AppHost/aspire-manifest.json
  playground/AspireEventHub/EventHubs.AppHost/ehstorage.module.bicep
  playground/AspireEventHub/EventHubs.AppHost/eventhubns.module.bicep
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/aspire-manifest.json
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/search.module.bicep
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/storage.module.bicep
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/cosmos.module.bicep
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/openai.module.bicep
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/aspire-manifest.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/sql1.module.bicep
  playground/Stress/Stress.AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/storage.module.bicep
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/storage.module.bicep
  playground/orleans/OrleansAppHost/aspire-manifest.json
  playground/orleans/OrleansAppHost/storage.module.bicep
  playground/signalr/SignalRAppHost/signalr1.module.bicep
  src/Aspire.Hosting.Azure.AppConfiguration/Aspire.Hosting.Azure.AppConfiguration.csproj
  src/Aspire.Hosting.Azure.AppConfiguration/AzureAppConfigurationExtensions.cs
  src/Aspire.Hosting.Azure.ApplicationInsights/Aspire.Hosting.Azure.ApplicationInsights.csproj
  src/Aspire.Hosting.Azure.ApplicationInsights/AzureApplicationInsightsExtensions.cs
  src/Aspire.Hosting.Azure.CognitiveServices/Aspire.Hosting.Azure.CognitiveServices.csproj
  src/Aspire.Hosting.Azure.CognitiveServices/AzureOpenAIExtensions.cs
  src/Aspire.Hosting.Azure.CosmosDB/Aspire.Hosting.Azure.CosmosDB.csproj
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBExtensions.cs
  src/Aspire.Hosting.Azure.EventHubs/Aspire.Hosting.Azure.EventHubs.csproj
  src/Aspire.Hosting.Azure.EventHubs/AzureEventHubsExtensions.cs
  src/Aspire.Hosting.Azure.EventHubs/AzureEventHubsResource.cs
  src/Aspire.Hosting.Azure.KeyVault/Aspire.Hosting.Azure.KeyVault.csproj
  src/Aspire.Hosting.Azure.KeyVault/AzureKeyVaultResourceExtensions.cs
  src/Aspire.Hosting.Azure.OperationalInsights/Aspire.Hosting.Azure.OperationalInsights.csproj
  src/Aspire.Hosting.Azure.OperationalInsights/AzureLogAnalyticsWorkspaceExtensions.cs
  src/Aspire.Hosting.Azure.PostgreSQL/Aspire.Hosting.Azure.PostgreSQL.csproj
  src/Aspire.Hosting.Azure.PostgreSQL/AzurePostgresExtensions.cs
  src/Aspire.Hosting.Azure.Redis/Aspire.Hosting.Azure.Redis.csproj
  src/Aspire.Hosting.Azure.Redis/AzureRedisExtensions.cs
  src/Aspire.Hosting.Azure.Search/Aspire.Hosting.Azure.Search.csproj
  src/Aspire.Hosting.Azure.Search/AzureSearchExtensions.cs
  src/Aspire.Hosting.Azure.ServiceBus/Aspire.Hosting.Azure.ServiceBus.csproj
  src/Aspire.Hosting.Azure.ServiceBus/AzureServiceBusExtensions.cs
  src/Aspire.Hosting.Azure.ServiceBus/AzureServiceBusResource.cs
  src/Aspire.Hosting.Azure.SignalR/Aspire.Hosting.Azure.SignalR.csproj
  src/Aspire.Hosting.Azure.SignalR/AzureSignalRExtensions.cs
  src/Aspire.Hosting.Azure.Sql/Aspire.Hosting.Azure.Sql.csproj
  src/Aspire.Hosting.Azure.Sql/AzureSqlExtensions.cs
  src/Aspire.Hosting.Azure.Storage/Aspire.Hosting.Azure.Storage.csproj
  src/Aspire.Hosting.Azure.Storage/AzureStorageExtensions.cs
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#3410 Update readme for Azure SignalR hosting
  src/Aspire.Hosting.Azure.SignalR/README.md
Labels: area-app-model

#3459 Stay on the sync context when rendering console logs
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
Labels: area-dashboard

#3464 Change AppInsights to not add parameters more than once
  src/Aspire.Hosting.Azure.ApplicationInsights/AzureApplicationInsightsExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#3427 Default to browser token auth in dashboard standalone
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.css
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
  src/Aspire.Dashboard/Configuration/PostConfigureDashboardOptions.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/BrowserTimeProvider.cs
  src/Aspire.Dashboard/Model/ValidateTokenMiddleware.cs
  src/Aspire.Dashboard/Properties/launchSettings.json
  src/Aspire.Dashboard/Resources/Layout.Designer.cs
  src/Aspire.Dashboard/Resources/Layout.resx
  src/Aspire.Dashboard/Resources/xlf/Layout.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Shared/LoggingHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/ServerRetryHelper.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard, security 🔐

#3453 Make the dashboard an appmodel resource
  src/Aspire.Hosting.Dapr/IDistributedApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationComponentBuilderExtensions.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DashboardManifestExclusionHook.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpOptions.cs
  src/Aspire.Hosting/Dcp/Model/ModelCommon.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/DistributedApplicationRunner.cs
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/DcpPublisher.cs
  tests/Aspire.Hosting.Tests/AsHttp2ServiceTests.cs
  tests/Aspire.Hosting.Tests/Dapr/DaprTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/Dcp/MockDashboardEndpointProvider.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationBuilderTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
Labels: area-app-model

#3468 Increase auth cookie expiry
  src/Aspire.Dashboard/DashboardWebApplication.cs
Labels: area-dashboard, security 🔐

#3472 Don't wait until after we've started the entire app to print the token
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DashboardOptions.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/DistributedApplicationLifecycle.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
Labels: area-app-model

#3473 Fix flaky LogOutput_LocalhostAddress_LocalhostInLogOutput
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard

#3475 [release/8.0]: Print the URL with the token when we print the dashboard URL
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/DistributedApplicationLifecycle.cs
Labels: area-app-model, Servicing-approved

#3275 use WaitForExitAsync instead of Exited event to ensure process output is read
  src/Aspire.Hosting/Dcp/Process/ProcessUtil.cs
Labels: area-app-model, community-contribution

#3469 [release/8.0] Default to browser token auth in dashboard standalone
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.css
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
  src/Aspire.Dashboard/Configuration/PostConfigureDashboardOptions.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/BrowserTimeProvider.cs
  src/Aspire.Dashboard/Model/ValidateTokenMiddleware.cs
  src/Aspire.Dashboard/Properties/launchSettings.json
  src/Aspire.Dashboard/Resources/Layout.Designer.cs
  src/Aspire.Dashboard/Resources/Layout.resx
  src/Aspire.Dashboard/Resources/xlf/Layout.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Shared/LoggingHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/ServerRetryHelper.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard, security 🔐, Servicing-approved

#3489 Only add dashboard services if the dashboard is enabled
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
Labels: area-app-model

#3416 [release/8.0] Initial work for Qdrant resource and component (#3131)
  Aspire.sln
  Directory.Packages.props
  playground/Qdrant/Qdrant.ApiService/Program.cs
  playground/Qdrant/Qdrant.ApiService/Properties/launchSettings.json
  playground/Qdrant/Qdrant.ApiService/Qdrant.ApiService.csproj
  playground/Qdrant/Qdrant.ApiService/appsettings.Development.json
  playground/Qdrant/Qdrant.ApiService/appsettings.json
  playground/Qdrant/Qdrant.AppHost/Directory.Build.props
  playground/Qdrant/Qdrant.AppHost/Directory.Build.targets
  playground/Qdrant/Qdrant.AppHost/Program.cs
  playground/Qdrant/Qdrant.AppHost/Properties/launchSettings.json
  playground/Qdrant/Qdrant.AppHost/Qdrant.AppHost.csproj
  playground/Qdrant/Qdrant.AppHost/appsettings.Development.json
  playground/Qdrant/Qdrant.AppHost/appsettings.json
  spelling.dic
  src/Aspire.Hosting.AWS/SDKResourceExtensions.cs
  src/Aspire.Hosting.Qdrant/Aspire.Hosting.Qdrant.csproj
  src/Aspire.Hosting.Qdrant/QdrantBuilderExtensions.cs
  src/Aspire.Hosting.Qdrant/QdrantContainerImageTags.cs
  src/Aspire.Hosting.Qdrant/QdrantServerResource.cs
  src/Aspire.Hosting.Qdrant/README.md
  src/Components/Aspire.Qdrant.Client/Aspire.Qdrant.Client.csproj
  src/Components/Aspire.Qdrant.Client/AspireQdrantExtensions.cs
  src/Components/Aspire.Qdrant.Client/AssemblyInfo.cs
  src/Components/Aspire.Qdrant.Client/ConfigurationSchema.json
  src/Components/Aspire.Qdrant.Client/QdrantClientSettings.cs
  src/Components/Aspire.Qdrant.Client/README.md
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  src/Shared/QdrantLogo_256x.png
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Qdrant/AddQdrantTests.cs
  tests/Aspire.Qdrant.Client.Tests/Aspire.Qdrant.Client.Tests.csproj
  tests/Aspire.Qdrant.Client.Tests/AspireQdrantHelpers.cs
  tests/Aspire.Qdrant.Client.Tests/ConfigurationTests.cs
  tests/Aspire.Qdrant.Client.Tests/ConformanceTests.cs
  tests/Aspire.Qdrant.Client.Tests/README.md
Labels: area-components, Servicing-approved

#3487 Fix Qdrant WithReference to allow any IResourceWithEnvironment.
  src/Aspire.Hosting.AWS/SDKResourceExtensions.cs
  src/Aspire.Hosting.Qdrant/QdrantBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Qdrant/AddQdrantTests.cs
Labels: area-app-model

#3467 Make sure bind mount paths are relative to the app host directory
  src/Aspire.Hosting/ApplicationModel/ContainerMountAnnotation.cs
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/DistributedApplicationOptions.cs
  src/Aspire.Hosting/Properties/Resources.Designer.cs
  src/Aspire.Hosting/Properties/Resources.resx
  src/Aspire.Hosting/Properties/xlf/Resources.cs.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.de.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.es.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.fr.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.it.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ja.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ko.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.pl.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.pt-BR.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ru.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.tr.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.zh-Hans.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.zh-Hant.xlf
  tests/Aspire.Hosting.Tests/Azure/AzureResourceExtensionsTests.cs
  tests/Aspire.Hosting.Tests/ContainerResourceTests.cs
  tests/Aspire.Hosting.Tests/Containers/ContainerImageAnnotationTests.cs
  tests/Aspire.Hosting.Tests/Containers/ContainerMountAnnotationTests.cs
  tests/Aspire.Hosting.Tests/Containers/ContainerResourceBuilderTests.cs
  tests/Aspire.Hosting.Tests/Containers/ContainerResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/Nats/AddNatsTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/Utils/ManifestUtils.cs
Labels: area-app-model

#3488 Updating the OTel instrumentation package versions to 1.8.0
  Directory.Packages.props
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/AspireApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Aspire.ServiceDefaults1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/AspireStarterApplication.1.ServiceDefaults.csproj
Labels: area-components

#3228 Update Service Discovery README to reflect API changes
  src/Microsoft.Extensions.ServiceDiscovery/README.md
Labels: area-service-discovery

#3452 Regenerate playground manifests
  playground/AWS/AWS.AppHost/aspire-manifest.json
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/aspire-manifest.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/aspire-manifest.json
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/aspire-manifest.json
  playground/DatabaseMigration/DatabaseMigration.AppHost/aspire-manifest.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/aspire-manifest.json
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/aspire-manifest.json
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/aspire-manifest.json
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/aspire-manifest.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/aspire-manifest.json
  playground/TestShop/AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/dapr/AppHost/aspire-manifest.json
  playground/mongo/Mongo.AppHost/aspire-manifest.json
  playground/mysql/MySqlDb.AppHost/aspire-manifest.json
  playground/nats/Nats.AppHost/aspire-manifest.json
  playground/orleans/OrleansAppHost/aspire-manifest.json
  playground/seq/Seq.AppHost/aspire-manifest.json
  playground/signalr/SignalRAppHost/aspire-manifest.json
Labels: area-app-model

#3471 Enable HSTS middleware when all endpoints are HTTPS
  src/Aspire.Dashboard/DashboardWebApplication.cs
Labels: area-dashboard, security 🔐

#3375 Generate and store random RG name when provisioning
  src/Aspire.Hosting.Azure/Provisioning/AzureProvisionerOptions.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure/Utils/ResourceGroupNameHelpers.cs
  tests/Aspire.Hosting.Tests/Azure/ResourceGroupNameHelpersTests.cs
Labels: area-app-model

#3354 Add browser security headers to dashboard
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/BrowserSecurityHeadersMiddleware.cs
  tests/Aspire.Dashboard.Tests/BrowserSecurityHeadersMiddlewareTests.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard, security 🔐

#3486 [release/8.0]: Backport accessibility fixes into 8.0
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.css
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Aspire.Dashboard/wwwroot/js/app.js
Labels: area-dashboard, Servicing-approved

#3474 Name collision warning.
  src/Aspire.Hosting.Azure.AppConfiguration/README.md
Labels: area-app-model

#3498 KubernetesService: check if configuration file exists before attempting to construct client
  src/Aspire.Hosting/Dcp/KubernetesService.cs
Labels: area-app-model

#3507 Change tests to remove build xunit warning and add OTLP test
  tests/Aspire.Dashboard.Tests/BrowserSecurityHeadersMiddlewareTests.cs
Labels: area-dashboard

#3444 [tests] Use existing container for tests executed with RemoteExecutor
  tests/Aspire.Microsoft.Data.SqlClient.Tests/ConformanceTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/ConformanceTests.cs
  tests/Aspire.MySqlConnector.Tests/ConformanceTests.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/ConformanceTests.cs
  tests/Aspire.Npgsql.Tests/ConformanceTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests.cs
Labels: area-components

#3509 increase helix timeouts
  eng/pipelines/azure-pipelines-public.yml
  eng/pipelines/azure-pipelines.yml
Labels: area-engineering-systems, Servicing-approved

#3502 update dependencies with minor/patch increments available
  Directory.Packages.props
  eng/Versions.props
  eng/pipelines/azure-pipelines-public.yml
  eng/pipelines/azure-pipelines.yml
Labels: area-codeflow

#3501 Fix `DebuggerDisplay` for `AllocatedEndpoint`
  src/Aspire.Hosting/ApplicationModel/AllocatedEndpoint.cs
Labels: area-app-model

#3492 Fixed issues around injecting urls
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ReferenceExpression.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
Labels: area-app-model

#3511 [release/8.0] Add browser security headers to dashboard
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/BrowserSecurityHeadersMiddleware.cs
  tests/Aspire.Dashboard.Tests/BrowserSecurityHeadersMiddlewareTests.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard, Servicing-approved

#3303 Infer AWS SDK config for a project from AWS references
  playground/AWS/AWS.AppHost/Program.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationExtensions.cs
  src/Aspire.Hosting.AWS/README.md
  src/Aspire.Hosting.AWS/SDKResourceExtensions.cs
  src/Aspire.Hosting.AWS/SdkUtilities.cs
Labels: area-app-model, community-contribution

#3519 Suppress save dialog from browser token login
  src/Aspire.Dashboard/Components/Pages/Login.razor
Labels: area-dashboard

#3518 Update login example screenshot and help text
  src/Aspire.Dashboard/Components/Pages/Login.razor
  src/Aspire.Dashboard/Components/Pages/Login.razor.css
  src/Aspire.Dashboard/Resources/Login.Designer.cs
  src/Aspire.Dashboard/Resources/Login.resx
  src/Aspire.Dashboard/Resources/xlf/Login.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/img/TokenExample.png
Labels: area-dashboard

#3512 Update versions to latest found on nuget.org
  Directory.Packages.props
  eng/Versions.props
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests.csproj
  tests/Aspire.StackExchange.Redis.Tests/Aspire.StackExchange.Redis.Tests.csproj
Labels: area-components

#3531 Remove invalid ArgumentNullException.ThrowIfNull call
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
Labels: area-app-model

#3160 Add support for specifying custom container run arguments
  src/Aspire.Hosting/ApplicationModel/ContainerRunArgsCallbackAnnotation.cs
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-app-model

#3408 Add missing translations
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
  src/Aspire.Dashboard/Resources/Columns.Designer.cs
  src/Aspire.Dashboard/Resources/Logs.Designer.cs
  src/Aspire.Dashboard/Resources/Logs.resx
  src/Aspire.Dashboard/Resources/StructuredLogs.Designer.cs
  src/Aspire.Dashboard/Resources/StructuredLogs.resx
  src/Aspire.Dashboard/Resources/xlf/Logs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Logs.zh-Hant.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.zh-Hant.xlf
Labels: area-dashboard

#3448 Support multiple deployments per cognitive service
  Directory.Packages.props
  src/Aspire.Hosting.Azure.CognitiveServices/AzureOpenAIExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#3549 [release/8.0] Introduce WithEnvironment(this, string, IResourceBuilder<IResourceWithConnectionString)
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
Labels: area-app-model, Servicing-approved

#3443 Add User Profile Menu for OpenID Connect login
  src/Aspire.Dashboard/Components/Controls/UserProfile.razor
  src/Aspire.Dashboard/Components/Controls/UserProfile.razor.cs
  src/Aspire.Dashboard/Components/Controls/UserProfile.razor.css
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.css
  src/Aspire.Dashboard/Components/_Imports.razor
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
  src/Aspire.Dashboard/Configuration/ValidateDashboardOptions.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Extensions/ClaimsIdentityExtensions.cs
  src/Aspire.Dashboard/Extensions/StringExtensions.cs
  src/Aspire.Dashboard/README.md
  src/Aspire.Dashboard/Resources/Login.Designer.cs
  src/Aspire.Dashboard/Resources/Login.resx
  src/Aspire.Dashboard/Resources/xlf/Login.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.zh-Hant.xlf
  tests/Aspire.Dashboard.Tests/StringExtensionsTests.cs
Labels: area-dashboard

#3545 Implement IResourceWithArgs on ProjectResource
  src/Aspire.Hosting/ApplicationModel/ProjectResource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/Utils/CommandLineArgsParser.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/Utils/CommandLineArgsParserTests.cs
Labels: area-app-model

#3541 Change ParameterResource's "Failed to Start" to "Configuration Missing"
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/AddParameterTests.cs
Labels: area-app-model

#3555 Update ASPIRE002 warning message
  src/Aspire.Hosting.Sdk/SDK/Sdk.targets
Labels: needs-area-label, community-contribution

#3568 Fix resource type filter keyboard navigation
  Directory.Packages.props
  src/Aspire.Dashboard/Components/Pages/Resources.razor
Labels: area-dashboard, a11y

#3548 [release/8.0]: Backporting dashboard refactoring
  src/Aspire.Hosting.Dapr/IDistributedApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationComponentBuilderExtensions.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DashboardManifestExclusionHook.cs
  src/Aspire.Hosting/Dashboard/DashboardOptions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpOptions.cs
  src/Aspire.Hosting/Dcp/KubernetesService.cs
  src/Aspire.Hosting/Dcp/Model/ModelCommon.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/DistributedApplicationRunner.cs
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/DcpPublisher.cs
  tests/Aspire.Hosting.Tests/AsHttp2ServiceTests.cs
  tests/Aspire.Hosting.Tests/Dapr/DaprTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/Dcp/MockDashboardEndpointProvider.cs
  tests/Aspire.Hosting.Tests/Dcp/MockKubernetesService.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationBuilderTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
Labels: area-codeflow, Servicing-approved

#3566 [release/8.0] Add support for specifying custom container run arguments
  src/Aspire.Hosting/ApplicationModel/ContainerRunArgsCallbackAnnotation.cs
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-app-model, Servicing-approved

#3537 [release/8.0] Update login example screenshot and help text
  src/Aspire.Dashboard/Components/Pages/Login.razor
  src/Aspire.Dashboard/Components/Pages/Login.razor.css
  src/Aspire.Dashboard/Resources/Login.Designer.cs
  src/Aspire.Dashboard/Resources/Login.resx
  src/Aspire.Dashboard/Resources/xlf/Login.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Login.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/img/TokenExample.png
Labels: area-dashboard, Servicing-approved

#3575 [release/8.0] Add using to fix build.
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-engineering-systems, Servicing-consider

#3400 Resource service supports API key authentication
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Authentication/OtlpApiKey/OtlpApiKeyAuthenticationHandler.cs
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
  src/Aspire.Dashboard/Configuration/ResourceClientAuthMode.cs
  src/Aspire.Dashboard/Configuration/ValidateDashboardOptions.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/README.md
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceAuth.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dashboard/ResourceServiceOptions.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Shared/CompareHelpers.cs
  src/Shared/DashboardConfigNames.cs
  src/Shared/KnownConfigNames.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
Labels: area-dashboard, security 🔐

#3570 Clean up error handling
  src/Aspire.Dashboard/Components/Pages/Error.razor
  src/Aspire.Dashboard/Components/Pages/Error.razor.cs
  src/Aspire.Dashboard/Components/Pages/Error.razor.css
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Resources/Routes.Designer.cs
  src/Aspire.Dashboard/Resources/Routes.resx
  src/Aspire.Dashboard/Resources/xlf/Routes.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Routes.zh-Hant.xlf
Labels: area-dashboard

#3476 Add max-width to endpoint popup
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor.css
Labels: area-dashboard

#3573 Fix VerifyDockerWithBindMountWorksWithAbsolutePaths test
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
Labels: area-codeflow

#3564 Update dependencies to shipping preview 3 versions and enable signing
  Directory.Packages.props
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/common-variables.yml
  global.json
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  tests/Aspire.EndToEnd.Tests/Aspire.EndToEnd.Tests.csproj
  tests/Aspire.StackExchange.Redis.DistributedCaching.Tests/DistributedCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.OutputCaching.Tests/OutputCacheConformanceTests.cs
Labels: area-codeflow

#3374 Fix validation error messages
  src/Aspire.Dashboard/Configuration/ValidateDashboardOptions.cs
Labels: area-dashboard

#3037 Hook which rewrites the container registry in annotations.
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/DistributedApplicationOptions.cs
  src/Aspire.Hosting/Lifecycle/ContainerRegistryCheckHook.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#3581 Fix copy buttons
  src/Aspire.Dashboard/Extensions/FluentUIExtensions.cs
  src/Aspire.Dashboard/wwwroot/js/app.js
Labels: area-dashboard

#3589 Fix build error after merging multiple PRs
  src/Aspire.Dashboard/Configuration/ValidateDashboardOptions.cs
Labels: area-dashboard

#3582 [release/8.0] Resource service supports API key authentication
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Authentication/OtlpApiKey/OtlpApiKeyAuthenticationHandler.cs
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
  src/Aspire.Dashboard/Configuration/ResourceClientAuthMode.cs
  src/Aspire.Dashboard/Configuration/ValidateDashboardOptions.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/README.md
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceAuth.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dashboard/ResourceServiceOptions.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Shared/CompareHelpers.cs
  src/Shared/DashboardConfigNames.cs
  src/Shared/KnownConfigNames.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
Labels: area-dashboard, Servicing-approved

#3523 Flow dashboard logs through the app host's logger
  playground/mongo/Mongo.AppHost/appsettings.json
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DashboardOptions.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
Labels: area-app-model, area-codeflow

#3601 Exclude the dashboard from the manifest
  src/Aspire.Hosting/Dashboard/DashboardManifestExclusionHook.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationBuilderTests.cs
  tests/Aspire.Hosting.Tests/Utils/ManifestUtils.cs
Labels: area-app-model

#3592 [release/8.0] Update dependencies from microsoft/usvc-apiserver
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow, Servicing-approved

#3538 Add tooltips to Resource table
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/SourceColumnDisplay.razor
Labels: area-dashboard

#3496 [tests] Improve building+sending tests to helix
  eng/pipelines/templates/BuildAndTest.yml
  tests/README.md
  tests/helix/send-to-helix-basic-tests.targets
  tests/helix/send-to-helix-ci.proj
  tests/helix/send-to-helix-inner.proj
  tests/helix/send-to-helix-workload-tests.targets
Labels: testing ☑️

#3595 Allow configuring claim requirements for frontend authorization
  src/Aspire.Dashboard/Authentication/OpenIdConnect/AuthorizationPolicyBuilderExtensions.cs
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/README.md
Labels: area-dashboard, security 🔐

#3493 [tests] Extract support for running an aspire app for tests
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesTests.cs
  tests/Shared/WorkloadTesting/AspireProject.cs
  tests/Shared/WorkloadTesting/BuildEnvironment.cs
  tests/Shared/WorkloadTesting/ProjectInfo.cs
Labels: area-components, testing ☑️

#3385 [tests] Use ResiliencePipeline in IntegrationTests
  src/Aspire.Hosting/Aspire.Hosting.csproj
  tests/.editorconfig
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/testproject/TestProject.IntegrationServiceA/Cosmos/CosmosExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/MySqlExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Oracle/OracleDatabaseExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/ResilienceUtils.cs
  tests/testproject/TestProject.IntegrationServiceA/SqlServer/SqlServerExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Labels: area-components, testing ☑️

#3618 Fix Qdrant resource to be publishable
  playground/Qdrant/Qdrant.AppHost/Program.cs
  playground/Qdrant/Qdrant.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Qdrant/QdrantBuilderExtensions.cs
  src/Aspire.Hosting.Qdrant/QdrantServerResource.cs
  tests/Aspire.Hosting.Tests/Qdrant/AddQdrantTests.cs
Labels: area-app-model

#3184 #2367 dapr change the app port depending on the app protocol
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Dapr/DaprSidecarOptions.cs
  tests/Aspire.Hosting.Tests/Dapr/DaprTests.cs
Labels: area-app-model, community-contribution

#3499 ApplicationExecutor: wait for log processors to stop during shutdown
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpHostService.cs
Labels: area-app-model

#3401 Make status column icons colorblind friendly
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
Labels: area-dashboard

#3610 update subset of versions
  Directory.Packages.props
  eng/Versions.props
Labels: area-components

#3626 [release/8.0] dapr change the app port depending on the app protocol
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Dapr/DaprSidecarOptions.cs
  tests/Aspire.Hosting.Tests/Dapr/DaprTests.cs
Labels: area-app-model, Servicing-approved

#3593 Fix login help link with CSP
  src/Aspire.Dashboard/Components/Pages/Login.razor
Labels: area-dashboard

#3627 AuthorizationPolicy must have at least one requirement
  src/Aspire.Dashboard/Authentication/OpenIdConnect/AuthorizationPolicyBuilderExtensions.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
Labels: area-dashboard, security 🔐

#3446 Update TestShop to store RabbitMQ password in user secrets
  playground/TestShop/AppHost/ParameterExtensions.cs
  playground/TestShop/AppHost/Program.cs
Labels: area-app-model

#3636 Fix dashboard log watching
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DashboardOptions.cs
Labels: area-dashboard

#3632 Fix generated code for .resx files
  src/Aspire.Dashboard/Resources/Columns.Designer.cs
  src/Aspire.Dashboard/Resources/Logs.Designer.cs
Labels: area-dashboard

#3635 Fix broken find token image in HTTP
  src/Aspire.Dashboard/Model/BrowserSecurityHeadersMiddleware.cs
  tests/Aspire.Dashboard.Tests/BrowserSecurityHeadersMiddlewareTests.cs
Labels: area-dashboard

#3629 Updates to dashboard's README
  src/Aspire.Dashboard/README.md
Labels: documentation, area-dashboard, area-docs

#3630 Fix configuration key in error messages
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
Labels: area-dashboard

#3293 Event Hubs: Update EventProcessorClient component to pull BlobClient from DI
  playground/AspireEventHub/EventHubs.AppHost/Properties/launchSettings.json
  playground/AspireEventHub/EventHubsConsumer/EventHubsConsumer.csproj
  playground/AspireEventHub/EventHubsConsumer/Program.cs
  src/Components/Aspire.Azure.AI.OpenAI/AspireAzureOpenAIExtensions.cs
  src/Components/Aspire.Azure.Data.Tables/AspireTablesExtensions.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/AspireEventHubsExtensions.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/AzureMessagingEventHubsSettings.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/ConfigurationSchema.json
  src/Components/Aspire.Azure.Messaging.EventHubs/EventHubConsumerClientComponent.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/EventHubProducerClientComponent.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/EventProcessorClientComponent.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/PartitionReceiverClientComponent.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/README.md
  src/Components/Aspire.Azure.Messaging.ServiceBus/AspireServiceBusExtensions.cs
  src/Components/Aspire.Azure.Search.Documents/AspireAzureSearchExtensions.cs
  src/Components/Aspire.Azure.Security.KeyVault/AspireKeyVaultExtensions.cs
  src/Components/Aspire.Azure.Storage.Blobs/AspireBlobStorageExtensions.cs
  src/Components/Aspire.Azure.Storage.Queues/AspireQueueStorageExtensions.cs
  src/Components/Common/AzureComponent.cs
  tests/Aspire.Azure.Messaging.EventHubs.Tests/Aspire.Azure.Messaging.EventHubs.Tests.csproj
  tests/Aspire.Azure.Messaging.EventHubs.Tests/AspireEventHubsExtensionsTests.cs
Labels: area-components, community-contribution

#3662 Fix build break
  src/Components/Aspire.Azure.Messaging.EventHubs/PublicAPI.Unshipped.txt
Labels: area-engineering-systems

#3661 Set correct AutoFocus value for FluentPopover
  src/Aspire.Dashboard/Components/Controls/Chart/ChartFilters.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
Labels: area-dashboard

#3660 [release/8.0] Bump Azure.Identity to 1.11.0
  Directory.Packages.props
Labels: area-components, Servicing-approved

#3667 Update to 8.0.4 of ASP.NET Core
  eng/Versions.props
  tests/Aspire.Components.Common.Tests/ActivityNotifier.cs
  tests/Aspire.NATS.Net.Tests/AspireNatsClientExtensionsTests.cs
  tests/Aspire.StackExchange.Redis.DistributedCaching.Tests/DistributedCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.OutputCaching.Tests/OutputCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/AspireRedisExtensionsTests.cs
Labels: area-components

#3676 Update OTEL HTTP instrumentation packages to 1.8.1
  Directory.Packages.props
  src/Aspire.Hosting/OtlpConfigurationExtensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/AspireApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Aspire.ServiceDefaults1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/AspireStarterApplication.1.ServiceDefaults.csproj
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-dashboard

#3672 [release/8.0] Update to 8.0.4 of ASP.NET Core
  eng/Versions.props
  tests/Aspire.Components.Common.Tests/ActivityNotifier.cs
  tests/Aspire.NATS.Net.Tests/AspireNatsClientExtensionsTests.cs
  tests/Aspire.StackExchange.Redis.DistributedCaching.Tests/DistributedCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.OutputCaching.Tests/OutputCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/AspireRedisExtensionsTests.cs
Labels: area-components, Servicing-approved

#3681 [release/8.0] Update OTEL HTTP instrumentation packages to 1.8.1
  Directory.Packages.props
  src/Aspire.Hosting/OtlpConfigurationExtensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/AspireApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Aspire.ServiceDefaults1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/AspireStarterApplication.1.ServiceDefaults.csproj
Labels: area-dashboard, Servicing-approved

#3668 Add SuppressFinalPackageVersion to libraries we don't plan to ship stable yet
  src/Aspire.Hosting.AWS/Aspire.Hosting.AWS.csproj
  src/Components/Aspire.Azure.AI.OpenAI/Aspire.Azure.AI.OpenAI.csproj
  src/Components/Aspire.Azure.Messaging.EventHubs/Aspire.Azure.Messaging.EventHubs.csproj
Labels: area-components

#3689 Differentiate starting resources for colour-blind users
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
Labels: area-dashboard, user-experience

#3716 Use non *-pt images
  eng/pipelines/azure-pipelines.yml
Labels: area-engineering-systems

#3697 Convert Seq component to use OTEL's `AddProcessor` instead of `AddOtlpExporter`
  Aspire.sln
  playground/seq/Seq.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Seq/SeqContainerImageTags.cs
  src/Components/Aspire.Seq/AspireSeqExtensions.cs
  src/Components/Aspire.Seq/ConfigurationSchema.json
  src/Components/Aspire.Seq/PublicAPI.Unshipped.txt
  src/Components/Aspire.Seq/README.md
  src/Components/Aspire.Seq/SeqSettings.cs
  tests/Aspire.Seq.Tests/Aspire.Seq.Tests.csproj
  tests/Aspire.Seq.Tests/SeqEndpointCanBeConfigured.cs
Labels: area-components, community-contribution

#3611 Tests and improvements for endpoint handling
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/ExecutableReplicaSet.cs
  src/Aspire.Hosting/Dcp/Model/ModelCommon.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/Dcp/MockKubernetesService.cs
  tests/Aspire.Hosting.Tests/Dcp/TestKubernetesService.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-app-model

#3734 Fix false positive credscan violations in Seq tests
  .config/CredScanSuppressions.json
  tests/Aspire.Seq.Tests/SeqEndpointCanBeConfigured.cs
Labels: area-components

#3654 Persist browser token auth cookie across sessions
  src/Aspire.Dashboard/Model/ValidateTokenMiddleware.cs
Labels: area-dashboard, security 🔐

#3743 Browser token textbox immediately updates bound value on text change
  src/Aspire.Dashboard/Components/Pages/Login.razor
Labels: area-dashboard

#3370 Update table every second, reuse existing metric values if possible
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor.cs
Labels: area-dashboard

#3750 Fix WithEnvironment with wrong type constraint.
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
Labels: area-app-model

#3728 [release/8.0] Seq component is broken with latest UseOtlpExporter - Convert Seq component to use OTEL's `AddProcessor` instead of `AddOtlpExporter` (#3697)
  .config/CredScanSuppressions.json
  Aspire.sln
  playground/seq/Seq.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Seq/SeqContainerImageTags.cs
  src/Components/Aspire.Seq/AspireSeqExtensions.cs
  src/Components/Aspire.Seq/ConfigurationSchema.json
  src/Components/Aspire.Seq/README.md
  src/Components/Aspire.Seq/SeqSettings.cs
  tests/Aspire.Seq.Tests/Aspire.Seq.Tests.csproj
  tests/Aspire.Seq.Tests/SeqEndpointCanBeConfigured.cs
Labels: area-components, Servicing-approved

#3729 Move comments on generated password entropy to public API
  playground/TestShop/AppHost/ParameterExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ParameterDefault.cs
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/Utils/PasswordGenerator.cs
Labels: area-app-model

#3732 Update README for Azure Hosting projects to fix description of the me…
  src/Components/Aspire.Azure.AI.OpenAI/README.md
  src/Components/Aspire.Azure.Data.Tables/README.md
  src/Components/Aspire.Azure.Messaging.EventHubs/README.md
  src/Components/Aspire.Azure.Messaging.ServiceBus/README.md
  src/Components/Aspire.Azure.Search.Documents/README.md
  src/Components/Aspire.Azure.Security.KeyVault/README.md
  src/Components/Aspire.Azure.Storage.Blobs/README.md
  src/Components/Aspire.Azure.Storage.Queues/README.md
  src/Components/Aspire.Microsoft.Azure.Cosmos/README.md
Labels: area-components

#3784 Update incorrect comment
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor.cs
Labels: area-dashboard

#3710 IDE protocol spec: add DCP instance ID and clarify notification connection handling
  docs/specs/IDE-execution.md
Labels: area-tooling, area-orchestrator

#3794 'Locker' GitHub action for locking closed/stale issues/PRs
  .github/workflows/locker.yml
  eng/pipelines/azure-pipelines-public.yml
Labels: area-engineering-systems

#3684 JSON Schema for manifest.
  Directory.Packages.props
  src/Aspire.Dashboard/Resources/Logs.Designer.cs
  src/Schema/aspire-8.0.json
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Helpers/SkipOnHelixFactAttribute.cs
  tests/Aspire.Hosting.Tests/Helpers/SkipOnHelixTheoryAttribute.cs
  tests/Aspire.Hosting.Tests/Schema/SchemaTests.cs
Labels: area-app-model

#3781 [release/8.0] Move comments on generated password entropy to public API (#3729)
  src/Aspire.Hosting/ApplicationModel/ParameterDefault.cs
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/Utils/PasswordGenerator.cs
Labels: area-app-model, Servicing-approved
