Repository dotnet/aspire, pull requests merged in 2024-06, with the labels that each got.

#4205 Add support for endpoints defined in Kestrel config
  src/Aspire.Hosting/IProjectMetadata.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/KestrelConfigTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/testproject/TestProject.ServiceC/Properties/launchSettings.json
  tests/testproject/TestProject.ServiceC/appsettings.json
Labels: area-app-model, community-contribution

#4369 Fix IDE0073 warnings
  src/Aspire.Hosting.Azure/GlobalSuppressions.cs
  src/Aspire.Hosting.Testing/DistributedApplicationEntryPointInvoker.cs
  src/Vendoring/.editorconfig
  tests/Aspire.Hosting.Testing.Tests/DistributedApplicationFixtureOfT.cs
  tests/Shared/WorkloadTesting/TestExtensions.cs
  tests/TestingAppHost1/TestingAppHost1.MyWebApp/Program.cs
  tests/TestingAppHost1/TestingAppHost1.ServiceDefaults/Extensions.cs
Labels: area-app-model

#4373 Remove Aspire.Hosting.Orleans dependency on Azure hosting
  src/Aspire.Hosting.Orleans/Aspire.Hosting.Orleans.csproj
Labels: area-components, community-contribution

#4374 Add new DCP build context schema
  src/Aspire.Hosting/Dcp/Model/Container.cs
Labels: area-app-model

#4365 style: change finished ressource icon to success
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
Labels: community-contribution

#4398 Normalize `C#` as `csharp`, and add missing lang ids
  src/Aspire.Hosting.Azure.EventHubs/AzureEventHubsExtensions.cs
  src/Aspire.Hosting.Azure/BicepResourceAnnotation.cs
  src/Aspire.Hosting.Garnet/GarnetBuilderExtensions.cs
  src/Aspire.Hosting.Milvus/MilvusBuilderExtensions.cs
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ParameterDefault.cs
  src/Aspire.Hosting/DistributedApplication.cs
  src/Aspire.Hosting/IDistributedApplicationBuilder.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
Labels: area-app-model

#4349 Carbon copy (with minor tweaks) review process from ASP.NET Core.
  .github/ISSUE_TEMPLATE/api-proposal.md
  docs/api-review-process.md
Labels: area-engineering-systems

#4324 Add Valkey Resource
  Aspire.sln
  src/Aspire.Hosting.Valkey/Aspire.Hosting.Valkey.csproj
  src/Aspire.Hosting.Valkey/PublicAPI.Shipped.txt
  src/Aspire.Hosting.Valkey/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Valkey/README.md
  src/Aspire.Hosting.Valkey/ValkeyBuilderExtensions.cs
  src/Aspire.Hosting.Valkey/ValkeyContainerImageTags.cs
  src/Aspire.Hosting.Valkey/ValkeyResource.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesTests.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/Valkey/AddValkeyTests.cs
  tests/testproject/Common/TestResourceNames.cs
  tests/testproject/Directory.Packages.Helix.props
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
  tests/testproject/TestProject.AppHost/aspire-manifest.json
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/Valkey/ValkeyExtensions.cs
Labels: area-codeflow, community-contribution

#4410 Fix tests for proxyless containers
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-app-model

#2495 Adding WebPubSub component and provisioning
  Aspire.sln
  Directory.Packages.props
  playground/bicep/BicepSample.AppHost/BicepSample.AppHost.csproj
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/wps.module.bicep
  playground/webpubsub/WebPubSubAppHost/Directory.Build.props
  playground/webpubsub/WebPubSubAppHost/Directory.Build.targets
  playground/webpubsub/WebPubSubAppHost/Program.cs
  playground/webpubsub/WebPubSubAppHost/Properties/launchSettings.json
  playground/webpubsub/WebPubSubAppHost/README.md
  playground/webpubsub/WebPubSubAppHost/WebPubSubAppHost.csproj
  playground/webpubsub/WebPubSubAppHost/appsettings.json
  playground/webpubsub/WebPubSubWeb/Pages/Index.cshtml
  playground/webpubsub/WebPubSubWeb/Pages/Index.cshtml.cs
  playground/webpubsub/WebPubSubWeb/Pages/Shared/_Layout.cshtml
  playground/webpubsub/WebPubSubWeb/Pages/Shared/_Layout.cshtml.css
  playground/webpubsub/WebPubSubWeb/Pages/_ViewImports.cshtml
  playground/webpubsub/WebPubSubWeb/Pages/_ViewStart.cshtml
  playground/webpubsub/WebPubSubWeb/Program.cs
  playground/webpubsub/WebPubSubWeb/Properties/launchSettings.json
  playground/webpubsub/WebPubSubWeb/README.md
  playground/webpubsub/WebPubSubWeb/WebPubSubWeb.csproj
  playground/webpubsub/WebPubSubWeb/appsettings.Development.json
  playground/webpubsub/WebPubSubWeb/appsettings.json
  playground/webpubsub/WebPubSubWeb/wwwroot/css/site.css
  playground/webpubsub/WebPubSubWeb/wwwroot/favicon.ico
  src/Aspire.Hosting.Azure.WebPubSub/Aspire.Hosting.Azure.WebPubSub.csproj
  src/Aspire.Hosting.Azure.WebPubSub/AzureWebPubSubExtensions.cs
  src/Aspire.Hosting.Azure.WebPubSub/AzureWebPubSubResource.cs
  src/Aspire.Hosting.Azure.WebPubSub/PublicAPI.Shipped.txt
  src/Aspire.Hosting.Azure.WebPubSub/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Azure.WebPubSub/README.md
  src/Components/Aspire.Azure.Messaging.WebPubSub/Aspire.Azure.Messaging.WebPubSub.csproj
  src/Components/Aspire.Azure.Messaging.WebPubSub/AspireWebPubSubExtensions.cs
  src/Components/Aspire.Azure.Messaging.WebPubSub/AssemblyInfo.cs
  src/Components/Aspire.Azure.Messaging.WebPubSub/AzureMessagingWebPubSubSettings.cs
  src/Components/Aspire.Azure.Messaging.WebPubSub/ConfigurationSchema.json
  src/Components/Aspire.Azure.Messaging.WebPubSub/PublicAPI.Shipped.txt
  src/Components/Aspire.Azure.Messaging.WebPubSub/PublicAPI.Unshipped.txt
  src/Components/Aspire.Azure.Messaging.WebPubSub/README.md
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  src/Shared/AzureWebPubSub_256x.png
  tests/Aspire.Azure.Messaging.WebPubSub.Tests/Aspire.Azure.Messaging.WebPubSub.Tests.csproj
  tests/Aspire.Azure.Messaging.WebPubSub.Tests/AspireWebPubSubExtensionsTests.cs
  tests/Aspire.Azure.Messaging.WebPubSub.Tests/ConformanceTests.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-components, community-contribution

#4404 Set HTTP/HTTPS_PORTS on projects in publish mode
  playground/TestShop/AppHost/aspire-manifest.json
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
  tests/eventhubns.module.bicep
Labels: area-app-model, community-contribution

#4434 Allow mutating Azure construct resources
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  src/Aspire.Hosting.Azure/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#4442 Fix launch_profile setting description in the IDE protocol spec.
  docs/specs/IDE-execution.md
Labels: area-tooling

#4438 Improve handling of Kestrel endpoints
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ProjectResource.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/KestrelConfigTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model, community-contribution

#4073 "All" should use the same word
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Resources/StructuredLogs.resx
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredLogs.zh-Hant.xlf
Labels: area-dashboard, community-contribution

#4428 Update xUnit test template to add HttpClient resiliency
  src/Aspire.ProjectTemplates/templates/aspire-xunit/IntegrationTest1.cs
Labels: area-templates, community-contribution

#4443 update dependency versions
  Directory.Packages.props
Labels: area-components

#4504 Add icons to MySQL & Azure KeyVault hosting packages
  src/Aspire.Hosting.Azure.KeyVault/Aspire.Hosting.Azure.KeyVault.csproj
  src/Aspire.Hosting.MySql/Aspire.Hosting.MySql.csproj
  src/Shared/MySQL_logo.png
Labels: area-components

#4312 FromDockerfile
  Aspire.sln
  eng/pipelines/templates/BuildAndTest.yml
  playground/withdockerfile/WithDockerfile.AppHost/Directory.Build.props
  playground/withdockerfile/WithDockerfile.AppHost/Directory.Build.targets
  playground/withdockerfile/WithDockerfile.AppHost/Program.cs
  playground/withdockerfile/WithDockerfile.AppHost/Properties/launchSettings.json
  playground/withdockerfile/WithDockerfile.AppHost/WithDockerfile.AppHost.csproj
  playground/withdockerfile/WithDockerfile.AppHost/appsettings.Development.json
  playground/withdockerfile/WithDockerfile.AppHost/appsettings.json
  playground/withdockerfile/WithDockerfile.AppHost/aspire-manifest.json
  playground/withdockerfile/WithDockerfile.AppHost/qots/Dockerfile
  playground/withdockerfile/WithDockerfile.AppHost/qots/qots.go
  playground/withdockerfile/WithDockerfile.AppHost/spicyredis/Dockerfile
  playground/withdockerfile/WithDockerfile.AppHost/spicyredis/redis.conf
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Hosting/ApplicationModel/DockerfileBuildAnnotation.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/Utils/ImageNameGenerator.cs
  src/Schema/aspire-8.0.json
  tests/Aspire.Components.Common.Tests/RequiresDockerAttribute.cs
  tests/Aspire.Hosting.Containers.Tests/.runsettings
  tests/Aspire.Hosting.Containers.Tests/Aspire.Hosting.Containers.Tests.csproj
  tests/Aspire.Hosting.Containers.Tests/ContainerImageAnnotationTests.cs
  tests/Aspire.Hosting.Containers.Tests/ContainerMountAnnotationTests.cs
  tests/Aspire.Hosting.Containers.Tests/ContainerResourceBuilderTests.cs
  tests/Aspire.Hosting.Containers.Tests/ContainerResourceTests.cs
  tests/Aspire.Hosting.Containers.Tests/WithDockerfileTests.cs
  tests/Aspire.Hosting.Containers.Tests/xunit.runner.json
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Schema/SchemaTests.cs
  tests/Aspire.Hosting.Tests/Utils/ArgumentEvaluator.cs
  tests/Aspire.Hosting.Tests/Utils/ManifestUtils.cs
  tests/Directory.Build.targets
Labels: area-app-model

#4524 Update PgAdmin from tag 8.5 to 8.8.
  src/Aspire.Hosting.PostgreSQL/PostgresContainerImageTags.cs
Labels: area-components, community-contribution

#4531 Use CBL-Mariner minimal image for Dockerfile playground.
  playground/withdockerfile/WithDockerfile.AppHost/qots/Dockerfile
Labels: area-app-model, needs-area-label

#4529 Treat the first endpoint for each scheme as default
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/KestrelConfigTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
Labels: area-app-model, community-contribution

#4533 Support transports from individual kestrel endpoints
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/KestrelConfigTests.cs
Labels: area-app-model, community-contribution

#4545 Revert CSS fix from #4013
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#4548 Fix CredScan false positive.
  .config/CredScanSuppressions.json
  playground/withdockerfile/WithDockerfile.AppHost/appsettings.json
Labels: area-components

#4556 [sln] Fix sln loading in VSCode - remove unused folder entry `dockerfile`
  Aspire.sln
Labels: area-components

#4541 Don't show success status for FailedToStart state, use static helpers for determining resource state
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Extensions/ResourceViewModelExtensions.cs
  src/Aspire.Dashboard/Model/KnownResourceState.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  tests/Aspire.Dashboard.Tests/Model/ResourceEndpointHelpersTests.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
Labels: area-dashboard

#4557 [tests] Make dependencies installation on helix more robust
  tests/helix/send-to-helix-inner.proj
Labels: area-engineering-systems

#4573 Fix src/Components/Directory.Build.props
  src/Components/Directory.Build.props
Labels: area-components

#4576 Add DCP labels schema for containers and image build
  src/Aspire.Hosting/Dcp/Model/Container.cs
Labels: area-codeflow

#4560 Fix error when switching application on telemetry pages
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Model/Otlp/ApplicationsSelectHelpers.cs
  src/Aspire.Dashboard/Model/Otlp/SelectViewModel.cs
  src/Aspire.Dashboard/Model/ResourceTypeDetails.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  tests/Aspire.Dashboard.Tests/Model/ApplicationsSelectHelpersTests.cs
Labels: area-dashboard

#4535 Log stream the build and pull.
  playground/withdockerfile/WithDockerfile.AppHost/Program.cs
  playground/withdockerfile/WithDockerfile.AppHost/spicyredis/Dockerfile
  playground/withdockerfile/WithDockerfile.AppHost/spicyredis/redis.conf
  src/Aspire.Hosting/Dcp/Model/ModelCommon.cs
  src/Aspire.Hosting/Dcp/ResourceLogSource.cs
Labels: area-app-model

#4577 Add new DCP binary unix file permissions entry
  eng/dcppack/UnixFilePermissions.xml
Labels: area-engineering-systems

#4240 [tests] workload tests for test project templates
  src/Aspire.ProjectTemplates/templates/aspire-xunit/IntegrationTest1.cs
  src/Directory.Build.targets
  tests/Aspire.Workload.Tests/PerTestFrameworkTemplatesTests.cs
  tests/Aspire.Workload.Tests/StarterTemplateProjectNamesTests.cs
  tests/Aspire.Workload.Tests/TemplateTests.cs
  tests/Aspire.Workload.Tests/WorkloadTestsBase.cs
  tests/Shared/Aspire.Workload.Testing.props
  tests/Shared/Aspire.Workload.Testing.targets
Labels: area-components, testing ☑️

#4581 Move withdockerfile solution folder under playground.
  Aspire.sln
Labels: area-components

#4588 Fixing race condition in TestLoggerFactory
  tests/Aspire.Components.Common.Tests/TestLoggerFactory.cs
Labels: area-codeflow, community-contribution

#4507 Save password parameter default values to user secrets
  playground/TestShop/AppHost/ParameterExtensions.cs
  playground/TestShop/AppHost/Program.cs
  src/Aspire.Hosting.Testing/DistributedApplicationTestingBuilder.cs
  src/Aspire.Hosting.Testing/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ApplicationModel/UserSecretsParameterDefault.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/IDistributedApplicationBuilder.cs
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Shared/SecretsStore.cs
  tests/Aspire.Hosting.Tests/AddParameterTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/Qdrant/AddQdrantTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/AddRabbitMQTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
  tests/Aspire.Hosting.Tests/UserSecretsParameterDefaultTests.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
Labels: area-app-model

#4600 Update additional DCP resource schema
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/Dcp/Model/GroupVersion.cs
  src/Aspire.Hosting/Dcp/Model/Network.cs
Labels: area-app-model

#4601 Update container logs available condition to allow streaming build logs.
  src/Aspire.Hosting/Dcp/Model/Container.cs
Labels: area-app-model

#4534 Add support for disabling reading Kestrel endpoints
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/ProjectResourceOptions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Tests/KestrelConfigTests.cs
Labels: area-app-model, community-contribution

#4614 [tests] Disable some failing WithDockerfileTests
  tests/Aspire.Hosting.Containers.Tests/WithDockerfileTests.cs
Labels: area-codeflow

#4615 Add some codeowners
  CODEOWNERS
Labels: needs-area-label

#4500 [tests] Enable `Aspire.Hosting.Testing`, and `Aspire.Hosting` tests that use docker to run on the build machine
  eng/pipelines/templates/BuildAndTest.yml
  tests/Aspire.Components.Common.Tests/FileUtil.cs
  tests/Aspire.Components.Common.Tests/PlatformDetection.cs
  tests/Aspire.Components.Common.Tests/RequiresDockerAttribute.cs
  tests/Aspire.Components.Common.Tests/RequiresToolsAttribute.cs
  tests/Aspire.Components.Common.Tests/RequiresToolsDiscoverer.cs
  tests/Aspire.Hosting.Testing.Tests/DistributedApplicationFixtureOfT.cs
  tests/Aspire.Hosting.Testing.Tests/DistributedApplicationHttpClientExtensionsForTests.cs
  tests/Aspire.Hosting.Testing.Tests/TestingBuilderTests.cs
  tests/Aspire.Hosting.Testing.Tests/TestingFactoryCrashTests.cs
  tests/Aspire.Hosting.Testing.Tests/TestingFactoryTests.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/LocalOnlyFactAttribute.cs
  tests/Aspire.Hosting.Tests/Helpers/LocalOnlyHelper.cs
  tests/Aspire.Hosting.Tests/Helpers/LocalOnlyTheoryAttribute.cs
  tests/Aspire.Hosting.Tests/Helpers/SkipOnHelixFactAttribute.cs
  tests/Aspire.Hosting.Tests/Helpers/SkipOnHelixTheoryAttribute.cs
  tests/Aspire.Hosting.Tests/Node/NodeFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Schema/SchemaTests.cs
  tests/Aspire.Hosting.Tests/SlimTestProgramTests.cs
  tests/Aspire.Hosting.Tests/TestProgramFixture.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/nodeapp/app.js
Labels: area-components

#4197 Add support for HTTP(S) OTLP endpoint
  playground/TestShop/AppHost/Properties/launchSettings.json
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
  src/Aspire.Dashboard/Configuration/PostConfigureDashboardOptions.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Otlp/Grpc/OtlpGrpcLogsService.cs
  src/Aspire.Dashboard/Otlp/Grpc/OtlpGrpcMetricsService.cs
  src/Aspire.Dashboard/Otlp/Grpc/OtlpGrpcTraceService.cs
  src/Aspire.Dashboard/Otlp/Http/OtlpHttpEndpointsBuilder.cs
  src/Aspire.Dashboard/Otlp/OtlpLogsService.cs
  src/Aspire.Dashboard/Otlp/OtlpMetricsService.cs
  src/Aspire.Dashboard/Otlp/OtlpTraceService.cs
  src/Aspire.Dashboard/Properties/launchSettings.json
  src/Aspire.Dashboard/README.md
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DashboardOptions.cs
  src/Aspire.Hosting/Dashboard/TransportOptionsValidator.cs
  src/Aspire.Hosting/OtlpConfigurationExtensions.cs
  src/Shared/DashboardConfigNames.cs
  src/Shared/KnownConfigNames.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendBrowserTokenAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/IntegrationTestHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpGrpcServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpHttpServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
  tests/Aspire.Dashboard.Tests/OtlpApiKeyAuthenticationHandlerTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/TransportOptionsValidatorTests.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
Labels: area-dashboard, community-contribution

#4444 Updates to Aspire.Hosting.Testing
  src/Aspire.Hosting.Dapr/IDistributedApplicationComponentBuilderExtensions.cs
  src/Aspire.Hosting.Testing/Aspire.Hosting.Testing.csproj
  src/Aspire.Hosting.Testing/DistributedApplicationFactory.cs
  src/Aspire.Hosting.Testing/ResourceLoggerForwarderService.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.ProjectTemplates/templates/aspire-mstest/Aspire.Tests.1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-mstest/IntegrationTest1.cs
  src/Aspire.ProjectTemplates/templates/aspire-nunit/Aspire.Tests.1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-nunit/IntegrationTest1.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Tests/Aspire-StarterApplication.1.Tests.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Tests/WebTests.cs
  src/Aspire.ProjectTemplates/templates/aspire-xunit/Aspire.Tests.1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-xunit/IntegrationTest1.cs
  src/Shared/StringComparers.cs
  tests/Aspire.Hosting.Testing.Tests/Aspire.Hosting.Testing.Tests.csproj
  tests/Aspire.Hosting.Testing.Tests/ResourceLoggerForwarderServiceTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/ResourceLoggerServiceTests.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
  tests/Aspire.Workload.Tests/PerTestFrameworkTemplatesTests.cs
Labels: area-app-model

#4621 Add HTTPS test coverage for resource client/server integration tests
  src/Aspire.Dashboard/ResourceService/DashboardClient.cs
  tests/Aspire.Dashboard.Tests/Integration/DashboardClientAuthTests.cs
Labels: area-dashboard, testing ☑️

#4620 Add dashboard option validation tests
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
  tests/Aspire.Dashboard.Tests/DashboardOptionsTests.cs
Labels: area-dashboard, testing ☑️, dashboard-settings

#4595 Fix structured logs filter field, which was erroneously filtering out all logs
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
Labels: area-codeflow

#4602 Add additional DCP container network connection schema
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/Dcp/Model/Network.cs
Labels: area-app-model

#4616 Remove unnecessary DiagnosticListener code
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
Labels: area-app-model

#4624 [ci] helix: dump make.log when apt-get fails
  tests/helix/send-to-helix-inner.proj
Labels: area-codeflow

#4636 [ci] Check that dev-certs are installed on windows
  eng/pipelines/templates/BuildAndTest.yml
Labels: area-engineering-systems

#4638 Add more logging to CallService_OtlpGrpcEndPoint_ExternalFile_FileChanged_UseConfiguredKey
  src/Aspire.Dashboard/Configuration/PostConfigureDashboardOptions.cs
  src/Aspire.Dashboard/Configuration/ValidateDashboardOptions.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpGrpcServiceTests.cs
Labels: area-dashboard

#4618 reenable tests to start debugging in the pipeline (they run fine local…
  tests/Aspire.Hosting.Containers.Tests/WithDockerfileTests.cs
  tests/Aspire.Hosting.Testing.Tests/TestingFactoryTests.cs
  tests/Aspire.Hosting.Tests/XunitAttributes.cs
Labels: area-app-model

#4649 Fix Orleans broadcast channel provider registration
  src/Aspire.Hosting.Orleans/OrleansServiceExtensions.cs
Labels: area-app-model, community-contribution

#4591 Use custom names for dashboard auth and antiforgery cookies
  src/Aspire.Dashboard/DashboardWebApplication.cs
Labels: area-dashboard

#4653 Disable some hosting tests failing on CI
  tests/Aspire.Hosting.Testing.Tests/TestingFactoryTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-components

#4654 Show dashboard errors by default.
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
Labels: area-app-model

#4142 Add support for running python projects
  .gitignore
  Aspire.sln
  playground/python/Python.AppHost/Directory.Build.props
  playground/python/Python.AppHost/Directory.Build.targets
  playground/python/Python.AppHost/Program.cs
  playground/python/Python.AppHost/Properties/launchSettings.json
  playground/python/Python.AppHost/Python.AppHost.csproj
  playground/python/Python.AppHost/appsettings.Development.json
  playground/python/Python.AppHost/appsettings.json
  playground/python/Python.AppHost/aspire-manifest.json
  playground/python/instrumented_script/main.py
  playground/python/instrumented_script/requirements.txt
  playground/python/script_only/main.py
  src/Aspire.Hosting.Python/Aspire.Hosting.Python.csproj
  src/Aspire.Hosting.Python/PublicAPI.Shipped.txt
  src/Aspire.Hosting.Python/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Python/PythonProjectResource.cs
  src/Aspire.Hosting.Python/PythonProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting.Python/VirtualEnvironment.cs
  tests/Aspire.Hosting.Testing.Tests/TestingFactoryTests.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Python/AddPythonProjectTests.cs
Labels: area-components, community-contribution

#4662 Improve logging for flaky test
  tests/Aspire.Dashboard.Tests/Integration/IntegrationTestHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpGrpcServiceTests.cs
Labels: area-dashboard, area-codeflow

#4641 Fix log entry order with docker file building
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/ConsoleLogs/LogEntries.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/LogEntriesTests.cs
Labels: area-dashboard

#4652 Add zh-CN culture to dashboard
  src/Aspire.Dashboard/DashboardWebApplication.cs
Labels: area-dashboard

#4655 Bumping dependency versions and updating Configuration Schema for components
  Directory.Packages.props
  NuGet.config
  eng/Versions.props
  src/Components/Aspire.Azure.Storage.Blobs/ConfigurationSchema.json
Labels: area-components, Servicing-consider

#4693 Update ResourceNotificationServiceLogging
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
Labels: area-app-model

#4694 [tests] Disable playwright tests on helix/linux
  tests/Aspire.Workload.Tests/EmptyTemplateRunTests.cs
  tests/Aspire.Workload.Tests/PerTestFrameworkTemplatesTests.cs
  tests/Aspire.Workload.Tests/StarterTemplateProjectNamesTests.cs
  tests/Aspire.Workload.Tests/StarterTemplateRunTestsBase.cs
  tests/Aspire.Workload.Tests/TemplateTests.cs
  tests/Aspire.Workload.Tests/WorkloadTestsBase.cs
  tests/Shared/WorkloadTesting/BuildEnvironment.cs
  tests/Shared/WorkloadTesting/EnvironmentVariables.cs
  tests/helix/send-to-helix-inner.proj
Labels: area-components

#4441 Fixes and enhancements in JSON Configuration schema generator
  src/Components/Aspire.Azure.AI.OpenAI/ConfigurationSchema.json
  src/Components/Aspire.Azure.Data.Tables/ConfigurationSchema.json
  src/Components/Aspire.Azure.Messaging.EventHubs/ConfigurationSchema.json
  src/Components/Aspire.Azure.Messaging.ServiceBus/ConfigurationSchema.json
  src/Components/Aspire.Azure.Messaging.WebPubSub/ConfigurationSchema.json
  src/Components/Aspire.Azure.Search.Documents/ConfigurationSchema.json
  src/Components/Aspire.Azure.Security.KeyVault/ConfigurationSchema.json
  src/Components/Aspire.Azure.Storage.Blobs/ConfigurationSchema.json
  src/Components/Aspire.Azure.Storage.Queues/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.Azure.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.Data.SqlClient/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/ConfigurationSchema.json
  src/Components/Aspire.Milvus.Client/ConfigurationSchema.json
  src/Components/Aspire.MongoDB.Driver/ConfigurationSchema.json
  src/Components/Aspire.MySqlConnector/ConfigurationSchema.json
  src/Components/Aspire.NATS.Net/ConfigurationSchema.json
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/ConfigurationSchema.json
  src/Components/Aspire.Npgsql/ConfigurationSchema.json
  src/Components/Aspire.Oracle.EntityFrameworkCore/ConfigurationSchema.json
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/ConfigurationSchema.json
  src/Components/Aspire.Qdrant.Client/ConfigurationSchema.json
  src/Components/Aspire.RabbitMQ.Client/ConfigurationSchema.json
  src/Components/Aspire.Seq/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis.DistributedCaching/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis.OutputCaching/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaEmitter.cs
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaGenerator.cs
  src/Tools/ConfigurationSchemaGenerator/RuntimeSource/Configuration.Binder/ConfigurationBindingGenerator.Parser.cs
  tests/ConfigurationSchemaGenerator.Tests/Baselines/IntegrationTest.baseline.json
  tests/ConfigurationSchemaGenerator.Tests/ConfigurationSchemaGenerator.Tests.csproj
  tests/ConfigurationSchemaGenerator.Tests/GeneratorTests.cs
  tests/ConfigurationSchemaGenerator.Tests/RecordWithPrimitives.cs
  tests/ConfigurationSchemaGenerator.Tests/VariousTypes.cs
Labels: area-components, community-contribution

#4696 Fix regression in port allocation for non http/https endpoints
  playground/orleans/OrleansAppHost/aspire-manifest.json
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
Labels: area-app-model

#4712 Add test for exceeding trace limit
  src/Aspire.Dashboard/Otlp/Model/OtlpTrace.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TestHelpers.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: area-dashboard, area-telemetry, area-codeflow

#4709 Remove Newtonsoft.Json.Schema dependency
  Directory.Packages.props
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Schema/SchemaTests.cs
Labels: area-components

#4722 Revert "Bump the fluentui group across 1 directory with 2 updates (#4645)"
  Directory.Packages.props
Labels: area-components

#4724 Don't treat dependabot as community-contribution
  .github/policies/labelManagement.prOpened.yml
Labels: area-components

#4719 Finish update to OpenTelemetry 1.9.0
  Directory.Packages.props
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/AspireApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Aspire.ServiceDefaults1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.ServiceDefaults/Aspire-StarterApplication.1.ServiceDefaults.csproj
Labels: area-codeflow

#4725 [ci] Fix internal builds
  .config/CredScanSuppressions.json
  tests/ConfigurationSchemaGenerator.Tests/GeneratorTests.cs
Labels: area-components
