Repository dotnet/aspire, pull requests merged in 2024-11, with the labels that each got.

#6478 Add SchedulerHostAddress to DaprSidecarOptions
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Dapr/DaprSidecarOptions.cs
  src/Aspire.Hosting.Dapr/PublicAPI.Unshipped.txt
Labels: community-contribution

#6570 Improve devcontainer setup
  .devcontainer/devcontainer.json
  docs/machine-requirements.md
Labels: community-contribution

#6591 Rewrite dashboard URL in the console.
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/launch.json
  src/Aspire.Hosting/Codespaces/CodespacesResourceUrlRewriterService.cs
  src/Aspire.Hosting/Codespaces/CodespacesUrlRewriter.cs
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardLifecycleHookTests.cs
Labels: area-dashboard, area-app-model

#6554 Improve handling empty values in GridValue
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor.cs
Labels: area-dashboard

#6572 Change URL detection regex to exclude trailing content
  playground/Stress/Stress.ApiService/ConsoleStresser.cs
  src/Aspire.Dashboard/ConsoleLogs/UrlParser.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/UrlParserTests.cs
Labels: area-dashboard

#6602 fix typo in WithEndpoint doc
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
Labels: community-contribution

#6432 Add WithDataVolume to Redis Insights
  src/Aspire.Hosting.Redis/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  tests/Aspire.Hosting.Redis.Tests/RedisFunctionalTests.cs
Labels: community-contribution

#6057 Add health check support for Qdrant client
  Directory.Packages.props
  src/Aspire.Hosting.Qdrant/Aspire.Hosting.Qdrant.csproj
  src/Aspire.Hosting.Qdrant/QdrantBuilderExtensions.cs
  src/Components/Aspire.Qdrant.Client/Aspire.Qdrant.Client.csproj
  src/Components/Aspire.Qdrant.Client/AspireQdrantExtensions.cs
  src/Components/Aspire.Qdrant.Client/ConfigurationSchema.json
  src/Components/Aspire.Qdrant.Client/PublicAPI.Unshipped.txt
  src/Components/Aspire.Qdrant.Client/QdrantClientSettings.cs
  src/Components/Aspire.Qdrant.Client/QdrantHealthCheck.cs
  tests/Aspire.Qdrant.Client.Tests/Aspire.Qdrant.Client.Tests.csproj
  tests/Aspire.Qdrant.Client.Tests/AspireQdrantClientExtensionsTest.cs
  tests/Aspire.Qdrant.Client.Tests/AspireQdrantHelpers.cs
  tests/Aspire.Qdrant.Client.Tests/ConfigurationTests.cs
  tests/Aspire.Qdrant.Client.Tests/ConformanceTests.cs
  tests/Aspire.Qdrant.Client.Tests/QdrantContainerFixture.cs
Labels: community-contribution

#6259 Add password protection to NATS
  Directory.Packages.props
  playground/nats/Nats.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Nats/NatsBuilderExtensions.cs
  src/Aspire.Hosting.Nats/NatsServerResource.cs
  src/Aspire.Hosting.Nats/PublicAPI.Shipped.txt
  src/Aspire.Hosting.Nats/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Nats.Tests/AddNatsTests.cs
  tests/Aspire.Hosting.Nats.Tests/NatsFunctionalTests.cs
  tests/Aspire.Hosting.Nats.Tests/NatsPublicApiTests.cs
  tests/Aspire.NATS.Net.Tests/AspireNatsClientExtensionsTests.cs
  tests/Aspire.NATS.Net.Tests/ConformanceTests.cs
Labels: area-integrations, community-contribution, nats

#6619 Fix source column displaying executable args
  src/Aspire.Dashboard/Components/ResourcesGridColumns/SourceColumnDisplay.razor
Labels: area-dashboard

#6607 Make filter buttons consistent between pages
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
Labels: area-dashboard

#6228 Update FluentUI
  Directory.Packages.props
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.css
  tests/Aspire.Dashboard.Components.Tests/Controls/TextVisualizerDialogTests.cs
Labels: area-dashboard

#6357 Add ResourceExtensions.HasAnnotation methods
  src/Aspire.Hosting/ApplicationModel/ResourceExtensions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Tests/ResourceExtensionsTests.cs
Labels: area-app-model

#6643 Npgsql use built-in support for keyed service registration
  src/Components/Aspire.Npgsql/AspirePostgreSqlNpgsqlExtensions.cs
Labels: community-contribution

#6610 Fix resource update causing resource filter to reset
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
Labels: area-dashboard

#6618 Resource masking fixes
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  tests/Aspire.Dashboard.Components.Tests/Controls/ResourceDetailsTests.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/ResourceSetupHelpers.cs
  tests/Shared/DashboardModel/ModelTestHelpers.cs
Labels: area-dashboard

#6261 Improve trace application order on traces page
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Model/TraceHelpers.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpSpan.cs
  tests/Aspire.Dashboard.Tests/Model/TraceHelpersTests.cs
Labels: area-dashboard

#6589 Display nested resources in the dashboard
  playground/Stress/Stress.AppHost/Program.cs
  playground/Stress/Stress.AppHost/Stress.AppHost.csproj
  playground/Stress/Stress.AppHost/TestResource.cs
  src/Aspire.Dashboard/Components/Controls/SelectResourceTypes.razor
  src/Aspire.Dashboard/Components/Layout/AspirePageContentLayout.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.css
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
  src/Aspire.Dashboard/Model/Otlp/SpanWaterfallViewModel.cs
  src/Aspire.Dashboard/Model/ResourceGridViewModel.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Shared/CustomResourceSnapshotExtensions.cs
  src/Shared/Model/KnownProperties.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Workload.Tests/WorkloadTestsBase.cs
Labels: area-dashboard

#6654 Move dashboard login URL log message last
  playground/TestShop/BasketService/Repositories/RedisBasketRepository.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendBrowserTokenAuthTests.cs
Labels: area-dashboard

#6670 Bumped Azurite version to 3.33.0
  Directory.Packages.props
  src/Aspire.Hosting.Azure.Storage/StorageEmulatorContainerImageTags.cs
Labels: community-contribution

#6729 Open dashboard help in new tab
  src/Aspire.Dashboard/Components/Dialogs/HelpDialog.razor
Labels: area-dashboard

#6728 Fix sorting by resource start time
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
Labels: area-dashboard

#6739 Remove deprecated CSS
  src/Aspire.Dashboard/wwwroot/css/highlight.css
Labels: area-dashboard

#6664 Add default count to data grids to avoid getting all data
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Model/StructuredLogsViewModel.cs
  src/Aspire.Dashboard/Model/TracesViewModel.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
  src/Aspire.Dashboard/Otlp/Storage/GetLogsContext.cs
  src/Aspire.Dashboard/Otlp/Storage/GetTracesRequest.cs
  src/Aspire.Dashboard/Utils/DashboardUIHelpers.cs
Labels: area-dashboard

#6752 Update gRPC packages to 2.67.0
  Directory.Packages.props
Labels: area-dashboard, area-app-model

#6682 Add eventing to test builder.
  src/Aspire.Hosting.Testing/CompatibilitySuppressions.xml
  src/Aspire.Hosting.Testing/DistributedApplicationTestingBuilder.cs
  src/Aspire.Hosting.Testing/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Azure.Tests/AzureEventHubsExtensionsTests.cs
  tests/Aspire.Hosting.Testing.Tests/TestingBuilderTests.cs
Labels: area-app-model, area-app-testing

#6707 Fix missing collapse on trace detail
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Model/Otlp/SpanWaterfallViewModel.cs
  tests/Aspire.Dashboard.Tests/Model/ResourceViewModelTests.cs
  tests/Aspire.Dashboard.Tests/Model/SpanWaterfallViewModelTests.cs
  tests/Aspire.Dashboard.Tests/Model/TraceHelpersTests.cs
  tests/Shared/Telemetry/TelemetryTestHelpers.cs
Labels: area-dashboard

#6668 Change ResourceViewModel to use immutable dictionary
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  tests/Aspire.Dashboard.Tests/Model/ResourceViewModelTests.cs
  tests/Shared/DashboardModel/ModelTestHelpers.cs
Labels: area-dashboard

#6666 Fix not unsubscribing in trace detail on navigation
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Otlp/Storage/Subscription.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/TraceDetailsTests.cs
Labels: area-dashboard

#6727 Fix total item count on structured logs being set to zero
  src/Aspire.Dashboard/Components/Controls/TotalItemsFooter.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
Labels: area-dashboard

#6725 Fix error adding log entry with no body
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Shared/Telemetry/TelemetryTestHelpers.cs
Labels: area-dashboard

#6753 Clean up resource builder extensions XML docs
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
Labels: area-app-model

#6754 Fix vulnerability in playground project BrowserTelemetry.Web
  playground/BrowserTelemetry/BrowserTelemetry.Web/package-lock.json
Labels: community-contribution

#5311 Add resource relationship to app model
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.css
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Dashboard/Utils/DashboardUrls.cs
  src/Aspire.Hosting.PostgreSQL/PostgresBuilderExtensions.cs
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/ResourceCommandAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceRelationshipAnnotation.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/ResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  src/Shared/Model/KnownRelationshipTypes.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/CreateResourceSelectModelsTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
  tests/Shared/DashboardModel/ModelTestHelpers.cs
Labels: area-dashboard

#6775 Disable codespaces test
  tests/Aspire.Hosting.Tests/Codespaces/CodespacesUrlRewriterTests.cs
Labels: area-app-model

#6773 Fix span links across traces
  playground/Stress/Stress.ApiService/Program.cs
  playground/Stress/Stress.ApiService/TraceCreator.cs
  playground/Stress/Stress.AppHost/Program.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  tests/Aspire.Dashboard.Components.Tests/Aspire.Dashboard.Components.Tests.csproj
  tests/Aspire.Dashboard.Components.Tests/Pages/TraceDetailsTests.cs
Labels: area-dashboard

#6820 Option to hide timestamps on console logs page
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Resources/ConsoleLogs.Designer.cs
  src/Aspire.Dashboard/Resources/ConsoleLogs.resx
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.zh-Hant.xlf
  src/Aspire.Dashboard/Utils/DashboardUrls.cs
Labels: area-dashboard

#6722 Tweak dashboard title padding
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor.cs
  src/Aspire.Dashboard/Components/Layout/AspirePageContentLayout.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.css
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard
