Repository dotnet/aspire, pull requests merged in 2024-02, with the labels that each got.

#2024 Fix service resolution logic in the dashboard
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
Labels: area-dashboard

#2028 Fix for unit tests failing.
  src/Aspire.Hosting/DistributedApplication.cs
  tests/Aspire.Hosting.Tests/TestProgramFixture.cs
  tests/Aspire.Hosting.Tests/XunitAttributes.cs
Labels: area-app-model

#1860 Publishing dashboard assets to blob storage in preparation of docker image generation
  Directory.Build.props
  eng/Publishing.props
  eng/dashboardpack/dashboardpack.csproj
Labels: area-engineering-systems

#2031 Fix dotnet watch
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-app-model

#2030 Null is not true, but null is not false
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-app-model

#1540 Update Integration Tests
  tests/Aspire.Hosting.Tests/Cosmos/CosmosFunctionalTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/RabbitMQFunctionalTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/SqlServerFunctionalTests.cs
  tests/Aspire.Hosting.Tests/TestProgramFixture.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.IntegrationServiceA/Cosmos/CosmosExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/MySqlExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Oracle/OracleDatabaseExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/RabbitMQ/RabbitMQExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Redis/RedisExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/SqlServer/SqlServerExtensions.cs
Labels: area-app-model

#2023 Move SB metadata to intermediates
  eng/Version.Details.xml
Labels: area-codeflow, community-contribution

#2038 Fix Kafka Integration tests
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
Labels: area-codeflow

#2022 Add AppInsights resource
  Directory.Packages.props
  src/Aspire.Hosting.Azure.Provisioning/Aspire.Hosting.Azure.Provisioning.csproj
  src/Aspire.Hosting.Azure.Provisioning/AzureProvisionerExtensions.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureApplicationInsightsProvisioner.cs
  src/Aspire.Hosting.Azure/AzureApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureResourceExtensionsTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-codeflow

#1950 Bump Microsoft.Data.SqlClient to 5.1.5
  Directory.Packages.props
Labels: area-components, community-contribution

#2048 Fix publish of dashboard blobs
  eng/Publishing.props
Labels: needs-area-label

#2053 Fix AppInsights dev time provisioning
  Directory.Packages.props
  src/Aspire.Hosting.Azure.Provisioning/Aspire.Hosting.Azure.Provisioning.csproj
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureApplicationInsightsProvisioner.cs
Labels: area-components

#2059 Updating to preview 1 versions
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#2061 Make ParameterEndToEnd use SQL Server.
  playground/ParameterEndToEnd/ParameterEndToEnd.ApiService/ParameterEndToEnd.ApiService.csproj
  playground/ParameterEndToEnd/ParameterEndToEnd.ApiService/Program.cs
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/Program.cs
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/Properties/launchSettings.json
Labels: area-app-model

#2055 Adds phpMyAdmin to MySql component
  Aspire.sln
  playground/mysql/MySql.ApiService/MySql.ApiService.csproj
  playground/mysql/MySql.ApiService/MySql.ApiService.http
  playground/mysql/MySql.ApiService/Program.cs
  playground/mysql/MySql.ApiService/Properties/launchSettings.json
  playground/mysql/MySql.ApiService/appsettings.Development.json
  playground/mysql/MySql.ApiService/appsettings.json
  playground/mysql/MySql.ApiService/data/init.sql
  playground/mysql/MySqlDb.AppHost/Directory.Build.props
  playground/mysql/MySqlDb.AppHost/Directory.Build.targets
  playground/mysql/MySqlDb.AppHost/MySqlDb.AppHost.csproj
  playground/mysql/MySqlDb.AppHost/Program.cs
  playground/mysql/MySqlDb.AppHost/Properties/launchSettings.json
  playground/mysql/MySqlDb.AppHost/appsettings.Development.json
  playground/mysql/MySqlDb.AppHost/appsettings.json
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/MySql/PhpMyAdminConfigWriterHook.cs
  src/Aspire.Hosting/MySql/PhpMyAdminResource.cs
  tests/Aspire.Hosting.Tests/MySql/MySqlFunctionalTests.cs
Labels: area-codeflow

#1619 Generate metadata in manifest.
  src/Aspire.Hosting/ApplicationModel/ManifestMetadataAnnotation.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2072 Fix dapper package.
  Directory.Packages.props
Labels: area-app-model, area-components

#1978 Add ExcludeLaunchProfile method to model
  src/Aspire.Hosting/ApplicationModel/ExcludeLaunchProfileAnnotation.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/Utils/LaunchProfileExtensions.cs
  tests/Aspire.Hosting.Tests/LaunchSettingsSerializerContextTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-app-model

#1966 Always show counts in span details
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
Labels: area-dashboard

#2049 Fix component governance alerts
  Directory.Packages.props
Labels: area-components

#2086 Drop AccountKey in Azure OpenAI README
  src/Components/Aspire.Azure.AI.OpenAI/README.md
Labels: area-components

#2037 Refactor functional tests
  Aspire.sln
  tests/Aspire.EndToEnd.Tests/Aspire.EndToEnd.Tests.csproj
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesTests.cs
  tests/Aspire.EndToEnd.Tests/ProjectInfo.cs
  tests/Aspire.Hosting.Tests/Cosmos/CosmosFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Helpers/AllocatedEndpointAnnotationTestExtensions.cs
  tests/Aspire.Hosting.Tests/IntegrationServicesTests.cs
  tests/Aspire.Hosting.Tests/Kafka/KafkaFunctionalTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/MongoDBFunctionalTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/MySql/MySqlFunctionalTests.cs
  tests/Aspire.Hosting.Tests/MySql/PomeloEFCoreMySqlFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Oracle/OracleDatabaseFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Postgres/PostgresFunctionalTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/RabbitMQFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Redis/RedisFunctionalTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/SqlServerFunctionalTests.cs
  tests/Aspire.Hosting.Tests/TestProgramFixture.cs
  tests/testproject/TestProject.AppHost/Program.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.AppHost/appsettings.json
  tests/testproject/TestProject.IntegrationServiceA/Cosmos/CosmosExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/MySqlExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Oracle/OracleDatabaseExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/SqlServer/SqlServerExtensions.cs
Labels: area-app-model, area-components

#2076 Unit test ApplicationExecutor
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/HostDashboardEndpointProvider.cs
  src/Aspire.Hosting/Dcp/HttpPingDashboardAvailability.cs
  src/Aspire.Hosting/Dcp/IDashboardAvailability.cs
  src/Aspire.Hosting/Dcp/IDashboardEndpointProvider.cs
  src/Aspire.Hosting/Dcp/KubernetesService.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/Dcp/MockDashboardAvailability.cs
  tests/Aspire.Hosting.Tests/Dcp/MockDashboardEndpointProvider.cs
  tests/Aspire.Hosting.Tests/Dcp/MockKubernetesService.cs
Labels: area-app-model

#1949 Bump Polly to 8.3.0
  Directory.Packages.props
Labels: area-components, community-contribution

#2079 Fix missing uninstrumented peer icons in dashboard tracing for HTTP requests
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Model/BrowserLinkOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpSpan.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
Labels: area-dashboard

#2063 Postgres end to end.
  Aspire.sln
  playground/PostgresEndToEnd/PostgresEndToEnd.ApiService/PostgresEndToEnd.ApiService.csproj
  playground/PostgresEndToEnd/PostgresEndToEnd.ApiService/PostgresEndToEnd.ApiService.http
  playground/PostgresEndToEnd/PostgresEndToEnd.ApiService/Program.cs
  playground/PostgresEndToEnd/PostgresEndToEnd.ApiService/Properties/launchSettings.json
  playground/PostgresEndToEnd/PostgresEndToEnd.ApiService/appsettings.Development.json
  playground/PostgresEndToEnd/PostgresEndToEnd.ApiService/appsettings.json
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/Directory.Build.props
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/Directory.Build.targets
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/PostgresEndToEnd.AppHost.csproj
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/Program.cs
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/Properties/launchSettings.json
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/appsettings.Development.json
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/appsettings.json
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/aspire-manifest.json
Labels: area-app-model, area-components

#2093 [release/8.0-preview3] Remove resource and endpoint name validation
  src/Aspire.Hosting/ApplicationModel/ModelName.cs
  tests/Aspire.Hosting.Tests/ModelNameTests.cs
Labels: area-app-model

#2056 Adding bicep resource type
  Aspire.sln
  Directory.Packages.props
  playground/bicep/BicepSample.ApiService/BicepSample.ApiService.csproj
  playground/bicep/BicepSample.ApiService/BicepSample.ApiService.http
  playground/bicep/BicepSample.ApiService/Program.cs
  playground/bicep/BicepSample.ApiService/Properties/launchSettings.json
  playground/bicep/BicepSample.ApiService/appsettings.Development.json
  playground/bicep/BicepSample.ApiService/appsettings.json
  playground/bicep/BicepSample.AppHost/BicepSample.AppHost.csproj
  playground/bicep/BicepSample.AppHost/Directory.Build.props
  playground/bicep/BicepSample.AppHost/Directory.Build.targets
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/Properties/launchSettings.json
  playground/bicep/BicepSample.AppHost/appsettings.Development.json
  playground/bicep/BicepSample.AppHost/appsettings.json
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.appconfig.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.appinsights.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.cosmosdb.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.keyvault.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.postgres.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.redis.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.servicebus.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.sql.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.storage.bicep
  playground/bicep/BicepSample.AppHost/test.bicep
  src/Aspire.Hosting.Azure.Provisioning/Aspire.Hosting.Azure.Provisioning.csproj
  src/Aspire.Hosting.Azure.Provisioning/AzureProvisionerExtensions.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureCosmosDBProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting.Azure/AzureCosmosDBDatabaseResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepCosmosDBResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepKeyVaultResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepPostgresResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepRedisResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepServiceBusResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepSqlServerResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepStorageResource.cs
  src/Aspire.Hosting.Azure/Bicep/appconfig.bicep
  src/Aspire.Hosting.Azure/Bicep/appinsights.bicep
  src/Aspire.Hosting.Azure/Bicep/cosmosdb.bicep
  src/Aspire.Hosting.Azure/Bicep/keyvault.bicep
  src/Aspire.Hosting.Azure/Bicep/postgres.bicep
  src/Aspire.Hosting.Azure/Bicep/redis.bicep
  src/Aspire.Hosting.Azure/Bicep/servicebus.bicep
  src/Aspire.Hosting.Azure/Bicep/sql.bicep
  src/Aspire.Hosting.Azure/Bicep/storage.bicep
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dcp/Process/ProcessUtil.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model, area-deployment

#2094 Update Microsoft.Extensions.Http.Resilience to 8.2
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#2089 Fix precedence on 9.0 templates
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
Labels: area-templates

#2107 Revert http resilience upgrade
  eng/Version.Details.xml
  eng/Versions.props
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
Labels: area-codeflow

#2097 Consolidation of Postgres resources.
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/Program.cs
  src/Aspire.Hosting/Postgres/IPostgresResource.cs
  src/Aspire.Hosting/Postgres/PgAdminConfigWriterHook.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresContainerResource.cs
  src/Aspire.Hosting/Postgres/PostgresDatabaseResource.cs
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/AspireEFPostgreSqlExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/KubernetesHelper.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
Labels: area-app-model, area-components

#2108 Avoid copying dependent projects output in AppHost
  src/Aspire.Hosting.Sdk/SDK/Sdk.targets
Labels: area-codeflow

#2110 Consolidate sqlserver resources
  playground/SqlServerEndToEnd/SqlServerEndToEnd.ApiService/Program.cs
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/Program.cs
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/aspire-manifest.json
  src/Aspire.Hosting/SqlServer/ISqlServerParentResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerContainerResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerDatabaseResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerServerResource.cs
Labels: area-app-model

#2121 Update Components Progress doc
  src/Components/Aspire_Components_Progress.md
Labels: area-components

#2115 Clean-up Open AI resource.
  Aspire.sln
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/Directory.Build.props
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/Directory.Build.targets
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/OpenAIEndToEnd.AppHost.csproj
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/Program.cs
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/Properties/launchSettings.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/appsettings.Development.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/appsettings.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Components/App.razor
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Components/Layout/MainLayout.razor
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Components/Layout/MainLayout.razor.css
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Components/Pages/Error.razor
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Components/Pages/Home.razor
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Components/Routes.razor
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Components/_Imports.razor
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/OpenAIEndToEnd.WebStory.csproj
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Program.cs
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Properties/launchSettings.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/appsettings.Development.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/appsettings.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/wwwroot/app.css
  src/Aspire.Hosting/OpenAI/OpenAIBuilderExtensions.cs
  src/Aspire.Hosting/OpenAI/OpenAIResource.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-components

#2124 Fix build error on UpdateConfigurationSchema
  src/Components/Directory.Build.targets
Labels: area-components

#2091 Adds Mongo Express
  playground/mongo/Mongo.ApiService/Mongo.ApiService.http
  playground/mongo/Mongo.AppHost/Program.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoExpressContainerResource.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
Labels: area-app-model

#2126 Consolidate Oracle resources.
  src/Aspire.Hosting/Oracle/IOracleDatabaseParentResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseContainerResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
Labels: area-app-model

#2128 Consolidate MongoDB resources.
  playground/mongo/Mongo.AppHost/Program.cs
  src/Aspire.Hosting/MongoDB/IMongoDBParentResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBContainerResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBDatabaseResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBServerResource.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/MongoDBConnectionStringBuilderTests.cs
Labels: area-app-model

#2129 Consolidate Kafka resources.
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaContainerResource.cs
  src/Aspire.Hosting/Kafka/KafkaServerResource.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2127 Consolidate MySql resources.
  src/Aspire.Hosting/MySql/IMySqlParentResource.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlContainerResource.cs
  src/Aspire.Hosting/MySql/MySqlDatabaseResource.cs
  src/Aspire.Hosting/MySql/MySqlServerResource.cs
  src/Aspire.Hosting/MySql/PhpMyAdminConfigWriterHook.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/MySql/MySqlConnectionStringBuilderTests.cs
Labels: area-app-model

#2087 Add error preview tooltip to error log row, make exception message property multiline
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.css
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogLevelColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor.cs
  src/Aspire.Dashboard/Resources/Columns.Designer.cs
  src/Aspire.Dashboard/Resources/Columns.resx
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/Columns.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hant.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#2136 Add test Npgsql EF Test with 2 DbContexts
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/AspireEFPostgreSqlExtensionsTests.cs
Labels: area-components

#2134 Fix structured logging name and improve comment
  src/Aspire.Dashboard/DashboardWebApplication.cs
Labels: area-dashboard

#2143 Fix mysql playground build break
  playground/mysql/MySqlDb.AppHost/Program.cs
Labels: area-engineering-systems

#2144 Build playground projects in CI
  eng/Build.props
Labels: needs-area-label

#2125 Add Enrich EF API
  playground/PostgresEndToEnd/PostgresEndToEnd.ApiService/Program.cs
  spelling.dic
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/AspireEFPostgreSqlExtensions.cs
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/ConfigurationSchema.json
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/NpgsqlEntityFrameworkCorePostgreSQLSettings.cs
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/README.md
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/AspireEFPostgreSqlExtensionsTests.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/ConfigurationTests.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/ConformanceTests.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/ConformanceTests_NoPooling.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/ConformanceTests_NoPooling_TypeSpecificConfig.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/ConformanceTests_TypeSpecificConfig.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/EnrichNpgsqlTests.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/TestDbContext.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/WorkaroundToReadProtectedField.cs
Labels: area-codeflow

#1917 [tests] Add support for running tests on helix
  Directory.Build.props
  Directory.Build.targets
  eng/pipelines/azure-pipelines.yml
  eng/pipelines/templates/BuildAndTest.yml
  eng/pipelines/templates/send-to-helix.yml
  eng/testing/.runsettings
  tests/Aspire.Components.Common.Tests/Aspire.Components.Common.Tests.csproj
  tests/Aspire.Dashboard.Tests/Aspire.Dashboard.Tests.csproj
  tests/Directory.Build.targets
  tests/send-to-helix.proj
  tests/testproject/Directory.Build.props
Labels: area-engineering-systems

#2145 Theme the scrollbars in dark theme, and refactor theming support
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Model/ThemeManager.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Aspire.Dashboard/wwwroot/js/theme.js
Labels: area-dashboard

#2158 Remove inner tooltip in exception info tooltip
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor
  src/Aspire.Dashboard/wwwroot/js/app.js
Labels: area-dashboard

#2157 Use standard otel properties for rabbitmq logs
  src/Components/Aspire.RabbitMQ.Client/RabbitMQEventSourceLogForwarder.cs
Labels: area-components

#2159 Update RabbitMQ to the latest 6.8.1
  Directory.Packages.props
  eng/pipelines/azure-pipelines.yml
Labels: area-components

#2131 Use keyvault for secret outputs
  Directory.Packages.props
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Azure.Provisioning/Aspire.Hosting.Azure.Provisioning.csproj
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureResourceProvisionerOfT.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepCosmosDBResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepRedisResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/Bicep/cosmosdb.bicep
  src/Aspire.Hosting.Azure/Bicep/redis.bicep
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2164 Remove unnecessary link in Aspire.Hosting.Orleans
  src/Aspire.Hosting.Orleans/Aspire.Hosting.Orleans.csproj
Labels: area-components

#2160 Update outdated packages
  Directory.Packages.props
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-components

#2166 [ci] Use .Open helix queues only for public builds
  eng/pipelines/templates/BuildAndTest.yml
Labels: area-engineering-systems

#2152 Display "start time" in local time, not UTC, and omit date if today
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StartTimeColumnDisplay.razor
Labels: area-dashboard

#2132 Container surrogate for UseEmulator for Azure Storage.
  .gitignore
  Aspire.sln
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.ApiService/AzureStorageEndToEnd.ApiService.csproj
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.ApiService/AzureStorageEndToEnd.ApiService.http
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.ApiService/Program.cs
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.ApiService/Properties/launchSettings.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.ApiService/appsettings.Development.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.ApiService/appsettings.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/AzureStorageEndToEnd.AppHost.csproj
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/Directory.Build.props
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/Directory.Build.targets
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/Program.cs
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/Properties/launchSettings.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/appsettings.Development.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/appsettings.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/AzureStorageEmulatorResource.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/DistributedApplicationResourceBuilder.cs
  src/Aspire.Hosting/Extensions/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/IDistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/Azure/AzureResourceExtensionsTests.cs
Labels: area-app-model

#2176 Fail provisioning if any of the individual tasks fails
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
Labels: area-app-model

#2135 Show OLTP timestamps using user's time format preferences
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
Labels: area-telemetry

#2178 Clean up WithReference logic
  src/Aspire.Hosting.Azure/AzureApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithConnectionString.cs
  src/Aspire.Hosting/ApplicationModel/ParameterResource.cs
  src/Aspire.Hosting/ApplicationModel/ResourceWithConnectionStringSurrogate.cs
  src/Aspire.Hosting/Extensions/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#2184 Use existing constants rather than computing them
  spelling.dic
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
Labels: area-dashboard

#2190 Revert fluentui-blazor upgrade
  Directory.Packages.props
Labels: area-components

#2162 [tests] Run SqlServer, and PostgreSQL tests on helix
  tests/Aspire.Dashboard.Tests/Aspire.Dashboard.Tests.csproj
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests.csproj
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests.csproj
Labels: area-components

#2163 Fix RabbitMQ StackTrace tag
  src/Components/Aspire.RabbitMQ.Client/AspireRabbitMQExtensions.cs
Labels: area-components

#2196 Pass Otel service name to containers
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
Labels: area-codeflow

#2179 Add WithEndpoint(name, callback) and WithImageX(...) methods.
  src/Aspire.Hosting.Azure/AzureCosmosDBCloudApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBEmulatorResource.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/AzureStorageEmulatorResource.cs
  src/Aspire.Hosting/ApplicationModel/ContainerImageAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/Resource.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureResourceExtensionsTests.cs
  tests/Aspire.Hosting.Tests/ContainerResourceBuilderTests.cs
  tests/Aspire.Hosting.Tests/ResourceExtensionsTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
Labels: area-app-model

#2188 Implement PublishAsAzureRedis
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Azure/Bicep/AzureBicepAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepCosmosDBResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepKeyVaultResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepPostgresResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepRedisResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepServiceBusResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepSqlServerResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepStorageResource.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithConnectionString.cs
  src/Aspire.Hosting/ApplicationModel/ResourceWithConnectionStringSurrogate.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2199 Fix dashboard running without resource server
  Aspire.sln
  Directory.Packages.props
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/Controls/ApplicationName.razor.cs
  tests/Aspire.Dashboard.Components.Tests/Aspire.Dashboard.Components.Tests.csproj
  tests/Aspire.Dashboard.Components.Tests/Controls/ApplicationNameTests.cs
Labels: area-dashboard

#2202 Always copy the bicep files
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.appinsights.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.cosmosdb.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.redis.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.storage.bicep
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
Labels: area-app-model

#2113 Limit metrics to up to 100,000 values
  src/Aspire.Dashboard/Components/Controls/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Otlp/Model/MetricValues/DimensionScope.cs
  src/Aspire.Dashboard/Otlp/Model/MetricValues/MetricValue.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpInstrument.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/MetricsTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TestHelpers.cs
Labels: area-dashboard

#2191 Enable XML doc error
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Hosting.Azure/AzureCosmosDBDatabaseResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBEmulatorResource.cs
  src/Aspire.Hosting.Azure/AzureStorageEmulatorResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepCosmosDBResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepPostgresResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepSqlServerResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepStorageResource.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceAnnotationMutationBehavior.cs
  src/Aspire.Hosting/ApplicationModel/VolumeMountAnnotation.cs
  src/Aspire.Hosting/DistributedApplicationOptions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBDatabaseResource.cs
  src/Aspire.Hosting/MySql/MySqlDatabaseResource.cs
  src/Aspire.Hosting/MySql/MySqlServerResource.cs
  src/Aspire.Hosting/MySql/PhpMyAdminConfigWriterHook.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  src/Aspire.Hosting/Postgres/PostgresDatabaseResource.cs
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisCommanderConfigWriterHook.cs
  src/Aspire.Hosting/Redis/RedisCommanderResource.cs
  src/Aspire.Hosting/Utils/FileNameSuffixes.cs
  src/Directory.Build.props
  src/Microsoft.Extensions.ServiceDiscovery.Abstractions/ResolutionStatus.cs
  src/Tools/ConfigurationSchemaGenerator/ConfigurationSchemaGenerator.csproj
Labels: area-app-model

#2201 Make resources page inaccessible in standalone mode
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/TargetLocationInterceptor.cs
  src/Shared/StringComparers.cs
  tests/Aspire.Dashboard.Tests/Model/TargetLocationInterceptorTests.cs
Labels: area-dashboard

#1924 Remove comment about DotNet-Blob-Feed from common-variables.yml
  eng/pipelines/common-variables.yml
Labels: area-engineering-systems, community-contribution

#2141 Only build manifest when building in VMR in general
  eng/Build.props
Labels: area-engineering-systems

#2114 Add connection security to dashboard OTLP
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Otlp/Security/IOtlpConnectionFeature.cs
  src/Aspire.Dashboard/Otlp/Security/ListenOptionsOtlpExtensions.cs
  src/Aspire.Dashboard/Otlp/Security/OtlpConnectionMiddleware.cs
  src/Aspire.Dashboard/Otlp/Security/OtlpInterceptor.cs
Labels: area-dashboard

#2209 Rename AsDockerFileInManifest to PublishAsDockerFile
  src/Aspire.Hosting/Extensions/ExecutableResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-codeflow

#2210 Use cryptographically generated passwords
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AppConfigurationProvisoner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureApplicationInsightsProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureCosmosDBProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureRedisProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/KeyVaultProvisoner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/SqlServerProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/StorageProvisioner.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  src/Aspire.Hosting/Utils/PasswordGenerator.cs
  tests/Aspire.Hosting.Tests/Utils/PasswordGeneratorTests.cs
Labels: area-app-model

#2208 Fix xliff-tasks entry in Version.Details.xml
  eng/Version.Details.xml
Labels: area-codeflow, community-contribution

#2193 Update EF Sql Server API
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/AspireSqlServerEFCoreSqlClientExtensions.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/MicrosoftEntityFrameworkCoreSqlServerSettings.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/README.md
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/AspireSqlServerEFCoreSqlClientExtensionsTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/ConformanceTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/ConformanceTests_NoPooling.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/ConformanceTests_Pooling_TypeSpecificConfig.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/ConformanceTests_TypeSpecificConfig.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/EnrichSqlServerTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/WorkaroundToReadProtectedField.cs
Labels: area-components

#2195 Update Oracle database EF API
  src/Components/Aspire.Oracle.EntityFrameworkCore/AspireOracleEFCoreExtensions.cs
  src/Components/Aspire.Oracle.EntityFrameworkCore/ConfigurationSchema.json
  src/Components/Aspire.Oracle.EntityFrameworkCore/OracleEntityFrameworkCoreSettings.cs
  src/Components/Aspire.Oracle.EntityFrameworkCore/README.md
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/AspireOracleEFCoreDatabaseExtensionsTests.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/ConformanceTests.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/ConformanceTests_NoPooling.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/ConformanceTests_NoPooling_TypeSpecificConfig.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/ConformanceTests_TypeSpecificConfig.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/EnrichOracleDatabaseTests.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/WorkaroundToReadProtectedField.cs
Labels: area-components

#1888 Updating SDK to 8.0.200
  Directory.Build.props
  eng/Build.props
  eng/Version.Details.xml
  eng/Versions.props
  global.json
Labels: area-codeflow

#2215 Update CosmosDb EF API
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/AspireAzureEFCoreCosmosDBExtensions.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/EntityFrameworkCoreCosmosDBSettings.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/README.md
  tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests/AspireAzureEfCoreCosmosDBExtensionsTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests/ConformanceTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests/ConformanceTests_NoPooling.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests/EnrichCosmosDbTests.cs
Labels: area-components

#2239 Avoid adding non-HTTP URLs to ASPNETCORE_URLS during launch
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-engineering-systems

#2244 Extra dashboard validation for deserialised resource service messages
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/Protos/Partials.cs
Labels: area-dashboard

#2253 Fix resource start time formatting
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StartTimeColumnDisplay.razor
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
  src/Aspire.Dashboard/Utils/FormatHelpers.cs
Labels: area-dashboard

#2170 Improvements to structured logs error tooltip
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor.cs
Labels: area-dashboard

#2256 Increase default dependency check timeout and make it configurable
  src/Aspire.Hosting/Dcp/DcpDependencyCheck.cs
  src/Aspire.Hosting/Dcp/DcpOptions.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
Labels: area-app-model

#2261 Introduce execution context and expose operation.
  spelling.dic
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/ApplicationModel/DistributedApplicationOperation.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackContext.cs
  src/Aspire.Hosting/Dashboard/ConsoleLogsConfigurationExtensions.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Dcp/DcpHostService.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/DistributedApplicationExecutionContext.cs
  src/Aspire.Hosting/DistributedApplicationLifecycle.cs
  src/Aspire.Hosting/DistributedApplicationRunner.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/IDistributedApplicationBuilder.cs
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Otlp/OtlpConfigurationExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/AutomaticManifestPublisherBindingInjectionHook.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/Azure/AzureResourceExtensionsTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationBuilderTests.cs
  tests/Aspire.Hosting.Tests/Helpers/JsonDocumentManifestPublisher.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#2161 Persist state in structured logs page
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/IPageWithSessionAndUrlState.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Extensions/LogFilterFormatter.cs
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
  src/Aspire.Dashboard/Model/StructuredLogsViewModel.cs
Labels: area-dashboard

#2249 Update dashboard README file
  src/Aspire.Dashboard/README.md
Labels: documentation, area-dashboard, area-docs

#2262 Fix replica selection runtime error in dashboard
  src/Aspire.Dashboard/Components/Controls/ResourceSelectOptionTemplate.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Model/Otlp/SelectViewModelFactory.cs
  src/Aspire.Dashboard/Model/ResourceTypeDetails.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplicationType.cs
Labels: area-dashboard

#2279 Use vector for Aspire logo in dashboard
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/wwwroot/Logo.svg
  src/Aspire.Dashboard/wwwroot/Logo_24.png
Labels: area-dashboard

#2255 use resource name in metrics and traces page instead of instance id
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
Labels: area-dashboard

#2254 Fixing transparency on AOAI package icon
  src/Shared/AzureOpenAI_256x.png
Labels: area-codeflow

#2224 Use versioned tags.
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepStorageResource.cs
  src/Aspire.Hosting/ApplicationModel/ContainerImageAnnotation.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureResourceExtensionsTests.cs
  tests/Aspire.Hosting.Tests/ContainerImageAnnotationTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
Labels: area-app-model

#2283 Write the postgres connection string to keyvault
  src/Aspire.Hosting.Azure/Bicep/AzureBicepPostgresResource.cs
  src/Aspire.Hosting.Azure/Bicep/postgres.bicep
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2287 Allow bicep outputs as bicep parameters
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
Labels: area-app-model

#2263 Add database migration playground and skip connection string validation for EF tooling
  Aspire.sln
  Directory.Packages.props
  eng/Versions.props
  playground/DatabaseMigration/DatabaseMigration.ApiModel/DatabaseMigration.ApiModel.csproj
  playground/DatabaseMigration/DatabaseMigration.ApiModel/Directory.Build.props
  playground/DatabaseMigration/DatabaseMigration.ApiModel/Migrations/20240216140519_InitialCreate.Designer.cs
  playground/DatabaseMigration/DatabaseMigration.ApiModel/Migrations/20240216140519_InitialCreate.cs
  playground/DatabaseMigration/DatabaseMigration.ApiModel/Migrations/MyDb1ContextModelSnapshot.cs
  playground/DatabaseMigration/DatabaseMigration.ApiModel/MyDb1Context.cs
  playground/DatabaseMigration/DatabaseMigration.ApiService/DatabaseMigration.ApiService.csproj
  playground/DatabaseMigration/DatabaseMigration.ApiService/Directory.Build.props
  playground/DatabaseMigration/DatabaseMigration.ApiService/Program.cs
  playground/DatabaseMigration/DatabaseMigration.ApiService/Properties/launchSettings.json
  playground/DatabaseMigration/DatabaseMigration.ApiService/appsettings.Development.json
  playground/DatabaseMigration/DatabaseMigration.ApiService/appsettings.json
  playground/DatabaseMigration/DatabaseMigration.AppHost/DatabaseMigration.AppHost.csproj
  playground/DatabaseMigration/DatabaseMigration.AppHost/Directory.Build.props
  playground/DatabaseMigration/DatabaseMigration.AppHost/Directory.Build.targets
  playground/DatabaseMigration/DatabaseMigration.AppHost/Program.cs
  playground/DatabaseMigration/DatabaseMigration.AppHost/Properties/launchSettings.json
  playground/DatabaseMigration/DatabaseMigration.AppHost/appsettings.Development.json
  playground/DatabaseMigration/DatabaseMigration.AppHost/appsettings.json
  playground/DatabaseMigration/DatabaseMigration.MigrationService/ApiDbInitializer.cs
  playground/DatabaseMigration/DatabaseMigration.MigrationService/DatabaseMigration.MigrationService.csproj
  playground/DatabaseMigration/DatabaseMigration.MigrationService/Directory.Build.props
  playground/DatabaseMigration/DatabaseMigration.MigrationService/Program.cs
  playground/DatabaseMigration/README.md
  src/Components/Aspire.Microsoft.Data.SqlClient/Aspire.Microsoft.Data.SqlClient.csproj
  src/Components/Aspire.Microsoft.Data.SqlClient/AspireSqlServerSqlClientExtensions.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/Aspire.Microsoft.EntityFrameworkCore.SqlServer.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/AspireSqlServerEFCoreSqlClientExtensions.cs
  src/Components/Aspire.MongoDB.Driver/Aspire.MongoDB.Driver.csproj
  src/Components/Aspire.MongoDB.Driver/AspireMongoDBDriverExtensions.cs
  src/Components/Aspire.MySqlConnector/Aspire.MySqlConnector.csproj
  src/Components/Aspire.MySqlConnector/AspireMySqlConnectorExtensions.cs
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.csproj
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/AspireEFPostgreSqlExtensions.cs
  src/Components/Aspire.Npgsql/Aspire.Npgsql.csproj
  src/Components/Aspire.Npgsql/AspirePostgreSqlNpgsqlExtensions.cs
  src/Components/Aspire.Oracle.EntityFrameworkCore/Aspire.Oracle.EntityFrameworkCore.csproj
  src/Components/Aspire.Oracle.EntityFrameworkCore/AspireOracleEFCoreExtensions.cs
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/Aspire.Pomelo.EntityFrameworkCore.MySql.csproj
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/AspireEFMySqlExtensions.cs
  src/Components/Common/ConnectionStringValidation.cs
Labels: area-app-model

#2286 Clean up resource output modeling
  src/Aspire.Hosting.Azure/Bicep/AzureBicepAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepCosmosDBResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepKeyVaultResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepPostgresResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepRedisResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepServiceBusResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepSqlServerResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepStorageResource.cs
Labels: area-app-model

#2295 Fix parameter secret
  playground/bicep/BicepSample.AppHost/test.bicep
  src/Aspire.Hosting/Extensions/ParameterResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2296 Added GetSecretOutput
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2297 Fix SQL Server Bicep generated connection string.
  src/Aspire.Hosting.Azure/Bicep/AzureBicepSqlServerResource.cs
Labels: area-app-model

#2300 Require name when defining volume mount
  src/Aspire.Hosting/ApplicationModel/ContainerMountAnnotation.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-app-model

#2301 Update Blazor Fluent UI package to 4.4.2 preview
  Directory.Packages.props
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor
Labels: area-dashboard

#2223 Add dashboard integration tests for OLTP security
  Directory.Build.props
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/DashboardWebApplication.cs
  tests/Aspire.Dashboard.Tests/Aspire.Dashboard.Tests.csproj
  tests/Aspire.Dashboard.Tests/Integration/IntegrationTestHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Shared/Logging/BeginScopeContext.cs
  tests/Shared/Logging/ITestSink.cs
  tests/Shared/Logging/LogLevelAttribute.cs
  tests/Shared/Logging/LogValuesAssert.cs
  tests/Shared/Logging/TestLogger.cs
  tests/Shared/Logging/TestLoggerFactory.cs
  tests/Shared/Logging/TestLoggerProvider.cs
  tests/Shared/Logging/TestLoggerT.cs
  tests/Shared/Logging/TestSink.cs
  tests/Shared/Logging/WriteContext.cs
  tests/Shared/Logging/XunitLoggerFactoryExtensions.cs
  tests/Shared/Logging/XunitLoggerProvider.cs
  tests/Shared/TestCertificateLoader.cs
  tests/Shared/TestCertificates/README.md
  tests/Shared/TestCertificates/testCert.pfx
Labels: area-dashboard

#2299 Refactor `AzureBicepRedisResource` to `AzureRedisResource`
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.postgres.bicep
  src/Aspire.Hosting.Azure.Provisioning/AzureProvisionerExtensions.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureRedisProvisioner.cs
  src/Aspire.Hosting.Azure/AzureRedisResource.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/AzureStorageEmulatorResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepRedisResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/Bicep/BicepResourceAnnotation.cs
  src/Aspire.Hosting.Azure/Extensions/AzureRedisExtensions.cs
  src/Aspire.Hosting.Azure/Redis/AzureRedisResource.cs
  src/Aspire.Hosting/ApplicationModel/ConnectionStringRedirectAnnotation.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2309 Fixed publish mode for secret outputs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2306 More changes to make dates and times consistent across dashboard
  src/Aspire.Dashboard/Components/Controls/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StartTimeColumnDisplay.razor
  src/Aspire.Dashboard/Utils/FormatHelpers.cs
  src/Aspire.Dashboard/wwwroot/js/app.js
  tests/Aspire.Dashboard.Tests/FormatHelpersTests.cs
Labels: area-dashboard

#2313 Fix date formatting with milliseconds
  src/Aspire.Dashboard/Components/Controls/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Utils/FormatHelpers.cs
  tests/Aspire.Dashboard.Tests/FormatHelpersTests.cs
Labels: area-dashboard

#2257 Don't set `ASPNETCORE_URLS` etc. in DCP at all
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpHostService.cs
  src/Aspire.Hosting/Dcp/Process/ProcessSpec.cs
  src/Aspire.Hosting/Dcp/Process/ProcessUtil.cs
Labels: area-codeflow, community-contribution

#2312 AddAzureBicepPostgres(...).AddDatabase(...) => AddPostgres(...).PublishAsAzurePostgresFlexibleServer(...).AddDatabase(...)
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepPostgresResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzurePostgresExtensions.cs
  src/Aspire.Hosting.Azure/Postgres/AzurePostgresResource.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresDatabaseResource.cs
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
Labels: area-app-model

#2324 Don't try to cleanup DCP resources on shtudown
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpHostService.cs
Labels: area-app-model

#2302 Improve trace span overflow
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.css
Labels: area-dashboard

#2292 Fix remembering details display for structured logs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
Labels: area-dashboard

#2320 Change the azure resource to be bicep based
  playground/bicep/BicepSample.AppHost/Program.cs
  src/Aspire.Hosting.Azure.Provisioning/AzureProvisionerExtensions.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AppConfigurationProvisoner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureApplicationInsightsProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/KeyVaultProvisoner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/ServiceBusProvisioner.cs
  src/Aspire.Hosting.Azure/AzureAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/AzureApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/AzureKeyVaultResource.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/AzureServiceBusResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepKeyVaultResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureAppConfigurationExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureApplicationInsightsExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureKeyVaultResourceExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureServiceBusExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/Azure/AzureResourceExtensionsTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2293 Keep selected trace on data updates
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
Labels: area-dashboard

#2327 Update migration playground to have a shared props file
  playground/DatabaseMigration/DatabaseMigration.ApiService/Directory.Build.props
  playground/DatabaseMigration/DatabaseMigration.AppHost/Directory.Build.props
  playground/DatabaseMigration/DatabaseMigration.MigrationService/Directory.Build.props
  playground/DatabaseMigration/Directory.Build.props
Labels: area-app-model

#2325 Add ResourceState.Running
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
Labels: area-dashboard

#2328 Make property validation exception message clearer
  src/Aspire.Dashboard/Protos/Partials.cs
Labels: area-dashboard

#2237 Update MySql EF API
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/README.md
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/AspireEFMySqlExtensions.cs
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/ConfigurationSchema.json
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/PomeloEntityFrameworkCoreMySqlSettings.cs
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/README.md
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/AspireEFMySqlExtensionsTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConfigurationTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests_NoPooling.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests_NoPooling_TypeSpecificConfig.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests_TypeSpecificConfig.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/EnrichMySqlTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/WorkaroundToReadProtectedFields.cs
Labels: area-components

#2271 Consolidate EF API updates
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/Aspire.Microsoft.EntityFrameworkCore.Cosmos.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/AspireAzureEFCoreCosmosDBExtensions.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/Aspire.Microsoft.EntityFrameworkCore.SqlServer.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/AspireSqlServerEFCoreSqlClientExtensions.cs
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.csproj
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/AspireEFPostgreSqlExtensions.cs
  src/Components/Aspire.Oracle.EntityFrameworkCore/Aspire.Oracle.EntityFrameworkCore.csproj
  src/Components/Aspire.Oracle.EntityFrameworkCore/AspireOracleEFCoreExtensions.cs
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/Aspire.Pomelo.EntityFrameworkCore.MySql.csproj
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/AspireEFMySqlExtensions.cs
  src/Components/Common/EntityFrameworkUtils.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests/EnrichCosmosDbTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/EnrichSqlServerTests.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/EnrichNpgsqlTests.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/EnrichOracleDatabaseTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/EnrichMySqlTests.cs
Labels: area-components

#2329 Move azure storage resource to bicep model
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Azure.Provisioning/AzureProvisionerExtensions.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/StorageProvisioner.cs
  src/Aspire.Hosting.Azure/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/AzureTableStorageResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepStorageResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureStorageResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureStorageExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2331 Remove custom resource types for containers
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/aspire-manifest.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/aspire-manifest.json
  playground/TestShop/AppHost/aspire-manifest.json
  playground/mongo/Mongo.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Azure/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure/AzureTableStorageResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepResource.cs
  src/Aspire.Hosting/ApplicationModel/DistributedApplicationOperation.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaServerResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBDatabaseResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBServerResource.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlDatabaseResource.cs
  src/Aspire.Hosting/MySql/MySqlServerResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresDatabaseResource.cs
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQServerResource.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerDatabaseResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerServerResource.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/Kafka/AddKafkaTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/AddRabbitMQTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
  tests/Aspire.Hosting.Tests/Utils/ManifestUtils.cs
Labels: area-app-model

#2326 Clean up log listener socket during shutdown
  src/Aspire.Hosting/Dcp/DcpHostService.cs
Labels: area-app-model

#2337 Refactor azure sql resource
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/Program.cs
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/SqlServerEndToEnd.AppHost.csproj
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Azure.Provisioning/AzureProvisionerExtensions.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/SqlServerProvisioner.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/AzureSqlDatabaseResource.cs
  src/Aspire.Hosting.Azure/AzureSqlServerResource.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepSqlServerResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSqlExtensions.cs
  src/Aspire.Hosting.Azure/Postgres/AzurePostgresResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerServerResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2156 Update open-telemetry-architecture.md
  docs/open-telemetry-architecture.md
Labels: area-components, community-contribution

#2343 Add RabbitMQ logging tests
  Directory.Packages.props
  src/Components/Aspire.RabbitMQ.Client/Aspire.RabbitMQ.Client.csproj
  tests/Aspire.RabbitMQ.Client.Tests/Aspire.RabbitMQ.Client.Tests.csproj
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQLoggingTests.cs
Labels: area-components

#2052 PublishAsConnectionString
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/Program.cs
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/Program.cs
  src/Aspire.Hosting/ApplicationModel/ResourceWithConnectionStringSurrogate.cs
  src/Aspire.Hosting/Extensions/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/PublishAsConnnectionStringTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#2352 AzureBicepCosmosDB -> AzureCosmosDB
  .gitignore
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/Program.cs
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/CosmosEndToEnd.AppHost.csproj
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Program.cs
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Properties/launchSettings.json
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/aspire-manifest.json
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/aspire.hosting.azure.bicep.cosmosdb.bicep
  playground/bicep/BicepSample.AppHost/Program.cs
  src/Aspire.Hosting.Azure.Provisioning/AzureProvisionerExtensions.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureCosmosDBProvisioner.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBDatabaseResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBEmulatorResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/Bicep/AzureBicepCosmosDBResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2353 Give nested contexts a descriptive name
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
Labels: area-dashboard

#2232 Service Bus Queues and Topics and child resources
  playground/bicep/BicepSample.AppHost/Program.cs
  src/Aspire.Hosting.Azure/AzureServiceBusResource.cs
  src/Aspire.Hosting.Azure/Bicep/servicebus.bicep
  src/Aspire.Hosting.Azure/Extensions/AzureServiceBusExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model, community-contribution

#2323 Remove URI reserved characters from password generator
  src/Aspire.Hosting/Utils/PasswordGenerator.cs
  tests/Aspire.Hosting.Tests/Utils/PasswordGeneratorTests.cs
Labels: area-app-model

#2345 Refactor RabbitMQ tests to use Testcontainers
  tests/Aspire.RabbitMQ.Client.Tests/Aspire.RabbitMQ.Client.Tests.csproj
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQExtensionsTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQHelpers.cs
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQLoggingTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/ConformanceTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/RabbitMQContainerFixture.cs
  tests/Aspire.RabbitMQ.Client.Tests/RequiresDockerTheoryAttribute.cs
Labels: area-components

#2242 Display version information in dashboard and host
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Hosting/DistributedApplicationLifecycle.cs
Labels: area-app-model

#2290 Bump VS min version in SDK target
  src/Aspire.Hosting.Sdk/SDK/Sdk.targets
Labels: area-app-model

#2314 Add proxyless endpoint support
  Aspire.sln
  playground/ProxylessEndToEnd/ProxylessEndToEnd.ApiService/Program.cs
  playground/ProxylessEndToEnd/ProxylessEndToEnd.ApiService/Properties/launchSettings.json
  playground/ProxylessEndToEnd/ProxylessEndToEnd.ApiService/ProxylessEndToEnd.ApiService.csproj
  playground/ProxylessEndToEnd/ProxylessEndToEnd.ApiService/appsettings.Development.json
  playground/ProxylessEndToEnd/ProxylessEndToEnd.ApiService/appsettings.json
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/Directory.Build.props
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/Directory.Build.targets
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/Program.cs
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/Properties/launchSettings.json
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/ProxylessEndToEnd.AppHost.csproj
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/appsettings.Development.json
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/appsettings.json
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
  tests/testproject/TestProject.ServiceA/Program.cs
Labels: area-orchestrator, area-codeflow

#2243 Orleans: configure ports automatically
  playground/orleans/OrleansAppHost/Program.cs
  playground/orleans/OrleansServer/Program.cs
  src/Aspire.Hosting.Orleans/OrleansServiceExtensions.cs
Labels: area-app-model

#2370 Remove back button from trace detail page
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Resources/TraceDetail.Designer.cs
  src/Aspire.Dashboard/Resources/TraceDetail.resx
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.de.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.es.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.it.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/TraceDetail.zh-Hant.xlf
Labels: area-dashboard

#2372 Introduce IsRunning and IsPublishing properties.
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackContext.cs
  src/Aspire.Hosting/Dashboard/ConsoleLogsConfigurationExtensions.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dcp/DcpDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Dcp/DcpHostService.cs
  src/Aspire.Hosting/DistributedApplicationExecutionContext.cs
  src/Aspire.Hosting/DistributedApplicationLifecycle.cs
  src/Aspire.Hosting/DistributedApplicationRunner.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Otlp/OtlpConfigurationExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/AutomaticManifestPublisherBindingInjectionHook.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
Labels: area-app-model

#2347 Update protocol for resource commands
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
Labels: area-dashboard

#1885 Service Discovery: set port to 0 when scheme is not present, not -1
  src/Microsoft.Extensions.ServiceDiscovery/Internal/ServiceNameParts.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Tests/PassThroughServiceEndPointResolverTests.cs
Labels: area-service-discovery

#1873 Adding Azure SignalR provisioning and a showcase to playground
  Aspire.sln
  Directory.Packages.props
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.signalr.bicep
  playground/signalr/SignalRAppHost/Directory.Build.props
  playground/signalr/SignalRAppHost/Directory.Build.targets
  playground/signalr/SignalRAppHost/Program.cs
  playground/signalr/SignalRAppHost/Properties/launchSettings.json
  playground/signalr/SignalRAppHost/README.md
  playground/signalr/SignalRAppHost/SignalRAppHost.csproj
  playground/signalr/SignalRAppHost/appsettings.json
  playground/signalr/SignalRWeb/Hubs/ChatHub.cs
  playground/signalr/SignalRWeb/Pages/Index.cshtml
  playground/signalr/SignalRWeb/Pages/Index.cshtml.cs
  playground/signalr/SignalRWeb/Pages/Shared/_Layout.cshtml
  playground/signalr/SignalRWeb/Pages/Shared/_Layout.cshtml.css
  playground/signalr/SignalRWeb/Pages/_ViewImports.cshtml
  playground/signalr/SignalRWeb/Pages/_ViewStart.cshtml
  playground/signalr/SignalRWeb/Program.cs
  playground/signalr/SignalRWeb/Properties/launchSettings.json
  playground/signalr/SignalRWeb/README.md
  playground/signalr/SignalRWeb/SignalRWeb.csproj
  playground/signalr/SignalRWeb/appsettings.Development.json
  playground/signalr/SignalRWeb/appsettings.json
  playground/signalr/SignalRWeb/wwwroot/css/site.css
  playground/signalr/SignalRWeb/wwwroot/favicon.ico
  src/Aspire.Hosting.Azure/AzureSignalRResource.cs
  src/Aspire.Hosting.Azure/Bicep/signalr.bicep
  src/Aspire.Hosting.Azure/Extensions/AzureSignalRResource.cs
Labels: area-codeflow, community-contribution

#2385 Fix ServiceBus endpoint logic
  Directory.Packages.props
  src/Aspire.Hosting.Azure/Bicep/servicebus.bicep
Labels: area-components

#2368 Change Aspire URLs so trace detail is selected
  spelling.dic
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Layout/NavMenu.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/UnreadLogErrorsBadge.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/UnreadLogErrorsBadge.razor.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/TargetLocationInterceptor.cs
Labels: area-dashboard

#2391 Update Azure PostgreSQL flexible server defaults
  src/Aspire.Hosting.Azure/Bicep/postgres.bicep
Labels: area-deployment

#2270 Make resource details sections more obvious
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.css
Labels: area-dashboard

#2392 Add better caching support for reusing configuration values
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Program.cs
  src/Aspire.Hosting.Azure.Provisioning/Aspire.Hosting.Azure.Provisioning.csproj
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Azure/AzureBicepProvisionerTests.cs
Labels: area-app-model

#2374 Make the log analytics workspace visible a magic parameter
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureApplicationInsightsExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model
