Repository dotnet/aspire, pull requests merged in 2024-01, with the labels that each got.

#1395 Reduce CI timeout
  eng/pipelines/azure-pipelines.yml
Labels: area-engineering-systems

#1421 Update README.md
  README.md
Labels: area-meta, community-contribution

#977 Grafana readme - incorrect link for endpoints dashboard
  src/Grafana/README.md
Labels: area-engineering-systems, community-contribution

#1524 Support all XML doc ID strings
  src/Components/Aspire.Azure.Storage.Queues/ConfigurationSchema.json
  src/Components/Aspire.RabbitMQ.Client/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaEmitter.cs
  tests/ConfigurationSchemaGenerator.Tests/GeneratorTests.cs
Labels: area-components

#1251 Test if dapr path exists, throw exception if it doesnt
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
Labels: area-app-model, community-contribution

#1487 Secret Resources
  src/Aspire.Hosting/ApplicationModel/SecretResource.cs
  src/Aspire.Hosting/ApplicationModel/SecretStoreResource.cs
  src/Aspire.Hosting/Extensions/SecretResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/SecretsTests.cs
Labels: area-app-model

#1135 Add an extension to the Postgres resource to configure a pgAdmin 4 container.
  samples/eShopLite/AppHost/Program.cs
  src/Aspire.Hosting/Postgres/PgAdminContainerResource.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
Labels: area-app-model, community-contribution

#1529 Remove Container from AppHost extensions in README
  src/Components/Aspire.Microsoft.Data.SqlClient/README.md
  src/Components/Aspire.Microsoft.EntityFrameworkCore.SqlServer/README.md
  src/Components/Aspire.MongoDB.Driver/README.md
  src/Components/Aspire.MySqlConnector/README.md
  src/Components/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL/README.md
  src/Components/Aspire.Npgsql/README.md
  src/Components/Aspire.RabbitMQ.Client/README.md
  src/Components/Aspire.StackExchange.Redis.DistributedCaching/README.md
  src/Components/Aspire.StackExchange.Redis.OutputCaching/README.md
  src/Components/Aspire.StackExchange.Redis/README.md
Labels: area-components

#1531 Fix PG admin build failure.
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
Labels: needs-area-label

#1530 Fix double use of container resourcet types.
  tests/testproject/TestProject.AppHost/TestProgram.cs
Labels: area-codeflow

#1522 Add events to span detail pane
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.css
  src/Aspire.Dashboard/Otlp/Model/OtlpSpanEvent.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TestHelpers.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: area-dashboard

#1526 Fix binding-name-qualified URIs for Endpoints
  src/Aspire.Hosting/ApplicationModel/AllocatedEndpointAnnotation.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#1295 Adds Aspire Oracle EntityFrameworkCore Database component.
  Aspire.sln
  Directory.Packages.props
  src/Aspire.Hosting/Oracle/IOracleDatabaseParentResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseContainerResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  src/Components/Aspire.Oracle.EntityFrameworkCore/Aspire.Oracle.EntityFrameworkCore.csproj
  src/Components/Aspire.Oracle.EntityFrameworkCore/AspireOracleEFCoreExtensions.cs
  src/Components/Aspire.Oracle.EntityFrameworkCore/AssemblyInfo.cs
  src/Components/Aspire.Oracle.EntityFrameworkCore/ConfigurationSchema.json
  src/Components/Aspire.Oracle.EntityFrameworkCore/OracleEntityFrameworkCoreSettings.cs
  src/Components/Aspire.Oracle.EntityFrameworkCore/README.md
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Oracle/OracleContainerResourceTests.cs
  tests/Aspire.Hosting.Tests/Oracle/OracleDatabaseFunctionalTests.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/Aspire.Oracle.EntityFrameworkCore.Tests.csproj
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/AspireOracleEFCoreDatabaseExtensionsTests.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/ConformanceTests_NoPooling.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/ConformanceTests_NoPooling_TypeSpecificConfig.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/ConformanceTests_Pooling.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/ConformanceTests_Pooling_TypeSpecificConfig.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.IntegrationServiceA/Oracle/MyDbContext.cs
  tests/testproject/TestProject.IntegrationServiceA/Oracle/OracleDatabaseExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Labels: area-app-model, area-components, community-contribution

#1541 Update global.json rollforward
  global.json
Labels: needs-area-label

#1527 Restyle error ui and reconnection ui
  src/Aspire.Dashboard/Components/App.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.css
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-codeflow

#1552 Fix up the WithPgAdmin extension.
  samples/eShopLite/AppHost/Program.cs
  src/Aspire.Hosting/Postgres/PgAdminConfigWriterHook.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
Labels: area-app-model

#1558 Disable the resource server when in manifest mode
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dashboard/DashboardWebApplicationHost.cs
Labels: area-app-model

#1481 Support customisation of NpgsqlDataSourceBuilder during component registration
  src/Components/Aspire.Npgsql/AspirePostgreSqlNpgsqlExtensions.cs
  tests/Aspire.Npgsql.Tests/AspirePostgreSqlNpgsqlExtensionsTests.cs
Labels: area-components, community-contribution

#1567 Remove no longer used InterceptorsPreview feature.
  src/Components/Directory.Build.targets
Labels: area-components

#1585 Suppress cancellation noise.
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  tests/testproject/TestProject.WorkerA/Worker.cs
Labels: area-codeflow

#1555 Use component for application name
  src/Aspire.Dashboard/Components/Controls/ApplicationName.razor
  src/Aspire.Dashboard/Components/Controls/ApplicationName.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Model/IDashboardClientExtensions.cs
Labels: area-dashboard

#1580 Add Redis Commander extension to app model.
  samples/eShopLite/AppHost/Program.cs
  src/Aspire.Hosting/Redis/IRedisResource.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisCommanderConfigWriterHook.cs
  src/Aspire.Hosting/Redis/RedisCommanderResource.cs
  src/Aspire.Hosting/Redis/RedisContainerResource.cs
  src/Aspire.Hosting/Redis/RedisResource.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
Labels: area-app-model

#1590 Avoid cancellation messages in logs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
Labels: area-dashboard

#1605 Add steps to use local package source
  docs/contributing.md
Labels: area-engineering-systems

#1506 Hide splitter handle and apply new width to metrics splitter
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#1586 Fix trace duration header
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/Traces.Designer.cs
  src/Aspire.Dashboard/Resources/Traces.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
Labels: area-dashboard

#1617 Remove traefik from pack binary list
  eng/dcppack/UnixFilePermissions.xml
  src/Aspire.Hosting/Dcp/DcpOptions.cs
Labels: needs-area-label

#1589 Fix cancellation of async enumerations
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/ResourcePublisher.cs
  tests/Aspire.Dashboard.Tests/Model/DashboardClientTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
Labels: area-dashboard

#947 Remove duplicate suffix append
  src/Aspire.Hosting/Utils/FileUtil.cs
  tests/Aspire.Hosting.Tests/Utils/FileUtilTests.cs
Labels: area-app-model, community-contribution

#1622 Create CTS for ApplicationName when needed
  src/Aspire.Dashboard/Components/Controls/ApplicationName.razor.cs
Labels: area-dashboard

#1596 Fix configuration section in XML docs
  src/Components/Aspire.Azure.Data.Tables/AspireTablesExtensions.cs
  src/Components/Aspire.Azure.Messaging.ServiceBus/AspireServiceBusExtensions.cs
  src/Components/Aspire.Azure.Security.KeyVault/AspireKeyVaultExtensions.cs
  src/Components/Aspire.Azure.Storage.Blobs/AspireBlobStorageExtensions.cs
  src/Components/Aspire.Azure.Storage.Queues/AspireQueueStorageExtensions.cs
Labels: area-components

#1163 add comment to explain DisableGrpcLoadBalancingFilter
  src/Microsoft.Extensions.ServiceDiscovery/Http/HttpClientBuilderExtensions.cs
Labels: area-service-discovery, community-contribution

#1629 Fix duplicated global.json SDK entry
  global.json
Labels: area-components

#1583 Add Cosmos database resource.
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureCosmosDBProvisioner.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBCloudApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBDatabaseResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#1630 Fix typo in error message.
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
Labels: area-app-model

#1610 Fix FileNotFoundException message
  src/Aspire.Hosting/DistributedApplicationOptions.cs
Labels: area-codeflow, community-contribution

#1574 Add column title for details column on the 'Traces' page
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Resources/Traces.Designer.cs
  src/Aspire.Dashboard/Resources/Traces.resx
  src/Aspire.Dashboard/Resources/xlf/Traces.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Traces.zh-Hant.xlf
Labels: area-dashboard, needs-author-action, community-contribution

#1244 Add a `UseEmulator` extension method for Azure Cosmos DB
  .editorconfig
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Azure/AzureStorageResource.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureResourceExtensionsTests.cs
Labels: area-app-model

#1633 Cancel dashboard service streams on application shut down
  src/Aspire.Hosting/Dashboard/DashboardService.cs
Labels: area-dashboard

#1628 Enable Redis Logging
  src/Components/Aspire.StackExchange.Redis/AspireRedisExtensions.cs
  src/Components/Aspire.StackExchange.Redis/AssemblyInfo.cs
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
  src/Components/Telemetry.md
  tests/Aspire.StackExchange.Redis.Tests/ConformanceTests.cs
Labels: area-components

#1117 Add support of Orleans in Aspire
  Aspire.sln
  Directory.Packages.props
  NuGet.config
  samples/orleans/Directory.Build.props
  samples/orleans/OrleansAppHost/Directory.Build.props
  samples/orleans/OrleansAppHost/Directory.Build.targets
  samples/orleans/OrleansAppHost/OrleansAppHost.csproj
  samples/orleans/OrleansAppHost/Program.cs
  samples/orleans/OrleansAppHost/appsettings.json
  samples/orleans/OrleansServer/OrleansServer.csproj
  samples/orleans/OrleansServer/Program.cs
  samples/orleans/OrleansServer/Properties/launchSettings.json
  samples/orleans/OrleansServer/appsettings.json
  samples/orleans/OrleansServer/wwwroot/index.html
  samples/orleans/ServiceDefaults/Extensions.cs
  samples/orleans/ServiceDefaults/ServiceDefaults.csproj
  src/Aspire.Hosting.Orleans/Aspire.Hosting.Orleans.csproj
  src/Aspire.Hosting.Orleans/IProviderConfiguration.cs
  src/Aspire.Hosting.Orleans/OrleansService.cs
  src/Aspire.Hosting.Orleans/OrleansServiceExtensions.cs
  src/Aspire.Hosting.Orleans/ProviderConfiguration.cs
Labels: area-components

#1638 Rename Orleans sample's ServiceDefaults project to fix build warnings
  Aspire.sln
  samples/orleans/OrleansServer/OrleansServer.csproj
  samples/orleans/OrleansServiceDefaults/Extensions.cs
  samples/orleans/OrleansServiceDefaults/OrleansServiceDefaults.csproj
Labels: area-components

#1548 Enable DAPR to work with services listening on addresses different from localhost
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
Labels: area-app-model

#1616 Update to latest Configuration Binder source generator
  eng/Versions.props
  src/Components/Aspire.Azure.Data.Tables/Aspire.Azure.Data.Tables.csproj
  src/Components/Aspire.Azure.Messaging.ServiceBus/Aspire.Azure.Messaging.ServiceBus.csproj
  src/Components/Aspire.Azure.Security.KeyVault/Aspire.Azure.Security.KeyVault.csproj
  src/Components/Aspire.Azure.Storage.Blobs/Aspire.Azure.Storage.Blobs.csproj
  src/Components/Aspire.Azure.Storage.Queues/Aspire.Azure.Storage.Queues.csproj
  src/Components/Aspire.Microsoft.Azure.Cosmos/Aspire.Microsoft.Azure.Cosmos.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/Aspire.Microsoft.EntityFrameworkCore.Cosmos.csproj
  src/Components/Aspire.StackExchange.Redis/AspireRedisExtensions.cs
Labels: area-components

#1606 Support more primitive types in ConfigSchemaGenerator
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaEmitter.cs
  tests/ConfigurationSchemaGenerator.Tests/Baselines/IntegrationTest.baseline.json
  tests/ConfigurationSchemaGenerator.Tests/ConfigurationSchemaGenerator.Tests.csproj
  tests/ConfigurationSchemaGenerator.Tests/GeneratorTests.cs
  tests/ConfigurationSchemaGenerator.Tests/RecordWithPrimitives.cs
Labels: area-components

#1643 Fix Rabbit MQ docs which mention an incorrect default.
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
Labels: area-app-model

#1571 dapr run bool arguments now handled as flags
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
Labels: area-app-model, community-contribution

#951 Add Kafka Component
  Aspire.sln
  Directory.Packages.props
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaContainerResource.cs
  src/Aspire.Hosting/Kafka/KafkaServerResource.cs
  src/Components/Aspire.Confluent.Kafka/Aspire.Confluent.Kafka.csproj
  src/Components/Aspire.Confluent.Kafka/AspireKafkaConsumerExtensions.cs
  src/Components/Aspire.Confluent.Kafka/AspireKafkaProducerExtensions.cs
  src/Components/Aspire.Confluent.Kafka/ConfigurationSchema.json
  src/Components/Aspire.Confluent.Kafka/ConfluentKafkaCommon.cs
  src/Components/Aspire.Confluent.Kafka/ConfluentKafkaMetrics.cs
  src/Components/Aspire.Confluent.Kafka/ConsumerConnectionFactory.cs
  src/Components/Aspire.Confluent.Kafka/KafkaConsumerSettings.cs
  src/Components/Aspire.Confluent.Kafka/KafkaProducerSettings.cs
  src/Components/Aspire.Confluent.Kafka/MetricsChannel.cs
  src/Components/Aspire.Confluent.Kafka/MetricsService.cs
  src/Components/Aspire.Confluent.Kafka/ProducerConnectionFactory.cs
  src/Components/Aspire.Confluent.Kafka/README.md
  src/Components/Aspire.Confluent.Kafka/Statistics.cs
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  tests/Aspire.Confluent.Kafka.Tests/Aspire.Confluent.Kafka.Tests.csproj
  tests/Aspire.Confluent.Kafka.Tests/CommonHelpers.cs
  tests/Aspire.Confluent.Kafka.Tests/ConsumerConfigurationTests.cs
  tests/Aspire.Confluent.Kafka.Tests/ConsumerConformanceTests.cs
  tests/Aspire.Confluent.Kafka.Tests/MetricsTests.cs
  tests/Aspire.Confluent.Kafka.Tests/ProducerConfigurationTests.cs
  tests/Aspire.Confluent.Kafka.Tests/ProducerConformanceTests.cs
  tests/Aspire.Confluent.Kafka.Tests/ReflectionHelpers.cs
  tests/Aspire.Hosting.Tests/Kafka/KafkaFunctionalTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.AppHost/aspire-manifest.json
  tests/testproject/TestProject.IntegrationServiceA/Kafka/KafkaExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Labels: area-components, community-contribution

#1157 Support redis instrumentation for keyed service
  src/Components/Aspire.StackExchange.Redis/AspireRedisExtensions.cs
  src/Components/Aspire.StackExchange.Redis/TempOpenTelemetry.cs
  tests/Aspire.Components.Common.Tests/ActivityNotifier.cs
  tests/Aspire.StackExchange.Redis.DistributedCaching.Tests/DistributedCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.OutputCaching.Tests/OutputCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/AspireRedisExtensionsTests.cs
Labels: area-components, community-contribution

#1631 Option for providing a path to persist data from the Azurite container
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
Labels: area-app-model, community-contribution

#1658 Validate tokens can be cancelled
  src/Aspire.Hosting/Dashboard/DockerContainerLogSource.cs
  src/Aspire.Hosting/Dashboard/FileLogSource.cs
Labels: area-dashboard

#1661 fix incorrect type of shared RoundRobinServiceEndPointSelectorProvider instance
  src/Microsoft.Extensions.ServiceDiscovery/LoadBalancing/RoundRobinServiceEndPointSelectorProvider.cs
Labels: area-service-discovery, community-contribution

#1666 Add more words to spelling.dic
  spelling.dic
Labels: needs-area-label

#1665 Improve environment variable parsing
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Utils/EnvironmentUtil.cs
Labels: area-dashboard

#1649 Add templates for AppHost & ServiceDefaults projects
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/dotnetcli.host.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/ide.host.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/ide/AspireAppHost.ico
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/Aspire.AppHost1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-apphost/Program.cs
  src/Aspire.ProjectTemplates/templates/aspire-apphost/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/appsettings.Development.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/appsettings.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/dotnetcli.host.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/ide.host.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/ide/AspireServiceDefaults.ico
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Aspire.ServiceDefaults1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Extensions.cs
Labels: area-templates

#1672 Update shas and versions to match released packages
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#1640 Fix documentation on cref with generic types
  src/Aspire.Hosting.Azure/AzureCosmosDBCloudApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Azure/AzureResourceExtensions.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/Node/NodeExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  src/Components/Aspire.Azure.Data.Tables/AspireTablesExtensions.cs
  src/Components/Aspire.Azure.Messaging.ServiceBus/AspireServiceBusExtensions.cs
  src/Components/Aspire.Azure.Security.KeyVault/AspireKeyVaultExtensions.cs
  src/Components/Aspire.Azure.Storage.Blobs/AspireBlobStorageExtensions.cs
  src/Components/Aspire.Azure.Storage.Queues/AspireQueueStorageExtensions.cs
Labels: area-components

#1668 Add option to ignore Cosmos emulator certificate.
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting.Azure/AzureCosmosDBCloudApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Components/Aspire.Microsoft.Azure.Cosmos/Aspire.Microsoft.Azure.Cosmos.csproj
  src/Components/Aspire.Microsoft.Azure.Cosmos/AspireAzureCosmosDBExtensions.cs
  src/Components/Aspire.Microsoft.Azure.Cosmos/AzureCosmosDBSettings.cs
  src/Components/Aspire.Microsoft.Azure.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.Azure.Cosmos/README.md
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/Aspire.Microsoft.EntityFrameworkCore.Cosmos.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/AspireAzureEFCoreCosmosDBExtensions.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/ConfigurationSchema.json
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/EntityFrameworkCoreCosmosDBSettings.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/README.md
  src/Shared/Cosmos/CosmosConstants.cs
  src/Shared/Cosmos/CosmosUtils.cs
  tests/Aspire.Hosting.Tests/Cosmos/CosmosFunctionalTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
  tests/testproject/TestProject.IntegrationServiceA/Cosmos/CosmosExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Labels: area-app-model, area-components, area-codeflow

#1685 Clear logs on console logs parameters change
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
Labels: area-dashboard

#1701 Changing the sample comment to the rollup package for Azure Monitor.
  samples/eShopLite/ServiceDefaults/Extensions.cs
  samples/orleans/OrleansServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/Extensions.cs
Labels: area-templates

#1702 Quick fix for UseEmulator() breaking with AddDatabase().
  src/Aspire.Hosting.Azure/AzureCosmosDBDatabaseResource.cs
Labels: area-app-model

#1667 Run dashboard out-of-process
  samples/dapr/AppHost/DaprAppHost.csproj
  samples/dapr/AppHost/Program.cs
  samples/eShopLite/AppHost/AppHost.csproj
  samples/eShopLite/AppHost/Program.cs
  samples/orleans/OrleansAppHost/OrleansAppHost.csproj
  samples/orleans/OrleansAppHost/Program.cs
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/App.razor
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor.cs
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/ConsoleLogs/TimestampParser.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/Model/KnownProperties.cs
  src/Aspire.Dashboard/Model/KnownResourceTypes.cs
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
  src/Aspire.Dashboard/Model/StructuredLogsViewModel.cs
  src/Aspire.Dashboard/Otlp/Grpc/OtlpLogsService.cs
  src/Aspire.Dashboard/Otlp/Grpc/OtlpMetricsService.cs
  src/Aspire.Dashboard/Otlp/Grpc/OtlpTraceService.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  src/Aspire.Dashboard/Program.cs
  src/Aspire.Dashboard/README.md
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dashboard/ConsoleLogsConfigurationExtensions.cs
  src/Aspire.Hosting/Dashboard/DashboardExtensions.cs
  src/Aspire.Hosting/Dashboard/DashboardWebApplicationHost.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/build/Aspire.Hosting.props
Labels: area-dashboard

#1691 Validate resource name
  src/Aspire.Hosting/ApplicationModel/Resource.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationBuilderTests.cs
  tests/Aspire.Hosting.Tests/ResourceTests.cs
Labels: area-app-model

#1710 Use consistent comparer for resource names
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/Model/KnownProperties.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/Protos/Partials.cs
  src/Aspire.Dashboard/Utils/StringComparers.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
Labels: area-dashboard, area-app-model

#1721 Remove eShopLite Deployment folder
  playground/eShopLite/Deployment/api-gateway.yml
  playground/eShopLite/Deployment/basket-service.yml
  playground/eShopLite/Deployment/catalog-service.yml
  playground/eShopLite/Deployment/cert-manager.yml
  playground/eShopLite/Deployment/deploy.cmd
  playground/eShopLite/Deployment/my-frontend.yml
  playground/eShopLite/Deployment/postgres.yml
  playground/eShopLite/Deployment/redis.yml
  playground/eShopLite/Deployment/undeploy.cmd
  playground/eShopLite/README.md
  playground/eShopLite/deploy.cmd
Labels: needs-area-label

#1684 Change outgoing request to arrow in trace span
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
Labels: area-dashboard

#1697 Add Cosmos playground code.
  .editorconfig
  Aspire.sln
  src/Aspire.Hosting.Azure/AzureCosmosDBDatabaseResource.cs
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.ApiService/CosmosEndToEnd.ApiService.csproj
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.ApiService/CosmosEndToEnd.ApiService.http
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.ApiService/Program.cs
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.ApiService/Properties/launchSettings.json
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.ApiService/appsettings.Development.json
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.ApiService/appsettings.json
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.AppHost/CosmosEndToEnd.AppHost.csproj
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.AppHost/Directory.Build.props
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.AppHost/Directory.Build.targets
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.AppHost/Program.cs
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.AppHost/Properties/launchSettings.json
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.AppHost/appsettings.Development.json
  src/Playgrounds/CosmosEndToEnd/CosmosEndToEnd.AppHost/appsettings.json
  src/Playgrounds/Playground.ServiceDefaults/Extensions.cs
  src/Playgrounds/Playground.ServiceDefaults/Playground.ServiceDefaults.csproj
Labels: area-app-model, area-components

#1739 Move Cosmos playground to where all the other playgrounds are.
  Aspire.sln
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/CosmosEndToEnd.ApiService.csproj
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/CosmosEndToEnd.ApiService.http
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/Program.cs
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/Properties/launchSettings.json
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/appsettings.Development.json
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/appsettings.json
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/CosmosEndToEnd.AppHost.csproj
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Directory.Build.props
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Directory.Build.targets
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Program.cs
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Properties/launchSettings.json
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/appsettings.Development.json
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/appsettings.json
  playground/Playground.ServiceDefaults/Extensions.cs
  playground/Playground.ServiceDefaults/Playground.ServiceDefaults.csproj
Labels: area-samples, needs-area-label

#1713 Enable detailed circuit errors for dashboard in development
  src/Aspire.Dashboard/appsettings.Development.json
Labels: area-dashboard

#1729 Add safe helper method for accessing protected storage
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor.cs
  src/Aspire.Dashboard/Utils/ProtectedLocalStorageExtensions.cs
Labels: area-dashboard

#1712 Validate endpoint names
  src/Aspire.Dashboard/Utils/StringComparers.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ModelName.cs
  src/Aspire.Hosting/ApplicationModel/Resource.cs
  src/Aspire.Hosting/Dcp/DcpDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/AutomaticManifestPublisherBindingInjectionHook.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/ModelNameTests.cs
Labels: area-app-model

#1744 Improve debugger display in app model
  src/Aspire.Hosting/ApplicationModel/EndpointReferenceAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/Resource.cs
  src/Aspire.Hosting/IServiceMetadata.cs
  src/Aspire.Hosting/build/Aspire.Hosting.targets
Labels: area-app-model

#1733 Read details view state on open
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor.cs
Labels: area-dashboard

#1743 Remove DistributedApplicationModel.Name
  src/Aspire.Hosting/ApplicationModel/DistributedApplicationModel.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationBuilderTests.cs
Labels: area-app-model

#1752 Remove unnecessary editorconfig entry
  .editorconfig
Labels: area-codeflow

#1722 Add .npmrc file
  .npmrc
Labels: area-engineering-systems

#1700 Adds FluentIconSwitch component, ensures correct environment variable masking behavior when the resource panel is open
  src/Aspire.Dashboard/Components/Controls/FluentIconSwitch.razor
  src/Aspire.Dashboard/Components/Controls/FluentIconSwitch.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
Labels: area-components

#997 Docker bound volume mounts resolve to OS local path
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-app-model, community-contribution

#1748 Add obsolete WithServiceBinding methods
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
Labels: area-app-model

#1705 [feature/dashboard-oop] Add initial workload targets and manifest entry for dashboard
  eng/dcppack/Aspire.Hosting.Orchestration.targets
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/SDK/AutoImport.props
  src/Aspire.Dashboard/SDK/Sdk.props
  src/Aspire.Dashboard/SDK/Sdk.targets
  src/Aspire.Hosting.Sdk/SDK/Sdk.targets
  src/Aspire.Hosting/build/Aspire.Hosting.targets
  src/Microsoft.NET.Sdk.Aspire/Microsoft.NET.Sdk.Aspire.csproj
  src/Microsoft.NET.Sdk.Aspire/WorkloadManifest.Aspire.targets
  src/Microsoft.NET.Sdk.Aspire/WorkloadManifest.in.json
  src/Microsoft.NET.Sdk.Aspire/WorkloadManifest.in.targets
  src/Microsoft.NET.Sdk.Aspire/WorkloadManifest.targets
Labels: area-app-model

#1750 [dashboard-oop] Dynamic dashboard port
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Utils/EnvironmentUtil.cs
Labels: area-dashboard

#1692 Add WithHttpEndpoint and WithHttpsEndpoint to builder
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
Labels: area-app-model, area-codeflow

#1767 [feature/dashboard-oop] Ensure the dashboard builds as a package for the workload
  eng/dashboardpack/AutoImport.props
  eng/dashboardpack/Sdk.props
  eng/dashboardpack/Sdk.targets
  eng/dashboardpack/dashboardpack.csproj
  eng/workloads/workloads.csproj
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
Labels: area-dashboard

#1749 Rename leftover binding API to endpoint
  src/Aspire.Hosting/ApplicationModel/AllocatedEndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ContainerResource.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/ExecutableResource.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithBindings.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithEndpoints.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithServiceDiscovery.cs
  src/Aspire.Hosting/ApplicationModel/ProjectResource.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/Http2TransportMutationHook.cs
  tests/Aspire.Hosting.Tests/Helpers/AllocatedEndpointAnnotationTestExtensions.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
Labels: area-app-model

#1761 Remove `IServiceEndPointResolver.DisplayName` property and use `ToString()` instead
  src/Microsoft.Extensions.ServiceDiscovery.Abstractions/IServiceEndPointResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery.Dns/DnsServiceEndPointResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery.Dns/DnsServiceEndPointResolverBase.cs
  src/Microsoft.Extensions.ServiceDiscovery.Dns/DnsSrvServiceEndPointResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery/Configuration/ConfigurationServiceEndPointResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery/PassThrough/PassThroughServiceEndPointResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery/ServiceEndPointResolver.Log.cs
  src/Microsoft.Extensions.ServiceDiscovery/ServiceEndPointResolverFactory.Log.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Tests/ServiceEndPointResolverTests.cs
Labels: area-service-discovery

#1717 [dashboard-oop] Launch dashboard as exe
  playground/dapr/AppHost/Properties/launchSettings.json
  playground/eShopLite/AppHost/Program.cs
  playground/eShopLite/AppHost/Properties/launchSettings.json
  playground/eShopLite/AppHost/WorkloadAttributes.cs
  src/Aspire.Dashboard/Program.cs
  src/Aspire.Dashboard/Properties/launchSettings.json
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dashboard/ExecutableSnapshot.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpOptions.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
Labels: area-dashboard, area-app-model, NO-MERGE

#1776 Rename and format
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/KubernetesService.cs
Labels: area-dashboard, area-app-model

#1775 Start dashboard first for playground scenario
  playground/dapr/AppHost/DaprAppHost.csproj
  playground/eShopLite/AppHost/AppHost.csproj
  playground/eShopLite/AppHost/Program.cs
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Utils/KnownResourceNames.cs
  src/Aspire.Hosting/Utils/LinqExtensions.cs
Labels: area-app-model

#1780 fix for renamed methods in commented-out code in Orleans example
  playground/orleans/OrleansAppHost/Program.cs
Labels: area-app-model, community-contribution

#1787 Update Extensions dependency
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#1777 Add API docs to `DcpOptions`
  src/Aspire.Hosting/Dcp/DcpOptions.cs
Labels: area-app-model

#1771 [feature/dashboard-oop] Publish dashboard for specific RIDs before packing
  eng/dashboardpack/Sdk.targets
  eng/dashboardpack/UnixFilePermissions.xml
  eng/dashboardpack/dashboardpack.csproj
  eng/workloads/workloads.csproj
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Microsoft.NET.Sdk.Aspire/WorkloadManifest.in.json
Labels: area-dashboard

#1794 [dashboard-oop] Fix build of OrleansAppHost
  playground/orleans/OrleansAppHost/OrleansAppHost.csproj
Labels: area-engineering-systems

#1763 [ci] Generate binlog for 'build workloads' step
  eng/pipelines/templates/BuildAndTest.yml
Labels: needs-area-label

#1798 [dashboard-oop] Support starting dashboard as DLL or executable
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-app-model

#1804 Fix dashboard startup ordering.
  Directory.Build.props
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-app-model

#1805 [dashboard-oop] PR feedback
  playground/eShopLite/AppHost/Properties/launchSettings.json
  playground/orleans/OrleansAppHost/Properties/launchSettings.json
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/ConsoleLogs/TimestampParser.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dashboard/ConsoleLogsConfigurationExtensions.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Shared/KnownFormats.cs
Labels: area-dashboard

#1811 Enable distributed tracing in Orleans example
  playground/orleans/OrleansServer/Program.cs
Labels: area-codeflow, community-contribution

#1786 Orleans: consistently use env-var syntax for config paths
  src/Aspire.Hosting.Orleans/OrleansServiceExtensions.cs
Labels: area-app-model

#1669 Fix Orleans sample to use AzureProvisioning when not running locally
  playground/orleans/OrleansAppHost/Program.cs
Labels: area-app-model, community-contribution

#1816 Fix dashboard publish pack by adding published assets to tools folder
  eng/dashboardpack/dashboardpack.csproj
Labels: area-dashboard

#1790 [tests] Allow ConfigurationSchema.json tests to run out of repo
  tests/Aspire.Azure.AI.OpenAI.Tests/Aspire.Azure.AI.OpenAI.Tests.csproj
  tests/Aspire.Azure.AI.OpenAI.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Data.Tables.Tests/Aspire.Azure.Data.Tables.Tests.csproj
  tests/Aspire.Azure.Data.Tables.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/Aspire.Azure.Messaging.ServiceBus.Tests.csproj
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Security.KeyVault.Tests/Aspire.Azure.Security.KeyVault.Tests.csproj
  tests/Aspire.Azure.Security.KeyVault.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Blobs.Tests/Aspire.Azure.Storage.Blobs.Tests.csproj
  tests/Aspire.Azure.Storage.Blobs.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Queues.Tests/Aspire.Azure.Storage.Queues.Tests.csproj
  tests/Aspire.Azure.Storage.Queues.Tests/ConformanceTests.cs
  tests/Aspire.Components.Common.Tests/ConformanceTests.cs
  tests/Aspire.Confluent.Kafka.Tests/Aspire.Confluent.Kafka.Tests.csproj
  tests/Aspire.Confluent.Kafka.Tests/ConsumerConformanceTests.cs
  tests/Aspire.Confluent.Kafka.Tests/ProducerConformanceTests.cs
  tests/Aspire.Microsoft.Azure.Cosmos.Tests/Aspire.Microsoft.Azure.Cosmos.Tests.csproj
  tests/Aspire.Microsoft.Azure.Cosmos.Tests/ConformanceTests.cs
  tests/Aspire.Microsoft.Data.SqlClient.Tests/Aspire.Microsoft.Data.SqlClient.Tests.csproj
  tests/Aspire.Microsoft.Data.SqlClient.Tests/ConformanceTests.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests.csproj
  tests/Aspire.Microsoft.EntityFrameworkCore.Cosmos.Tests/ConformanceTests_Pooling.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests.csproj
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/ConformanceTests_Pooling.cs
  tests/Aspire.MongoDB.Driver.Tests/Aspire.MongoDB.Driver.Tests.csproj
  tests/Aspire.MongoDB.Driver.Tests/ConformanceTests.cs
  tests/Aspire.MySqlConnector.Tests/Aspire.MySqlConnector.Tests.csproj
  tests/Aspire.MySqlConnector.Tests/ConformanceTests.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests.csproj
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/ConformanceTests_Pooling.cs
  tests/Aspire.Npgsql.Tests/Aspire.Npgsql.Tests.csproj
  tests/Aspire.Npgsql.Tests/ConformanceTests.cs
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/Aspire.Oracle.EntityFrameworkCore.Tests.csproj
  tests/Aspire.Oracle.EntityFrameworkCore.Tests/ConformanceTests_Pooling.cs
  tests/Aspire.RabbitMQ.Client.Tests/Aspire.RabbitMQ.Client.Tests.csproj
  tests/Aspire.RabbitMQ.Client.Tests/ConformanceTests.cs
  tests/Aspire.StackExchange.Redis.DistributedCaching.Tests/Aspire.StackExchange.Redis.DistributedCaching.Tests.csproj
  tests/Aspire.StackExchange.Redis.DistributedCaching.Tests/DistributedCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.OutputCaching.Tests/Aspire.StackExchange.Redis.OutputCaching.Tests.csproj
  tests/Aspire.StackExchange.Redis.OutputCaching.Tests/OutputCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/Aspire.StackExchange.Redis.Tests.csproj
  tests/Aspire.StackExchange.Redis.Tests/ConformanceTests.cs
Labels: area-components

#1824 Update 9.0 SDK band to preview.1
  eng/Versions.props
Labels: area-codeflow

#1814 Fix Aspire title not displayed on telemetry pages
  src/Aspire.Dashboard/Model/DashboardClient.cs
Labels: area-dashboard

#1726 Refactor ProjectReferences in AppHost
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/CosmosEndToEnd.AppHost.csproj
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Directory.Build.targets
  playground/dapr/AppHost/DaprAppHost.csproj
  playground/dapr/AppHost/Directory.Build.targets
  playground/eShopLite/AppHost/AppHost.csproj
  playground/eShopLite/AppHost/Directory.Build.targets
  playground/orleans/OrleansAppHost/Directory.Build.targets
  playground/orleans/OrleansAppHost/OrleansAppHost.csproj
  playground/orleans/OrleansAppHost/Program.cs
  src/Aspire.Hosting.Sdk/SDK/Sdk.targets
  src/Aspire.Hosting/ApplicationModel/ProjectResourceExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/IProjectMetadata.cs
  src/Aspire.Hosting/Properties/Resources.Designer.cs
  src/Aspire.Hosting/Properties/Resources.resx
  src/Aspire.Hosting/Properties/xlf/Resources.cs.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.de.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.es.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.fr.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.it.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ja.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ko.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.pl.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.pt-BR.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ru.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.tr.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.zh-Hans.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.zh-Hant.xlf
  src/Aspire.Hosting/Publishing/AutomaticManifestPublisherBindingInjectionHook.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  src/Aspire.Hosting/Utils/LaunchProfileExtensions.cs
  src/Aspire.Hosting/build/Aspire.Hosting.targets
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/MSBuildTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/testproject/TestProject.AppHost/Directory.Build.targets
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
Labels: area-app-model

#1826 Update orchestration discovery properties
  eng/dcppack/Aspire.Hosting.Orchestration.targets
  src/Aspire.Hosting/build/Aspire.Hosting.targets
Labels: area-components

#1827 Ensure we actually include the workload manifest targets in the package
  src/Microsoft.NET.Sdk.Aspire/Microsoft.NET.Sdk.Aspire.csproj
Labels: needs-area-label

#1830 Fix leftover protected storage get
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor.cs
Labels: area-dashboard

#1829 Expand env vars in resource details by default
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
Labels: area-dashboard

#1832 Ensure the targets end up in the data path instead of content
  src/Microsoft.NET.Sdk.Aspire/Microsoft.NET.Sdk.Aspire.csproj
Labels: area-components

#1834 Show dashboard in other dashboard projects.
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Properties/launchSettings.json
  playground/dapr/AppHost/Properties/launchSettings.json
Labels: area-dashboard

#1835 Add containerName property to DCP spec and status
  src/Aspire.Hosting/Dcp/Model/Container.cs
Labels: area-app-model

#1833 Increase wait timeout for the dashboard
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-dashboard

#1815 Allow dashboard to run without resource service
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Components/Layout/NavMenu.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/Model/IDashboardClient.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Utils/StringComparers.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Utils/EnvironmentUtil.cs
  src/Aspire.Hosting/Utils/IEnvironmentVariables.cs
  tests/Aspire.Dashboard.Tests/MockEnvironmentVariables.cs
  tests/Aspire.Dashboard.Tests/Model/DashboardClientTests.cs
  tests/Aspire.Hosting.Tests/Helpers/KubernetesHelper.cs
Labels: area-dashboard

#1837 Make dashboard innerloop magical
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Program.cs
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Properties/launchSettings.json
  playground/dapr/AppHost/Program.cs
  playground/dapr/AppHost/Properties/launchSettings.json
  playground/eShopLite/AppHost/Program.cs
  playground/eShopLite/AppHost/Properties/launchSettings.json
  playground/orleans/OrleansAppHost/Program.cs
  playground/orleans/OrleansAppHost/Properties/launchSettings.json
  src/Aspire.Dashboard/Properties/launchSettings.json
  src/Aspire.Hosting/ApplicationModel/LaunchProfileAnnotation.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
Labels: area-app-model

#1843 Re-add Resources logs column, fix de-localized column headers
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
Labels: area-dashboard

#1842 Remove args and working directory for Source column
  src/Aspire.Dashboard/Components/ResourcesGridColumns/SourceColumnDisplay.razor
  src/Aspire.Dashboard/Resources/Columns.Designer.cs
  src/Aspire.Dashboard/Resources/Columns.resx
  src/Aspire.Dashboard/Resources/xlf/Columns.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hant.xlf
Labels: area-dashboard

#1853 Change default port for dashboard applicationUrl
  src/Aspire.Dashboard/Properties/launchSettings.json
Labels: area-dashboard

#1838 Fix horizontal overflow in metrics filter popup
  src/Aspire.Dashboard/Components/Controls/ChartContainer.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.css
Labels: area-dashboard

#1856 Remove unused "known property" getter methods
  src/Aspire.Dashboard/Model/ResourceViewModelExtensions.cs
Labels: area-dashboard

#1854 Update dashboard README
  src/Aspire.Dashboard/README.md
Labels: documentation, area-dashboard

#1861 Fix trace detail page's gap between trace ticks
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
Labels: area-dashboard

#1870 Fix SQL server resource version
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
Labels: area-app-model

#1161 Add Pomelo.EntityFrameworkCore.MySql component
  Aspire.sln
  Directory.Packages.props
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/Aspire.Pomelo.EntityFrameworkCore.MySql.csproj
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/AspireEFMySqlExtensions.cs
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/AssemblyInfo.cs
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/ConfigurationSchema.json
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/PomeloEntityFrameworkCoreMySqlSettings.cs
  src/Components/Aspire.Pomelo.EntityFrameworkCore.MySql/README.md
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/MySql/PomeloEFCoreMySqlFunctionalTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests.csproj
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/AspireEFMySqlExtensionsTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConfigurationTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests_NoPooling.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests_NoPooling_TypeSpecificConfig.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests_Pooling.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests_Pooling_TypeSpecificConfig.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/PomeloDbContext.cs
  tests/testproject/TestProject.IntegrationServiceA/MySql/PomeloEFCoreMySqlExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Labels: area-components, community-contribution

#1862 Fix TryAddWillNotAddTheSameLifecycleHook test.
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/DummyLifecycleHook.cs
Labels: area-app-model

#1876 Use the right health check properties in ServiceBus README.
  src/Components/Aspire.Azure.Messaging.ServiceBus/README.md
Labels: area-components

#1865 Trace detail page - customize peer icons based on span attributes
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
Labels: area-dashboard

#1883 Update SqlServerBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
Labels: area-codeflow

#1884 Fix Storage Queue and Cosmos EF READMEs
  src/Components/Aspire.Azure.Storage.Queues/README.md
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/README.md
Labels: area-components

#1886 remove link in name column
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor.cs
Labels: area-dashboard

#1858 Orleans: enable distributed tracing by default
  src/Aspire.Hosting.Orleans/OrleansService.cs
  src/Aspire.Hosting.Orleans/OrleansServiceExtensions.cs
Labels: area-app-model

#1887 add failedtostart error icon to state
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
Labels: area-dashboard

#1889 Fix grid layout issue
  src/Aspire.Dashboard/Components/Pages/Resources.razor.css
Labels: area-dashboard

#1863 Fix inconsistent trace detail spacing
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
Labels: area-dashboard

#1895 Playground app for SQL Server resources (uses EF).
  Aspire.sln
  playground/SqlServerEndToEnd/SqlServerEndToEnd.ApiService/Program.cs
  playground/SqlServerEndToEnd/SqlServerEndToEnd.ApiService/Properties/launchSettings.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.ApiService/SqlServerEndToEnd.ApiService.csproj
  playground/SqlServerEndToEnd/SqlServerEndToEnd.ApiService/SqlServerEndToEnd.ApiService.http
  playground/SqlServerEndToEnd/SqlServerEndToEnd.ApiService/appsettings.Development.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.ApiService/appsettings.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/Directory.Build.props
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/Directory.Build.targets
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/Program.cs
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/Properties/launchSettings.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/SqlServerEndToEnd.AppHost.csproj
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/appsettings.Development.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/appsettings.json
Labels: area-app-model, area-components

#1893 Enable Signing on release branch
  eng/pipelines/common-variables.yml
Labels: area-codeflow

#1892 Branding changes for preview 4
  eng/Versions.props
Labels: area-codeflow

#1901 Fix dashboard not working with two applicationUrls specified.
  playground/eShopLite/AppHost/Properties/launchSettings.json
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-dashboard

#1904 Remove unnecessary code from AppHost in Orleans playground
  playground/orleans/OrleansAppHost/Program.cs
Labels: area-app-model, community-contribution

#1910 Extending build timeout
  eng/pipelines/azure-pipelines.yml
Labels: area-engineering-systems

#1921 Added a mongo playground project
  Aspire.sln
  playground/mongo/Mongo.ApiService/Mongo.ApiService.csproj
  playground/mongo/Mongo.ApiService/Mongo.ApiService.http
  playground/mongo/Mongo.ApiService/Program.cs
  playground/mongo/Mongo.ApiService/Properties/launchSettings.json
  playground/mongo/Mongo.ApiService/appsettings.Development.json
  playground/mongo/Mongo.ApiService/appsettings.json
  playground/mongo/Mongo.AppHost/Directory.Build.props
  playground/mongo/Mongo.AppHost/Directory.Build.targets
  playground/mongo/Mongo.AppHost/Mongo.AppHost.csproj
  playground/mongo/Mongo.AppHost/Program.cs
  playground/mongo/Mongo.AppHost/Properties/launchSettings.json
  playground/mongo/Mongo.AppHost/appsettings.Development.json
  playground/mongo/Mongo.AppHost/appsettings.json
Labels: area-components

#1772 Consistent resource type XML docs
  src/Aspire.Hosting.Azure/AzureAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureKeyVaultResource.cs
  src/Aspire.Hosting/ApplicationModel/ContainerResource.cs
  src/Aspire.Hosting/ApplicationModel/ExecutableResource.cs
  src/Aspire.Hosting/ApplicationModel/ProjectResource.cs
  src/Aspire.Hosting/Kafka/KafkaContainerResource.cs
  src/Aspire.Hosting/Node/NodeAppResource.cs
  src/Aspire.Hosting/OpenAI/OpenAIResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  src/Aspire.Hosting/Redis/RedisResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerDatabaseResource.cs
Labels: area-app-model

#1923 Removed static web assets from aspire hosting
  src/Aspire.Hosting/build/Aspire.Hosting.targets
Labels: area-components

#1929 Extending the build timeout as signing is taking longer than expected.
  eng/pipelines/azure-pipelines.yml
Labels: area-engineering-systems

#1932 Transform outgoing address to try to find a resource match
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
Labels: area-dashboard

#1746 Improve environment variable debugging in the app model
  src/Aspire.Hosting/ApplicationModel/EnvironmentAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackAnnotation.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
Labels: area-dashboard

#1751 Move shared code to shared directory
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/CosmosEndToEnd.AppHost.csproj
  playground/dapr/AppHost/DaprAppHost.csproj
  playground/eShopLite/AppHost/AppHost.csproj
  playground/orleans/OrleansAppHost/OrleansAppHost.csproj
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dashboard/DockerContainerLogSource.cs
  src/Aspire.Hosting/Dashboard/FileLogSource.cs
  src/Aspire.Hosting/Dashboard/ResourcePublisher.cs
  src/Shared/ChannelExtensions.cs
  src/Shared/IEnvironmentVariables.cs
  src/Shared/KnownResourceNames.cs
  src/Shared/Model/KnownProperties.cs
  src/Shared/Model/KnownResourceTypes.cs
  src/Shared/StringComparers.cs
Labels: area-dashboard, area-app-model

#1937 Fixed build from shared code change
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/SqlServerEndToEnd.AppHost.csproj
  playground/mongo/Mongo.AppHost/Mongo.AppHost.csproj
Labels: area-dashboard

#1323 Allow collapsing operations in the trace view
  spelling.dic
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
  src/Aspire.Dashboard/Model/Otlp/SpanWaterfallViewModel.cs
Labels: area-dashboard, community-contribution

#1891 Update Extensions to preview 1 versions
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow
