Repository dotnet/aspire, pull requests merged in 2024-05, with the labels that each got.

#4040 Use GA Azure.Provisioning.ApplicationInsights package.
  Directory.Packages.props
  playground/cdk/CdkSample.AppHost/Program.cs
Labels: area-app-model

#3996 Add overload to WithEnvironment for ReferenceExpression
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
Labels: area-app-model, community-contribution

#4036 Improve test coverage for YARP Service Discovery and fix issues found
  Aspire.sln
  src/Microsoft.Extensions.ServiceDiscovery.Abstractions/Internal/ServiceEndpointImpl.cs
  src/Microsoft.Extensions.ServiceDiscovery.Yarp/Microsoft.Extensions.ServiceDiscovery.Yarp.csproj
  src/Microsoft.Extensions.ServiceDiscovery.Yarp/ServiceDiscoveryDestinationResolver.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Yarp.Tests/Microsoft.Extensions.ServiceDiscovery.Yarp.Tests.csproj
  tests/Microsoft.Extensions.ServiceDiscovery.Yarp.Tests/YarpServiceDiscoveryTests.cs
Labels: area-service-discovery

#4052 Move Cancel call outside of lock and add additional error handling
  src/Microsoft.Extensions.ServiceDiscovery/ServiceEndpointWatcher.cs
Labels: area-service-discovery

#4053 [release/8.0] Port translations from main
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
Labels: area-codeflow, Servicing-approved

#3871 Adding Schema property to manifest.
  playground/AWS/AWS.AppHost/aspire-manifest.json
  playground/AspireEventHub/EventHubs.AppHost/Properties/launchSettings.json
  playground/AspireEventHub/EventHubs.AppHost/aspire-manifest.json
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/aspire-manifest.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/aspire-manifest.json
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/aspire-manifest.json
  playground/CustomResources/CustomResources.AppHost/aspire-manifest.json
  playground/DatabaseMigration/DatabaseMigration.AppHost/aspire-manifest.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/aspire-manifest.json
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/aspire-manifest.json
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/aspire-manifest.json
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/aspire-manifest.json
  playground/Qdrant/Qdrant.AppHost/Properties/launchSettings.json
  playground/Qdrant/Qdrant.AppHost/aspire-manifest.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/aspire-manifest.json
  playground/Stress/Stress.AppHost/aspire-manifest.json
  playground/TestShop/AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/dapr/AppHost/aspire-manifest.json
  playground/mongo/Mongo.AppHost/aspire-manifest.json
  playground/mysql/MySqlDb.AppHost/aspire-manifest.json
  playground/nats/Nats.AppHost/aspire-manifest.json
  playground/orleans/OrleansAppHost/aspire-manifest.json
  playground/seq/Seq.AppHost/aspire-manifest.json
  playground/signalr/SignalRAppHost/aspire-manifest.json
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Schema/aspire-8.0.json
  src/Shared/SchemaUtils.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/cosmos.module.bicep
Labels: area-app-model

#4047 Fix starter template CSS
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/wwwroot/app.css
Labels: area-templates

#4043 Test templates fixes
  src/Aspire.Hosting.AppHost/build/Aspire.Hosting.AppHost.targets
  src/Aspire.ProjectTemplates/templates/aspire-mstest/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-mstest/IntegrationTest1.cs
  src/Aspire.ProjectTemplates/templates/aspire-nunit/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-nunit/IntegrationTest1.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.en.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.ApiService/Aspire-StarterApplication.1.ApiService.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.ApiService/Program.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.ApiService/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.ApiService/appsettings.Development.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.ApiService/appsettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.AppHost/Aspire-StarterApplication.1.AppHost.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.AppHost/Program.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.AppHost/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.AppHost/appsettings.Development.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.AppHost/appsettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.ServiceDefaults/Aspire-StarterApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Tests/Aspire-StarterApplication.1.Tests.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Tests/WebTests.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Aspire-StarterApplication.1.Web.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/App.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/Layout/MainLayout.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/Layout/MainLayout.razor.css
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/Layout/NavMenu.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/Layout/NavMenu.razor.css
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/Pages/Counter.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/Pages/Error.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/Pages/Home.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/Pages/Weather.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/Routes.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Components/_Imports.razor
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Program.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/WeatherApiClient.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/appsettings.Development.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/appsettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/wwwroot/app.css
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/wwwroot/bootstrap/bootstrap.min.css
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/wwwroot/bootstrap/bootstrap.min.css.map
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.Web/wwwroot/favicon.png
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.sln
Labels: area-templates

#4068 Port translations from main (#4053)
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
Labels: area-dashboard

#2910 Add gauge example to stress playground
  playground/Stress/Stress.TelemetryService/GaugeMetrics.cs
  playground/Stress/Stress.TelemetryService/Program.cs
  playground/Stress/Stress.TelemetryService/TelemetryStresser.cs
Labels: area-dashboard

#3982 Removing IVT where possible Attempt 2
  src/Aspire.Hosting.Dapr/Aspire.Hosting.Dapr.csproj
  src/Aspire.Hosting.MongoDB/Aspire.Hosting.MongoDB.csproj
  src/Aspire.Hosting.Qdrant/Aspire.Hosting.Qdrant.csproj
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting.Redis/RedisPersistenceCommandLineArgsCallbackAnnotation.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
Labels: area-codeflow, community-contribution

#4069 YARP: add special-case for localhost when setting Host value
  src/Microsoft.Extensions.ServiceDiscovery.Yarp/ServiceDiscoveryDestinationResolver.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Yarp.Tests/YarpServiceDiscoveryTests.cs
Labels: area-service-discovery

#3882 Add KafkaUI. Add a kafka playground too.
  Aspire.sln
  playground/kafka/Consumer/Consumer.csproj
  playground/kafka/Consumer/ConsumerWorker.cs
  playground/kafka/Consumer/Program.cs
  playground/kafka/Consumer/appsettings.Development.json
  playground/kafka/Consumer/appsettings.json
  playground/kafka/KafkaBasic.AppHost/Directory.Build.props
  playground/kafka/KafkaBasic.AppHost/Directory.Build.targets
  playground/kafka/KafkaBasic.AppHost/KafkaBasic.AppHost.csproj
  playground/kafka/KafkaBasic.AppHost/Program.cs
  playground/kafka/KafkaBasic.AppHost/Properties/launchSettings.json
  playground/kafka/KafkaBasic.AppHost/appsettings.Development.json
  playground/kafka/KafkaBasic.AppHost/appsettings.json
  playground/kafka/Producer/ContinuousProducerWorker.cs
  playground/kafka/Producer/IntermittentProducerWorker.cs
  playground/kafka/Producer/Producer.csproj
  playground/kafka/Producer/Program.cs
  playground/kafka/Producer/appsettings.Development.json
  playground/kafka/Producer/appsettings.json
  src/Aspire.Hosting.Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting.Kafka/KafkaContainerImageTags.cs
  src/Aspire.Hosting.Kafka/KafkaServerResource.cs
  src/Aspire.Hosting.Kafka/KafkaUIConfigWriterHook.cs
  src/Aspire.Hosting.Kafka/KafkaUIResource.cs
  src/Aspire.Hosting.Kafka/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Tests/Kafka/AddKafkaTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model, area-components, community-contribution

#4095 Move comments outside of code blocks
  docs/using-latest-daily.md
Labels: area-components

#3785 [release/8.0] Start producing stable packages
  eng/Versions.props
  tests/Aspire.EndToEnd.Tests/Directory.Build.targets
  tests/testproject/Directory.Packages.Helix.props
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Labels: area-components, Servicing-approved

#4096 Remove Prometheus commented out code that does not work
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/Extensions.cs
Labels: area-codeflow, Servicing-approved

#4126 Update some Azure AI branding
  src/Aspire.Hosting.Azure.CognitiveServices/README.md
  src/Aspire.Hosting.Azure.Search/AzureSearchExtensions.cs
  src/Aspire.Hosting.Azure.Search/README.md
  src/Components/Aspire.Azure.AI.OpenAI/README.md
  src/Components/Aspire.Azure.Search.Documents/Aspire.Azure.Search.Documents.csproj
  src/Components/Aspire.Azure.Search.Documents/AzureSearchSettings.cs
  src/Components/Aspire.Azure.Search.Documents/ConfigurationSchema.json
  src/Components/Aspire.Azure.Search.Documents/README.md
Labels: area-codeflow

#4093 [tests] Misc improvements for workload based tests
  Directory.Build.props
  tests/Aspire.EndToEnd.Tests/Aspire.EndToEnd.Tests.csproj
  tests/Aspire.EndToEnd.Tests/Directory.Build.props
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/Directory.Build.props
  tests/Directory.Build.targets
  tests/README.md
  tests/Shared/WorkloadTesting/AspireProject.cs
  tests/Shared/WorkloadTesting/BuildEnvironment.cs
  tests/Shared/WorkloadTesting/DotNetCommand.cs
  tests/Shared/WorkloadTesting/ProcessExtensions.cs
  tests/Shared/WorkloadTesting/RunCommand.cs
  tests/Shared/WorkloadTesting/ToolCommand.cs
  tests/helix/send-to-helix-basictests.targets
  tests/helix/send-to-helix-ci.proj
  tests/helix/send-to-helix-endtoendtests.targets
  tests/helix/send-to-helix-inner.proj
  tests/workloads.proj
Labels: area-components, testing ☑️

#4133 Fixed typo in doc comment in RabbitMQServerResource.
  src/Aspire.Hosting.RabbitMQ/RabbitMQServerResource.cs
Labels: area-app-model, community-contribution

#4057 Remove unused resources
  src/Aspire.Hosting/Properties/Resources.resx
  src/Aspire.Hosting/Properties/xlf/Resources.cs.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.de.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.es.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.fr.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.it.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ja.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ko.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.pl.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.pt-BR.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.ru.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.tr.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.zh-Hans.xlf
  src/Aspire.Hosting/Properties/xlf/Resources.zh-Hant.xlf
Labels: area-app-model

#3881 Improve filtering of log messages when there are duplicate attributes
  playground/Stress/Stress.ApiService/Program.cs
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor.cs
  src/Aspire.Dashboard/Model/Otlp/LogDialogFormModel.cs
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
Labels: area-dashboard

#4169 Fix workload manifest description to remove Preview string
  src/Microsoft.NET.Sdk.Aspire/WorkloadManifest.in.json
Labels: area-codeflow

#4071 Ensure endpoint names are unique to avoid failures later in execution.
  src/Aspire.Hosting.Orleans/OrleansServiceClientExtensions.cs
  src/Aspire.Hosting.Orleans/OrleansServiceExtensions.cs
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
Labels: area-app-model

#4176 Removing constraint from templates to avoid SDK multithreading issue
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-mstest/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-nunit/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/template.json
Labels: area-templates

#4191 Set read permissions to allow pgadmin container to read the generated config file
  src/Aspire.Hosting.PostgreSQL/PgAdminConfigWriterHook.cs
Labels: area-app-model

#4194 Bumping npgsql dependencies because of CVE-2024-32655.
  Directory.Packages.props
Labels: area-components

#4183 Special case time 0 display in trace times
  src/Aspire.Dashboard/Otlp/Model/DurationFormatter.cs
  tests/Aspire.Dashboard.Tests/DurationFormatterTests.cs
Labels: area-dashboard, community-contribution

#4181 [release/8.0] Remove constraint from templates for 8.0.1
  eng/Versions.props
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/template.json
  tests/testproject/Directory.Packages.Helix.props
Labels: area-codeflow, Servicing-approved

#4203 Updating dependencies to latest versions in NuGet
  Directory.Packages.props
  NuGet.config
  src/Components/Aspire.Azure.Storage.Blobs/ConfigurationSchema.json
Labels: area-components

#4153 Add response compression for static assets to the dashboard
  src/Aspire.Dashboard/DashboardWebApplication.cs
  tests/Aspire.Dashboard.Tests/Aspire.Dashboard.Tests.csproj
  tests/Aspire.Dashboard.Tests/Integration/ResponseCompressionTests.cs
Labels: area-dashboard

#4210 Update Arcade to get Wix fix
  eng/Version.Details.xml
  eng/Versions.props
  eng/common/templates-official/job/source-index-stage1.yml
  eng/common/templates/job/source-index-stage1.yml
  global.json
Labels: area-codeflow, Servicing-approved

#4207 Changing the title of the Aspire starter project
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.en.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.en.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
Labels: area-templates

#4118 Correct XML Docs for `RabbitMqServerResource.PrimaryEndpoint`
  src/Aspire.Hosting.Oracle/OracleDatabaseServerResource.cs
  src/Aspire.Hosting.PostgreSQL/PostgresServerResource.cs
  src/Aspire.Hosting.RabbitMQ/RabbitMQServerResource.cs
  src/Aspire.Hosting.SqlServer/SqlServerServerResource.cs
Labels: area-app-model, community-contribution

#4243 A11Y - Fix options under 'Type filter' button are not accessible by keyboard
  src/Aspire.Dashboard/Components/Pages/Resources.razor
Labels: area-dashboard, community-contribution

#4226 Fix port/targetport fallback logic in proxyless path
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
Labels: area-app-model, community-contribution

#4259 [tests] Fix installing workload for tests on Windows in the internal pipeline
  eng/Version.Details.xml
  eng/Versions.props
  eng/pipelines/templates/BuildAndTest.yml
  tests/helix/send-to-helix-ci.proj
Labels: testing ☑️

#3402 Localize "Unknown" resource state label
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Resources/Columns.Designer.cs
  src/Aspire.Dashboard/Resources/Columns.resx
  src/Aspire.Dashboard/Resources/xlf/Columns.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Columns.zh-Hant.xlf
Labels: area-dashboard

#3824 Add resource service auth tests (Unsecured, ApiKey)
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/ResourceService/DashboardClient.cs
  src/Aspire.Dashboard/ResourceService/IDashboardClient.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
  tests/Aspire.Dashboard.Tests/Integration/DashboardClientAuthTests.cs
  tests/Aspire.Dashboard.Tests/Model/DashboardClientTests.cs
Labels: area-dashboard, security 🔐, testing ☑️

#3692 Add integration test for OpenIDConnect
  spelling.dic
  tests/Aspire.Dashboard.Tests/Integration/FrontendBrowserTokenAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendOpenIdConnectAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/IntegrationTestHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/MockOpenIdAuthority.cs
Labels: area-dashboard, security 🔐, testing ☑️

#4273 Restore sln project guids
  Aspire.sln
Labels: area-components

#4279 Fix Azurite support
  src/Aspire.Hosting.Azure.Storage/AzureStorageExtensions.cs
Labels: area-components

#4262 Update README.md
  src/Aspire.Hosting.Redis/README.md
Labels: area-engineering-systems, community-contribution

#4260 [tests] Workload tests follow up
  tests/Aspire.Components.Common.Tests/RequiresDockerAttribute.cs
  tests/Aspire.Components.Common.Tests/RequiresDockerDiscoverer.cs
  tests/Aspire.Components.Common.Tests/RequiresDockerTheoryAttribute.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/Aspire.Microsoft.Data.SqlClient.Tests/ConformanceTests.cs
  tests/Aspire.Microsoft.Data.SqlClient.Tests/SqlServerContainerFixture.cs
  tests/Aspire.Microsoft.EntityFrameworkCore.SqlServer.Tests/ConformanceTests.cs
  tests/Aspire.MongoDB.Driver.Tests/AspireMongoDBDriverExtensionsTests.cs
  tests/Aspire.MongoDB.Driver.Tests/ConformanceTests.cs
  tests/Aspire.MongoDB.Driver.Tests/MongoDbContainerFixture.cs
  tests/Aspire.MySqlConnector.Tests/AspireMySqlConnectorExtensionsTests.cs
  tests/Aspire.MySqlConnector.Tests/ConformanceTests.cs
  tests/Aspire.MySqlConnector.Tests/MySqlContainerFixture.cs
  tests/Aspire.NATS.Net.Tests/AspireNatsClientExtensionsTests.cs
  tests/Aspire.NATS.Net.Tests/ConformanceTests.cs
  tests/Aspire.NATS.Net.Tests/NatsContainerFixture.cs
  tests/Aspire.Npgsql.EntityFrameworkCore.PostgreSQL.Tests/ConformanceTests.cs
  tests/Aspire.Npgsql.Tests/ConformanceTests.cs
  tests/Aspire.Npgsql.Tests/PostgreSQLContainerFixture.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/AspireEFMySqlExtensionsTests.cs
  tests/Aspire.Pomelo.EntityFrameworkCore.MySql.Tests/ConformanceTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQExtensionsTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQLoggingTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/ConformanceTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/RabbitMQContainerFixture.cs
  tests/Aspire.StackExchange.Redis.DistributedCaching.Tests/DistributedCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.OutputCaching.Tests/OutputCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/AspireRedisExtensionsTests.cs
  tests/Aspire.StackExchange.Redis.Tests/ConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/RedisContainerFixture.cs
  tests/Aspire.Workload.Tests/Aspire.Workload.Tests.csproj
  tests/Aspire.Workload.Tests/StarterTemplateWithRedisCacheTests.cs
  tests/Directory.Build.targets
  tests/Shared/WorkloadTesting/Aspire.Shared.WorkloadTesting.targets
  tests/Shared/WorkloadTesting/AspireProject.cs
  tests/Shared/WorkloadTesting/BuildEnvironment.cs
Labels: testing ☑️

#4321 Fix lint failures
  .github/workflows/markdownlint.yml
Labels: area-engineering-systems

#4270 Update Component docs
  src/Components/README.md
  tests/Aspire.EndToEnd.Tests/README.md
Labels: area-components

#4329 Localize "Attributes", fix nested data grid swallowing events issue
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
Labels: area-dashboard

#4331 Improve error handling in DistributedApplicationFactory
  src/Aspire.Hosting.Testing/DistributedApplicationFactory.cs
  src/Aspire.Hosting.Testing/DistributedApplicationTestingBuilder.cs
  src/Aspire.Hosting.Testing/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Testing.Tests/DistributedApplicationFixtureOfT.cs
  tests/Aspire.Hosting.Testing.Tests/TestingBuilderTests.cs
  tests/Aspire.Hosting.Testing.Tests/TestingFactoryCrashTests.cs
  tests/TestingAppHost1/TestingAppHost1.AppHost/Program.cs
Labels: area-app-model

#4345 Fix Aspire.Hosting.Azure.CognitiveServices package description and tags
  src/Aspire.Hosting.Azure.CognitiveServices/Aspire.Hosting.Azure.CognitiveServices.csproj
Labels: area-components
