Repository dotnet/aspire, pull requests merged in 2024-09, with the labels that each got.

#5504 Fix preview version given we have shipped 3 previews already
  eng/Versions.props
Labels: area-codeflow

#5499 Fix dashboard auth when unsecured
  src/Aspire.Dashboard/Authentication/FrontendCompositeAuthenticationHandler.cs
  src/Aspire.Dashboard/Authentication/UnsecuredAuthenticationHandler.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/AppBarTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/PlaywrightFixture.cs
Labels: area-dashboard

#5527 Fix empty trace name when there is no root span
  src/Aspire.Dashboard/Otlp/Model/OtlpTrace.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
  tests/Shared/Telemetry/TelemetryTestHelpers.cs
Labels: area-dashboard

#5524 Prevent duplicate filters on structured logs page
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
  src/Aspire.Dashboard/Model/StructuredLogsViewModel.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/StructuredLogsTests.cs
Labels: area-dashboard

#5522 Fix various bugs in dashboard metrics
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor
  src/Aspire.Dashboard/Components/Dialogs/ExemplarsDialog.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/wwwroot/js/app-metrics.js
  tests/Aspire.Dashboard.Components.Tests/Pages/MetricsTests.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/MetricsSetupHelpers.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/TestSessionStorage.cs
Labels: area-dashboard

#5417 [ci] Internal build: build packages, and workload nugets only once
  eng/pipelines/templates/BuildAndTest.yml
  tests/Shared/Aspire.Workload.Testing.targets
Labels: area-engineering-systems

#5534 Suppress gRPC resource service error in host console
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
Labels: area-app-model

#5514 Add browser token authentication Playwright tests
  src/Aspire.Dashboard/Components/Pages/Login.razor
  tests/Aspire.Dashboard.Tests/Integration/Playwright/AppBarTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/BrowserTokenAuthenticationTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/DashboardServerFixture.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/MockDashboardClient.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/PlaywrightFixture.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/PlaywrightTestsBase.cs
Labels: area-dashboard

#5471 Fixing unintended formatting changes
  src/Aspire.Hosting.Sdk/SDK/Sdk.targets
Labels: area-app-model

#5539 chore: Bump Testcontainers to version 3.10.0
  Directory.Packages.props
  tests/Aspire.Microsoft.Data.SqlClient.Tests/SqlServerContainerFixture.cs
Labels: area-components, community-contribution

#5547 Add new DCP schema
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/Dcp/Model/ContainerExec.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
  src/Aspire.Hosting/Dcp/Model/ExecutableReplicaSet.cs
  src/Aspire.Hosting/Dcp/Model/GroupVersion.cs
  src/Aspire.Hosting/Dcp/Model/ModelCommon.cs
Labels: area-app-model

#5540 Allow Dashboard application to roll-forward
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
Labels: area-dashboard

#5516 Commands glow up
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceCommands.razor
  src/Aspire.Dashboard/Components/Controls/ResourceCommands.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/MenuButtonItem.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
  tests/Aspire.Workload.Tests/WorkloadTestsBase.cs
Labels: area-dashboard

#5566 chmod +x start-code.sh
  start-code.sh
Labels: area-engineering-systems

#5515 WaitFor integration with Health Check Service
  Aspire.sln
  playground/waitfor/WaitForSandbox.ApiService/Program.cs
  playground/waitfor/WaitForSandbox.ApiService/Properties/launchSettings.json
  playground/waitfor/WaitForSandbox.ApiService/WaitForSandbox.ApiService.csproj
  playground/waitfor/WaitForSandbox.ApiService/WaitForSandbox.ApiService.http
  playground/waitfor/WaitForSandbox.ApiService/appsettings.Development.json
  playground/waitfor/WaitForSandbox.ApiService/appsettings.json
  playground/waitfor/WaitForSandbox.AppHost/Program.cs
  playground/waitfor/WaitForSandbox.AppHost/Properties/launchSettings.json
  playground/waitfor/WaitForSandbox.AppHost/WaitForSandbox.AppHost.csproj
  playground/waitfor/WaitForSandbox.AppHost/appsettings.Development.json
  playground/waitfor/WaitForSandbox.AppHost/appsettings.json
  playground/waitfor/WaitForSandbox.AppHost/aspire-manifest.json
  playground/waitfor/WaitForSandbox.AppHost/pg.module.bicep
  playground/waitfor/WaitForSandbox.Common/Entry.cs.cs
  playground/waitfor/WaitForSandbox.Common/MyDbContext.cs
  playground/waitfor/WaitForSandbox.Common/WaitForSandbox.Common.csproj
  playground/waitfor/WaitForSandbox.DbSetup/Program.cs
  playground/waitfor/WaitForSandbox.DbSetup/Properties/launchSettings.json
  playground/waitfor/WaitForSandbox.DbSetup/WaitForSandbox.DbSetup.csproj
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.PostgreSQL/Aspire.Hosting.PostgreSQL.csproj
  src/Aspire.Hosting.PostgreSQL/PostgresBuilderExtensions.cs
  src/Aspire.Hosting.Redis/Aspire.Hosting.Redis.csproj
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ConnectionStringAvailableEvent.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/HealthCheckAnnotation.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Health/ResourceNotificationHealthCheckPublisher.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.PostgreSQL.Tests/AddPostgresTests.cs
  tests/Aspire.Hosting.PostgreSQL.Tests/PostgresFunctionalTests.cs
  tests/Aspire.Hosting.Redis.Tests/AddRedisTests.cs
  tests/Aspire.Hosting.Redis.Tests/RedisFunctionalTests.cs
  tests/Aspire.Playground.Tests/Infrastructure/DistributedApplicationExtensions.cs
Labels: area-app-model

#5529 Add AddParameter overloads that take a constant and a ParameterDefault
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Tests/AddParameterTests.cs
Labels: area-app-model, community-contribution

#5576 Handle cases when there's no exit code
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/WaitForTests.cs
Labels: area-app-model

#5418 Add AzureFunctionsEndToEnd with prototype implementation
  .gitignore
  Aspire.sln
  Directory.Build.targets
  Directory.Packages.props
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.ApiService/AzureFunctionsEndToEnd.ApiService.csproj
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.ApiService/Program.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.ApiService/Properties/launchSettings.json
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.ApiService/appsettings.Development.json
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.ApiService/appsettings.json
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/AzureFunctionsEndToEnd.AppHost.csproj
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/Program.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/Properties/launchSettings.json
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/appsettings.Development.json
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/appsettings.json
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/.dockerignore
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/AzureFunctionsEndToEnd.Functions.csproj
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/Dockerfile
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/HostBuilderExtensions.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/MyAzureBlobTrigger.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/MyAzureQueueTrigger.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/MyEventHubTrigger.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/MyHttpTrigger.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/Program.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/Properties/launchSettings.json
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/host.json
  playground/Directory.Build.targets
  src/Aspire.Hosting.Azure.EventHubs/AzureEventHubsResource.cs
  src/Aspire.Hosting.Azure.Functions/Aspire.Hosting.Azure.Functions.csproj
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsResource.cs
  src/Aspire.Hosting.Azure.Functions/PublicAPI.Shipped.txt
  src/Aspire.Hosting.Azure.Functions/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Azure.Functions/README.md
  src/Aspire.Hosting.Azure.Storage/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureStorageResource.cs
  src/Aspire.Hosting.Azure/IResourceWithAzureFunctionsConfig.cs
  src/Aspire.Hosting.Azure/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ApplicationModel/ConnectionStringReference.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
  tests/Aspire.Playground.Tests/ProjectSpecificTests.cs
  tests/Shared/RepoTesting/Directory.Packages.Helix.props
  tests/helix/send-to-helix-buildonhelixtests.targets
  tests/helix/send-to-helix-inner.proj
Labels: area-integrations, feature-azure-functions

#5485 use static for classes with all static members
  src/Aspire.Hosting.AWS/Constants.cs
  src/Aspire.Hosting.Azure/Provisioning/UserSecretsPathHelper.cs
  src/Aspire.Hosting.Testing/DistributedApplicationEntryPointInvoker.cs
  src/Components/Aspire.Confluent.Kafka/ConfluentKafkaCommon.cs
  src/Microsoft.Extensions.ServiceDiscovery/Configuration/ConfigurationServiceEndpointProvider.Log.cs
  src/Microsoft.Extensions.ServiceDiscovery/PassThrough/PassThroughServiceEndpointProvider.Log.cs
  src/Microsoft.Extensions.ServiceDiscovery/ServiceEndpointWatcher.Log.cs
  src/Microsoft.Extensions.ServiceDiscovery/ServiceEndpointWatcherFactory.Log.cs
  src/Vendoring/OpenTelemetry.Instrumentation.SqlClient/Implementation/SqlActivitySourceHelper.cs
Labels: area-service-discovery, community-contribution

#5593 Support Service Bus resources in Azure Functions
  Directory.Packages.props
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.ApiService/AzureFunctionsEndToEnd.ApiService.csproj
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.ApiService/Program.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/AzureFunctionsEndToEnd.AppHost.csproj
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/Program.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/AzureFunctionsEndToEnd.Functions.csproj
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/MyServiceBusTrigger.cs
  src/Aspire.Hosting.Azure.ServiceBus/AzureServiceBusResource.cs
  tests/Aspire.Playground.Tests/ProjectSpecificTests.cs
Labels: area-app-model, feature-azure-functions

#5572 Show container volumes in the dashboard
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/ResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/CreateResourceSelectModelsTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/MockDashboardClient.cs
  tests/Aspire.Dashboard.Tests/Model/ResourceEndpointHelpersTests.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
Labels: area-dashboard

#5588 Handle parsing wildcard urls in launch profiles
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-app-model

#5597 Use generic constraints to override WithReference
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
  src/Aspire.Hosting.Azure.Functions/PublicAPI.Unshipped.txt
Labels: area-integrations, azure, feature-azure-functions

#4415 Allow WithArgs to accept ReferenceExpressions
  src/Aspire.Hosting/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ExecutableResourceTests.cs
Labels: area-app-model, community-contribution

#5636 Disable flaky Aspire.Elastic.Clients.Elasticsearch.Tests
  tests/Aspire.Elastic.Clients.Elasticsearch.Tests/Aspire.Elastic.Clients.Elasticsearch.Tests.csproj
Labels: area-integrations, testing ☑️

#5526 Support displaying different resource properties
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/UnreadLogErrorsBadge.razor.cs
  src/Aspire.Dashboard/Extensions/FluentUIExtensions.cs
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplicationView.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpSpan.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpTrace.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  src/Shared/StringComparers.cs
  tests/Aspire.Dashboard.Tests/Model/ApplicationsSelectHelpersTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
  tests/Shared/Telemetry/TelemetryTestHelpers.cs
Labels: area-dashboard

#5601 Stop health checks running until the underlying resource enters the running state.
  playground/nats/Nats.AppHost/appsettings.json
  playground/waitfor/WaitForSandbox.AppHost/aspire-manifest.json
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Health/ResourceHealthCheckScheduler.cs
  src/Aspire.Hosting/Health/ResourceNotificationHealthCheckPublisher.cs
Labels: area-app-model

#5640 [tests] Disable flaky `Aspire.Hosting.Tests.SlimTestProgramTests` tests
  tests/Aspire.Hosting.Tests/SlimTestProgramTests.cs
Labels: area-integrations

#5642 Add debugger display to HealthCheckAnnotation
  src/Aspire.Hosting/ApplicationModel/HealthCheckAnnotation.cs
Labels: area-app-model

#5671 [tests] Disable '/ef' endpoint for cosmos in Playground tests
  tests/Aspire.Playground.Tests/AppHostTests.cs
Labels: area-integrations, testing ☑️

#5668 [tests] SlimTestProgramTests: Wait for services to start
  tests/Aspire.Hosting.Tests/SlimTestProgramTests.cs
  tests/Aspire.Hosting.Tests/TestProgramFixture.cs
Labels: area-app-model, testing ☑️

#5678 Minor style improvements
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Resize/GridColumnManager.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#5643 Fix buildArgs for dockerfile.v0 schema tests.
  src/Schema/aspire-8.0.json
  tests/Aspire.Hosting.Tests/Schema/SchemaTests.cs
Labels: area-app-model

#5603 Update and reduce size of plotly library
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/wwwroot/js/README.md
  src/Aspire.Dashboard/wwwroot/js/app-metrics.js
  src/Aspire.Dashboard/wwwroot/js/plotly-2.32.0.min.js
  src/Aspire.Dashboard/wwwroot/js/plotly-basic-2.35.2.min.js
Labels: area-dashboard

#5628 Enable container-to-container service communication
  src/Aspire.Hosting.Azure.EventHubs/AzureEventHubsExtensions.cs
  src/Aspire.Hosting.Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting.Milvus/MilvusBuilderExtensions.cs
  src/Aspire.Hosting.MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting.MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting.PostgreSQL/PostgresBuilderExtensions.cs
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/GroupVersion.cs
  src/Aspire.Hosting/Dcp/Model/Network.cs
  tests/Aspire.Hosting.MongoDB.Tests/AddMongoDBTests.cs
  tests/Aspire.Hosting.MySql.Tests/AddMySqlTests.cs
  tests/Aspire.Hosting.PostgreSQL.Tests/AddPostgresTests.cs
  tests/Aspire.Hosting.Redis.Tests/AddRedisTests.cs
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Labels: area-app-model

#5556 Allow referencing older version of AppHost package for backward compatibility
  src/Aspire.Hosting.Sdk/Aspire.Hosting.Sdk.csproj
  src/Aspire.Hosting.Sdk/SDK/Sdk.in.targets
  tests/Aspire.Hosting.Testing.Tests/Directory.Build.targets
  tests/Aspire.Hosting.Tests/MSBuildTests.cs
  tests/Aspire.Workload.Tests/AppHostTemplateTests.cs
  tests/Shared/RepoTesting/Aspire.RepoTesting.targets
  tests/Shared/WorkloadTesting/AspireProject.cs
Labels: area-tooling

#5630 Update container lifetime API and add schema for lifecycleKey property
  src/Aspire.Hosting/ApplicationModel/ContainerLifetimeAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceExtensions.cs
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
Labels: area-app-model

#5644 Make volume icon size consistent with other inline icons
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
Labels: area-dashboard

#5694 [tests] Fixes to improve helix test runs hitting docker soft limits for network subnets
  tests/Directory.Build.targets
  tests/helix/send-to-helix-basictests.targets
  tests/helix/send-to-helix-inner.proj
  tests/helix/xunit.runner.json
Labels: area-engineering-systems

#5699 Don't throw from hosted services
  src/Aspire.Hosting.Testing/ResourceLoggerForwarderService.cs
  src/Aspire.Hosting/Health/ResourceHealthCheckScheduler.cs
  tests/Aspire.Hosting.Testing.Tests/ResourceLoggerForwarderServiceTests.cs
Labels: area-app-model

#5698 WaitFor support for Garnet.
  src/Aspire.Hosting.Garnet/Aspire.Hosting.Garnet.csproj
  src/Aspire.Hosting.Garnet/GarnetBuilderExtensions.cs
  tests/Aspire.Hosting.Garnet.Tests/GarnetFunctionalTests.cs
Labels: area-integrations

#5701 Add logging to min execute interval test
  src/Aspire.Dashboard/Otlp/Storage/Subscription.cs
  tests/Aspire.Dashboard.Tests/CustomAssert.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Shared/Telemetry/TelemetryTestHelpers.cs
Labels: area-dashboard

#5697 WaitFor for MongoDB (health checks)
  playground/mongo/Mongo.AppHost/Program.cs
  src/Aspire.Hosting.MongoDB/Aspire.Hosting.MongoDB.csproj
  src/Aspire.Hosting.MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting.PostgreSQL/PostgresBuilderExtensions.cs
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting.SqlServer/SqlServerBuilderExtensions.cs
  tests/Aspire.Hosting.MongoDB.Tests/MongoDbFunctionalTests.cs
Labels: area-app-model

#5705 WaitFor for MySql
  playground/mysql/MySqlDb.AppHost/Program.cs
  src/Aspire.Hosting.MySql/Aspire.Hosting.MySql.csproj
  src/Aspire.Hosting.MySql/MySqlBuilderExtensions.cs
  tests/Aspire.Hosting.MySql.Tests/MySqlFunctionalTests.cs
  tests/Aspire.Hosting.Redis.Tests/RedisFunctionalTests.cs
Labels: area-integrations

#5575 Update NuGet and Docker dependencies
  Directory.Packages.props
  eng/Version.Details.xml
  eng/Versions.props
  src/Aspire.Hosting.Elasticsearch/ElasticsearchContainerImageTags.cs
  src/Aspire.Hosting.Milvus/MilvusContainerImageTags.cs
  src/Aspire.Hosting.Oracle/OracleContainerImageTags.cs
  src/Aspire.Hosting.Qdrant/QdrantContainerImageTags.cs
  src/Aspire.ProjectTemplates/cgmanifest.json
  src/Components/Aspire.Azure.AI.OpenAI/ConfigurationSchema.json
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
Labels: needs-area-label

#5709 Support net9+ VMR properties
  eng/Build.props
  eng/apicompat/PublicApiAnalyzer.targets
Labels: needs-area-label

#5706 WaitFor (HealthCheck) Valkey
  src/Aspire.Hosting.Valkey/Aspire.Hosting.Valkey.csproj
  src/Aspire.Hosting.Valkey/ValkeyBuilderExtensions.cs
  tests/Aspire.Hosting.Valkey.Tests/ValkeyFunctionalTests.cs
Labels: area-integrations, community-contribution

#5342 [tests] Additional tests for ReferenceExpression
  tests/Aspire.Hosting.Tests/ReferenceExpressionTests.cs
Labels: area-app-model, community-contribution

#5553 Fix Kafka Persistence (`WithDataVolume` and `WithDataBindMount`)
  src/Aspire.Hosting.Kafka/KafkaBuilderExtensions.cs
  tests/Aspire.Hosting.Kafka.Tests/AddKafkaTests.cs
  tests/Aspire.Hosting.Kafka.Tests/KafkaFunctionalTests.cs
Labels: area-app-model, community-contribution

#5717 [tests] Enable `VerifyWithPgWeb` test
  tests/Aspire.Hosting.PostgreSQL.Tests/PostgresFunctionalTests.cs
Labels: community-contribution, area-components

#5718 WaitFor for RabbitMQ
  playground/TestShop/TestShop.AppHost/Program.cs
  src/Aspire.Hosting.RabbitMQ/Aspire.Hosting.RabbitMQ.csproj
  src/Aspire.Hosting.RabbitMQ/RabbitMQBuilderExtensions.cs
  tests/Aspire.Hosting.RabbitMQ.Tests/RabbitMQFunctionalTests.cs
Labels: area-integrations

#5720 Record time in callback and more logging in min interval test
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
Labels: area-dashboard

#5728 Fix mininterval test for real
  src/Aspire.Dashboard/Otlp/Storage/Subscription.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
Labels: area-dashboard

#5719 WaitFor for Kafka
  playground/kafka/KafkaBasic.AppHost/Program.cs
  playground/waitfor/WaitForSandbox.ApiService/WaitForSandbox.ApiService.csproj
  src/Aspire.Hosting.Kafka/Aspire.Hosting.Kafka.csproj
  src/Aspire.Hosting.Kafka/KafkaBuilderExtensions.cs
  tests/Aspire.Hosting.Kafka.Tests/KafkaFunctionalTests.cs
Labels: area-integrations, kafka

#5703 Refactor console logs page and friends
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor.cs
  src/Aspire.Dashboard/Components/Layout/AspirePageContentLayout.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/IPageWithSessionAndUrlState.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Components/Resize/BrowserDimensionWatcher.cs
  src/Aspire.Dashboard/Components/Resize/DimensionManager.cs
  src/Aspire.Dashboard/Model/Otlp/SelectViewModel.cs
  src/Aspire.Dashboard/Model/ResourceTypeDetails.cs
  src/Aspire.Dashboard/ResourceService/DashboardClient.cs
  src/Aspire.Dashboard/ResourceService/IDashboardClient.cs
  src/Aspire.Dashboard/wwwroot/js/app.js
  tests/Aspire.Dashboard.Components.Tests/Aspire.Dashboard.Components.Tests.csproj
  tests/Aspire.Dashboard.Components.Tests/Controls/ApplicationNameTests.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/ConsoleLogsTests.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/IntegrationTestHelpers.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/TestDashboardClient.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/MockDashboardClient.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
Labels: area-dashboard

#5726 Redis playground app
  Aspire.sln
  playground/Redis/Redis.ApiService/Program.cs
  playground/Redis/Redis.ApiService/Properties/launchSettings.json
  playground/Redis/Redis.ApiService/Redis.ApiService.csproj
  playground/Redis/Redis.AppHost/Program.cs
  playground/Redis/Redis.AppHost/Properties/launchSettings.json
  playground/Redis/Redis.AppHost/Redis.AppHost.csproj
  playground/Redis/Redis.AppHost/aspire-manifest.json
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Labels: area-integrations, community-contribution

#5740 [tests] Use test registry for mysql tests
  tests/Aspire.Hosting.MySql.Tests/MySqlFunctionalTests.cs
Labels: area-components

#5743 [tests] use test container registry in WaitFor hosting tests
  tests/Aspire.Hosting.Kafka.Tests/KafkaFunctionalTests.cs
  tests/Aspire.Hosting.RabbitMQ.Tests/RabbitMQFunctionalTests.cs
Labels: area-components

#5693 dashpage ui work
  src/Aspire.Dashboard/Components/Controls/Chart/ChartFilters.razor
  src/Aspire.Dashboard/Components/Controls/Chart/ChartFilters.razor.cs
  src/Aspire.Dashboard/Components/Controls/Chart/ChartWrapper.razor
  src/Aspire.Dashboard/Components/Controls/Chart/DashpageChartContainer.razor
  src/Aspire.Dashboard/Components/Controls/Chart/DashpageCharts.razor
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor.cs
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTableWrapper.razor
  src/Aspire.Dashboard/Components/Controls/Chart/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Components/Controls/Chart/SingleMetricChartContainer.razor
  src/Aspire.Dashboard/Components/Controls/TreeMetricSelector.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.css
  src/Aspire.Dashboard/Components/Resize/BrowserDimensionWatcher.cs
  src/Aspire.Dashboard/Resources/Metrics.Designer.cs
  src/Aspire.Dashboard/Utils/DashboardUrls.cs
  src/Shared/StringComparers.cs
  tests/Aspire.Dashboard.Components.Tests/Controls/PlotlyChartTests.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/MetricsViewModelTests.cs
Labels: area-dashboard

#5725 WaitFor for Elasticsearch
  Directory.Build.props
  playground/Elasticsearch/Elasticsearch.AppHost/Program.cs
  spelling.dic
  src/Aspire.Hosting.Elasticsearch/Aspire.Hosting.Elasticsearch.csproj
  src/Aspire.Hosting.Elasticsearch/ElasticsearchBuilderExtensions.cs
  tests/Aspire.Hosting.Elasticsearch.Tests/ElasticsearchFunctionalTests.cs
  tests/helix/send-to-helix-basictests.targets
Labels: area-integrations, community-contribution

#5748 Fix issue with duplicate entry in manifest for AWS CloudFormation reference
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationExtensions.cs
Labels: area-integrations, community-contribution

#5227 Add WithRedisInsight
  playground/Redis/Redis.AppHost/Program.cs
  playground/TestShop/TestShop.AppHost/Program.cs
  src/Aspire.Hosting.Redis/Aspire.Hosting.Redis.csproj
  src/Aspire.Hosting.Redis/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting.Redis/RedisContainerImageTags.cs
  src/Aspire.Hosting.Redis/RedisInsightResource.cs
  tests/Aspire.Hosting.Redis.Tests/AddRedisTests.cs
  tests/Aspire.Hosting.Redis.Tests/Aspire.Hosting.Redis.Tests.csproj
  tests/Aspire.Hosting.Redis.Tests/RedisFunctionalTests.cs
  tests/Aspire.Hosting.Redis.Tests/RedisPublicApiTests.cs
Labels: area-integrations, community-contribution

#5729 WaitFor for Cosmos DB
  Directory.Packages.props
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Program.cs
  src/Aspire.Hosting.Azure.CosmosDB/Aspire.Hosting.Azure.CosmosDB.csproj
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/AzureCosmosDBEmulatorFunctionalTests.cs
Labels: area-integrations, azure, azure-cosmosdb

#5754 Rename default network to workaround bug where Docker loses exposed port info
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-app-model

#5752 Improve pgweb test
  tests/Aspire.Hosting.PostgreSQL.Tests/PostgresFunctionalTests.cs
Labels: community-contribution, area-components

#5734 WaitFor for Oracle
  Directory.Packages.props
  NuGet.config
  playground/OracleEndToEnd/OracleEndToEnd.AppHost/Program.cs
  src/Aspire.Hosting.MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting.Oracle/Aspire.Hosting.Oracle.csproj
  src/Aspire.Hosting.Oracle/OracleDatabaseBuilderExtensions.cs
  tests/Aspire.Hosting.Oracle.Tests/OracleFunctionalTests.cs
Labels: area-integrations, community-contribution

#4728 Configure Aspire Dashboard with key-per-file configuration provider (#4526)
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Shared/DashboardConfigNames.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard, community-contribution

#5758 Change components > integrations in contributing.md
  docs/contributing.md
Labels: documentation, area-docs

#5319 [tests] Add AspireEventHub to playground tests
  playground/AspireEventHub/EventHubsApi/Program.cs
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Labels: area-app-model, testing ☑️

#5739 [ci] Fix codeql build
  tests/Directory.Build.targets
Labels: area-engineering-systems

#5087 Fix garnet persistence
  Aspire.sln
  playground/Redis/Redis.ApiService/Program.cs
  playground/Redis/Redis.AppHost/Program.cs
  playground/Redis/Redis.AppHost/Redis.AppHost.csproj
  playground/Redis/Redis.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Garnet/GarnetBuilderExtensions.cs
  src/Aspire.Hosting.Garnet/PublicAPI.Shipped.txt
  src/Aspire.Hosting.Garnet/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Garnet.Tests/AddGarnetTests.cs
  tests/Aspire.Hosting.Garnet.Tests/GarnetFunctionalTests.cs
  tests/Aspire.Playground.Tests/AppHostTests.cs
Labels: area-integrations, community-contribution

#5777 Fix file config directory name in config
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Shared/DashboardConfigNames.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard

#5757 Generate a container resource postfix based on a hash of the AppHost project for persistent containers
  src/Aspire.Hosting.AppHost/build/Aspire.Hosting.AppHost.targets
  src/Aspire.Hosting/ApplicationModel/ContainerNameAnnotation.cs
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/DistributedApplicationOptions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
Labels: area-app-model

#5753 WaitFor for Nats
  playground/nats/Nats.AppHost/Program.cs
  src/Aspire.Hosting.Milvus/MilvusBuilderExtensions.cs
  src/Aspire.Hosting.Nats/Aspire.Hosting.Nats.csproj
  src/Aspire.Hosting.Nats/NatsBuilderExtensions.cs
  tests/Aspire.Hosting.Nats.Tests/NatsFunctionalTests.cs
Labels: area-integrations, community-contribution, nats

#5776 Fix console logs page when linked from resource
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/ConsoleLogsTests.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/TestDashboardClient.cs
Labels: area-dashboard

#5770 Show aggregate health status in the dashboard
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Extensions/ResourceViewModelExtensions.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Hosting/ApplicationModel/ReplicaInstancesAnnotation.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/ResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Health/ResourceNotificationHealthCheckPublisher.cs
  src/Shared/Model/KnownProperties.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/ConsoleLogsTests.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/CreateResourceSelectModelsTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/MockDashboardClient.cs
  tests/Aspire.Dashboard.Tests/Model/ResourceEndpointHelpersTests.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
  tests/Aspire.Hosting.PostgreSQL.Tests/PostgresFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
Labels: area-dashboard, area-app-model

#5586 Support callback, custom config key and publishing for parameters.
  src/Aspire.Hosting/ApplicationModel/ParameterDefault.cs
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Schema/aspire-8.0.json
  tests/Aspire.Hosting.Tests/AddParameterTests.cs
  tests/Aspire.Hosting.Tests/Schema/SchemaTests.cs
Labels: area-app-model, community-contribution

#5784 [dashpages] Dashpage layout improvements
  src/Aspire.Dashboard/Components/Controls/Chart/DashpageCharts.razor
  src/Aspire.Dashboard/Components/Controls/Chart/DashpageCharts.razor.css
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.css
Labels: area-dashboard, area-dashboard-dashpages

#5538 Add command annotations and wire up
  Directory.Packages.props
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Extensions/ResourceViewModelExtensions.cs
  src/Aspire.Dashboard/Model/KnownResourceState.cs
  src/Aspire.Dashboard/Model/MenuButtonItem.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/ResourceCommandAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Dashboard/DashboardCommandExecutor.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dashboard/ResourcePublisher.cs
  src/Aspire.Hosting/Dashboard/ResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/KubernetesService.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/PublicAPI.Shipped.txt
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/ConsoleLogsTests.cs
  tests/Aspire.Hosting.Containers.Tests/ContainerResourceTests.cs
  tests/Aspire.Hosting.Testing.Tests/ResourceLoggerForwarderServiceTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardLifecycleHookTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/Dcp/TestKubernetesService.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/ResourceCommandAnnotationTests.cs
  tests/Aspire.Hosting.Tests/ResourceExtensionsTests.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
  tests/Aspire.Hosting.Tests/Utils/ResourceNotificationServiceTestHelpers.cs
  tests/Aspire.Hosting.Tests/Utils/TestHostApplicationLifetime.cs
  tests/Aspire.Hosting.Tests/Utils/TestServiceProvider.cs
Labels: area-dashboard

#5695 Fix RID regression by adding a task that calculates the best matching RID for platform
  Aspire.sln
  Directory.Packages.props
  eng/dashboardpack/Common.projitems
  eng/dashboardpack/Sdk.targets
  eng/dcppack/Aspire.Hosting.Orchestration.targets
  eng/dcppack/Common.projitems
  src/Aspire.Hosting.Sdk/Aspire.Hosting.Sdk.csproj
  src/Aspire.Hosting.Sdk/Aspire.RuntimeIdentifier.Tool/Aspire.RuntimeIdentifier.Tool.csproj
  src/Aspire.Hosting.Sdk/Aspire.RuntimeIdentifier.Tool/NuGetUtils.cs
  src/Aspire.Hosting.Sdk/Aspire.RuntimeIdentifier.Tool/Program.cs
  src/Aspire.Hosting.Sdk/SDK/Sdk.in.targets
  tests/Aspire.Hosting.Sdk.Tests/Aspire.Hosting.Sdk.Tests.csproj
  tests/Aspire.Hosting.Sdk.Tests/NuGetUtils.Tests.cs
Labels: area-components

#5751 Add support for trace filters UI in the dashboard
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Extensions/LogFilterFormatter.cs
  src/Aspire.Dashboard/Model/FilterDialogViewModel.cs
  src/Aspire.Dashboard/Model/Otlp/DialogFilterResult.cs
  src/Aspire.Dashboard/Model/Otlp/KnownStructuredLogFields.cs
  src/Aspire.Dashboard/Model/Otlp/KnownTraceFields.cs
  src/Aspire.Dashboard/Model/Otlp/TelemetryFilter.cs
  src/Aspire.Dashboard/Model/StructuredLogsViewModel.cs
  src/Aspire.Dashboard/Model/TracesViewModel.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpTrace.cs
  src/Aspire.Dashboard/Otlp/Storage/GetLogsContext.cs
  src/Aspire.Dashboard/Otlp/Storage/GetTracesRequest.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/Logs.resx
  src/Aspire.Dashboard/Resources/StructuredFiltering.Designer.cs
  src/Aspire.Dashboard/Resources/StructuredFiltering.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.de.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.es.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.it.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/StructuredFiltering.zh-Hant.xlf
  src/Aspire.Dashboard/Utils/DashboardUrls.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/StructuredLogsTests.cs
  tests/Aspire.Dashboard.Tests/DashboardUrlsTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: area-dashboard

#5817 Possible fix for flaky DashboardClientAuthTests
  tests/Aspire.Dashboard.Tests/Integration/DashboardClientAuthTests.cs
Labels: area-dashboard

#5818 Valkey playground
  playground/Redis/Redis.ApiService/Program.cs
  playground/Redis/Redis.AppHost/Program.cs
  playground/Redis/Redis.AppHost/Redis.AppHost.csproj
  playground/Redis/Redis.AppHost/aspire-manifest.json
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Labels: community-contribution

#5798 Ignore unknown ConEmu and terminal sequences in console logs
  src/Aspire.Dashboard/ConsoleLogs/AnsiParser.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/AnsiParserTests.cs
Labels: area-dashboard

#5804 Include global json in solution file for new contributors
  Aspire.sln
Labels: community-contribution

#5799 Stop "mask" button from jumping on mouse enter
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
Labels: area-dashboard, user-experience

#5779 Make unnamed volume names more unique
  playground/Redis/Redis.AppHost/Program.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Shared/VolumeNameGenerator.cs
  tests/Aspire.Hosting.Azure.Tests/AzureEventHubsExtensionsTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureResourceExtensionsTests.cs
  tests/Aspire.Hosting.Garnet.Tests/AddGarnetTests.cs
  tests/Aspire.Hosting.Keycloak.Tests/KeycloakResourceBuilderTests.cs
  tests/Aspire.Hosting.Redis.Tests/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/Utils/VolumeNameGeneratorTests.cs
  tests/Aspire.Hosting.Valkey.Tests/AddValkeyTests.cs
Labels: area-app-model, breaking-change

#5840 Remove lifecycle commands from dashboard resource
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardLifecycleHookTests.cs
Labels: area-dashboard, area-app-model

#5839 Support icon variant on commands, make start and stop icons filled
  playground/seq/Seq.AppHost/Program.cs
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/ResourceCommandAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
Labels: area-dashboard

#5841 Add ItemKey to various grids to preserve UI state during push update
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
Labels: area-dashboard

#5843 Fix removing lifecycle commands from dashboard
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ExcludeLifecycleCommandsAnnotation.cs
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardLifecycleHookTests.cs
Labels: area-app-model

#5842 WaitAnnotation and ResourceNotificationService.WaitForDependenciesAsync
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/ApplicationModel/WaitAnnotation.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Testing.Tests/ResourceLoggerForwarderServiceTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/Utils/ResourceNotificationServiceTestHelpers.cs
Labels: area-app-model

#5621 Add OpenAI component
  Aspire.sln
  Directory.Packages.props
  src/Components/Aspire.OpenAI/Aspire.OpenAI.csproj
  src/Components/Aspire.OpenAI/AspireOpenAIExtensions.cs
  src/Components/Aspire.OpenAI/AssemblyInfo.cs
  src/Components/Aspire.OpenAI/ConfigurationSchema.json
  src/Components/Aspire.OpenAI/OpenAISettings.cs
  src/Components/Aspire.OpenAI/PublicAPI.Shipped.txt
  src/Components/Aspire.OpenAI/PublicAPI.Unshipped.txt
  src/Components/Aspire.OpenAI/README.md
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  tests/Aspire.OpenAI.Tests/Aspire.OpenAI.Tests.csproj
  tests/Aspire.OpenAI.Tests/AspireOpenAIExtensionsTests.cs
  tests/Aspire.OpenAI.Tests/ConformanceTests.cs
Labels: area-integrations

#5848 Collapse resource and trace detail sections when no data
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
Labels: area-dashboard

#5847 Cannot WaitFor self.
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/WaitForTests.cs
Labels: area-app-model

#5846 Improve logging on console logs page for test debugging
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
Labels: area-dashboard

#5809 Allow for customization of the Azure ProvisioningContext + Better Azure resource name scheme
  playground/AspireEventHub/EventHubs.AppHost/ehstorage.module.bicep
  playground/AspireEventHub/EventHubs.AppHost/eventhubns.module.bicep
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/search.module.bicep
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/storage.module.bicep
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/cosmos.module.bicep
  playground/Elasticsearch/Elasticsearch.AppHost/aspire-manifest.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/openai.module.bicep
  playground/Redis/Redis.AppHost/aspire-manifest.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/sql1.module.bicep
  playground/TestShop/TestShop.AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/ai.module.bicep
  playground/bicep/BicepSample.AppHost/aiwithoutlaw.module.bicep
  playground/bicep/BicepSample.AppHost/appConfig.module.bicep
  playground/bicep/BicepSample.AppHost/cosmos.module.bicep
  playground/bicep/BicepSample.AppHost/kv3.module.bicep
  playground/bicep/BicepSample.AppHost/lawkspc.module.bicep
  playground/bicep/BicepSample.AppHost/postgres2.module.bicep
  playground/bicep/BicepSample.AppHost/redis.module.bicep
  playground/bicep/BicepSample.AppHost/sb.module.bicep
  playground/bicep/BicepSample.AppHost/signalr.module.bicep
  playground/bicep/BicepSample.AppHost/sql.module.bicep
  playground/bicep/BicepSample.AppHost/storage.module.bicep
  playground/bicep/BicepSample.AppHost/wps.module.bicep
  playground/cdk/CdkSample.AppHost/appConfig.module.bicep
  playground/cdk/CdkSample.AppHost/appInsights.module.bicep
  playground/cdk/CdkSample.AppHost/cache.module.bicep
  playground/cdk/CdkSample.AppHost/cosmos.module.bicep
  playground/cdk/CdkSample.AppHost/logAnalyticsWorkspace.module.bicep
  playground/cdk/CdkSample.AppHost/mykv.module.bicep
  playground/cdk/CdkSample.AppHost/pgsql.module.bicep
  playground/cdk/CdkSample.AppHost/pgsql2.module.bicep
  playground/cdk/CdkSample.AppHost/search.module.bicep
  playground/cdk/CdkSample.AppHost/servicebus.module.bicep
  playground/cdk/CdkSample.AppHost/signalr.module.bicep
  playground/cdk/CdkSample.AppHost/sql.module.bicep
  playground/cdk/CdkSample.AppHost/storage.module.bicep
  playground/orleans/Orleans.AppHost/storage.module.bicep
  playground/signalr/SignalR.AppHost/signalr1.module.bicep
  playground/waitfor/WaitForSandbox.AppHost/pg.module.bicep
  playground/webpubsub/WebPubSub.AppHost/wps1.module.bicep
  src/Aspire.Hosting.Azure/AspireV8ResourceNamePropertyResolver.cs
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  src/Aspire.Hosting.Azure/AzureResourceOptions.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Azure.Tests/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureResourceOptionsTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureServiceBusExtensionsTests.cs
Labels: breaking-change

#5869 Fix losing resources grid row selection
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
Labels: area-dashboard

#5852 Add stop time to resource properties
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StartTimeColumnDisplay.razor
  src/Aspire.Dashboard/Model/KnownPropertyLookup.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Dashboard/Resources/Metrics.Designer.cs
  src/Aspire.Dashboard/Resources/Metrics.resx
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/ResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/proto/Partials.cs
  src/Aspire.Hosting/Dashboard/proto/resource_service.proto
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/Dcp/Model/ContainerExec.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
  src/Aspire.Hosting/Dcp/Model/ExecutableReplicaSet.cs
  src/Aspire.Hosting/Dcp/Model/ModelCommon.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Shared/Model/KnownProperties.cs
  tests/Aspire.Dashboard.Components.Tests/Aspire.Dashboard.Components.Tests.csproj
  tests/Aspire.Dashboard.Components.Tests/Pages/ConsoleLogsTests.cs
  tests/Aspire.Dashboard.Tests/Aspire.Dashboard.Tests.csproj
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/CreateResourceSelectModelsTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/MockDashboardClient.cs
  tests/Aspire.Dashboard.Tests/Model/ResourceEndpointHelpersTests.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
  tests/Shared/DashboardModel/ModelTestHelpers.cs
Labels: area-dashboard, area-app-model

#5867 WaitForResourceHealthyAsync
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Azure.Tests/AzureCosmosDBEmulatorFunctionalTests.cs
  tests/Aspire.Hosting.Garnet.Tests/GarnetFunctionalTests.cs
  tests/Aspire.Hosting.Kafka.Tests/KafkaFunctionalTests.cs
  tests/Aspire.Hosting.Milvus.Tests/MilvusFunctionalTests.cs
  tests/Aspire.Hosting.MongoDB.Tests/MongoDbFunctionalTests.cs
  tests/Aspire.Hosting.MySql.Tests/MySqlFunctionalTests.cs
  tests/Aspire.Hosting.Nats.Tests/NatsFunctionalTests.cs
  tests/Aspire.Hosting.Oracle.Tests/OracleFunctionalTests.cs
  tests/Aspire.Hosting.PostgreSQL.Tests/PostgresFunctionalTests.cs
  tests/Aspire.Hosting.RabbitMQ.Tests/RabbitMQFunctionalTests.cs
  tests/Aspire.Hosting.Redis.Tests/RedisFunctionalTests.cs
  tests/Aspire.Hosting.SqlServer.Tests/SqlServerFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Utils/LoggerNotificationExtensions.cs
  tests/Aspire.Hosting.Valkey.Tests/ValkeyFunctionalTests.cs
Labels: area-app-model

#5484 fix broken param name docs
  src/Aspire.Hosting.Testing/DistributedApplicationHostingTestingExtensions.cs
Labels: community-contribution, area-app-testing

#5877 Make waiting command state consistent with starting
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  tests/Aspire.Hosting.Tests/ResourceCommandAnnotationTests.cs
Labels: area-dashboard, area-app-model

#5157 Add WithPartitionCount and WithDataVolume to Azure.Hosting.Azure.CosmosDB
  src/Aspire.Hosting.Azure.CosmosDB/Aspire.Hosting.Azure.CosmosDB.csproj
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBExtensions.cs
  src/Aspire.Hosting.Azure.CosmosDB/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  tests/Aspire.Hosting.Azure.Tests/Aspire.Hosting.Azure.Tests.csproj
  tests/Aspire.Hosting.Azure.Tests/AzureCosmosDBEmulatorFunctionalTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureResourceExtensionsTests.cs
Labels: area-integrations, azure, community-contribution, azure-cosmosdb

#5789 Add method to select the OpenAI component based on configuration
  src/Components/Aspire.Azure.AI.OpenAI/Aspire.Azure.AI.OpenAI.csproj
  src/Components/Aspire.Azure.AI.OpenAI/AspireConfigurableOpenAIExtensions.cs
  src/Components/Aspire.Azure.AI.OpenAI/PublicAPI.Unshipped.txt
  src/Components/Aspire.Azure.AI.OpenAI/README.md
  tests/Aspire.Azure.AI.OpenAI.Tests/AspireConfigurableOpenAIExtensionsTests.cs
Labels: area-integrations, azure

#5800 Configuration schema generator: fix missing cref inside para tag
  src/Tools/ConfigurationSchemaGenerator/ConfigSchemaEmitter.cs
  tests/ConfigurationSchemaGenerator.Tests/GeneratorTests.cs
Labels: community-contribution

#5891 Make publishValueAsDefault and secret flags mutually exclusive in AddParameter
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/AddParameterTests.cs
Labels: community-contribution

#5906 Fix ReplicasAndProxylessEndpointThrows
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/Model/ModelCommon.cs
Labels: area-app-model

#5909 Fix console logs after restart
  src/Aspire.Dashboard/Otlp/Model/MetricValues/DimensionScope.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Shared/ChannelExtensions.cs
  src/Shared/CircularBuffer.cs
  src/Shared/ConsoleLogs/LogEntries.cs
  src/Shared/ConsoleLogs/LogEntry.cs
  tests/Aspire.Dashboard.Tests/CircularBufferTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardLifecycleHookTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/ResourceLoggerServiceTests.cs
Labels: area-app-model

#4759 Preserve the type of application builder in chained extension methods
  playground/AWS/AWS.ServiceDefaults/Extensions.cs
  playground/Playground.ServiceDefaults/Extensions.cs
  playground/TestShop/TestShop.ServiceDefaults/Extensions.cs
  playground/orleans/OrleansServiceDefaults/Extensions.cs
  playground/seq/Seq.ApiService/Program.cs
  playground/seq/Seq.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/Aspire-StarterApplication.1.ServiceDefaults/Extensions.cs
  tests/TestingAppHost1/TestingAppHost1.ServiceDefaults/Extensions.cs
Labels: area-templates, community-contribution

#5873 Support loading port info from launch profile for Azure Functions
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/Properties/launchSettings.json
  src/Aspire.Hosting.Azure.Functions/Aspire.Hosting.Azure.Functions.csproj
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
  src/Aspire.Hosting.Testing/Aspire.Hosting.Testing.csproj
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/IProjectMetadata.cs
  src/Aspire.Hosting/LaunchProfile.cs
  src/Aspire.Hosting/LaunchSettings.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Shared/CommandLineArgsParser.cs
  src/Shared/LaunchProfile.cs
  src/Shared/LaunchProfiles/DefaultLaunchProfileAnnotation.cs
  src/Shared/LaunchProfiles/ExcludeLaunchProfileAnnotation.cs
  src/Shared/LaunchProfiles/LaunchProfileAnnotation.cs
  src/Shared/LaunchProfiles/LaunchProfileExtensions.cs
  src/Shared/LaunchProfiles/LaunchSettingsSerializerContext.cs
  src/Shared/LaunchSettings.cs
  tests/Aspire.Hosting.Azure.Tests/Aspire.Hosting.Azure.Tests.csproj
  tests/Aspire.Hosting.Azure.Tests/AzureFunctionsTests.cs
Labels: area-app-model, azure-functions

#5923 Refactor console logs page to use parameters instead of ref
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Shared/ConsoleLogs/LogEntries.cs
  src/Shared/ConsoleLogs/LogEntry.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/ConsoleLogsTests.cs
Labels: area-dashboard

#5936 Pass thru WaitFor to parent resourcs.
  src/Aspire.Hosting.Milvus/MilvusBuilderExtensions.cs
  src/Aspire.Hosting.MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting.Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting.PostgreSQL/PostgresBuilderExtensions.cs
  src/Aspire.Hosting.SqlServer/SqlServerBuilderExtensions.cs
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Milvus.Tests/MilvusFunctionalTests.cs
  tests/Aspire.Hosting.MySql.Tests/MySqlFunctionalTests.cs
  tests/Aspire.Hosting.Oracle.Tests/OracleFunctionalTests.cs
  tests/Aspire.Hosting.PostgreSQL.Tests/PostgresFunctionalTests.cs
  tests/Aspire.Hosting.SqlServer.Tests/SqlServerFunctionalTests.cs
  tests/Aspire.Hosting.Tests/WaitForTests.cs
Labels: area-app-model, area-integrations, postgres, sqlserver, mysql, oracle, milvus

#5899 Fix ClientOptions configuration binding for Event Hubs clients
  src/Components/Aspire.Azure.Messaging.EventHubs/EventHubBufferedProducerClientComponent.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/EventHubConsumerClientComponent.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/EventHubProducerClientComponent.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/EventProcessorClientComponent.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/PartitionReceiverClientComponent.cs
  tests/Aspire.Azure.Messaging.EventHubs.Tests/AspireEventHubsExtensionsTests.cs
Labels: community-contribution

#5762 Add autocomplete of values when filtering telemetry
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor.cs
  src/Aspire.Dashboard/Components/Dialogs/FilterDialog.razor.css
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Model/FilterDialogViewModel.cs
  src/Aspire.Dashboard/Model/Otlp/FilterDialogFormModel.cs
  src/Aspire.Dashboard/Model/Otlp/TelemetryFilter.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpSpan.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Shared/StringComparers.cs
Labels: area-dashboard, area-telemetry

#5938 Fail to start when health check registration is missing for resource.
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/HealthCheckTests.cs
Labels: area-app-model

#5945 Fix playground tests build on helix
  playground/Directory.Build.targets
  tests/helix/send-to-helix-buildonhelixtests.targets
Labels: area-engineering-systems, testing ☑️

#5948 Live update opened resource details
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
Labels: area-dashboard

#5963 Use bicep friendly name for default Azure Functions storage resource
  src/Aspire.Hosting.Azure.Functions/Aspire.Hosting.Azure.Functions.csproj
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/AzureFunctionsTests.cs
Labels: area-integrations, azure-functions

#5921 Fix KubernetesHasResourceNameForContainersAndExes
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: community-contribution

#5919 Fix SpecifyingEnvPortInEndpointFlowsToEnv
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/KubernetesHelper.cs
Labels: community-contribution

#5967 Fix Azure Functions endpoint mappings under publish
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
Labels: area-integrations, azure-functions

#5470 Added support for customizing container apps in ACA via the CDK
  Aspire.sln
  Directory.Packages.props
  playground/AzureContainerApps/AzureContainerApps.ApiService/AzureContainerApps.ApiService.csproj
  playground/AzureContainerApps/AzureContainerApps.ApiService/Program.cs
  playground/AzureContainerApps/AzureContainerApps.ApiService/Properties/launchSettings.json
  playground/AzureContainerApps/AzureContainerApps.ApiService/appsettings.Development.json
  playground/AzureContainerApps/AzureContainerApps.ApiService/appsettings.json
  playground/AzureContainerApps/AzureContainerApps.AppHost/AzureContainerApps.AppHost.csproj
  playground/AzureContainerApps/AzureContainerApps.AppHost/Program.cs
  playground/AzureContainerApps/AzureContainerApps.AppHost/Properties/launchSettings.json
  playground/AzureContainerApps/AzureContainerApps.AppHost/account.module.bicep
  playground/AzureContainerApps/AzureContainerApps.AppHost/api.module.bicep
  playground/AzureContainerApps/AzureContainerApps.AppHost/appsettings.Development.json
  playground/AzureContainerApps/AzureContainerApps.AppHost/appsettings.json
  playground/AzureContainerApps/AzureContainerApps.AppHost/aspire-manifest.json
  playground/AzureContainerApps/AzureContainerApps.AppHost/cache.module.bicep
  playground/AzureContainerApps/AzureContainerApps.AppHost/storage.module.bicep
  src/Aspire.Hosting.Azure.ContainerApps/Aspire.Hosting.Azure.ContainerApps.csproj
  src/Aspire.Hosting.Azure.ContainerApps/AzureContainerAppContainerExtensions.cs
  src/Aspire.Hosting.Azure.ContainerApps/AzureContainerAppExtensions.cs
  src/Aspire.Hosting.Azure.ContainerApps/AzureContainerAppProjectExtensions.cs
  src/Aspire.Hosting.Azure.ContainerApps/AzureContanierAppsInfrastructure.cs
  src/Aspire.Hosting.Azure.ContainerApps/ContainerAppCustomizationAnnotation.cs
  src/Aspire.Hosting.Azure.ContainerApps/PublicAPI.Shipped.txt
  src/Aspire.Hosting.Azure.ContainerApps/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  src/Aspire.Hosting/ApplicationModel/DeploymentTargetAnnotation.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Azure.Tests/Aspire.Hosting.Azure.Tests.csproj
  tests/Aspire.Hosting.Azure.Tests/AzureContainerAppsTests.cs
Labels: area-integrations, azure

#5670 Update FluentUI to 4.10.1
  Directory.Packages.props
  spelling.dic
  src/Aspire.Dashboard/Components/Controls/Grid/AspireFluentDataGridHeaderCell.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/IPageWithSessionAndUrlState.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Extensions/ComponentExtensions.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/MetricsSetupHelpers.cs
Labels: area-dashboard

#5969 Fix start/stop/restart command tooltips
  src/Aspire.Dashboard/Components/Controls/ResourceActions.razor
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
Labels: area-dashboard

#5970 Make Aspire.Hosting.AWS ready for GA status with next release
  src/Aspire.Hosting.AWS/Aspire.Hosting.AWS.csproj
Labels: community-contribution

#5827 Support connection name-based configuration for Azure components
  Directory.Packages.props
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.ApiService/Program.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/Program.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/AzureFunctionsEndToEnd.Functions.csproj
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/HostBuilderExtensions.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/MyEventHubTrigger.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/MyHttpTrigger.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/MyServiceBusTrigger.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.Functions/Program.cs
  playground/Directory.Build.targets
  src/Aspire.Hosting.Azure.EventHubs/AzureEventHubsResource.cs
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
  src/Aspire.Hosting.Azure.ServiceBus/AzureServiceBusResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureStorageResource.cs
  src/Components/Aspire.Azure.AI.OpenAI/AspireAzureOpenAIExtensions.cs
  src/Components/Aspire.Azure.Data.Tables/AspireTablesExtensions.cs
  src/Components/Aspire.Azure.Messaging.EventHubs/AspireEventHubsExtensions.cs
  src/Components/Aspire.Azure.Messaging.ServiceBus/AspireServiceBusExtensions.cs
  src/Components/Aspire.Azure.Messaging.WebPubSub/AspireWebPubSubExtensions.cs
  src/Components/Aspire.Azure.Search.Documents/AspireAzureSearchExtensions.cs
  src/Components/Aspire.Azure.Security.KeyVault/AspireKeyVaultExtensions.cs
  src/Components/Aspire.Azure.Storage.Blobs/AspireBlobStorageExtensions.cs
  src/Components/Aspire.Azure.Storage.Queues/AspireQueueStorageExtensions.cs
  src/Components/Common/AzureComponent.cs
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/AspireServiceBusExtensionsTests.cs
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Blobs.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Queues.Tests/ConformanceTests.cs
  tests/Aspire.Components.Common.Tests/ConformanceTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
  tests/Aspire.Playground.Tests/ProjectSpecificTests.cs
Labels: area-integrations, azure-functions

#5951 Allow WithReference for AWS CDK Stack resources
  playground/AWS/AWSCDK.AppHost/CustomStack.cs
  playground/AWS/AWSCDK.AppHost/Program.cs
  src/Aspire.Hosting.AWS/CDK/CDKExtensions.cs
  src/Aspire.Hosting.AWS/PublicAPI.Unshipped.txt
Labels: community-contribution

#6000 Fix roles on default Storage resource and endpoint mappings for Functions
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
Labels: area-integrations, azure-functions

#5933 Make file log change test less flaky and remove post configure from dashboard web app
  src/Aspire.Dashboard/DashboardWebApplication.cs
  tests/Aspire.Dashboard.Tests/Aspire.Dashboard.Tests.csproj
  tests/Aspire.Dashboard.Tests/Integration/IntegrationTestHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/DashboardServerFixture.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Shared/AsyncTestHelpers.cs
Labels: area-dashboard

#5941 Add support for dashboard listening on any IP
  src/Aspire.Dashboard/Configuration/DashboardOptions.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Otlp/Http/OtlpHttpEndpointsBuilder.cs
  tests/Aspire.Dashboard.Tests/CustomAssert.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendBrowserTokenAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendOpenIdConnectAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpGrpcServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpHttpServiceTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/PlaywrightTestsBase.cs
  tests/Aspire.Dashboard.Tests/Integration/ResponseCompressionTests.cs
  tests/Aspire.Dashboard.Tests/Integration/StartupTests.cs
Labels: area-dashboard

#5946 Span details fixes
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Otlp/Model/OtlpSpanEvent.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
Labels: area-dashboard

#5968 Improve browser token login link when running in a container
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  src/Shared/LoggingHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/FrontendBrowserTokenAuthTests.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/PlaywrightTestsBase.cs
Labels: area-dashboard

#5914 Fix metrics grouping empty attributes and unset attributes dimensions together
  playground/Stress/Stress.ApiService/Program.cs
  src/Aspire.Dashboard/Components/Controls/Chart/ChartContainer.razor.cs
  src/Aspire.Dashboard/Components/Controls/Chart/ChartFilters.razor
  src/Aspire.Dashboard/Components/Controls/SelectResourceTypes.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Model/DimensionFilterViewModel.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpInstrument.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/MetricsTests.cs
Labels: area-dashboard, area-telemetry

#5870 Replace health check publisher and scheduler with ResourceHealthCheckService and introduce ResourceReadyEvent.
  playground/waitfor/WaitForSandbox.AppHost/Program.cs
  src/Aspire.Hosting/ApplicationModel/AfterEndpointsAllocatedEvent.cs
  src/Aspire.Hosting/ApplicationModel/AfterResourcesCreatedEvent.cs
  src/Aspire.Hosting/ApplicationModel/BeforeResourceStartedEvent.cs
  src/Aspire.Hosting/ApplicationModel/BeforeStartEvent.cs
  src/Aspire.Hosting/ApplicationModel/ResourceExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ResourceHealthyEvent.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Eventing/DistributedApplicationEventSubscription.cs
  src/Aspire.Hosting/Eventing/DistributedApplicationEventing.cs
  src/Aspire.Hosting/Eventing/EventDispatchBehavior.cs
  src/Aspire.Hosting/Eventing/IDistributedApplicationEvent.cs
  src/Aspire.Hosting/Eventing/IDistributedApplicationEventing.cs
  src/Aspire.Hosting/Health/ResourceHealthCheckScheduler.cs
  src/Aspire.Hosting/Health/ResourceHealthCheckService.cs
  src/Aspire.Hosting/Health/ResourceNotificationHealthCheckPublisher.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.MongoDB.Tests/MongoDbFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Eventing/DistributedApplicationBuilderEventingTests.cs
  tests/Aspire.Hosting.Tests/Health/ResourceHealthCheckServiceTests.cs
  tests/Aspire.Hosting.Tests/HealthCheckTests.cs
  tests/Aspire.Hosting.Tests/ResourceExtensionsTests.cs
Labels: area-app-model

#5787 Fix `VerifyWithPgWeb` failing test
  tests/Aspire.Hosting.PostgreSQL.Tests/PostgresFunctionalTests.cs
Labels: community-contribution

#5987 Update ready state check for Azure Functions tests
  tests/Aspire.Playground.Tests/ProjectSpecificTests.cs
Labels: testing ☑️, azure-functions
