Repository dotnet/aspire, pull requests merged in 2024-03, with the labels that each got.

#2537 Improve logging for flaky OTLP integration test
  tests/Aspire.Dashboard.Tests/Integration/IntegrationTestHelpers.cs
  tests/Aspire.Dashboard.Tests/Integration/OtlpServiceTests.cs
Labels: area-dashboard

#2547 Use fluent icon logo instead of img + svg
  src/Aspire.Dashboard/Components/CustomIcons/AspireIcons.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/wwwroot/Logo.svg
Labels: area-dashboard

#2429 Azure Provisioning Integration
  Aspire.sln
  Directory.Packages.props
  NuGet.config
  playground/cdk/CdkSample.ApiService/CdkSample.ApiService.csproj
  playground/cdk/CdkSample.ApiService/CdkSample.ApiService.http
  playground/cdk/CdkSample.ApiService/Program.cs
  playground/cdk/CdkSample.ApiService/Properties/launchSettings.json
  playground/cdk/CdkSample.ApiService/appsettings.Development.json
  playground/cdk/CdkSample.ApiService/appsettings.json
  playground/cdk/CdkSample.AppHost/CdkSample.AppHost.csproj
  playground/cdk/CdkSample.AppHost/Directory.Build.props
  playground/cdk/CdkSample.AppHost/Directory.Build.targets
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/Properties/launchSettings.json
  playground/cdk/CdkSample.AppHost/appsettings.Development.json
  playground/cdk/CdkSample.AppHost/appsettings.json
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/construct1.module.bicep
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-app-model

#2509 Fix console logs page subscribing twice
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/appsettings.Development.json
Labels: area-dashboard

#2558 AssignParameter(...) for CDK resources
  Directory.Packages.props
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/construct1.module.bicep
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2565 Add a helper method for awaiting task and ignoring cancellation
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dcp/DcpHostService.cs
  src/Shared/TaskHelpers.cs
Labels: area-dashboard

#2552 Azure provisioning in the dashboard
  playground/CustomResources/CustomResources.AppHost/TestResource.cs
  playground/bicep/BicepSample.ApiService/Program.cs
  playground/bicep/BicepSample.AppHost/Program.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/EndpointsColumnDisplay.razor
  src/Aspire.Dashboard/Model/ResourceEndpointHelpers.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Hosting.Azure.Provisioning/AzureProvisionerExtensions.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureResourceProvisionerOfT.cs
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/AzureAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/AzureApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureKeyVaultResource.cs
  src/Aspire.Hosting.Azure/AzureOpenAIResource.cs
  src/Aspire.Hosting.Azure/AzurePostgresResource.cs
  src/Aspire.Hosting.Azure/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure/AzureRedisResource.cs
  src/Aspire.Hosting.Azure/AzureSearchResource.cs
  src/Aspire.Hosting.Azure/AzureServiceBusResource.cs
  src/Aspire.Hosting.Azure/AzureSignalRResource.cs
  src/Aspire.Hosting.Azure/AzureSqlServerResource.cs
  src/Aspire.Hosting.Azure/AzureTableStorageResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureBicepResourceExtensions.cs
  src/Aspire.Hosting.Azure/IAzureResource.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceExtensions.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceKnownProperties.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackContext.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationState.cs
  src/Aspire.Hosting/ApplicationModel/ResourceUpdatesAnnotation.cs
  src/Aspire.Hosting/Dashboard/ConsoleLogPublisher.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceHost.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Extensions/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresDatabaseResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerDatabaseResource.cs
  src/Shared/Model/KnownProperties.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/ResourceLoggerServiceTests.cs
  tests/Aspire.Hosting.Tests/ResourceLoggerTests.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
  tests/Aspire.Hosting.Tests/ResourceUpdatesTests.cs
Labels: area-app-model

#2582 ThemeManager should not be singleton
  src/Aspire.Dashboard/DashboardWebApplication.cs
Labels: area-dashboard

#2591 Show the deployment url when provisioning
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
Labels: area-codeflow

#2596 Use endpoint references for all allocated endpoint resolution
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureBicepResourceExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ConnectionStringReference.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackContext.cs
  src/Aspire.Hosting/ApplicationModel/IManifestExpressionProvider.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithConnectionString.cs
  src/Aspire.Hosting/ApplicationModel/IValueProvider.cs
  src/Aspire.Hosting/ApplicationModel/ParameterResource.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaServerResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBServerResource.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlServerResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQServerResource.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisCommanderConfigWriterHook.cs
  src/Aspire.Hosting/Redis/RedisResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerServerResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepProvisionerTests.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/Kafka/AddKafkaTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/AddRabbitMQTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
  tests/Aspire.Hosting.Tests/Utils/EnvironmentVariableEvaluator.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#2597 Propagate the state from parent to children for azure resources
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithParentOfT.cs
Labels: area-app-model

#2601 Fix SetParametersAsync not handling guids.
  src/Aspire.Hosting.Azure.Provisioning/Provisioners/BicepProvisioner.cs
Labels: area-app-model, needs-area-label

#2602 Change the AzureBicepResource
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
Labels: area-app-model, azure

#2603 Move Azure Provisioning logic
  Aspire.sln
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/AzureSearch.AppHost.csproj
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/CosmosEndToEnd.AppHost.csproj
  playground/TestShop/AppHost/AppHost.csproj
  playground/bicep/BicepSample.AppHost/BicepSample.AppHost.csproj
  playground/cdk/CdkSample.AppHost/CdkSample.AppHost.csproj
  playground/orleans/OrleansAppHost/OrleansAppHost.csproj
  playground/signalr/SignalRAppHost/SignalRAppHost.csproj
  src/Aspire.Hosting.Azure.Provisioning/Aspire.Hosting.Azure.Provisioning.csproj
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting.Azure/Provisioning/AzureProvisionerExtensions.cs
  src/Aspire.Hosting.Azure/Provisioning/AzureProvisionerOptions.cs
  src/Aspire.Hosting.Azure/Provisioning/IAzureResourceEnumerator.cs
  src/Aspire.Hosting.Azure/Provisioning/JsonExtensions.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureResourceProvisionerOfT.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.Azure/Provisioning/UserSecretsPathHelper.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
Labels: area-app-model

#2608 Fix DashboardClient flaky test
  src/Aspire.Dashboard/Model/DashboardClient.cs
Labels: area-dashboard

#2616 Make SQL and Storage Async.
  src/Aspire.Hosting.Azure/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure/AzureSqlServerResource.cs
  src/Aspire.Hosting.Azure/AzureStorageResource.cs
  src/Aspire.Hosting.Azure/AzureTableStorageResource.cs
Labels: area-app-model

#2623 Configure AppHost templates with a user secrets ID
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/Aspire.AppHost1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.AppHost/AspireApplication.1.AppHost.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.AppHost/AspireStarterApplication.1.AppHost.csproj
Labels: area-templates

#2622 Remove unbounded HTTP call from starter template
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/WeatherApiClient.cs
Labels: area-templates

#2581 add dependabot.yml ignores
  .github/dependabot.yml
Labels: area-engineering-systems

#2606 Azure KeyVault for Aspire via CDK
  Directory.Packages.props
  playground/cdk/CdkSample.ApiService/CdkSample.ApiService.csproj
  playground/cdk/CdkSample.ApiService/Program.cs
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/mykv.module.bicep
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  src/Aspire.Hosting.Azure/AzureKeyVaultResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureKeyVaultResourceExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSqlExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2627 PublishAsAzurePostgresFlexibleServer shouldn't require a user and password
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureBicepResourceExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzurePostgresExtensions.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting/ApplicationModel/InputAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/InputReference.cs
  src/Aspire.Hosting/Utils/PasswordGenerator.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2579 Add EndpointAnnotation directly in AddProject
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/Program.cs
  playground/TestShop/AppHost/Program.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DcpDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/AutomaticManifestPublisherBindingInjectionHook.cs
  src/Aspire.Hosting/Utils/LaunchProfileExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationBuilderTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/JsonDocumentManifestPublisher.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
Labels: area-codeflow

#2634 Metrics chart HTML encoding and testing
  src/Aspire.Dashboard/Components/Controls/Chart/ChartBase.cs
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor.cs
  src/Aspire.Dashboard/Components/Controls/Chart/PlotlyChart.razor.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Extensions/TimeProviderExtensions.cs
  src/Aspire.Dashboard/Model/DefaultInstrumentUnitResolver.cs
  src/Aspire.Dashboard/Model/IInstrumentUnitResolver.cs
  src/Aspire.Dashboard/Model/PlotlyTrace.cs
  tests/Aspire.Dashboard.Components.Tests/Controls/PlotlyChartTests.cs
  tests/Aspire.Dashboard.Components.Tests/UseCultureAttribute.cs
Labels: area-dashboard, security 🔐

#2572 Resource Command Support
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceCommands.razor
  src/Aspire.Dashboard/Components/Controls/ResourceCommands.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.css
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/Model/IDashboardClient.cs
  src/Aspire.Dashboard/Model/ResourceCommandResponseViewModel.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/Protos/Partials.cs
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
  tests/Aspire.Dashboard.Components.Tests/Controls/ApplicationNameTests.cs
  tests/Aspire.Dashboard.Tests/Model/ResourceEndpointHelpersTests.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
Labels: area-dashboard

#2556 Improve resources page performance with many resources
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/Model/IDashboardClient.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Dashboard/Protos/Partials.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/Dashboard/DockerContainerLogSource.cs
  src/Aspire.Hosting/Dashboard/FileLogSource.cs
  src/Aspire.Hosting/Dashboard/ResourceLogSource.cs
  src/Aspire.Hosting/Dashboard/ResourcePublisher.cs
  src/Shared/ChannelExtensions.cs
  tests/Aspire.Dashboard.Components.Tests/Controls/ApplicationNameTests.cs
  tests/Aspire.Dashboard.Tests/Model/DashboardClientTests.cs
Labels: area-dashboard

#2605 Encoding of all dashboard URL segments and query strings
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Components/Layout/NavMenu.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/IPageWithSessionAndUrlState.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/UnreadLogErrorsBadge.razor.cs
  src/Aspire.Dashboard/Utils/DashboardUrls.cs
  tests/Aspire.Dashboard.Tests/DashboardUrlsTests.cs
Labels: area-dashboard, security 🔐

#2647 Rename `AddOracleDatabase` API.
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Components/Aspire.Oracle.EntityFrameworkCore/README.md
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
Labels: area-components

#2642 Use InputReference in more places
  src/Aspire.Hosting/ApplicationModel/InputAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/InputReference.cs
  src/Aspire.Hosting/ApplicationModel/ParameterResource.cs
  src/Aspire.Hosting/Extensions/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlServerResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQServerResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerServerResource.cs
Labels: area-app-model

#2656 Use AddSqlServer extension in AddSqlServerTests
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
Labels: area-components, community-contribution

#2654 Rename level to logLevel
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
Labels: area-dashboard

#2655 Removed kafka references in XML comments
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
Labels: area-app-model, community-contribution

#2657 Using own PrimaryEndpointName
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
Labels: area-app-model, community-contribution

#2659 Don't use backticks in exception messages
  src/Aspire.Hosting/ApplicationModel/ConnectionStringReference.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/InputReference.cs
  src/Aspire.Hosting/Extensions/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Components/Aspire.Confluent.Kafka/MetricsService.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#2643 Fix date format changing during UI updates by restoring request execution context
  src/Aspire.Dashboard/Otlp/Storage/Subscription.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
Labels: area-dashboard

#2662 Remove duplicate lin in OpenAI manifest
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/aspire-manifest.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/aspire.hosting.azure.bicep.openai.bicep
Labels: area-app-model

#2664 Base the transport on the scheme if not set
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/IProjectMetadata.cs
  src/Aspire.Hosting/Utils/LaunchProfileExtensions.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-app-model

#2667 Log the bicep compiler errors per resource
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/BicepProvisioner.cs
Labels: area-codeflow

#2663 Update a bunch of dependencies to latest
  Directory.Packages.props
  src/Components/Aspire.StackExchange.Redis/ConfigurationSchema.json
Labels: area-components

#2680 Remove publishing without previous state
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
Labels: area-app-model

#2670 Limit opacity override to resource select controls
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#2631 Update IDE execution spec for Aspire v1 release
  docs/specs/IDE-execution.md
Labels: area-tooling, area-orchestrator

#2635 Azure Redis via CDK
  Directory.Packages.props
  playground/cdk/CdkSample.ApiService/CdkSample.ApiService.csproj
  playground/cdk/CdkSample.ApiService/Program.cs
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/cache.module.bicep
  playground/cdk/CdkSample.AppHost/mykv.module.bicep
  playground/cdk/CdkSample.AppHost/sql.module.bicep
  playground/cdk/CdkSample.AppHost/storage.module.bicep
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  src/Aspire.Hosting.Azure/AzureRedisResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureKeyVaultResourceExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureRedisExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSqlExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureStorageExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2671 Added support for bicep to bicep deps
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/test.bicep
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/BicepProvisioner.cs
Labels: area-app-model

#2685 Isolate the use of host.docker.internal
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MySql/PhpMyAdminConfigWriterHook.cs
  src/Aspire.Hosting/Postgres/PgAdminConfigWriterHook.cs
  src/Aspire.Hosting/Redis/RedisCommanderConfigWriterHook.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
Labels: area-app-model

#2683 Rename FluentAppBar/FluentAppBarItem to AspireAppBar/AspireAppBarItem
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBar.razor
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBar.razor.cs
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBar.razor.css
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBarItem.razor
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBarItem.razor.cs
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBarItem.razor.css
  src/Aspire.Dashboard/Components/Layout/NavMenu.razor
Labels: area-components

#2684 Refactor InputAnnotation
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting/ApplicationModel/InputAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/InputReference.cs
  src/Aspire.Hosting/ApplicationModel/ParameterResource.cs
  src/Aspire.Hosting/Extensions/ParameterResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
Labels: area-app-model

#2678 Dashboard dropdown max visible items
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
Labels: area-dashboard, community-contribution

#2682 Make sure instrument unit is displayed in histogram metric heading
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor
Labels: area-dashboard

#2426 Add Seq component
  Aspire.sln
  playground/seq/Seq.ApiService/Program.cs
  playground/seq/Seq.ApiService/Properties/launchSettings.json
  playground/seq/Seq.ApiService/Seq.ApiService.csproj
  playground/seq/Seq.ApiService/appsettings.Development.json
  playground/seq/Seq.ApiService/appsettings.json
  playground/seq/Seq.AppHost/Directory.Build.props
  playground/seq/Seq.AppHost/Directory.Build.targets
  playground/seq/Seq.AppHost/Program.cs
  playground/seq/Seq.AppHost/Properties/launchSettings.json
  playground/seq/Seq.AppHost/Seq.AppHost.csproj
  playground/seq/Seq.AppHost/appsettings.Development.json
  playground/seq/Seq.AppHost/appsettings.json
  playground/seq/Seq.AppHost/aspire-manifest.json
  playground/seq/Seq.ServiceDefaults/Extensions.cs
  playground/seq/Seq.ServiceDefaults/Seq.ServiceDefaults.csproj
  src/Aspire.Hosting/Seq/SeqBuilderExtensions.cs
  src/Aspire.Hosting/Seq/SeqResource.cs
  src/Components/Aspire.Seq/Aspire.Seq.csproj
  src/Components/Aspire.Seq/AspireSeqExtensions.cs
  src/Components/Aspire.Seq/AssemblyInfo.cs
  src/Components/Aspire.Seq/ConfigurationSchema.json
  src/Components/Aspire.Seq/README.md
  src/Components/Aspire.Seq/SeqHealthCheck.cs
  src/Components/Aspire.Seq/SeqSettings.cs
  src/Shared/Seq_logo.275x147.png
Labels: area-components, community-contribution

#2630 Update method names for client registrations
  playground/AzureSearchEndToEnd/AzureSearch.ApiService/Program.cs
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.ApiService/Program.cs
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/Program.cs
  playground/OpenAIEndToEnd/OpenAIEndToEnd.WebStory/Program.cs
  playground/ProxylessEndToEnd/ProxylessEndToEnd.ApiService/Program.cs
  playground/TestShop/BasketService/Program.cs
  playground/TestShop/OrderProcessor/Program.cs
  playground/bicep/BicepSample.ApiService/Program.cs
  playground/cdk/CdkSample.ApiService/Program.cs
  playground/orleans/OrleansServer/Program.cs
  src/Components/Aspire.Azure.AI.OpenAI/AspireAzureOpenAIExtensions.cs
  src/Components/Aspire.Azure.AI.OpenAI/README.md
  src/Components/Aspire.Azure.Data.Tables/AspireTablesExtensions.cs
  src/Components/Aspire.Azure.Data.Tables/README.md
  src/Components/Aspire.Azure.Messaging.ServiceBus/AspireServiceBusExtensions.cs
  src/Components/Aspire.Azure.Messaging.ServiceBus/README.md
  src/Components/Aspire.Azure.Search.Documents/AspireAzureSearchExtensions.cs
  src/Components/Aspire.Azure.Search.Documents/README.md
  src/Components/Aspire.Azure.Security.KeyVault/AspireKeyVaultExtensions.cs
  src/Components/Aspire.Azure.Security.KeyVault/README.md
  src/Components/Aspire.Azure.Storage.Blobs/AspireBlobStorageExtensions.cs
  src/Components/Aspire.Azure.Storage.Blobs/README.md
  src/Components/Aspire.Azure.Storage.Queues/AspireQueueStorageExtensions.cs
  src/Components/Aspire.Azure.Storage.Queues/README.md
  src/Components/Aspire.Microsoft.Azure.Cosmos/AspireAzureCosmosDBExtensions.cs
  src/Components/Aspire.Microsoft.Azure.Cosmos/README.md
  src/Components/Aspire.Microsoft.Data.SqlClient/README.md
  src/Components/Aspire.MySqlConnector/README.md
  src/Components/Aspire.RabbitMQ.Client/AspireRabbitMQExtensions.cs
  src/Components/Aspire.RabbitMQ.Client/README.md
  src/Components/Aspire.StackExchange.Redis.DistributedCaching/AspireRedisDistributedCacheExtensions.cs
  src/Components/Aspire.StackExchange.Redis.OutputCaching/AspireRedisOutputCacheExtensions.cs
  src/Components/Aspire.StackExchange.Redis/AspireRedisExtensions.cs
  src/Components/Aspire.StackExchange.Redis/README.md
  tests/Aspire.Azure.AI.OpenAI.Tests/AspireAzureAIOpenAIExtensionsTests.cs
  tests/Aspire.Azure.AI.OpenAI.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Data.Tables.Tests/AspireTablesExtensionsTests.cs
  tests/Aspire.Azure.Data.Tables.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/AspireServiceBusExtensionsTests.cs
  tests/Aspire.Azure.Messaging.ServiceBus.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Search.Documents.Tests/AspireAzureSearchExtensionsTests.cs
  tests/Aspire.Azure.Search.Documents.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Security.KeyVault.Tests/AspireKeyVaultExtensionsTests.cs
  tests/Aspire.Azure.Security.KeyVault.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Blobs.Tests/AspireBlobStorageExtensionsTests.cs
  tests/Aspire.Azure.Storage.Blobs.Tests/ConformanceTests.cs
  tests/Aspire.Azure.Storage.Queues.Tests/AspireQueueStorageExtensionsTests.cs
  tests/Aspire.Azure.Storage.Queues.Tests/ConformanceTests.cs
  tests/Aspire.Microsoft.Azure.Cosmos.Tests/ConformanceTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQExtensionsTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQLoggingTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/ConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/AspireRedisExtensionsTests.cs
  tests/Aspire.StackExchange.Redis.Tests/ConformanceTests.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
Labels: area-components

#2691 Update Microsoft.FluentUI.AspNetCore.Components
  Directory.Packages.props
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
Labels: area-dashboard

#1175 NATS Aspire container
  Aspire.sln
  Directory.Packages.props
  playground/nats/Nats.ApiService/Nats.ApiService.csproj
  playground/nats/Nats.ApiService/Nats.ApiService.http
  playground/nats/Nats.ApiService/Program.cs
  playground/nats/Nats.ApiService/Properties/launchSettings.json
  playground/nats/Nats.ApiService/appsettings.Development.json
  playground/nats/Nats.ApiService/appsettings.json
  playground/nats/Nats.AppHost/Directory.Build.props
  playground/nats/Nats.AppHost/Directory.Build.targets
  playground/nats/Nats.AppHost/Nats.AppHost.csproj
  playground/nats/Nats.AppHost/Program.cs
  playground/nats/Nats.AppHost/Properties/launchSettings.json
  playground/nats/Nats.AppHost/aspire-manifest.json
  playground/nats/Nats.Backend/Nats.Backend.csproj
  playground/nats/Nats.Backend/Program.cs
  playground/nats/Nats.Backend/Properties/launchSettings.json
  playground/nats/Nats.Common/AppEvent.cs
  playground/nats/Nats.Common/Nats.Common.csproj
  spelling.dic
  src/Aspire.Hosting/Nats/NatsBuilderExtensions.cs
  src/Aspire.Hosting/Nats/NatsServerResource.cs
  src/Components/Aspire.NATS.Net/Aspire.NATS.Net.csproj
  src/Components/Aspire.NATS.Net/AspireNatsClientExtensions.cs
  src/Components/Aspire.NATS.Net/AssemblyInfo.cs
  src/Components/Aspire.NATS.Net/ConfigurationSchema.json
  src/Components/Aspire.NATS.Net/NatsClientSettings.cs
  src/Components/Aspire.NATS.Net/NatsHealthCheck.cs
  src/Components/Aspire.NATS.Net/README.md
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  src/Shared/nats-icon.png
  tests/Aspire.Hosting.Tests/Nats/AddNatsTests.cs
  tests/Aspire.NATS.Net.Tests/Aspire.NATS.Net.Tests.csproj
  tests/Aspire.NATS.Net.Tests/AspireNatsClientExtensionsTests.cs
  tests/Aspire.NATS.Net.Tests/ConfigurationTests.cs
  tests/Aspire.NATS.Net.Tests/ConformanceTests.cs
Labels: area-components, community-contribution

#2531 Add limits to OTEL attribute count and length
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor.cs
  src/Aspire.Dashboard/Model/Otlp/LogFilter.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpInstrument.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpMeter.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpScope.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  tests/Aspire.Dashboard.Components.Tests/Controls/PlotlyChartTests.cs
  tests/Aspire.Dashboard.Tests/BrowserLinkOutgoingPeerResolverTests.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/MetricsTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TestHelpers.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: area-dashboard, security 🔐

#2693 Update bUnit to support .NET 9
  Directory.Packages.props
Labels: area-dashboard

#2665 Improve resource subscription performance and safety
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/DashboardClient.cs
  src/Aspire.Dashboard/Model/IDashboardClient.cs
  src/Aspire.Dashboard/Model/ResourceOutgoingPeerResolver.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/Dashboard/DockerContainerLogSource.cs
  src/Aspire.Hosting/Dashboard/FileLogSource.cs
  src/Aspire.Hosting/Dashboard/ResourceLogSource.cs
  src/Aspire.Hosting/Dashboard/ResourcePublisher.cs
  src/Shared/ChannelExtensions.cs
  tests/Aspire.Dashboard.Tests/ChannelExtensionsTests.cs
  tests/Aspire.Dashboard.Tests/Model/DashboardClientTests.cs
Labels: area-dashboard, security 🔐

#2696 Attempt to fix flaky test cert issue
  tests/Aspire.Dashboard.Tests/Integration/IntegrationTestHelpers.cs
Labels: area-dashboard

#2699 Don't wait for dashboard to be ready
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/HttpPingDashboardAvailability.cs
  src/Aspire.Hosting/Dcp/IDashboardAvailability.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/Dcp/MockDashboardAvailability.cs
Labels: area-app-model

#2672 Improve telemetry subscription performance and safety
  src/Aspire.Dashboard/Otlp/Storage/Subscription.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TestHelpers.cs
Labels: area-dashboard, security 🔐

#2700 Use EndpointReference instead of AllocatedEndpoints
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureStorageResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureStorageExtensions.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Testing/DistributedApplicationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReferenceAnnotation.cs
  src/Aspire.Hosting/Extensions/ResourceExtensions.cs
  src/Aspire.Hosting/MySql/PhpMyAdminConfigWriterHook.cs
  src/Aspire.Hosting/Postgres/PgAdminConfigWriterHook.cs
  src/Aspire.Hosting/Seq/SeqBuilderExtensions.cs
  src/Aspire.Hosting/Seq/SeqResource.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Helpers/AllocatedEndpointAnnotationTestExtensions.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#2712 Revert the update to Pomelo.EntityFrameworkCore.MySql
  Directory.Packages.props
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesTests.cs
Labels: area-components

#2669 [tests] Add integration test for efcore postgresql
  tests/Aspire.EndToEnd.Tests/IntegrationServicesTests.cs
  tests/testproject/Common/TestResourceNames.cs
  tests/testproject/Directory.Packages.Helix.props
  tests/testproject/TestProject.IntegrationServiceA/Postgres/NpgsqlDbContext.cs
  tests/testproject/TestProject.IntegrationServiceA/Postgres/NpgsqlEFCoreExtensions.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Labels: area-codeflow

#2716 [release/9.0-preview2] Update dependencies to 9.0 Preview 2 versions
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#2703 Fix flaky min rate tests
  tests/Aspire.Dashboard.Tests/ChannelExtensionsTests.cs
  tests/Aspire.Dashboard.Tests/CustomAssert.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
Labels: area-dashboard

#2709 Remove key from overflow item to fix re-rendering
  src/Aspire.Dashboard/Components/Controls/Chart/ChartFilters.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
Labels: area-dashboard

#2708 Postgres to Azure via CDK
  Directory.Packages.props
  playground/cdk/CdkSample.ApiService/CdkSample.ApiService.csproj
  playground/cdk/CdkSample.ApiService/Program.cs
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/aspire.hosting.azure.bicep.postgres.bicep
  playground/cdk/CdkSample.AppHost/cache.module.bicep
  playground/cdk/CdkSample.AppHost/mykv.module.bicep
  playground/cdk/CdkSample.AppHost/pgsql.module.bicep
  playground/cdk/CdkSample.AppHost/pgsql2.module.bicep
  playground/cdk/CdkSample.AppHost/sql.module.bicep
  playground/cdk/CdkSample.AppHost/storage.module.bicep
  src/Aspire.Hosting.Azure/AzurePostgresResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzurePostgresExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureRedisExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSqlExtensions.cs
Labels: area-app-model

#2723 Update Blazor FluentUI to 4.5.0
  Directory.Packages.props
Labels: area-components

#2724 Turn off detailed logging in ARM.
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/BicepProvisioner.cs
Labels: area-app-model

#2710 Azure Cosmos via CDK
  playground/cdk/CdkSample.ApiService/CdkSample.ApiService.csproj
  playground/cdk/CdkSample.ApiService/Program.cs
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/cosmos.module.bicep
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2725 Fix reading launchSettings.json with extra semicolon
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/testproject/TestProject.ServiceA/Properties/launchSettings.json
Labels: area-app-model

#2727 Fix initial resource display status
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
Labels: area-dashboard, community-contribution

#2600 Add stress playground
  Aspire.sln
  Directory.Packages.props
  playground/Stress/Stress.ApiService/Program.cs
  playground/Stress/Stress.ApiService/Properties/launchSettings.json
  playground/Stress/Stress.ApiService/Stress.ApiService.csproj
  playground/Stress/Stress.ApiService/appsettings.Development.json
  playground/Stress/Stress.ApiService/appsettings.json
  playground/Stress/Stress.AppHost/Directory.Build.props
  playground/Stress/Stress.AppHost/Directory.Build.targets
  playground/Stress/Stress.AppHost/Program.cs
  playground/Stress/Stress.AppHost/Properties/launchSettings.json
  playground/Stress/Stress.AppHost/Stress.AppHost.csproj
  playground/Stress/Stress.AppHost/TestResource.cs
  playground/Stress/Stress.AppHost/appsettings.Development.json
  playground/Stress/Stress.AppHost/appsettings.json
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/collector/README.md
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/collector/logs/v1/logs_service.proto
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/collector/logs/v1/logs_service_http.yaml
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/collector/metrics/v1/metrics_service.proto
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/collector/metrics/v1/metrics_service_http.yaml
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/collector/trace/v1/trace_service.proto
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/collector/trace/v1/trace_service_http.yaml
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/common/v1/common.proto
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/logs/v1/logs.proto
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/metrics/v1/metrics.proto
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/resource/v1/resource.proto
  playground/Stress/Stress.TelemetryService/Otlp/opentelemetry/proto/trace/v1/trace.proto
  playground/Stress/Stress.TelemetryService/Program.cs
  playground/Stress/Stress.TelemetryService/Stress.TelemetryService.csproj
  playground/Stress/Stress.TelemetryService/TelemetryStresser.cs
Labels: area-dashboard, security 🔐

#2717 Rework password generation
  src/Aspire.Hosting.Azure/Extensions/AzurePostgresExtensions.cs
  src/Aspire.Hosting/ApplicationModel/InputAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/InputAnnotationExtensions.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlServerResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQServerResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerServerResource.cs
  src/Aspire.Hosting/Utils/PasswordGenerator.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/AddRabbitMQTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
  tests/Aspire.Hosting.Tests/Utils/PasswordGeneratorTests.cs
Labels: area-app-model

#2715 OpenAI accepts URIs as connection strings
  src/Components/Aspire.Azure.AI.OpenAI/AzureOpenAISettings.cs
  tests/Aspire.Azure.AI.OpenAI.Tests/AspireAzureAIOpenAIExtensionsTests.cs
Labels: area-components

#2719 Service Discovery: allow multiple schemes to be specified in request
  playground/TestShop/ApiGateway/appsettings.json
  playground/TestShop/AppHost/Program.cs
  playground/TestShop/AppHost/aspire-manifest.json
  playground/TestShop/MyFrontend/Program.cs
  src/Aspire.Hosting/ApplicationModel/AllocatedEndpoint.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReferenceAnnotation.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Extensions.cs
  src/Microsoft.Extensions.ServiceDiscovery.Abstractions/Microsoft.Extensions.ServiceDiscovery.Abstractions.csproj
  src/Microsoft.Extensions.ServiceDiscovery.Abstractions/UriEndPoint.cs
  src/Microsoft.Extensions.ServiceDiscovery.Dns/DnsServiceEndPointResolverProvider.cs
  src/Microsoft.Extensions.ServiceDiscovery.Dns/DnsSrvServiceEndPointResolverProvider.cs
  src/Microsoft.Extensions.ServiceDiscovery.Dns/Microsoft.Extensions.ServiceDiscovery.Dns.csproj
  src/Microsoft.Extensions.ServiceDiscovery.Yarp/ServiceDiscoveryForwarderHttpClientFactory.cs
  src/Microsoft.Extensions.ServiceDiscovery/Configuration/ConfigurationServiceEndPointResolver.Log.cs
  src/Microsoft.Extensions.ServiceDiscovery/Configuration/ConfigurationServiceEndPointResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery/Configuration/ConfigurationServiceEndPointResolverOptions.cs
  src/Microsoft.Extensions.ServiceDiscovery/Configuration/ConfigurationServiceEndPointResolverProvider.cs
  src/Microsoft.Extensions.ServiceDiscovery/HostingExtensions.cs
  src/Microsoft.Extensions.ServiceDiscovery/Http/HttpClientBuilderExtensions.cs
  src/Microsoft.Extensions.ServiceDiscovery/Http/ResolvingHttpClientHandler.cs
  src/Microsoft.Extensions.ServiceDiscovery/Http/ResolvingHttpDelegatingHandler.cs
  src/Microsoft.Extensions.ServiceDiscovery/Internal/ServiceDiscoveryOptionsValidator.cs
  src/Microsoft.Extensions.ServiceDiscovery/Internal/ServiceNameParser.cs
  src/Microsoft.Extensions.ServiceDiscovery/Internal/ServiceNameParts.cs
  src/Microsoft.Extensions.ServiceDiscovery/Microsoft.Extensions.ServiceDiscovery.csproj
  src/Microsoft.Extensions.ServiceDiscovery/PassThrough/PassThroughServiceEndPointResolverProvider.cs
  src/Microsoft.Extensions.ServiceDiscovery/ServiceDiscoveryOptions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/Kafka/AddKafkaTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/AddRabbitMQTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/SlimTestProgramTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Dns.Tests/DnsSrvServiceEndPointResolverTests.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Tests/ConfigurationServiceEndPointResolverTests.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Tests/PassThroughServiceEndPointResolverTests.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
Labels: area-service-discovery

#2742 Write details of container volumes to the publishing manifest
  playground/TestShop/AppHost/Properties/launchSettings.json
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2741 Add ServiceBus support using CDK
  Directory.Packages.props
  playground/cdk/CdkSample.ApiService/CdkSample.ApiService.csproj
  playground/cdk/CdkSample.ApiService/Program.cs
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/servicebus.module.bicep
  src/Aspire.Hosting.Azure/AzureServiceBusResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureServiceBusExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model, community-contribution

#2749 Fix console logs JS error
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor.cs
Labels: area-dashboard

#2588 Added Fix and tests for calling WithImage (#2580)
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ContainerResourceBuilderTests.cs
Labels: area-app-model, community-contribution

#2745 Enable forwarded headers middleware when publishing projects by default
  src/Aspire.Hosting/ApplicationModel/DisableForwardedHeadersAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: area-app-model

#2759 Represent expressions made up of multiple properties of other resources.
  src/Aspire.Hosting.Azure/AzureAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/AzureApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureKeyVaultResource.cs
  src/Aspire.Hosting.Azure/AzureOpenAIResource.cs
  src/Aspire.Hosting.Azure/AzurePostgresResource.cs
  src/Aspire.Hosting.Azure/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure/AzureRedisResource.cs
  src/Aspire.Hosting.Azure/AzureSearchResource.cs
  src/Aspire.Hosting.Azure/AzureServiceBusResource.cs
  src/Aspire.Hosting.Azure/AzureSignalRResource.cs
  src/Aspire.Hosting.Azure/AzureSqlServerResource.cs
  src/Aspire.Hosting.Azure/AzureTableStorageResource.cs
  src/Aspire.Hosting.Testing/DistributedApplicationExtensions.cs
  src/Aspire.Hosting.Testing/DistributedApplicationFactoryOfT.cs
  src/Aspire.Hosting/ApplicationModel/AllocatedEndpoint.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithConnectionString.cs
  src/Aspire.Hosting/ApplicationModel/ReferenceExpression.cs
  src/Aspire.Hosting/ApplicationModel/ResourceWithConnectionStringSurrogate.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaServerResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBDatabaseResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBServerResource.cs
  src/Aspire.Hosting/MySql/MySqlDatabaseResource.cs
  src/Aspire.Hosting/MySql/MySqlServerResource.cs
  src/Aspire.Hosting/MySql/PhpMyAdminConfigWriterHook.cs
  src/Aspire.Hosting/Nats/NatsServerResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  src/Aspire.Hosting/Postgres/PgAdminConfigWriterHook.cs
  src/Aspire.Hosting/Postgres/PostgresDatabaseResource.cs
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQServerResource.cs
  src/Aspire.Hosting/Redis/RedisCommanderConfigWriterHook.cs
  src/Aspire.Hosting/Redis/RedisResource.cs
  src/Aspire.Hosting/Seq/SeqResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerDatabaseResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerServerResource.cs
  tests/Aspire.Hosting.Testing.Tests/TestingBuilderTests.cs
  tests/Aspire.Hosting.Testing.Tests/TestingFactoryTests.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepProvisionerTests.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/Kafka/AddKafkaTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/AddRabbitMQTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#2731 Use ResourceLoggerService and ResourceNotification service for DCP based resource changes
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Model/ResourceEndpointHelpers.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Dashboard/ConsoleLogPublisher.cs
  src/Aspire.Hosting/Dashboard/ContainerSnapshot.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/DcpDataSource.cs
  src/Aspire.Hosting/Dashboard/ExecutableSnapshot.cs
  src/Aspire.Hosting/Dashboard/GenericResourceSnapshot.cs
  src/Aspire.Hosting/Dashboard/ProjectSnapshot.cs
  src/Aspire.Hosting/Dashboard/ResourceSnapshot.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DockerContainerLogSource.cs
  src/Aspire.Hosting/Dcp/FileLogSource.cs
  src/Aspire.Hosting/Dcp/Model/ModelCommon.cs
  src/Aspire.Hosting/Dcp/ResourceLogSource.cs
  src/Aspire.Hosting/Extensions/ProjectResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/Dashboard/ResourcePublisherTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorTests.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
Labels: area-app-model

#2653 Fix safari copy button issues
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.css
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/LogMessageColumnDisplay.razor.cs
  src/Aspire.Dashboard/Extensions/FluentUIExtensions.cs
  src/Aspire.Dashboard/wwwroot/js/app.js
Labels: area-dashboard

#2721 Update Pomelo to v8.0.1
  Directory.Packages.props
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
Labels: area-components, community-contribution

#2765 Catch disconnect error in ConsoleLogs when quickly refreshing page
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor.cs
  src/Aspire.Dashboard/Otlp/Storage/Subscription.cs
Labels: area-dashboard

#2767 Public build pipeline
  eng/pipelines/azure-pipelines-public.yml
Labels: area-engineering-systems

#2768 Public build pipeline
  eng/pipelines/azure-pipelines-public.yml
Labels: area-engineering-systems

#2732 Add tags to CDK-based resources
  playground/cdk/CdkSample.AppHost/cache.module.bicep
  playground/cdk/CdkSample.AppHost/cosmos.module.bicep
  playground/cdk/CdkSample.AppHost/mykv.module.bicep
  playground/cdk/CdkSample.AppHost/pgsql.module.bicep
  playground/cdk/CdkSample.AppHost/pgsql2.module.bicep
  playground/cdk/CdkSample.AppHost/sql.module.bicep
  playground/cdk/CdkSample.AppHost/storage.module.bicep
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureKeyVaultResourceExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzurePostgresExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureRedisExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSqlExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureStorageExtensions.cs
Labels: area-app-model

#1317 Add WithVolumeMountForData
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
Labels: area-app-model, community-contribution

#2778 Follow up from Seq PR
  src/Components/Aspire.Seq/Aspire.Seq.csproj
  src/Components/Aspire.Seq/AspireSeqExtensions.cs
  src/Components/Aspire.Seq/ConfigurationSchema.json
  src/Components/Aspire.Seq/README.md
  src/Components/Aspire.Seq/SeqHealthCheck.cs
  src/Components/Aspire.Seq/SeqSettings.cs
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
Labels: area-components

#2779 Follow up from NATS PR
  src/Components/Aspire.NATS.Net/Aspire.NATS.Net.csproj
  src/Components/Aspire.NATS.Net/AspireNatsClientExtensions.cs
  src/Components/Aspire.NATS.Net/README.md
  tests/Aspire.NATS.Net.Tests/ConformanceTests.cs
Labels: area-components

#2748 [workload-testing] Update testing nuget, and remove some workarounds
  NuGet.config
  eng/Version.Details.xml
  eng/Versions.props
  src/Microsoft.NET.Sdk.Aspire/Microsoft.NET.Sdk.Aspire.csproj
  tests/Aspire.EndToEnd.Tests/Aspire.EndToEnd.Tests.csproj
  tests/Shared/Aspire.Workload.Testing.targets
Labels: testing ☑️

#2784 [release/9.0-preview2] Updating versioning to Preview 2
  eng/Versions.props
Labels: area-codeflow

#2777 Use helper methods to model resources
  src/Aspire.Hosting/Dcp/DcpDependencyCheck.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Kafka/KafkaBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting/MongoDB/MongoDBConnectionStringBuilder.cs
  src/Aspire.Hosting/MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting/Nats/NatsBuilderExtensions.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseBuilderExtensions.cs
  src/Aspire.Hosting/Postgres/PostgresBuilderExtensions.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQBuilderExtensions.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/Seq/SeqBuilderExtensions.cs
  src/Aspire.Hosting/SqlServer/SqlServerBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ContainerResourceBuilderTests.cs
  tests/Aspire.Hosting.Tests/Kafka/AddKafkaTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/MongoDBConnectionStringBuilderTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Nats/AddNatsTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/AddRabbitMQTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
Labels: area-app-model

#2744 Switch to log streaming
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Dcp/DockerContainerLogSource.cs
  src/Aspire.Hosting/Dcp/FileLogSource.cs
  src/Aspire.Hosting/Dcp/KubernetesService.cs
  src/Aspire.Hosting/Dcp/Model/Container.cs
  src/Aspire.Hosting/Dcp/Model/Executable.cs
  src/Aspire.Hosting/Dcp/ResourceLogSource.cs
  tests/Aspire.Hosting.Tests/Dcp/MockKubernetesService.cs
Labels: area-app-model

#2786 Rename AddKeyVaultSecrets to match other extension methods naming
  src/Components/Aspire.Azure.Security.KeyVault/AspireKeyVaultExtensions.cs
  src/Components/Aspire.Azure.Security.KeyVault/README.md
  tests/Aspire.Azure.Security.KeyVault.Tests/AspireKeyVaultExtensionsTests.cs
Labels: area-components

#2782 Emit bind mounts in manifest
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-app-model

#2797 Bring environment and arguments to parity
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/ApplicationModel/CommandLineArgsCallbackAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ContainerResource.cs
  src/Aspire.Hosting/ApplicationModel/ExecutableResource.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithArgs.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/Extensions/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/Extensions/ResourceBuilderExtensions.cs
  src/Aspire.Hosting/Node/NodeAppResource.cs
  src/Aspire.Hosting/Node/NodeExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublisher.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/ContainerResourceTests.cs
  tests/Aspire.Hosting.Tests/ExecutableResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/Nats/AddNatsTests.cs
  tests/Aspire.Hosting.Tests/Utils/ArgumentEvaluator.cs
Labels: area-app-model, breaking-change

#2718 [tests] Refactor MongoDB.Driver tests to use testcontainers
  Directory.Packages.props
  tests/Aspire.Components.Common.Tests/RequiresDockerTheoryAttribute.cs
  tests/Aspire.MongoDB.Driver.Tests/Aspire.MongoDB.Driver.Tests.csproj
  tests/Aspire.MongoDB.Driver.Tests/AspireMongoDBDriverExtensionsTests.cs
  tests/Aspire.MongoDB.Driver.Tests/ConformanceTests.cs
  tests/Aspire.MongoDB.Driver.Tests/MongoDbContainerFixture.cs
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQExtensionsTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/AspireRabbitMQLoggingTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/ConformanceTests.cs
  tests/Aspire.RabbitMQ.Client.Tests/RabbitMQContainerFixture.cs
Labels: area-components

#2806 Add loading indicator to resources page
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#2805 Fixed not resolving bicep outputs when a lambda was used
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ExecutableResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
  tests/Aspire.Hosting.Tests/Utils/ManifestUtils.cs
Labels: area-app-model

#2812 Use get endpoint instead of DCP tricks
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
Labels: area-app-model

#2791 Refactor Directory.Packages.props
  Directory.Packages.props
  eng/Versions.props
  playground/TestShop/ServiceDefaults/ServiceDefaults.csproj
  playground/orleans/OrleansServiceDefaults/OrleansServiceDefaults.csproj
  src/Microsoft.NET.Sdk.Aspire/Microsoft.NET.Sdk.Aspire.csproj
  src/Shared/Workload.targets
Labels: area-components

#2792 Fix build with VS
  tests/Shared/Aspire.Workload.Testing.targets
Labels: area-components

#2808 Redirect test logs into a subfolder
  Directory.Build.props
Labels: area-codeflow

#2809 Runtime null checking in application model
  src/Aspire.Hosting/ApplicationModel/CommandLineArgsCallbackAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ConnectionStringRedirectAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ConnectionStringReference.cs
  src/Aspire.Hosting/ApplicationModel/ContainerMountAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceExtensions.cs
  src/Aspire.Hosting/ApplicationModel/DistributedApplicationModel.cs
  src/Aspire.Hosting/ApplicationModel/EndpointAnnotationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReferenceAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackContext.cs
  src/Aspire.Hosting/ApplicationModel/ExecutableResource.cs
  src/Aspire.Hosting/ApplicationModel/InputAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/InputReference.cs
  src/Aspire.Hosting/ApplicationModel/LaunchProfileAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ManifestMetadataAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ParameterResource.cs
  src/Aspire.Hosting/ApplicationModel/ProjectResourceExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ReferenceExpression.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationState.cs
  src/Aspire.Hosting/DistributedApplication.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/DistributedApplicationResourceBuilder.cs
Labels: area-app-model

#2820 Add support for provisioning Azure AI Search via the CDK
  Directory.Packages.props
  playground/cdk/CdkSample.ApiService/CdkSample.ApiService.csproj
  playground/cdk/CdkSample.ApiService/Program.cs
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/search.module.bicep
  playground/cdk/CdkSample.AppHost/servicebus.module.bicep
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/AzureSearchResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSearchExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model, community-contribution

#2825 Revert to the working dotnet-coverage version
  .config/dotnet-tools.json
Labels: area-engineering-systems

#2831 Reset scroll position when switching between pages
  src/Aspire.Dashboard/wwwroot/js/app.js
Labels: area-dashboard

#2833 Consistency between IJSRuntime naming
  src/Aspire.Dashboard/Components/Controls/Chart/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
Labels: area-dashboard

#2835 Prevent menu button from overflowing bottom of page
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor
Labels: area-components

#2834 Add helper method for disposing JS references
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor.cs
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Utils/JSInteropHelpers.cs
Labels: area-dashboard

#2836 Add missing variable
  eng/pipelines/azure-pipelines-public.yml
Labels: area-engineering-systems

#2818 Enable DATAS GC for the Dashboard
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
Labels: area-dashboard

#2849 Minor cleanup
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting/Utils/PasswordUtil.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/MySql/MySqlConnectionStringBuilderTests.cs
  tests/Aspire.Hosting.Tests/Oracle/OracleContainerResourceTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/Postgres/PostgresContainerResourceTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/SqlServerContainerResourceTests.cs
Labels: area-components

#2686 Enable HTTPS in templates
  playground/TestShop/AppHost/Properties/launchSettings.json
  playground/TestShop/MyFrontend/Program.cs
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/dotnetcli.host.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/ide.host.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/dotnetcli.host.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/ide.host.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.AppHost/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/dotnetcli.host.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/ide.host.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.AppHost/Properties/launchSettings.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Web/Program.cs
Labels: area-templates

#2858 Enable template localization for Aspire templates
  src/Aspire.ProjectTemplates/Aspire.ProjectTemplates.csproj
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.cs.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.de.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.en.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.es.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.fr.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.it.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.ja.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.ko.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.pl.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.pt-BR.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.ru.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.tr.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.zh-Hans.json
  src/Aspire.ProjectTemplates/templates/aspire-apphost/.template.config/localize/templatestrings.zh-Hant.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.cs.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.de.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.en.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.es.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.fr.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.it.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.ja.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.ko.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.pl.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.pt-BR.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.ru.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.tr.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.zh-Hans.json
  src/Aspire.ProjectTemplates/templates/aspire-empty/.template.config/localize/templatestrings.zh-Hant.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.cs.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.de.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.en.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.es.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.fr.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.it.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.ja.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.ko.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.pl.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.pt-BR.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.ru.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.tr.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.zh-Hans.json
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/.template.config/localize/templatestrings.zh-Hant.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.cs.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.de.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.en.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.es.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.fr.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.it.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.ja.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.ko.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.pl.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.pt-BR.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.ru.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.tr.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.zh-Hans.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.zh-Hant.json
Labels: area-templates

#2822 Added GeneratedCodeAttribute and ExcludeFromCodeCoverageAttribute to …
  src/Aspire.Hosting/build/Aspire.Hosting.targets
Labels: area-components, community-contribution

#2860 Replace AspireAppBar with FluentAppBar
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBar.razor
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBar.razor.cs
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBar.razor.css
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBarItem.razor
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBarItem.razor.cs
  src/Aspire.Dashboard/Components/Controls/AppBar/AspireAppBarItem.razor.css
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.css
  src/Aspire.Dashboard/Components/Layout/NavMenu.razor
  src/Aspire.Dashboard/Components/Layout/NavMenu.razor.cs
Labels: area-components

#2864 Remove unstable OTel packages from templates
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/AspireApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-empty/AspireApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Aspire.ServiceDefaults1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/AspireStarterApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.ServiceDefaults/Extensions.cs
Labels: area-templates

#2840 Stress console with interesting and unusual content
  playground/Stress/Stress.ApiService/ConsoleStresser.cs
  playground/Stress/Stress.ApiService/Program.cs
Labels: area-dashboard, security 🔐

#2804 Azure AppConfiguration via CDK
  Directory.Packages.props
  playground/cdk/CdkSample.ApiService/CdkSample.ApiService.csproj
  playground/cdk/CdkSample.ApiService/Program.cs
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/appConfig.module.bicep
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/aspire.hosting.azure.bicep.postgres.bicep
  playground/cdk/CdkSample.AppHost/servicebus.module.bicep
  src/Aspire.Hosting.Azure/AzureAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureAppConfigurationExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureServiceBusExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2740 Follow up from password rework
  src/Aspire.Hosting/ApplicationModel/InputAnnotation.cs
  src/Aspire.Hosting/Utils/PasswordGenerator.cs
  tests/Aspire.Hosting.Tests/Utils/PasswordGeneratorTests.cs
Labels: area-components

#2844 Convert times using browser local time zone
  src/Aspire.Dashboard/Components/Controls/Chart/ChartBase.cs
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor
  src/Aspire.Dashboard/Components/Controls/Chart/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Components/Controls/LogViewer.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StartTimeColumnDisplay.razor
  src/Aspire.Dashboard/ConsoleLogs/LogParser.cs
  src/Aspire.Dashboard/ConsoleLogs/TimestampParser.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Extensions/TimeProviderExtensions.cs
  src/Aspire.Dashboard/Model/BrowserTimeProvider.cs
  src/Aspire.Dashboard/Utils/FormatHelpers.cs
  src/Aspire.Dashboard/wwwroot/js/app.js
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/TimestampParserTests.cs
  tests/Aspire.Dashboard.Tests/FormatHelpersTests.cs
Labels: area-dashboard

#2857 Upgrade Fluent UI Blazor Icons package
  Directory.Packages.props
Labels: area-components

#1905 Add AWS CloudFormation Provisioning and SDK Configuration
  Aspire.sln
  Directory.Packages.props
  playground/AWS/AWS.AppHost/AWS.AppHost.csproj
  playground/AWS/AWS.AppHost/Directory.Build.props
  playground/AWS/AWS.AppHost/Directory.Build.targets
  playground/AWS/AWS.AppHost/Program.cs
  playground/AWS/AWS.AppHost/Properties/launchSettings.json
  playground/AWS/AWS.AppHost/app-resources.template
  playground/AWS/AWS.AppHost/appsettings.json
  playground/AWS/AWS.AppHost/aspire-manifest.json
  playground/AWS/AWS.ServiceDefaults/AWS.ServiceDefaults.csproj
  playground/AWS/AWS.ServiceDefaults/Extensions.cs
  playground/AWS/Frontend/Components/App.razor
  playground/AWS/Frontend/Components/Layout/MainLayout.razor
  playground/AWS/Frontend/Components/Layout/MainLayout.razor.css
  playground/AWS/Frontend/Components/Layout/NavMenu.razor
  playground/AWS/Frontend/Components/Layout/NavMenu.razor.css
  playground/AWS/Frontend/Components/Pages/AppHostConfiguration.razor
  playground/AWS/Frontend/Components/Pages/Error.razor
  playground/AWS/Frontend/Components/Pages/Home.razor
  playground/AWS/Frontend/Components/Pages/MessagePublisher.razor
  playground/AWS/Frontend/Components/Routes.razor
  playground/AWS/Frontend/Components/_Imports.razor
  playground/AWS/Frontend/Frontend.csproj
  playground/AWS/Frontend/Models/ChatMessage.cs
  playground/AWS/Frontend/Program.cs
  playground/AWS/Frontend/Properties/launchSettings.json
  playground/AWS/Frontend/appsettings.Development.json
  playground/AWS/Frontend/appsettings.json
  playground/AWS/Frontend/wwwroot/app.css
  playground/AWS/Frontend/wwwroot/bootstrap/bootstrap.min.css
  playground/AWS/Frontend/wwwroot/bootstrap/bootstrap.min.css.map
  playground/AWS/Frontend/wwwroot/favicon.png
  src/Aspire.Hosting.AWS/AWSProvisioningException.cs
  src/Aspire.Hosting.AWS/AWSSDKConfig.cs
  src/Aspire.Hosting.AWS/Aspire.Hosting.AWS.csproj
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationExtensions.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationLifecycleHook.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationProvisioner.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationReferenceAnnotation.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationResource.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationStackExecutor.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationStackResource.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationTemplateResource.cs
  src/Aspire.Hosting.AWS/CloudFormation/ICloudFormationResource.cs
  src/Aspire.Hosting.AWS/CloudFormation/ICloudFormationStackResource.cs
  src/Aspire.Hosting.AWS/CloudFormation/ICloudFormationTemplateResource.cs
  src/Aspire.Hosting.AWS/CloudFormation/StackOutputReference.cs
  src/Aspire.Hosting.AWS/Constants.cs
  src/Aspire.Hosting.AWS/IAWSSDKConfig.cs
  src/Aspire.Hosting.AWS/SDKResourceExtensions.cs
  src/Aspire.Hosting.AWS/SdkUtilities.cs
  src/Shared/AWS.png
  tests/Aspire.Hosting.Tests/AWS/AWSCloudFormationResourceTests.cs
  tests/Aspire.Hosting.Tests/AWS/StackOutputReferenceTests.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
Labels: area-app-model, area-components, community-contribution

#2876 Append text node instead of using innerHTML in metrics table
  src/Aspire.Dashboard/Components/Controls/Chart/MetricTable.razor.js
Labels: area-dashboard, security 🔐

#2861 NATS OpenTelemetry tracing
  Directory.Packages.props
  src/Components/Aspire.NATS.Net/AspireNatsClientExtensions.cs
  src/Components/Aspire.NATS.Net/ConfigurationSchema.json
  src/Components/Aspire.NATS.Net/NatsClientSettings.cs
  src/Components/Aspire_Components_Progress.md
  src/Components/Telemetry.md
  tests/Aspire.NATS.Net.Tests/ConfigurationTests.cs
  tests/Aspire.NATS.Net.Tests/ConformanceTests.cs
Labels: area-components, community-contribution

#2856 [tests] Refactor Redis tests to use testcontainers and run on helix
  Directory.Packages.props
  src/Aspire.Hosting/ContainerImageTags.cs
  src/Aspire.Hosting/Redis/RedisBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ContainerResourceBuilderTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.StackExchange.Redis.DistributedCaching.Tests/Aspire.StackExchange.Redis.DistributedCaching.Tests.csproj
  tests/Aspire.StackExchange.Redis.DistributedCaching.Tests/DistributedCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.OutputCaching.Tests/Aspire.StackExchange.Redis.OutputCaching.Tests.csproj
  tests/Aspire.StackExchange.Redis.OutputCaching.Tests/OutputCacheConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/Aspire.StackExchange.Redis.Tests.csproj
  tests/Aspire.StackExchange.Redis.Tests/AspireRedisExtensionsTests.cs
  tests/Aspire.StackExchange.Redis.Tests/AspireRedisHelpers.cs
  tests/Aspire.StackExchange.Redis.Tests/ConformanceTests.cs
  tests/Aspire.StackExchange.Redis.Tests/RedisContainerFixture.cs
Labels: area-components

#2847 Fix chart type not being restored from session state
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
Labels: area-dashboard

#2894 remove height property from trace view grid (breaks safari)
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
Labels: area-dashboard

#2879 Use ReferenceExpression as the connection string representation
  src/Aspire.Hosting.Azure/AzureAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/AzureApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureKeyVaultResource.cs
  src/Aspire.Hosting.Azure/AzureOpenAIResource.cs
  src/Aspire.Hosting.Azure/AzurePostgresResource.cs
  src/Aspire.Hosting.Azure/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure/AzureRedisResource.cs
  src/Aspire.Hosting.Azure/AzureSearchResource.cs
  src/Aspire.Hosting.Azure/AzureServiceBusResource.cs
  src/Aspire.Hosting.Azure/AzureSignalRResource.cs
  src/Aspire.Hosting.Azure/AzureSqlServerResource.cs
  src/Aspire.Hosting.Azure/AzureStorageResource.cs
  src/Aspire.Hosting.Azure/AzureTableStorageResource.cs
  src/Aspire.Hosting/ApplicationModel/ConnectionStringReference.cs
  src/Aspire.Hosting/ApplicationModel/IResourceWithConnectionString.cs
  src/Aspire.Hosting/ApplicationModel/ReferenceExpression.cs
  src/Aspire.Hosting/ApplicationModel/ResourceWithConnectionStringSurrogate.cs
  src/Aspire.Hosting/Kafka/KafkaServerResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBDatabaseResource.cs
  src/Aspire.Hosting/MongoDB/MongoDBServerResource.cs
  src/Aspire.Hosting/MySql/MySqlDatabaseResource.cs
  src/Aspire.Hosting/MySql/MySqlServerResource.cs
  src/Aspire.Hosting/Nats/NatsServerResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseResource.cs
  src/Aspire.Hosting/Oracle/OracleDatabaseServerResource.cs
  src/Aspire.Hosting/Postgres/PostgresDatabaseResource.cs
  src/Aspire.Hosting/Postgres/PostgresServerResource.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/RabbitMQ/RabbitMQServerResource.cs
  src/Aspire.Hosting/Redis/RedisResource.cs
  src/Aspire.Hosting/Seq/SeqResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerDatabaseResource.cs
  src/Aspire.Hosting/SqlServer/SqlServerServerResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepProvisionerTests.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ContainerResourceTests.cs
  tests/Aspire.Hosting.Tests/ExecutableResourceTests.cs
  tests/Aspire.Hosting.Tests/Kafka/AddKafkaTests.cs
  tests/Aspire.Hosting.Tests/MongoDB/AddMongoDBTests.cs
  tests/Aspire.Hosting.Tests/MySql/AddMySqlTests.cs
  tests/Aspire.Hosting.Tests/Oracle/AddOracleDatabaseTests.cs
  tests/Aspire.Hosting.Tests/Postgres/AddPostgresTests.cs
  tests/Aspire.Hosting.Tests/RabbitMQ/AddRabbitMQTests.cs
  tests/Aspire.Hosting.Tests/Redis/AddRedisTests.cs
  tests/Aspire.Hosting.Tests/ResourceNotificationTests.cs
  tests/Aspire.Hosting.Tests/SqlServer/AddSqlServerTests.cs
  tests/Aspire.Hosting.Tests/WithEnvironmentTests.cs
  tests/Aspire.Hosting.Tests/WithReferenceTests.cs
Labels: area-app-model

#2851 Add support for `docker build --build-args`
  src/Aspire.Hosting/ApplicationModel/DockerBuildArg.cs
  src/Aspire.Hosting/Extensions/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  tests/Aspire.Hosting.Tests/PublishAsConnectionStringTests.cs
  tests/Aspire.Hosting.Tests/PublishAsConnnectionStringTests.cs
  tests/Aspire.Hosting.Tests/PublishAsDockerfileTests.cs
Labels: area-app-model

#2895 Fix TestShop gRPC client config
  playground/TestShop/MyFrontend/Program.cs
Labels: area-codeflow

#2880 Add messaging icon to tracing
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Components/Aspire.RabbitMQ.Client/AspireRabbitMQExtensions.cs
Labels: area-dashboard

#2900 Remove BuiltInMeters()
  Directory.Packages.props
  playground/AWS/AWS.ServiceDefaults/AWS.ServiceDefaults.csproj
  playground/AWS/AWS.ServiceDefaults/Extensions.cs
  playground/Playground.ServiceDefaults/Extensions.cs
  playground/Playground.ServiceDefaults/Playground.ServiceDefaults.csproj
  playground/TestShop/ServiceDefaults/Extensions.cs
  playground/TestShop/ServiceDefaults/ServiceDefaults.csproj
  playground/orleans/OrleansServiceDefaults/Extensions.cs
  playground/orleans/OrleansServiceDefaults/OrleansServiceDefaults.csproj
  playground/seq/Seq.ServiceDefaults/Extensions.cs
  playground/seq/Seq.ServiceDefaults/Seq.ServiceDefaults.csproj
  tests/TestingAppHost1/TestingAppHost1.ServiceDefaults/Extensions.cs
  tests/TestingAppHost1/TestingAppHost1.ServiceDefaults/TestingAppHost1.ServiceDefaults.csproj
Labels: needs-area-label, community-contribution

#2875 Mega CDK polish PR.
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/CdkSample.AppHost.csproj
  playground/cdk/CdkSample.AppHost/Program.cs
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting.Azure/AzureAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureKeyVaultResource.cs
  src/Aspire.Hosting.Azure/AzureOpenAIResource.cs
  src/Aspire.Hosting.Azure/AzurePostgresResource.cs
  src/Aspire.Hosting.Azure/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure/AzureRedisResource.cs
  src/Aspire.Hosting.Azure/AzureSearchResource.cs
  src/Aspire.Hosting.Azure/AzureServiceBusResource.cs
  src/Aspire.Hosting.Azure/AzureSignalRResource.cs
  src/Aspire.Hosting.Azure/AzureSqlServerResource.cs
  src/Aspire.Hosting.Azure/AzureStorageResource.cs
  src/Aspire.Hosting.Azure/AzureTableStorageResource.cs
  src/Aspire.Hosting.Azure/Bicep/appconfig.bicep
  src/Aspire.Hosting.Azure/Bicep/cosmosdb.bicep
  src/Aspire.Hosting.Azure/Bicep/keyvault.bicep
  src/Aspire.Hosting.Azure/Bicep/openai.bicep
  src/Aspire.Hosting.Azure/Bicep/postgres.bicep
  src/Aspire.Hosting.Azure/Bicep/redis.bicep
  src/Aspire.Hosting.Azure/Bicep/search.bicep
  src/Aspire.Hosting.Azure/Bicep/servicebus.bicep
  src/Aspire.Hosting.Azure/Bicep/signalr.bicep
  src/Aspire.Hosting.Azure/Bicep/sql.bicep
  src/Aspire.Hosting.Azure/Bicep/storage.bicep
  src/Aspire.Hosting.Azure/Extensions/AzureAppConfigurationExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureKeyVaultResourceExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureOpenAIExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzurePostgresExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureRedisExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSearchExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureServiceBusExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSignalRExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSqlExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureStorageExtensions.cs
  src/Aspire.Hosting.Azure/GlobalSuppressions.cs
  tests/Aspire.Hosting.Testing.Tests/Aspire.Hosting.Testing.Tests.csproj
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/Utils/ManifestUtils.cs
Labels: area-app-model

#2905 Add templates for Aspire test projects
  src/Aspire.Hosting/build/Aspire.Hosting.targets
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/dotnetcli.host.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/ide.host.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.cs.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.de.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.en.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.es.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.fr.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.it.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.ja.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.ko.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.pl.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.pt-BR.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.ru.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.tr.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.zh-Hans.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/localize/templatestrings.zh-Hant.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Tests/AspireStarterApplication.1.Tests.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.Tests/WebTests.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/AspireStarterApplication.1.sln
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/dotnetcli.host.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/ide.host.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/ide/AspireXunit.ico
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.cs.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.de.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.en.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.es.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.fr.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.it.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.ja.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.ko.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.pl.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.pt-BR.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.ru.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.tr.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.zh-Hans.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/localize/templatestrings.zh-Hant.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/.template.config/template.json
  src/Aspire.ProjectTemplates/templates/aspire-xunit/Aspire.Tests1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-xunit/IntegrationTest1.cs
  tests/Aspire.Hosting.Testing.Tests/TestingBuilderTests.cs
  tests/Aspire.Hosting.Testing.Tests/TestingFactoryTests.cs
  tests/TestingAppHost1/TestingAppHost1.AppHost/Program.cs
Labels: area-codeflow

#2921 Fix storage emulator connection string for blobs
  src/Aspire.Hosting.Azure/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureStorageResource.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model

#2941 Fix for file not found.
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/aspire.hosting.azure.bicep.openai.bicep
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/openai.module.bicep
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
Labels: area-components

#2925 Start watching for resource changes before we create any resources.
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: area-app-model

#2943 Don't overwrite configured location
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
Labels: area-app-model

#2944 Make HostNameResolver internal
  src/Aspire.Hosting/Utils/HostNameResolver.cs
Labels: area-app-model

#2950 Change preview attribute to experimental.
  playground/cdk/CdkSample.AppHost/CdkSample.AppHost.csproj
  playground/cdk/CdkSample.AppHost/Program.cs
  src/Aspire.Hosting.Azure/Aspire.Hosting.Azure.csproj
  src/Aspire.Hosting.Azure/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/Extensions/AzureAppConfigurationExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureCosmosDBExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureKeyVaultResourceExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureOpenAIExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzurePostgresExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureRedisExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSearchExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureServiceBusExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSignalRExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSqlExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureStorageExtensions.cs
  tests/Aspire.Hosting.Testing.Tests/Aspire.Hosting.Testing.Tests.csproj
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model, azure

#2953 Make malformed user secrets more obvious.
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
Labels: area-app-model

#2949 Fix for invalid parameter names.
  src/Aspire.Hosting.Azure/Extensions/AzureBicepResourceExtensions.cs
  src/Aspire.Hosting.Azure/Utils/BicepParameterNameValidator.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepProvisionerTests.cs
Labels: area-app-model

#2929 Add App Insights via CDK
  Directory.Packages.props
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/appInsights.module.bicep
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/logAnalyticsWorkspace.module.bicep
  src/Aspire.Hosting.Azure/AzureApplicationInsightsResource.cs
  src/Aspire.Hosting.Azure/AzureLogAnalyticsWorkspaceResource.cs
  src/Aspire.Hosting.Azure/Bicep/appinsights.bicep
  src/Aspire.Hosting.Azure/Extensions/AzureApplicationInsightsExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureLogAnalyticsWorkspaceExtensions.cs
  tests/Aspire.Hosting.Tests/Azure/AzureBicepResourceTests.cs
Labels: area-app-model, community-contribution

#2913 Clear selection on filter changes
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
Labels: area-dashboard

#2969 Add consumer and consumer messaging icons to traces UI
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
Labels: area-dashboard

#2968 Filling in empty doc comments.
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationExtensions.cs
  src/Aspire.Hosting.AWS/CloudFormation/CloudFormationStackExecutor.cs
  src/Aspire.Hosting.AWS/CloudFormation/StackOutputReference.cs
  src/Aspire.Hosting.AWS/SDKResourceExtensions.cs
  src/Aspire.Hosting.AppHost/Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting.Azure/AzureAppConfigurationResource.cs
  src/Aspire.Hosting.Azure/AzureBicepResource.cs
  src/Aspire.Hosting.Azure/AzureConstructResource.cs
  src/Aspire.Hosting.Azure/AzureCosmosDBEmulatorResource.cs
  src/Aspire.Hosting.Azure/AzureKeyVaultResource.cs
  src/Aspire.Hosting.Azure/AzureRedisResource.cs
  src/Aspire.Hosting.Azure/AzureSignalRResource.cs
  src/Aspire.Hosting.Azure/AzureSqlServerResource.cs
  src/Aspire.Hosting.Azure/AzureStorageResource.cs
  src/Aspire.Hosting.Azure/BicepResourceAnnotation.cs
  src/Aspire.Hosting.Azure/Extensions/AzureAppConfigurationExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureKeyVaultResourceExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureOpenAIExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzurePostgresExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureRedisExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSearchExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureServiceBusExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSignalRExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureSqlExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureStorageExtensions.cs
  src/Aspire.Hosting.Testing/DistributedApplicationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/EndpointReference.cs
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackContext.cs
  src/Aspire.Hosting/ApplicationModel/IValueProvider.cs
  src/Aspire.Hosting/ApplicationModel/ManifestMetadataAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ManifestPublishingCallbackAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ReferenceExpression.cs
  src/Aspire.Hosting/ApplicationModel/ResourceAnnotationMutationBehavior.cs
  src/Aspire.Hosting/ApplicationModel/ResourceExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ResourceLoggerService.cs
  src/Aspire.Hosting/Lifecycle/IDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting/Publishing/IDistributedApplicationPublisher.cs
  src/Aspire.Hosting/Publishing/ManifestPublishingContext.cs
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  src/Microsoft.Extensions.ServiceDiscovery/Http/HttpServiceEndPointResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery/ServiceEndPointResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery/ServiceEndPointWatcher.cs
  tests/Aspire.Hosting.Tests/Helpers/AllocatedEndpointAnnotationTestExtensions.cs
Labels: area-app-model

#2973 New baseline manifests.
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/Properties/launchSettings.json
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/aspire-manifest.json
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/aspire.hosting.azure.bicep.search.bicep
  playground/AzureSearchEndToEnd/AzureSearch.AppHost/search.module.bicep
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/aspire-manifest.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/aspire.hosting.azure.bicep.storage.bicep
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/storage.module.bicep
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/aspire-manifest.json
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/aspire.hosting.azure.bicep.cosmosdb.bicep
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/cosmos.module.bicep
  playground/CustomResources/CustomResources.AppHost/aspire-manifest.json
  playground/DatabaseMigration/DatabaseMigration.AppHost/aspire-manifest.json
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/openai.module.bicep
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/aspire-manifest.json
  playground/PostgresEndToEnd/PostgresEndToEnd.AppHost/aspire-manifest.json
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/aspire-manifest.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/aspire-manifest.json
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/aspire.hosting.azure.bicep.sql.bicep
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/sql1.module.bicep
  playground/Stress/Stress.AppHost/aspire-manifest.json
  playground/TestShop/AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/ai.module.bicep
  playground/bicep/BicepSample.AppHost/appConfig.module.bicep
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.appconfig.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.appinsights.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.cosmosdb.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.keyvault.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.postgres.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.redis.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.servicebus.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.signalr.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.sql.bicep
  playground/bicep/BicepSample.AppHost/aspire.hosting.azure.bicep.storage.bicep
  playground/bicep/BicepSample.AppHost/cosmos.module.bicep
  playground/bicep/BicepSample.AppHost/kv3.module.bicep
  playground/bicep/BicepSample.AppHost/postgres2.module.bicep
  playground/bicep/BicepSample.AppHost/redis.module.bicep
  playground/bicep/BicepSample.AppHost/sb.module.bicep
  playground/bicep/BicepSample.AppHost/signalr.module.bicep
  playground/bicep/BicepSample.AppHost/sql.module.bicep
  playground/bicep/BicepSample.AppHost/storage.module.bicep
  playground/mongo/Mongo.AppHost/aspire-manifest.json
  playground/mysql/MySqlDb.AppHost/Properties/launchSettings.json
  playground/mysql/MySqlDb.AppHost/aspire-manifest.json
  playground/nats/Nats.AppHost/Properties/launchSettings.json
  playground/nats/Nats.AppHost/aspire-manifest.json
  playground/orleans/OrleansAppHost/aspire-manifest.json
  playground/orleans/OrleansAppHost/aspire.hosting.azure.bicep.storage.bicep
  playground/orleans/OrleansAppHost/storage.module.bicep
  playground/seq/Seq.AppHost/aspire-manifest.json
  playground/signalr/SignalRAppHost/Properties/launchSettings.json
  playground/signalr/SignalRAppHost/aspire-manifest.json
  playground/signalr/SignalRAppHost/signalr1.module.bicep
  src/Aspire.Hosting.Azure/Extensions/AzureCosmosDBExtensions.cs
  src/Aspire.Hosting.Azure/Extensions/AzureStorageExtensions.cs
Labels: area-app-model
