Repository dotnet/aspire, pull requests merged in 2025-07, with the labels that each got.

#10148 Fix promptText formatting in selection output
  src/Aspire.Cli/Commands/PublishCommandBase.cs
Labels: area-cli

#10034 Add Aspire upgrade check
  src/Aspire.Hosting/ApplicationModel/InteractionService.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/VersionChecking/IVersionFetcher.cs
  src/Aspire.Hosting/VersionChecking/Package.cs
  src/Aspire.Hosting/VersionChecking/VersionCheckService.cs
  src/Aspire.Hosting/VersionChecking/VersionFetcher.cs
  src/Shared/KnownConfigNames.cs
  tests/Aspire.Hosting.Tests/VersionChecking/VersionCheckServiceTests.cs
  tests/Aspire.Hosting.Tests/VersionChecking/VersionFetcherTests.cs
Labels: area-app-model

#10164 Fix logic for filtering packages coming back from GetPackagesAsync.
  src/Aspire.Cli/NuGet/NuGetPackageCache.cs
  tests/Aspire.Cli.Tests/NuGet/NuGetPackageCacheTests.cs
Labels: needs-area-label

#10071 Redirect cli logger output to output channel and improve extension logging. Recreate terminal on first command run & then reuse
  extension/package.nls.cs.json
  extension/package.nls.de.json
  extension/package.nls.es.json
  extension/package.nls.fr.json
  extension/package.nls.it.json
  extension/package.nls.ja.json
  extension/package.nls.json
  extension/package.nls.ko.json
  extension/package.nls.pl.json
  extension/package.nls.pt-br.json
  extension/package.nls.ru.json
  extension/package.nls.tr.json
  extension/package.nls.zh-cn.json
  extension/package.nls.zh-tw.json
  extension/src/commands/add.ts
  extension/src/commands/config.ts
  extension/src/commands/deploy.ts
  extension/src/commands/new.ts
  extension/src/commands/publish.ts
  extension/src/commands/run.ts
  extension/src/extension.ts
  extension/src/loc/strings.ts
  extension/src/server/interactionService.ts
  extension/src/server/rpcClient.ts
  extension/src/server/rpcServer.ts
  extension/src/test/rpc/e2eServerTests.test.ts
  extension/src/test/rpc/interactionServiceTests.test.ts
  extension/src/utils/logging.ts
  extension/src/utils/security.ts
  extension/src/utils/terminal.ts
  extension/src/utils/vsc.ts
  extension/src/utils/workspace.ts
  src/Aspire.Cli/Backchannel/ExtensionBackchannel.cs
  src/Aspire.Cli/Commands/NewCommand.cs
  src/Aspire.Cli/Interaction/ConsoleInteractionService.cs
  src/Aspire.Cli/Interaction/ExtensionInteractionService.cs
  src/Aspire.Cli/Interaction/ExtensionLoggerProvider.cs
  src/Aspire.Cli/Interaction/IInteractionService.cs
  src/Aspire.Cli/Program.cs
  tests/Aspire.Cli.Tests/Commands/PublishCommandPromptingIntegrationTests.cs
  tests/Aspire.Cli.Tests/TestServices/TestConsoleInteractionService.cs
Labels: needs-area-label

#10190 Update package.json, add extension logo and license
  extension/LICENSE.TXT
  extension/dotnet-aspire-logo-128.png
  extension/package.json
Labels: needs-area-label

#10187 Clear status after error
  extension/src/server/interactionService.ts
Labels: area-extension

#10215 update extension readme, add contributing.md
  extension/CONTRIBUTING.MD
  extension/README.md
Labels: area-extension

#10058 Dedupe shared backchannel types
  src/Aspire.Cli/Aspire.Cli.csproj
  src/Aspire.Cli/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Hosting/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Hosting/Backchannel/BackchannelLoggerProvider.cs
Labels: area-cli

#10219 Fix starvs.cmd script
  startvs.cmd
Labels: area-integrations

#10061 feat: aspire exec
  playground/DatabaseMigration/DatabaseMigration.ApiModel/DatabaseMigration.ApiModel.csproj
  playground/DatabaseMigration/DatabaseMigration.ApiModel/Migrations/MyDb1ContextModelSnapshot.cs
  playground/DatabaseMigration/DatabaseMigration.ApiModel/MyDb1Context.cs
  playground/DatabaseMigration/DatabaseMigration.ApiService/DatabaseMigration.ApiService.csproj
  playground/DatabaseMigration/DatabaseMigration.ApiService/Program.cs
  playground/DatabaseMigration/DatabaseMigration.AppHost/DatabaseMigration.AppHost.csproj
  playground/DatabaseMigration/DatabaseMigration.AppHost/Program.cs
  src/Aspire.Cli/Aspire.Cli.csproj
  src/Aspire.Cli/Backchannel/AppHostBackchannel.cs
  src/Aspire.Cli/Backchannel/BackchannelJsonSerializerContext.cs
  src/Aspire.Cli/Commands/ExecCommand.cs
  src/Aspire.Cli/Commands/RootCommand.cs
  src/Aspire.Cli/Interaction/ConsoleInteractionService.cs
  src/Aspire.Cli/Interaction/ExtensionInteractionService.cs
  src/Aspire.Cli/Interaction/IInteractionService.cs
  src/Aspire.Cli/Program.cs
  src/Aspire.Cli/Properties/launchSettings.json
  src/Aspire.Cli/Resources/ExecCommandStrings.Designer.cs
  src/Aspire.Cli/Resources/ExecCommandStrings.resx
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.cs.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.de.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.es.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.fr.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.it.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.ja.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.ko.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.pl.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.pt-BR.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.ru.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.tr.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.zh-Hans.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.zh-Hant.xlf
  src/Aspire.Hosting.Testing/DistributedApplicationTestingBuilder.cs
  src/Aspire.Hosting/AppHostOptions.cs
  src/Aspire.Hosting/ApplicationModel/IResourceSupportsExec.cs
  src/Aspire.Hosting/ApplicationModel/ProjectResource.cs
  src/Aspire.Hosting/Backchannel/AppHostRpcTarget.cs
  src/Aspire.Hosting/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Hosting/Backchannel/BackchannelService.cs
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Exec/ExecOptions.cs
  src/Aspire.Hosting/Exec/ExecResourceManager.cs
  tests/Aspire.Cli.Tests/Aspire.Cli.Tests.csproj
  tests/Aspire.Cli.Tests/Commands/ExecCommandTests.cs
  tests/Aspire.Cli.Tests/Commands/PublishCommandPromptingIntegrationTests.cs
  tests/Aspire.Cli.Tests/E2E/ExecTests.cs
  tests/Aspire.Cli.Tests/TestServices/TestAppHostBackchannel.cs
  tests/Aspire.Cli.Tests/TestServices/TestConsoleInteractionService.cs
  tests/Aspire.Cli.Tests/Utils/CliTestHelper.cs
  tests/Shared/DistributedApplicationTestingBuilderExtensions.cs
  tests/TestingAppHost1/TestingAppHost1.AppHost/Properties/launchSettings.json
  tests/TestingAppHost1/TestingAppHost1.AppHost/TestingAppHost1.AppHost.csproj
  tests/TestingAppHost1/TestingAppHost1.AppHost/appsettings.Development.json
  tests/TestingAppHost1/TestingAppHost1.MyWebApp/Program.cs
Labels: area-cli

#10222 Remove warning on publish of external service with parameterized URL
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
Labels: area-app-model

#10223 Suppress CS9881 in generated project/apphost metadata types
  src/Aspire.Hosting.AppHost/build/Aspire.Hosting.AppHost.in.targets
Labels: area-app-model

#10229 Fix ready event subscription for Foundry resource
  src/Aspire.Hosting.Azure.AIFoundry/AzureAIFoundryExtensions.cs
Labels: needs-area-label

#10217 Installs aspire extension on codespaces automatically
  .devcontainer/devcontainer.json
Labels: area-extension

#10226 Move InteractionResult to right file
  src/Aspire.Hosting/ApplicationModel/IInteractionService.cs
  src/Aspire.Hosting/ApplicationModel/InteractionService.cs
Labels: area-app-model

#10094 Parameter Improvements
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/Program.cs
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/appsettings.json
  src/Aspire.Dashboard/Model/KnownPropertyLookup.cs
  src/Aspire.Dashboard/Model/ResourceIconHelpers.cs
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ConnectionStringBuilderExtensions.cs
  src/Aspire.Hosting/Orchestrator/ApplicationOrchestrator.cs
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  src/Shared/Model/KnownProperties.cs
  src/Shared/Model/KnownResourceTypes.cs
Labels: area-app-model, community-contribution

#10234 Decrease message bar button text size
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#10238 Subscribe to this specific resource, not all.
  src/Aspire.Hosting.Yarp/YarpResourceExtensions.cs
Labels: area-app-model

#10242 YARP: do not defer configuration generation when using env variable
  playground/ExternalServices/ExternalServices.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Yarp/ConfigurationBuilder/YarpCluster.cs
  src/Aspire.Hosting.Yarp/ConfigurationBuilder/YarpConfigurationBuilder.cs
  src/Aspire.Hosting.Yarp/ConfigurationBuilder/YarpRoute.cs
  src/Aspire.Hosting.Yarp/YarpEnvConfigGenerator.cs
  src/Aspire.Hosting.Yarp/YarpResource.cs
  src/Aspire.Hosting.Yarp/YarpResourceExtensions.cs
  tests/Aspire.Hosting.Yarp.Tests/Aspire.Hosting.Yarp.Tests.csproj
  tests/Aspire.Hosting.Yarp.Tests/Snapshots/YarpConfigGeneratorTests.GenerateConfiguration.verified.json
  tests/Aspire.Hosting.Yarp.Tests/Snapshots/YarpConfigGeneratorTests.GenerateEnvVariablesConfiguration.verified.env
  tests/Aspire.Hosting.Yarp.Tests/Snapshots/YarpConfigGeneratorTests.GenerateEnvVariablesConfigurationDockerCompose.verified.env
  tests/Aspire.Hosting.Yarp.Tests/YarpClusterTests.cs
  tests/Aspire.Hosting.Yarp.Tests/YarpConfigGeneratorTests.cs
  tests/Aspire.Hosting.Yarp.Tests/YarpFunctionalTests.cs
Labels: area-integrations

#10257 Don't throw in interaction service when no inputs
  src/Aspire.Hosting/ApplicationModel/InteractionService.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Publishing/PublishingActivityProgressReporter.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardServiceTests.cs
  tests/Aspire.Hosting.Tests/InteractionServiceTests.cs
  tests/Aspire.Hosting.Tests/Publishing/PublishingActivityProgressReporterTests.cs
Labels: area-app-model

#10240 feat: aspire exec 2
  playground/DatabaseMigration/DatabaseMigration.ApiModel/DatabaseMigration.ApiModel.csproj
  playground/DatabaseMigration/DatabaseMigration.ApiModel/Migrations/MyDb1ContextModelSnapshot.cs
  playground/DatabaseMigration/DatabaseMigration.ApiModel/MyDb1Context.cs
  playground/DatabaseMigration/DatabaseMigration.ApiService/DatabaseMigration.ApiService.csproj
  playground/DatabaseMigration/DatabaseMigration.ApiService/Program.cs
  playground/DatabaseMigration/DatabaseMigration.AppHost/DatabaseMigration.AppHost.csproj
  playground/DatabaseMigration/DatabaseMigration.AppHost/Program.cs
  src/Aspire.Cli/Aspire.Cli.csproj
  src/Aspire.Cli/Backchannel/AppHostBackchannel.cs
  src/Aspire.Cli/Backchannel/BackchannelJsonSerializerContext.cs
  src/Aspire.Cli/Commands/ExecCommand.cs
  src/Aspire.Cli/Commands/RootCommand.cs
  src/Aspire.Cli/Interaction/ConsoleInteractionService.cs
  src/Aspire.Cli/Interaction/ExtensionInteractionService.cs
  src/Aspire.Cli/Interaction/IInteractionService.cs
  src/Aspire.Cli/Program.cs
  src/Aspire.Cli/Properties/launchSettings.json
  src/Aspire.Cli/Resources/ExecCommandStrings.Designer.cs
  src/Aspire.Cli/Resources/ExecCommandStrings.resx
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.cs.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.de.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.es.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.fr.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.it.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.ja.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.ko.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.pl.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.pt-BR.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.ru.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.tr.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.zh-Hans.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.zh-Hant.xlf
  src/Aspire.Hosting.Testing/Aspire.Hosting.Testing.csproj
  src/Aspire.Hosting.Testing/DistributedApplicationTestingBuilder.cs
  src/Aspire.Hosting/ApplicationModel/ResourceExtensions.cs
  src/Aspire.Hosting/Backchannel/AppHostRpcTarget.cs
  src/Aspire.Hosting/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Hosting/Backchannel/BackchannelService.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Exec/ExecEventingHandlers.cs
  src/Aspire.Hosting/Exec/ExecOptions.cs
  src/Aspire.Hosting/Exec/ExecResourceManager.cs
  src/Shared/CommandLineArgsParser.cs
  tests/Aspire.Cli.Tests/Aspire.Cli.Tests.csproj
  tests/Aspire.Cli.Tests/Commands/ExecCommandTests.cs
  tests/Aspire.Cli.Tests/Commands/PublishCommandPromptingIntegrationTests.cs
  tests/Aspire.Cli.Tests/E2E/ExecTests.cs
  tests/Aspire.Cli.Tests/TestServices/TestAppHostBackchannel.cs
  tests/Aspire.Cli.Tests/TestServices/TestConsoleInteractionService.cs
  tests/Aspire.Cli.Tests/Utils/CliTestHelper.cs
  tests/Aspire.Hosting.Tests/Utils/CommandLineArgsParserTests.cs
Labels: area-cli

#10256 Use log output channel and remove abstraction
  extension/src/extension.ts
  extension/src/server/interactionService.ts
  extension/src/server/rpcClient.ts
  extension/src/server/rpcServer.ts
  extension/src/test/rpc/interactionServiceTests.test.ts
  extension/src/utils/logging.ts
  extension/src/utils/terminal.ts
  src/Aspire.Cli/Backchannel/ExtensionBackchannel.cs
Labels: needs-area-label

#10114 Throw on no input in ExtensionBackchannel
  src/Aspire.Cli/Backchannel/ExtensionBackchannel.cs
  src/Aspire.Cli/Interaction/ExtensionInteractionService.cs
Labels: area-cli

#10188 Add check to not show an empty message in extension interaction service
  extension/src/server/interactionService.ts
Labels: area-extension

#10189 Add support for markdown formatting in interaction message
  Directory.Packages.props
  THIRD-PARTY-NOTICES.TXT
  eng/Signing.props
  playground/Stress/Stress.AppHost/InteractionCommands.cs
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/Dialogs/InteractionsInputDialog.razor
  src/Aspire.Dashboard/Components/Interactions/InteractionsProvider.cs
  src/Aspire.Dashboard/Model/InteractionsInputsDialogViewModel.cs
  src/Aspire.Dashboard/Utils/MarkdownHelpers.cs
  src/Aspire.Hosting/ApplicationModel/IInteractionService.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/proto/dashboard_service.proto
  tests/Aspire.Dashboard.Components.Tests/Interactions/InteractionsProviderTests.cs
Labels: area-dashboard, area-app-model

#10260 Option to persist parameters to secrets
  src/Aspire.Hosting/Orchestrator/ParameterProcessor.cs
  tests/Aspire.Hosting.Tests/Orchestrator/ApplicationOrchestratorTests.cs
  tests/Aspire.Hosting.Tests/Orchestrator/ParameterProcessorTests.cs
  tests/Aspire.Hosting.Tests/TestInteractionService.cs
  tests/Aspire.Hosting.Tests/VersionChecking/VersionCheckServiceTests.cs
Labels: area-app-model

#10278 Use different names for persistent and session scoped networks
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
  tests/Aspire.Hosting.Tests/Dcp/DcpExecutorTests.cs
Labels: needs-area-label

#10277 chore: aspire exec report error when executable failed to start
  src/Aspire.Cli/Interaction/ConsoleInteractionService.cs
  src/Aspire.Cli/Properties/launchSettings.json
  src/Aspire.Hosting/Exec/ExecResourceManager.cs
  tests/Aspire.Cli.Tests/E2E/ExecTests.cs
Labels: area-integrations

#10193 Refactor Endpoint bicep references in AI Foundry resource
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/foundry.module.bicep
  src/Aspire.Hosting.Azure.AIFoundry/AzureAIFoundryExtensions.cs
  src/Aspire.Hosting.Azure.AIFoundry/AzureAIFoundryResource.cs
  tests/Aspire.Hosting.Azure.Tests/AzureAIFoundryExtensionsTests.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureAIFoundryExtensionsTests.AddAzureAIFoundry_GeneratesValidBicep.verified.bicep
Labels: area-integrations

#10292 Add role support to Azure AI Foundry
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/aspire-manifest.json
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/foundry-roles.module.bicep
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/foundry.module.bicep
  src/Aspire.Hosting.Azure.AIFoundry/AzureAIFoundryExtensions.cs
  src/Aspire.Hosting.Azure.AIFoundry/AzureAIFoundryResource.cs
  tests/Aspire.Hosting.Azure.Tests/AzureAIFoundryExtensionsTests.cs
  tests/Aspire.Hosting.Azure.Tests/RoleAssignmentTests.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureAIFoundryExtensionsTests.AddAzureAIFoundry_GeneratesValidBicep#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureAIFoundryExtensionsTests.AddAzureAIFoundry_GeneratesValidBicep#01.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/RoleAssignmentTests.AzureFoundrySupport.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/RoleAssignmentTests.AzureFoundrySupport.verified.json
Labels: area-integrations

#10293 Change Azure OpenAI to use CognitiveServicesOpenAIUser role by default
  playground/OpenAIEndToEnd/OpenAIEndToEnd.AppHost/openai-roles.module.bicep
  src/Aspire.Hosting.Azure.CognitiveServices/AzureOpenAIExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/AzureOpenAIExtensionsTests.cs
  tests/Aspire.Hosting.Azure.Tests/RoleAssignmentTests.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/RoleAssignmentTests.OpenAISupport.verified.bicep
Labels: area-integrations, breaking-change

#10269 Fix typo in `TalkingClockResource` comment
  playground/CustomResources/CustomResources.AppHost/TalkingClockResource.cs
Labels: area-app-model, community-contribution

#10290 Update AzureSqlServerResource to use the new AzurePowerShellScript provisioning feature
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/sql1-roles.module.bicep
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/sql2-roles.module.bicep
  playground/SqlServerScript/AppHost1/Properties/launchSettings.json
  playground/SqlServerScript/AppHost1/api1-identity.module.bicep
  playground/SqlServerScript/AppHost1/api1-roles-mysqlserver.module.bicep
  playground/SqlServerScript/AppHost1/api1.module.bicep
  playground/SqlServerScript/AppHost1/api2-identity.module.bicep
  playground/SqlServerScript/AppHost1/api2-roles-mysqlserver.module.bicep
  playground/SqlServerScript/AppHost1/api2.module.bicep
  playground/SqlServerScript/AppHost1/env.module.bicep
  playground/SqlServerScript/AppHost1/mysqlserver.module.bicep
  src/Aspire.Hosting.Azure.Sql/AzureSqlServerResource.cs
  src/Aspire.Hosting.Azure.Sql/EnvironmentVariable.cs
  src/Aspire.Hosting.Azure.Sql/SqlServerScriptProvisioningResource.cs
  tests/Aspire.Hosting.Azure.Tests/RoleAssignmentTests.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/RoleAssignmentTests.SqlSupport.verified.bicep
Labels: area-integrations

#10272 Add dashboard telemetry to interaction service
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor.cs
  src/Aspire.Dashboard/Components/Interactions/InteractionsProvider.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Error.razor.cs
  src/Aspire.Dashboard/Components/Pages/Login.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/NotFound.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Telemetry/TelemetryComponentIds.cs
  tests/Aspire.Dashboard.Components.Tests/Interactions/InteractionsProviderTests.cs
Labels: area-dashboard

#10289 Add missing end quote for Outputs declaration
  eng/ReplaceText.targets
Labels: needs-area-label, community-contribution

#10302 Branding updates for 9.5.0
  eng/Versions.props
Labels: area-integrations

#10281 Add logs to trace details
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
  src/Aspire.Dashboard/Model/Otlp/SpanLogEntryViewModel.cs
  src/Aspire.Dashboard/Model/Otlp/SpanWaterfallViewModel.cs
  src/Aspire.Dashboard/Model/Otlp/TraceDetailSelectedDataViewModel.cs
  src/Aspire.Dashboard/Model/StructureLogsDetailsViewModel.cs
  tests/Aspire.Dashboard.Tests/Model/SpanWaterfallViewModelTests.cs
Labels: area-dashboard

#10310 Improve span details percentage calculation
  src/Aspire.Dashboard/Model/Otlp/SpanWaterfallViewModel.cs
  tests/Aspire.Dashboard.Tests/Model/SpanWaterfallViewModelTests.cs
  tests/Shared/Telemetry/TelemetryTestHelpers.cs
Labels: area-dashboard

#10316 [release/9.4] Add GitHub Models integration (#10170) (#10313)
  src/Aspire.Hosting.GitHub.Models/GitHubModelsExtensions.cs
  src/Aspire.Hosting.GitHub.Models/GitHubModelsHealthCheck.cs
  src/Aspire.Hosting.GitHub.Models/README.md
Labels: area-codeflow

#10349 Fix hiding dismiss on inputs dialog
  src/Aspire.Dashboard/Components/Dialogs/InteractionsInputDialog.razor
Labels: area-dashboard

#10324 [release/9.4] Backport 10203: Add CTRL-C message back into `aspire run` command
  src/Aspire.Cli/Commands/RunCommand.cs
  src/Aspire.Cli/Resources/RunCommandStrings.resx
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.cs.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.de.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.es.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.fr.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.it.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.ja.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.ko.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.pl.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.pt-BR.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.ru.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.tr.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.zh-Hans.xlf
  src/Aspire.Cli/Resources/xlf/RunCommandStrings.zh-Hant.xlf
Labels: Servicing-approved, area-cli

#10208 Improved Kubernetes publisher labels
  src/Aspire.Hosting.Kubernetes/Extensions/HelmExtensions.cs
  src/Aspire.Hosting.Kubernetes/Extensions/ResourceExtensions.cs
  src/Aspire.Hosting.Kubernetes/KubernetesEnvironmentExtensions.cs
  src/Aspire.Hosting.Kubernetes/KubernetesResource.cs
  tests/Aspire.Hosting.Kubernetes.Tests/KubernetesPublisherTests.cs
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.MultipleKubernetesEnvironmentsSupported/env1/Chart.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.MultipleKubernetesEnvironmentsSupported/env1/templates/ServiceA/config.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.MultipleKubernetesEnvironmentsSupported/env1/templates/ServiceA/deployment.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.MultipleKubernetesEnvironmentsSupported/env1/templates/ServiceA/service.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.MultipleKubernetesEnvironmentsSupported/env2/Chart.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.MultipleKubernetesEnvironmentsSupported/env2/templates/ServiceB/config.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.MultipleKubernetesEnvironmentsSupported/env2/templates/ServiceB/deployment.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.MultipleKubernetesEnvironmentsSupported/env2/templates/ServiceB/service.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.PublishingKubernetesEnvironmentPublishesFile#00.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesEnvironmentResourceTests.PublishingKubernetesEnvironmentPublishesFile#02.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAppliesServiceCustomizations.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_CustomWorkloadAndResourceType#00.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_CustomWorkloadAndResourceType#02.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_CustomWorkloadAndResourceType#03.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_CustomWorkloadAndResourceType#04.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_CustomWorkloadAndResourceType#05.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_GeneratesValidHelmChart#00.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_GeneratesValidHelmChart#02.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_GeneratesValidHelmChart#03.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_GeneratesValidHelmChart#04.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_GeneratesValidHelmChart#05.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_GeneratesValidHelmChart#06.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_GeneratesValidHelmChart#07.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_HandlesSpecialResourceName#00.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_HandlesSpecialResourceName#02.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_HandlesSpecialResourceName#03.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_HandlesSpecialResourceName#04.verified.yaml
Labels: area-integrations, community-contribution

#10354 Made changes to how parameter.Value works
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/BicepProvisioner.cs
  src/Aspire.Hosting.MySql/MySqlBuilderExtensions.cs
  src/Aspire.Hosting.Nats/NatsBuilderExtensions.cs
  src/Aspire.Hosting.PostgreSQL/PostgresBuilderExtensions.cs
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ParameterResource.cs
  src/Aspire.Hosting/ExternalServiceBuilderExtensions.cs
  src/Aspire.Hosting/Orchestrator/ParameterProcessor.cs
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ExternalServiceTests.cs
Labels: area-app-model

#10358 Create appmodel.md
  docs/specs/appmodel.md
Labels: area-app-model

#10359 Force async execution of resource startup
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
Labels: area-app-model

#10361 Refactor ParameterResource to use Lazy initialization for value retrieval
  src/Aspire.Hosting/ApplicationModel/ParameterResource.cs
Labels: area-app-model

#10370 Match name with ResourceCommandService
  src/Aspire.Hosting/ApplicationModel/ResourceCommandService.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  tests/Aspire.Hosting.Tests/ResourceCommandServiceTests.cs
Labels: area-dashboard

#10372 Share more package checking code between CLI and app host
  src/Aspire.Cli/Aspire.Cli.csproj
  src/Aspire.Cli/Commands/AddCommand.cs
  src/Aspire.Cli/Commands/BaseCommand.cs
  src/Aspire.Cli/Commands/NewCommand.cs
  src/Aspire.Cli/DotNetCliRunner.cs
  src/Aspire.Cli/NuGet/NuGetPackageCache.cs
  src/Aspire.Cli/Utils/CliUpdateNotifier.cs
  src/Aspire.Cli/Utils/VersionHelper.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/VersionChecking/IPackageFetcher.cs
  src/Aspire.Hosting/VersionChecking/Package.cs
  src/Aspire.Hosting/VersionChecking/PackageFetcher.cs
  src/Aspire.Hosting/VersionChecking/VersionCheckService.cs
  src/Aspire.Hosting/VersionChecking/VersionFetcher.cs
  src/Shared/PackageUpdateHelpers.cs
  tests/Aspire.Cli.Tests/Commands/AddCommandTests.cs
  tests/Aspire.Cli.Tests/Commands/NewCommandTests.cs
  tests/Aspire.Cli.Tests/NuGet/NuGetPackageCacheTests.cs
  tests/Aspire.Cli.Tests/TestServices/TestDotNetCliRunner.cs
  tests/Aspire.Cli.Tests/Utils/CliUpdateNotificationServiceTests.cs
  tests/Aspire.Hosting.Tests/VersionChecking/PackageUpdateHelpersTests.cs
  tests/Aspire.Hosting.Tests/VersionChecking/VersionCheckServiceTests.cs
Labels: area-app-model, needs-author-action

#10232 Add non-localhost URLs
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
  src/Aspire.Hosting/Orchestrator/ApplicationOrchestrator.cs
  tests/Aspire.Hosting.Tests/WithEndpointTests.cs
Labels: needs-area-label

#10394 Update contributing.md
  docs/contributing.md
Labels: needs-area-label, community-contribution

#10399 Throw if container runtime is unhealthy during image build
  src/Aspire.Hosting/Publishing/ResourceContainerImageBuilder.cs
  tests/Aspire.Hosting.Tests/Publishing/ResourceContainerImageBuilderTests.cs
Labels: area-app-model

#10308 Optimize trace detail page performance
  src/Aspire.Dashboard/Components/Interactions/InteractionsProvider.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpSpan.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpTrace.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/TraceDetailsTests.cs
  tests/Aspire.Dashboard.Tests/Model/SpanWaterfallViewModelTests.cs
  tests/Aspire.Dashboard.Tests/Model/TraceHelpersTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/OtlpSpanTests.cs
Labels: area-dashboard

#10140 Fallback to previous DNS service discovery
  Directory.Packages.props
  src/Microsoft.Extensions.ServiceDiscovery.Dns/FallbackDnsResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery.Dns/Microsoft.Extensions.ServiceDiscovery.Dns.csproj
  src/Microsoft.Extensions.ServiceDiscovery.Dns/Resolver/DnsResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery.Dns/Resolver/IDnsResolver.cs
  src/Microsoft.Extensions.ServiceDiscovery.Dns/ServiceDiscoveryDnsServiceCollectionExtensions.cs
Labels: area-service-discovery

#10424 Simplify GH Models API keys experience
  playground/GitHubModelsEndToEnd/GitHubModelsEndToEnd.AppHost/Program.cs
  src/Aspire.Hosting.GitHub.Models/GitHubModelResource.cs
  src/Aspire.Hosting.GitHub.Models/GitHubModelsExtensions.cs
  src/Aspire.Hosting.GitHub.Models/README.md
  tests/Aspire.Hosting.GitHub.Models.Tests/GitHubModelsExtensionTests.cs
Labels: area-app-model

#10428 Fix parameter substitution in GitHub Models
  src/Aspire.Hosting.GitHub.Models/GitHubModelResource.cs
  src/Aspire.Hosting.GitHub.Models/GitHubModelsExtensions.cs
  tests/Aspire.Hosting.GitHub.Models.Tests/GitHubModelsExtensionTests.cs
Labels: area-app-model

#10254 Add scripts to download aspire-cli
  eng/scripts/README.md
  eng/scripts/get-aspire-cli.ps1
  eng/scripts/get-aspire-cli.sh
Labels: area-cli

#10434 Ensure all YARP env vars are strings
  src/Aspire.Hosting.Yarp/YarpEnvConfigGenerator.cs
  tests/Aspire.Hosting.Yarp.Tests/YarpConfigGeneratorTests.cs
Labels: area-integrations

#10422 chore: drop Aspire.Cli.Tests unwanted dependencies
  tests/Aspire.Cli.Tests/Aspire.Cli.Tests.csproj
  tests/Aspire.Cli.Tests/E2E/ExecTests.cs
  tests/Aspire.Hosting.Tests/Backchannel/Exec/ExecTestsBase.cs
  tests/Aspire.Hosting.Tests/Backchannel/Exec/ProjectResourceExecTests.cs
Labels: area-integrations, testing ☑️

#10441 Use CreateEmptyApplicationBuilder in Aspire.Cli
  src/Aspire.Cli/Program.cs
Labels: area-cli

#10440 Add support for parameter description & custom input rendering
  playground/ExternalServices/ExternalServices.AppHost/AppHost.cs
  playground/ExternalServices/ExternalServices.AppHost/appsettings.json
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/Program.cs
  src/Aspire.Dashboard/Components/Dialogs/InteractionsInputDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/InteractionsInputDialog.razor.css
  src/Aspire.Dashboard/Components/Interactions/InteractionsProvider.cs
  src/Aspire.Dashboard/Utils/InteractionMarkdownHelper.cs
  src/Aspire.Hosting.GitHub.Models/GitHubModelsExtensions.cs
  src/Aspire.Hosting/ApplicationModel/InputGeneratorAnnotation.cs
  src/Aspire.Hosting/ApplicationModel/ParameterResource.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/proto/dashboard_service.proto
  src/Aspire.Hosting/IInteractionService.cs
  src/Aspire.Hosting/Orchestrator/ParameterProcessor.cs
  src/Aspire.Hosting/ParameterResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/AddParameterTests.cs
  tests/Aspire.Hosting.Tests/InteractionServiceTests.cs
  tests/Aspire.Hosting.Tests/Orchestrator/ParameterProcessorTests.cs
Labels: area-dashboard, area-app-model

#10480 Change CompleteInteractionAsync answers to object
  src/Aspire.Cli/Backchannel/AppHostBackchannel.cs
  src/Aspire.Cli/Backchannel/BackchannelJsonSerializerContext.cs
  src/Aspire.Cli/Commands/PublishCommandBase.cs
  src/Aspire.Hosting/Backchannel/AppHostRpcTarget.cs
  src/Aspire.Hosting/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Hosting/Publishing/PublishingActivityReporter.cs
  tests/Aspire.Cli.Tests/Commands/PublishCommandPromptingIntegrationTests.cs
  tests/Aspire.Cli.Tests/TestServices/TestAppHostBackchannel.cs
  tests/Aspire.Hosting.Tests/Publishing/PublishingActivityReporterTests.cs
Labels: area-app-model, area-cli

#10478 [release/9.4] Backport 10453 (remove obsolete RPC API)
  src/Aspire.Hosting/Backchannel/AppHostRpcTarget.cs
Labels: area-codeflow

#10472 [release/9.4] Update dependencies from https://github.com/microsoft/usvc-apiserver build 0.15.19
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#10502 Specify names of parameters with default values
  src/Aspire.Hosting/ExternalServiceBuilderExtensions.cs
Labels: needs-area-label

#10500 Fix interaction provider in dashboard handling duplicate messages
  src/Aspire.Dashboard/Components/Interactions/InteractionsProvider.cs
  tests/Aspire.Dashboard.Components.Tests/Interactions/InteractionsProviderTests.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/TestDialogService.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/TestMessageService.cs
Labels: area-dashboard

#10515 [release/9.4] Add purple styling for default values in CLI prompts (#10474)
  src/Aspire.Cli/Interaction/ConsoleInteractionService.cs
Labels: area-cli

#10493 [release/9.4]: Fix WithHealthCheck method for ExternalServiceResource to access parameter values asynchronously
  src/Aspire.Hosting/ExternalServiceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ExternalServiceTests.cs
Labels: area-app-model

#10506 using-latest-daily.md: Update instructions to get cli
  docs/using-latest-daily.md
Labels: documentation, area-cli

#10538 Revert "Fix IInteractionService API limitations in CLI by making unsu…
  src/Aspire.Hosting/Publishing/PublishingActivityReporter.cs
  tests/Aspire.Hosting.Tests/Publishing/PublishingActivityReporterTests.cs
Labels: needs-area-label

#10540 [release/9.4] Backport a fix to add `.dotnet` to PATH on windows
  .github/workflows/run-tests.yml
Labels: area-engineering-systems

#10479 Update scripts to use the new Quality mappings to urls
  docs/using-latest-daily.md
  eng/scripts/README.md
  eng/scripts/get-aspire-cli.ps1
  eng/scripts/get-aspire-cli.sh
Labels: area-cli

#10544 using-latest-daily.md: fix instructions for getting daily cli
  docs/using-latest-daily.md
Labels: needs-area-label

#10414 update `Azure.Provisioning.Storage` to `1.1.2`
  Directory.Packages.props
  src/Aspire.Hosting.Azure.Storage/AzureStorageExtensions.cs
  src/Aspire.Hosting.Azure.Storage/AzureStorageResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureTableStorageResource.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureStorageExtensionsTests.AddAzureStorageViaPublishMode.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureStorageExtensionsTests.AddMultipleStorageServiceGeneratesSingleResource.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureStorageExtensionsTests.ResourceNamesBicepValid.verified.bicep
Labels: area-integrations, community-contribution

#10527 Add server validation of interaction inputs
  playground/Stress/Stress.AppHost/InteractionCommands.cs
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/Dialogs/InteractionsInputDialog.razor
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/proto/dashboard_service.proto
  src/Aspire.Hosting/IInteractionService.cs
  src/Aspire.Hosting/InteractionService.cs
  src/Shared/InteractionHelpers.cs
  tests/Aspire.Hosting.Tests/InteractionServiceTests.cs
Labels: area-app-model

#10555 [release/9.4] Backport of 10422
  tests/Aspire.Cli.Tests/Aspire.Cli.Tests.csproj
  tests/Aspire.Cli.Tests/E2E/ExecTests.cs
  tests/Aspire.Hosting.Tests/Backchannel/Exec/ExecTestsBase.cs
  tests/Aspire.Hosting.Tests/Backchannel/Exec/ProjectResourceExecTests.cs
Labels: area-cli

#10581 Fix telemetry opt out
  src/Aspire.Hosting/Dashboard/DashboardOptions.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardOptionsTests.cs
Labels: area-app-model

#10576 Use proxied endpoints for aspire dashboard
  src/Aspire.Dashboard/Properties/launchSettings.json
  src/Aspire.Hosting/Dashboard/DashboardLifecycleHook.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardLifecycleHookTests.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardResourceTests.cs
Labels: area-dashboard

#10577 Include .NET 10 global install in copilot setup steps
  .github/workflows/copilot-setup-steps.yml
Labels: area-engineering-systems

#10612 [release/9.4] Remove AddBlobService and Revert to 9.3 Azure Storage APIs (#10556)
  playground/AspireEventHub/EventHubs.AppHost/Program.cs
  playground/AspireEventHub/EventHubs.AppHost/ehstorage.module.bicep
  playground/AzureAppService/AzureAppService.AppHost/Program.cs
  playground/AzureAppService/AzureAppService.AppHost/storage.module.bicep
  playground/AzureContainerApps/AzureContainerApps.AppHost/Program.cs
  playground/AzureContainerApps/AzureContainerApps.AppHost/storage.module.bicep
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/Program.cs
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/aspire-manifest.json
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/funcapp.module.bicep
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/funcstorage67c6c.module.bicep
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/Program.cs
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/aspire-manifest.json
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/storage.module.bicep
  playground/AzureStorageEndToEnd/AzureStorageEndToEnd.AppHost/storage2.module.bicep
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/sql-roles.module.bicep
  playground/bicep/BicepSample.AppHost/storage.module.bicep
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/storage.module.bicep
  playground/orleans/Orleans.AppHost/Program.cs
  playground/orleans/Orleans.AppHost/storage.module.bicep
  src/Aspire.Hosting.Azure.Functions/README.md
  src/Aspire.Hosting.Azure.Storage/AzureBlobStorageResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureQueueStorageResource.cs
  src/Aspire.Hosting.Azure.Storage/AzureStorageExtensions.cs
  src/Aspire.Hosting.Azure.Storage/AzureStorageResource.cs
  src/Aspire.Hosting.Azure.Storage/README.md
  src/Aspire.Hosting.Orleans/README.md
  src/Components/Aspire.Azure.Data.Tables/README.md
  src/Components/Aspire.Azure.Storage.Blobs/README.md
  src/Components/Aspire.Azure.Storage.Queues/README.md
  tests/Aspire.Hosting.Azure.Tests/AzureContainerAppsTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureEnvironmentResourceTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureResourcePreparerTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureStorageEmulatorFunctionalTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureStorageExtensionsTests.cs
  tests/Aspire.Hosting.Azure.Tests/ResourceWithAzureFunctionsConfigTests.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureEnvironmentResourceTests.AzurePublishingContext_CapturesParametersAndOutputsCorrectly_WithSnapshot#01.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureStorageExtensionsTests.AddAzureStorageViaPublishMode.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureStorageExtensionsTests.AddAzureStorageViaPublishModeEnableAllowSharedKeyAccessOverridesDefaultFalse.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureStorageExtensionsTests.AddAzureStorageViaRunMode.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureStorageExtensionsTests.AddAzureStorageViaRunModeAllowSharedKeyAccessOverridesDefaultFalse.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureStorageExtensionsTests.AddMultipleStorageServiceGeneratesSingleResource.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureStorageExtensionsTests.ResourceNamesBicepValid.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/ExistingAzureResourceTests.SupportsExistingStorageAccountWithResourceGroup.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/ExistingAzureResourceTests.SupportsExistingStorageAccountWithResourceGroupAndStaticArguments.verified.bicep
Labels: area-integrations

#10613 Put DeployCommand behind a feature flag
  src/Aspire.Cli/Commands/RootCommand.cs
  src/Aspire.Cli/KnownFeatures.cs
  tests/Aspire.Cli.Tests/Commands/ConfigCommandTests.cs
  tests/Aspire.Cli.Tests/Commands/DeployCommandTests.cs
  tests/Aspire.Cli.Tests/Commands/SdkInstallerTests.cs
Labels: area-cli

#10622 DashboardHealthy = true (by default)
  src/Aspire.Hosting/Backchannel/BackchannelDataTypes.cs
Labels: needs-area-label

#10631 Update using-latest-daily.md
  docs/using-latest-daily.md
Labels: needs-area-label

#10628 [backport 9.4] `aspire exec` fixes
  src/Aspire.Cli/Commands/ExecCommand.cs
  src/Aspire.Cli/Resources/ExecCommandStrings.Designer.cs
  src/Aspire.Cli/Resources/ExecCommandStrings.resx
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.cs.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.de.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.es.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.fr.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.it.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.ja.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.ko.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.pl.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.pt-BR.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.ru.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.tr.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.zh-Hans.xlf
  src/Aspire.Cli/Resources/xlf/ExecCommandStrings.zh-Hant.xlf
  src/Aspire.Hosting/Backchannel/BackchannelDataTypes.cs
  tests/Aspire.Cli.Tests/Commands/ExecCommandTests.cs
  tests/Aspire.Cli.Tests/Utils/CliTestHelper.cs
Labels: area-cli

#10635 Fix AddBlobs and AddBlobContainer when using default name
  src/Aspire.Hosting.Azure.Storage/Aspire.Hosting.Azure.Storage.csproj
  src/Aspire.Hosting.Azure.Storage/AzureStorageExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/AzureStorageExtensionsTests.cs
Labels: area-integrations

#10346 [release/9.4] Stabilize package versions
  eng/Versions.props
  tests/Shared/RepoTesting/Aspire.RepoTesting.targets
  tests/Shared/RepoTesting/Directory.Packages.Helix.props
Labels: NO-MERGE

#10477 Update FluentUI to 4.12.1
  Directory.Packages.props
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
  src/Aspire.Dashboard/Components/Pages/Traces.razor
Labels: area-dashboard

#10659 cli-scripts README.md: fix the Quality value from 'ga' to 'release'
  eng/scripts/README.md
Labels: documentation, area-engineering-systems, area-cli

#9827 Use specific classes for fluent menu items when styling to prevent text overflow
  src/Aspire.Dashboard/Components/Controls/AspireMenu.razor
  src/Aspire.Dashboard/Components/Dialogs/TextVisualizerDialog.razor
  src/Aspire.Dashboard/Components/Layout/MobileNavMenu.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#10663 [CI] Enable Native AOT for Cli on linux-arm64, and linux-musl-x64
  eng/clipack/Aspire.Cli.linux-arm64.csproj
  eng/clipack/Aspire.Cli.linux-musl-x64.csproj
  eng/clipack/Aspire.Cli.linux-x64.csproj
  eng/clipack/Aspire.Cli.osx-arm64.csproj
  eng/clipack/Aspire.Cli.osx-x64.csproj
  eng/clipack/Common.projitems
  eng/pipelines/azure-pipelines.yml
  eng/pipelines/templates/build_sign_native.yml
  src/Aspire.Cli/Aspire.Cli.csproj
Labels: area-engineering-systems, area-cli

#10660 Update README.md with new discord
  README.md
Labels: area-meta

#10679 Fix url for parameter sample
  playground/ParameterEndToEnd/ParameterEndToEnd.AppHost/AppHost.cs
Labels: needs-area-label

#10681 Clarify working directory assignment for project launch configurations
  docs/specs/IDE-execution.md
Labels: area-integrations

#10705 Always update resource list in console logs after hidden bool changes
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/ConsoleLogsTests.cs
Labels: area-dashboard

#10708 Change resource details view header to heading element
  src/Aspire.Dashboard/Components/Controls/DetailView.razor
  src/Aspire.Dashboard/Components/Controls/SummaryDetailsView.razor.css
Labels: area-dashboard

#10724 [release/9.4] Mark Aspire.CLI as stable
  src/Aspire.Cli/Aspire.Cli.csproj
Labels: area-cli

#10380 feat(cli): aspire exec against container
  src/Aspire.Hosting/ApplicationModel/ContainerExecutableResource.cs
  src/Aspire.Hosting/AspireEventSource.cs
  src/Aspire.Hosting/BuiltInDistributedApplicationEventSubscriptionHandlers.cs
  src/Aspire.Hosting/ContainerExecutableResourceExtensions.cs
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
  src/Aspire.Hosting/Dcp/DcpNameGenerator.cs
  src/Aspire.Hosting/Dcp/DcpResourceState.cs
  src/Aspire.Hosting/Dcp/Model/ContainerExec.cs
  src/Aspire.Hosting/Dcp/ResourceSnapshotBuilder.cs
  src/Aspire.Hosting/Exec/ExecResourceManager.cs
  src/Shared/Model/KnownResourceTypes.cs
  tests/Aspire.Hosting.Tests/Backchannel/Exec/ContainerResourceExecTests.cs
Labels: area-app-model

#10648 Add links between telemetry and resources in grid values
  src/Aspire.Dashboard/Components/Controls/Chart/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Components/Controls/GridValue.razor
  src/Aspire.Dashboard/Components/Controls/GridValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor
  src/Aspire.Dashboard/Components/Controls/PropertyGrid.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyValues/LogLevelValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyValues/LogLevelValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyValues/ResourceHealthStateValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyValues/ResourceHealthStateValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyValues/ResourceNameButtonValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyValues/ResourceNameButtonValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyValues/ResourceNameValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyValues/ResourceNameValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyValues/ResourceStateValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyValues/ResourceStateValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyValues/SpanIdButtonValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyValues/SpanIdButtonValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyValues/SpanStatusValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyValues/SpanStatusValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/PropertyValues/TraceIdButtonValue.razor
  src/Aspire.Dashboard/Components/Controls/PropertyValues/TraceIdButtonValue.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor.cs
  src/Aspire.Dashboard/Components/Dialogs/ExemplarsDialog.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
  src/Aspire.Dashboard/Components/ResourcesGridColumns/ResourceNameDisplay.razor
  src/Aspire.Dashboard/Components/ResourcesGridColumns/StateColumnDisplay.razor
  src/Aspire.Dashboard/Model/ComponentMetadata.cs
  src/Aspire.Dashboard/Model/KnownPropertyLookup.cs
  src/Aspire.Dashboard/Model/ResourceIconHelpers.cs
  src/Aspire.Dashboard/Model/TraceLinkHelpers.cs
  src/Aspire.Dashboard/Resources/Dialogs.Designer.cs
  src/Aspire.Dashboard/Resources/Dialogs.resx
  src/Aspire.Dashboard/Resources/xlf/Dialogs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Dialogs.zh-Hant.xlf
  src/Aspire.Dashboard/ServiceClient/DashboardClient.cs
  src/Aspire.Dashboard/ServiceClient/IDashboardClient.cs
  src/Aspire.Dashboard/ServiceClient/Partials.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
  tests/Aspire.Dashboard.Components.Tests/Controls/ApplicationNameTests.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/StructuredLogsSetupHelpers.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/TestDashboardClient.cs
  tests/Aspire.Dashboard.Tests/Integration/Playwright/Infrastructure/MockDashboardClient.cs
  tests/Aspire.Dashboard.Tests/ResourceOutgoingPeerResolverTests.cs
Labels: area-dashboard

#10769 Fix 6648
  src/Aspire.Hosting/Devcontainers/DevcontainerSettingsWriter.cs
  tests/Aspire.Hosting.Tests/Codespaces/CodespacesUrlRewriterTests.cs
Labels: area-app-model

#10747 Fix span link attributes not displayed
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor
Labels: area-dashboard

#10781 Fix update dependencies workflow issue by generating a temporary sln file
  .github/workflows/update-dependencies.yml
Labels: needs-area-label

#10745 Fix exemplars that have no tracing information
  playground/Stress/Stress.ApiService/Program.cs
  playground/Stress/Stress.ApiService/TestMetrics.cs
  playground/Stress/Stress.AppHost/Program.cs
  src/Aspire.Dashboard/Components/Controls/Chart/PlotlyChart.razor.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/js/app-metrics.js
Labels: area-dashboard
