Repository dotnet/aspire, pull requests merged in 2025-01, with the labels that each got.

#6898 Clear traces/structured logs functionality
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor.cs
  src/Aspire.Dashboard/Components/Controls/ClearSignalsButton.razor
  src/Aspire.Dashboard/Components/Controls/ClearSignalsButton.razor.cs
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpTrace.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
  tests/Aspire.Dashboard.Tests/CircularBufferTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/MetricsTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: community-contribution, blog-candidate

#6994 Fallback to observed time on OTLP logs
  src/Aspire.Dashboard/Otlp/Model/OtlpLogEntry.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/LogTests.cs
  tests/Shared/Telemetry/TelemetryTestHelpers.cs
Labels: area-dashboard, area-telemetry

#7015 Fix flaky CallService_OtlpHttpEndPoint_BigData_Success with increased timeout
  tests/Aspire.Dashboard.Tests/Integration/OtlpHttpServiceTests.cs
Labels: area-dashboard

#7012 Add `DebuggerDisplayAttribute` to `CustomResourceSnapshot` Collections
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
Labels: community-contribution

#7039 Add debugger display to CustomResourceSnapshot
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
Labels: area-app-model

#7050 fix-version
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
Labels: community-contribution

#7001 Catch errors when getting from browser storage
  src/Aspire.Dashboard/Model/BrowserStorage/BrowserStorageBase.cs
  src/Aspire.Dashboard/Model/BrowserStorage/IBrowserStorage.cs
  src/Aspire.Dashboard/Model/BrowserStorage/ILocalStorage.cs
  src/Aspire.Dashboard/Model/BrowserStorage/LocalBrowserStorage.cs
  src/Aspire.Dashboard/Model/BrowserStorage/SessionBrowserStorage.cs
  src/Aspire.Dashboard/Model/BrowserStorage/StorageResult.cs
Labels: area-dashboard

#7040 Reset details scroll position
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor.cs
  src/Aspire.Dashboard/wwwroot/js/app.js
  tests/Aspire.Dashboard.Components.Tests/Shared/ResourceSetupHelpers.cs
Labels: area-dashboard

#5765 Add OTEL messaging semantic conventions to Kafka integration
  Directory.Packages.props
  playground/kafka/Producer/ContinuousProducerWorker.cs
  src/Components/Aspire.Confluent.Kafka/Aspire.Confluent.Kafka.csproj
  src/Components/Aspire.Confluent.Kafka/AspireKafkaConsumerExtensions.cs
  src/Components/Aspire.Confluent.Kafka/AspireKafkaProducerExtensions.cs
  src/Components/Aspire.Confluent.Kafka/ConfigurationSchema.json
  src/Components/Aspire.Confluent.Kafka/ConfluentKafkaCommon.cs
  src/Components/Aspire.Confluent.Kafka/KafkaConsumerSettings.cs
  src/Components/Aspire.Confluent.Kafka/KafkaProducerSettings.cs
  src/Components/Aspire.Confluent.Kafka/PublicAPI.Unshipped.txt
  src/Components/Telemetry.md
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaCommon.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaConsumerInstrumentation.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaConsumerInstrumentationOptions.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaProducerInstrumentation.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/ConfluentKafkaProducerInstrumentationOptions.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedConsumer.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedConsumerBuilder.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedProducer.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/InstrumentedProducerBuilder.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/MeterProviderBuilderExtensions.Consumer.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/MeterProviderBuilderExtensions.Producer.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryConsumeAndProcessMessageHandler.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/OpenTelemetryConsumeResultExtensions.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/Shared/Guard.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/Shared/PropertyFetcher.AOT.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/Shared/SemanticConventions.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/TracerProviderBuilderExtensions.Consumer.cs
  src/Vendoring/OpenTelemetry.Instrumentation.ConfluentKafka/TracerProviderBuilderExtensions.Producer.cs
  src/Vendoring/README.md
  tests/Aspire.Confluent.Kafka.Tests/Aspire.Confluent.Kafka.Tests.csproj
  tests/Aspire.Confluent.Kafka.Tests/Aspire8MetricsTests.cs
  tests/Aspire.Confluent.Kafka.Tests/ConsumerConfigurationTests.cs
  tests/Aspire.Confluent.Kafka.Tests/KafkaContainerFixture.cs
  tests/Aspire.Confluent.Kafka.Tests/MeterProviderExtensions.cs
  tests/Aspire.Confluent.Kafka.Tests/MetricsTests.cs
  tests/Aspire.Confluent.Kafka.Tests/OtelMetricsTests.cs
  tests/Aspire.Confluent.Kafka.Tests/OtelTracesTests.cs
  tests/Aspire.Confluent.Kafka.Tests/ProducerExtensions.cs
Labels: area-integrations, community-contribution, kafka

#6998 Reject invalid histogram data points
  src/Aspire.Dashboard/Otlp/Model/MetricValues/DimensionScope.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpInstrument.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/MetricsTests.cs
Labels: area-dashboard, area-telemetry

#7079 Fix resource filter UI
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
Labels: area-dashboard

#7072 Move PublishAsDockerFile to use container resources.
  src/Aspire.Hosting/ApplicationModel/DockerfileBuildAnnotation.cs
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
  src/Aspire.Hosting/ExecutableResourceBuilderExtensions.cs
  src/Aspire.Hosting/PublicAPI.Shipped.txt
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Python.Tests/AddPythonAppTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/Aspire.Hosting.Tests/PublishAsDockerfileTests.cs
  tests/Aspire.Hosting.Tests/Schema/SchemaTests.cs
Labels: area-app-model

#7032 Log exceptions evaluating `IValueProvider` whilst starting a resource
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: community-contribution

#7075 Fix displaying status message in span details
  src/Aspire.Dashboard/Otlp/Model/OtlpDisplayField.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpSpan.cs
  tests/Aspire.Dashboard.Tests/Model/SpanWaterfallViewModelTests.cs
  tests/Aspire.Dashboard.Tests/Model/TraceHelpersTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/OtlpSpanTests.cs
  tests/Shared/Telemetry/TelemetryTestHelpers.cs
Labels: area-dashboard

#7113 Log container runtime unhealthy or missing as warning
  src/Aspire.Hosting/Dcp/DcpDependencyCheck.cs
Labels: area-app-model

#7111 Handling vscode insiders devcontainers
  src/Aspire.Hosting/Devcontainers/DevcontainerSettingsWriter.cs
Labels: community-contribution

#7092 Add support for managed identity in Azure Cosmos DB hosting component
  Directory.Packages.props
  playground/AzureContainerApps/AzureContainerApps.AppHost/Program.cs
  playground/AzureContainerApps/AzureContainerApps.AppHost/account.module.bicep
  playground/AzureContainerApps/AzureContainerApps.AppHost/api.module.bicep
  playground/AzureContainerApps/AzureContainerApps.AppHost/aspire-manifest.json
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/Program.cs
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/Program.cs
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/aspire-manifest.json
  playground/CosmosEndToEnd/CosmosEndToEnd.AppHost/cosmos.module.bicep
  playground/bicep/BicepSample.AppHost/Program.cs
  playground/bicep/BicepSample.AppHost/aspire-manifest.json
  playground/bicep/BicepSample.AppHost/cosmos.module.bicep
  playground/cdk/CdkSample.AppHost/Program.cs
  playground/cdk/CdkSample.AppHost/aspire-manifest.json
  playground/cdk/CdkSample.AppHost/cosmos.module.bicep
  src/Aspire.Hosting.Azure.CosmosDB/Aspire.Hosting.Azure.CosmosDB.csproj
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBEmulatorConnectionString.cs
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBEmulatorHealthCheck.cs
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBExtensions.cs
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure.CosmosDB/CosmosDBContainer.cs
  src/Aspire.Hosting.Azure.CosmosDB/CosmosDBDatabase.cs
  src/Aspire.Hosting.Azure.CosmosDB/CosmosDBEmulatorContainerImageTags.cs
  src/Aspire.Hosting.Azure.CosmosDB/PublicAPI.Unshipped.txt
  src/Components/Aspire.Microsoft.Azure.Cosmos/Aspire.Microsoft.Azure.Cosmos.csproj
  src/Components/Aspire.Microsoft.Azure.Cosmos/AspireMicrosoftAzureCosmosExtensions.cs
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/Aspire.Microsoft.EntityFrameworkCore.Cosmos.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/AspireAzureEFCoreCosmosExtensions.cs
  src/Shared/Cosmos/CosmosConstants.cs
  src/Shared/Cosmos/CosmosUtils.cs
  tests/Aspire.Hosting.Azure.Tests/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureContainerAppsTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureCosmosDBEmulatorFunctionalTests.cs
Labels: area-integrations

#7142 Fix typo in `ApplicationExecutor` debug logs
  src/Aspire.Hosting/Dcp/ApplicationExecutor.cs
Labels: community-contribution

#7124 Update Keycloak admin variable names in extensions
  src/Aspire.Hosting.Keycloak/KeycloakResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Keycloak.Tests/KeycloakResourceBuilderTests.cs
Labels: community-contribution

#7121 Refactor WithRealmImport to accept file or directory
  src/Aspire.Hosting.Keycloak/KeycloakResourceBuilderExtensions.cs
  src/Aspire.Hosting.Keycloak/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.Keycloak.Tests/KeycloakPublicApiTests.cs
  tests/Aspire.Hosting.Keycloak.Tests/KeycloakResourceBuilderTests.cs
Labels: community-contribution

#7122 Add health check support for Keycloak container
  src/Aspire.Hosting.Keycloak/KeycloakResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Keycloak.Tests/KeycloakResourceBuilderTests.cs
Labels: community-contribution

#7155 Update service defaults to enable metric exemplars
  playground/Playground.ServiceDefaults/Extensions.cs
Labels: community-contribution

#7180 Set EnvironmentCallbackContext.Logger to NullLogger by default
  src/Aspire.Hosting/ApplicationModel/EnvironmentCallbackContext.cs
  src/Aspire.Hosting/PublicAPI.Shipped.txt
Labels: community-contribution

#6793 Add support for SignalR emulator
  Aspire.sln
  Directory.Packages.props
  playground/signalr/SignalR.AppHost/Program.cs
  playground/signalr/SignalR.AppHost/README.md
  playground/signalr/SignalR.AppHost/SignalR.AppHost.csproj
  playground/signalr/SignalR.AppHost/appsettings.json
  playground/signalr/SignalR.AppHost/aspire-manifest.json
  playground/signalr/SignalRServerlessWeb/BackgroundWorker.cs
  playground/signalr/SignalRServerlessWeb/Pages/Index.cshtml
  playground/signalr/SignalRServerlessWeb/Pages/Index.cshtml.cs
  playground/signalr/SignalRServerlessWeb/Pages/Shared/_Layout.cshtml
  playground/signalr/SignalRServerlessWeb/Pages/Shared/_Layout.cshtml.css
  playground/signalr/SignalRServerlessWeb/Pages/_ViewImports.cshtml
  playground/signalr/SignalRServerlessWeb/Pages/_ViewStart.cshtml
  playground/signalr/SignalRServerlessWeb/Program.cs
  playground/signalr/SignalRServerlessWeb/Properties/launchSettings.json
  playground/signalr/SignalRServerlessWeb/SignalRServerlessWeb.csproj
  playground/signalr/SignalRServerlessWeb/appsettings.Development.json
  playground/signalr/SignalRServerlessWeb/appsettings.json
  playground/signalr/SignalRServerlessWeb/wwwroot/css/site.css
  playground/signalr/SignalRServerlessWeb/wwwroot/favicon.ico
  playground/signalr/SignalRWeb/Program.cs
  src/Aspire.Hosting.Azure.SignalR/AzureSignalREmulatorResource.cs
  src/Aspire.Hosting.Azure.SignalR/AzureSignalRExtensions.cs
  src/Aspire.Hosting.Azure.SignalR/AzureSignalRHealthCheck.cs
  src/Aspire.Hosting.Azure.SignalR/AzureSignalRResource.cs
  src/Aspire.Hosting.Azure.SignalR/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Azure.SignalR/SignalREmulatorContainerImageTags.cs
  tests/Aspire.Hosting.Azure.Tests/Aspire.Hosting.Azure.Tests.csproj
  tests/Aspire.Hosting.Azure.Tests/AzureSignalREmulatorFunctionalTest.cs
Labels: community-contribution

#7202 Use withHttpCheck for signalr emulator health check
  src/Aspire.Hosting.Azure.SignalR/AzureSignalRExtensions.cs
  src/Aspire.Hosting.Azure.SignalR/AzureSignalRHealthCheck.cs
Labels: community-contribution

#7199 Fix dashboard selected resource not updating in details view
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
Labels: area-dashboard

#7198 Deprecating Aspire.Hosting.Dapr
  Aspire.sln
  playground/dapr/Dapr.AppHost/Dapr.AppHost.csproj
  playground/dapr/Dapr.AppHost/Program.cs
  playground/dapr/Dapr.AppHost/Properties/launchSettings.json
  playground/dapr/Dapr.AppHost/appsettings.json
  playground/dapr/Dapr.AppHost/aspire-manifest.json
  playground/dapr/Dapr.AppHost/pubsub.yaml
  playground/dapr/ServiceA/DaprServiceA.csproj
  playground/dapr/ServiceA/Program.cs
  playground/dapr/ServiceA/Properties/launchSettings.json
  playground/dapr/ServiceA/ServiceA.http
  playground/dapr/ServiceA/appsettings.Development.json
  playground/dapr/ServiceA/appsettings.json
  playground/dapr/ServiceB/DaprServiceB.csproj
  playground/dapr/ServiceB/Program.cs
  playground/dapr/ServiceB/Properties/launchSettings.json
  playground/dapr/ServiceB/ServiceB.http
  playground/dapr/ServiceB/appsettings.Development.json
  playground/dapr/ServiceB/appsettings.json
  playground/dapr/ServiceC/DaprServiceC.csproj
  playground/dapr/ServiceC/Program.cs
  src/Aspire.Hosting.Dapr/DaprComponentOptions.cs
  src/Aspire.Hosting.Dapr/DaprComponentReferenceAnnotation.cs
  src/Aspire.Hosting.Dapr/DaprComponentResource.cs
  src/Aspire.Hosting.Dapr/DaprConstants.cs
  src/Aspire.Hosting.Dapr/DaprDistributedApplicationLifecycleHook.cs
  src/Aspire.Hosting.Dapr/DaprOptions.cs
  src/Aspire.Hosting.Dapr/DaprSidecarAnnotation.cs
  src/Aspire.Hosting.Dapr/DaprSidecarOptions.cs
  src/Aspire.Hosting.Dapr/DaprSidecarOptionsAnnotation.cs
  src/Aspire.Hosting.Dapr/DaprSidecarResource.cs
  src/Aspire.Hosting.Dapr/IDaprComponentResource.cs
  src/Aspire.Hosting.Dapr/IDaprSidecarResource.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationBuilderExtensions.cs
  src/Aspire.Hosting.Dapr/IDistributedApplicationComponentBuilderExtensions.cs
  tests/Aspire.Hosting.Dapr.Tests/Aspire.Hosting.Dapr.Tests.csproj
  tests/Aspire.Hosting.Dapr.Tests/DaprSchemaTests.cs
  tests/Aspire.Hosting.Dapr.Tests/DaprTests.cs
Labels: community-contribution

#7117 Add noopener noreferrer nofollow to generated content links
  src/Aspire.Dashboard/ConsoleLogs/UrlParser.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/LogEntriesTests.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/UrlParserTests.cs
Labels: area-dashboard

#7196 Only reset details scroll position if the viewed item changes
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor.cs
Labels: area-dashboard

#7218 Default KeyValue with a missing value to empty string
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/OtlpHelpersTests.cs
Labels: area-dashboard

#6972 Position the language listbox to bottom to fix cutoff
  src/Aspire.Dashboard/Components/Dialogs/SettingsDialog.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#7206 Start to split AppExecutor, call events on restart of resources
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
  src/Aspire.Hosting/Dcp/DcpExecutorEvents.cs
  src/Aspire.Hosting/Dcp/DcpHost.cs
  src/Aspire.Hosting/Dcp/DcpNameGenerator.cs
  src/Aspire.Hosting/Dcp/DcpResourceState.cs
  src/Aspire.Hosting/Dcp/IDcpExecutor.cs
  src/Aspire.Hosting/Dcp/ResourceSnapshotBuilder.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Orchestrator/ApplicationOrchestrator.cs
  src/Aspire.Hosting/Orchestrator/OrchestratorHostService.cs
  tests/Aspire.Hosting.Kafka.Tests/Aspire.Hosting.Kafka.Tests.csproj
  tests/Aspire.Hosting.Kafka.Tests/KafkaFunctionalTests.cs
  tests/Aspire.Hosting.PostgreSQL.Tests/Aspire.Hosting.PostgreSQL.Tests.csproj
  tests/Aspire.Hosting.PostgreSQL.Tests/PostgresFunctionalTests.cs
  tests/Aspire.Hosting.RabbitMQ.Tests/Aspire.Hosting.RabbitMQ.Tests.csproj
  tests/Aspire.Hosting.RabbitMQ.Tests/RabbitMQFunctionalTests.cs
  tests/Aspire.Hosting.Redis.Tests/RedisFunctionalTests.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationExecutorProxy.cs
  tests/Aspire.Hosting.Tests/Dcp/ApplicationOrchestratorProxy.cs
  tests/Aspire.Hosting.Tests/Dcp/DcpExecutorTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Orchestrator/ApplicationOrchestratorTests.cs
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
  tests/Shared/AsyncTestHelpers.cs
Labels: area-app-model

#5878 Build resource logging into Aspire.Hosting
  src/Aspire.Hosting.Testing/DistributedApplicationFactory.cs
  src/Aspire.Hosting/Aspire.Hosting.csproj
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/DistributedApplicationOptions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceLoggerForwarderService.cs
  tests/Aspire.EndToEnd.Tests/Aspire.EndToEnd.Tests.csproj
  tests/Aspire.Hosting.Containers.Tests/Aspire.Hosting.Containers.Tests.csproj
  tests/Aspire.Hosting.Containers.Tests/WithDockerfileTests.cs
  tests/Aspire.Hosting.Tests/Aspire.Hosting.Tests.csproj
  tests/Aspire.Hosting.Tests/Utils/TestDistributedApplicationBuilder.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
Labels: area-app-model

#7238 Support resource restart in ResourceHealthCheckService
  src/Aspire.Hosting/ApplicationModel/ResourceHealthyEvent.cs
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Health/ResourceHealthCheckService.cs
  src/Aspire.Hosting/Orchestrator/ApplicationOrchestrator.cs
  tests/Aspire.Hosting.Tests/Health/ResourceHealthCheckServiceTests.cs
Labels: area-app-model

#6097 Docs to cover 6006.
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
Labels: area-app-model

#7250 Mark resource auth type public
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure.CosmosDB/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Azure.PostgreSQL/AzurePostgresFlexibleServerResource.cs
  src/Aspire.Hosting.Azure.PostgreSQL/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Azure.Redis/AzureRedisCacheResource.cs
  src/Aspire.Hosting.Azure.Redis/PublicAPI.Unshipped.txt
Labels: community-contribution

#7161 Allow starting waiting resources
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  tests/Aspire.Hosting.Tests/ResourceCommandAnnotationTests.cs
Labels: area-app-model

#7253 Update solution file for the new MongoDB component
  Aspire.sln
Labels: community-contribution

#7254 Allow tags in `WithImage` and `AddContainer` calls
  src/Aspire.Hosting/ContainerResourceBuilderExtensions.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/Utils/ContainerReferenceParser.cs
  tests/Aspire.Hosting.Containers.Tests/ContainerResourceBuilderTests.cs
  tests/Aspire.Hosting.Containers.Tests/ContainerResourceTests.cs
  tests/Aspire.Hosting.RabbitMQ.Tests/AddRabbitMQTests.cs
  tests/Aspire.Hosting.Tests/Utils/ContainerReferenceParserTests.cs
Labels: community-contribution

#7260 Enable metric exemplars by default in Aspire 9.0 templates
  playground/TestShop/TestShop.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-empty/9.0/AspireApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/9.0/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/9.0/Aspire-StarterApplication.1.ServiceDefaults/Extensions.cs
  tests/TestingAppHost1/TestingAppHost1.ServiceDefaults/Extensions.cs
Labels: community-contribution

#7261 Refactor health check service to be more responsive
  Aspire.sln
  playground/Stress/Stress.AppHost/Program.cs
  playground/Stress/Stress.AppHost/Stress.AppHost.csproj
  playground/Stress/Stress.Empty/Program.cs
  playground/Stress/Stress.Empty/Stress.Empty.csproj
  src/Aspire.Hosting/Health/ResourceHealthCheckService.cs
  tests/Aspire.Hosting.Tests/Health/ResourceHealthCheckServiceTests.cs
Labels: area-app-model

#7151 Use ApplicationStatus health check in ServiceDefaults
  Directory.Packages.props
  playground/Playground.ServiceDefaults/Extensions.cs
  playground/Playground.ServiceDefaults/Playground.ServiceDefaults.csproj
  playground/TestShop/TestShop.ServiceDefaults/Extensions.cs
  playground/TestShop/TestShop.ServiceDefaults/TestShop.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-empty/9.0/AspireApplication.1.ServiceDefaults/AspireApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-empty/9.0/AspireApplication.1.ServiceDefaults/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/9.0/Aspire.ServiceDefaults1.csproj
  src/Aspire.ProjectTemplates/templates/aspire-servicedefaults/9.0/Extensions.cs
  src/Aspire.ProjectTemplates/templates/aspire-starter/9.0/Aspire-StarterApplication.1.ServiceDefaults/Aspire-StarterApplication.1.ServiceDefaults.csproj
  src/Aspire.ProjectTemplates/templates/aspire-starter/9.0/Aspire-StarterApplication.1.ServiceDefaults/Extensions.cs
  tests/TestingAppHost1/TestingAppHost1.ServiceDefaults/Extensions.cs
  tests/TestingAppHost1/TestingAppHost1.ServiceDefaults/TestingAppHost1.ServiceDefaults.csproj
Labels: community-contribution

#7262 Fix messy state changes on resource restart
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
Labels: area-app-model

#6970 Improve page titles by adding (resource) or (trace name) where appropriate.
  src/Aspire.Dashboard/Components/Controls/ApplicationName.razor
  src/Aspire.Dashboard/Components/Controls/ApplicationName.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
  src/Aspire.Dashboard/Components/Pages/Metrics.razor
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor
  tests/Aspire.Dashboard.Components.Tests/Controls/ApplicationNameTests.cs
Labels: area-dashboard

#6925 Allow filtering by resource state and health status, and update the filters based on visible grid items
  src/Aspire.Dashboard/Components/Controls/ResourceFilters.razor
  src/Aspire.Dashboard/Components/Controls/SelectResourceOptions.razor
  src/Aspire.Dashboard/Components/Controls/SelectResourceOptions.razor.cs
  src/Aspire.Dashboard/Components/Controls/SelectResourceTypes.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
  tests/Aspire.Dashboard.Components.Tests/Pages/ResourcesTests.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/ResourceSetupHelpers.cs
Labels: area-dashboard

#7280 Remove unused replica set code from DcpExecutor
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
Labels: area-app-model

#7282 Allow deleted containers to be restarted
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  tests/Aspire.Hosting.Tests/ResourceCommandAnnotationTests.cs
Labels: area-app-model

#7286 More health checks service logging
  src/Aspire.Hosting/ApplicationModel/ResourceNotificationService.cs
  src/Aspire.Hosting/Health/ResourceHealthCheckService.cs
Labels: area-app-model

#7290 Fix flaky resources page component test
  tests/Aspire.Dashboard.Components.Tests/Pages/ResourcesTests.cs
Labels: area-dashboard

#7302 Fix horizontal scrollbar with language selector
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#7300 Fix resource filter not adding new values on update
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/ResourcesTests.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/ResourceSetupHelpers.cs
Labels: area-dashboard

#7312 Allow start command to force waiting resources to start
  playground/Stress/Stress.AppHost/Program.cs
  src/Aspire.Hosting/Dcp/AppResource.cs
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
  src/Aspire.Hosting/Dcp/IDcpExecutor.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Orchestrator/ApplicationOrchestrator.cs
  tests/Aspire.Hosting.Tests/Dcp/DcpExecutorTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/Orchestrator/ApplicationOrchestratorTests.cs
Labels: area-app-model

#7323 Refactor to reuse polly pipelines and avoid 20 second test time
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
  src/Aspire.Hosting/Dcp/DcpPipelineBuilder.cs
  tests/Aspire.Hosting.Tests/Dcp/DcpExecutorTests.cs
Labels: area-app-model

#7316 Bump Polly to 8.5.1
  Directory.Packages.props
Labels: community-contribution

#7324 Add `WithExplicitStart` to conditionally not start some resources
  src/Aspire.Dashboard/Extensions/ResourceViewModelExtensions.cs
  src/Aspire.Dashboard/Model/KnownResourceState.cs
  src/Aspire.Dashboard/Model/ResourceStateViewModel.cs
  src/Aspire.Hosting/ApplicationModel/CommandsConfigurationExtensions.cs
  src/Aspire.Hosting/ApplicationModel/CustomResourceSnapshot.cs
  src/Aspire.Hosting/ApplicationModel/ExplicitStartupAnnotation.cs
  src/Aspire.Hosting/Dcp/AppResource.cs
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
  src/Aspire.Hosting/PublicAPI.Unshipped.txt
  src/Aspire.Hosting/ResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
Labels: area-app-model

#7339 Fix Typo: 'Anlytics' -> 'Analytics' in Aspire.Hosting.Azure.OperationalInsights
  src/Aspire.Hosting.Azure.OperationalInsights/Aspire.Hosting.Azure.OperationalInsights.csproj
Labels: community-contribution

#4642 Add Password To Redis
  playground/AzureContainerApps/AzureContainerApps.AppHost/api.module.bicep
  playground/AzureContainerApps/AzureContainerApps.AppHost/aspire-manifest.json
  playground/AzureContainerApps/AzureContainerApps.AppHost/cache.module.bicep
  playground/ProxylessEndToEnd/ProxylessEndToEnd.AppHost/aspire-manifest.json
  playground/Redis/Redis.AppHost/Redis.AppHost.csproj
  playground/Redis/Redis.AppHost/aspire-manifest.json
  playground/TestShop/TestShop.AppHost/aspire-manifest.json
  src/Aspire.Hosting.Redis/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.Redis/RedisBuilderExtensions.cs
  src/Aspire.Hosting.Redis/RedisResource.cs
  tests/Aspire.Hosting.Azure.Tests/AzureBicepResourceTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureRedisExtensionsTests.cs
  tests/Aspire.Hosting.Redis.Tests/AddRedisTests.cs
  tests/Aspire.Hosting.Redis.Tests/RedisFunctionalTests.cs
  tests/Aspire.Hosting.Tests/DistributedApplicationTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
Labels: area-integrations, breaking-change, community-contribution, security 🔐, redis
