Repository dotnet/aspire, pull requests merged in 2025-06, with the labels that each got.

#9626 change 2->8 cores for copilot setup build
  .github/workflows/copilot-setup-steps.yml
Labels: area-engineering-systems

#9602 [release/9.3] Initialize telemetry context in UpdateTelemetryProperties if not already initialized
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Pages/ComponentTelemetryContext.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Error.razor.cs
  src/Aspire.Dashboard/Components/Pages/Login.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  tests/Aspire.Dashboard.Tests/Telemetry/ComponentTelemetryContextTests.cs
Labels: area-dashboard, Servicing-approved

#9625 Update verify and remove AddTextExtension
  tests/Directory.Packages.props
  tests/Shared/TestModuleInitializer.cs
Labels: area-integrations, community-contribution

#9624 Add support for existing Log Analytics Workspace when publishing into a Container App Environment
  src/Aspire.Hosting.Azure.AppContainers/Aspire.Hosting.Azure.AppContainers.csproj
  src/Aspire.Hosting.Azure.AppContainers/AzureContainerAppExtensions.cs
  src/Aspire.Hosting.Azure.OperationalInsights/AzureLogAnalyticsWorkspaceExtensions.cs
  src/Aspire.Hosting.Azure.OperationalInsights/AzureLogAnalyticsWorkspaceReferenceAnnotation.cs
  src/Aspire.Hosting.Azure.OperationalInsights/AzureLogAnalyticsWorkspaceResource.cs
  tests/Aspire.Hosting.Azure.Tests/AzureContainerAppsTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureLogAnalyticsWorkspaceExtensionsTests.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomWorkspace#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomWorkspace#00.verified.json
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomWorkspace#01.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomWorkspace#01.verified.json
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomWorkspace#02.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomWorkspace#02.verified.json
Labels: area-integrations, azure, community-contribution

#9558 Prompting for additional template args.
  Directory.Packages.props
  eng/Versions.props
  src/Aspire.Cli/Aspire.Cli.csproj
  src/Aspire.Cli/Commands/AddCommand.cs
  src/Aspire.Cli/Commands/NewCommand.cs
  src/Aspire.Cli/Commands/TemplateCommand.cs
  src/Aspire.Cli/DotNetCliRunner.cs
  src/Aspire.Cli/NuGet/NuGetPackageCache.cs
  src/Aspire.Cli/NuGet/NuGetPackagePrefetcher.cs
  src/Aspire.Cli/Program.cs
  src/Aspire.Cli/Projects/ProjectLocator.cs
  src/Aspire.Cli/Templating/CallbackTemplate.cs
  src/Aspire.Cli/Templating/DotNetTemplateFactory.cs
  src/Aspire.Cli/Templating/ITemplate.cs
  src/Aspire.Cli/Templating/ITemplateFactory.cs
  src/Aspire.Cli/Templating/ITemplateProvider.cs
  src/Aspire.Cli/Templating/TemplateProvider.cs
  tests/Aspire.Cli.Tests/Commands/NewCommandTests.cs
  tests/Aspire.Cli.Tests/TestServices/TestDotNetCliRunner.cs
  tests/Aspire.Cli.Tests/Utils/CliTestHelper.cs
Labels: area-cli

#9669 Quarantine Aspire.Cli.Tests.Projects.ProjectLocatorTests.UseOrFindAppHostProjectFilePromptsWhenMultipleFilesFound
  tests/Aspire.Cli.Tests/Projects/ProjectLocatorTests.cs
  tests/Aspire.Hosting.Tests/WithHttpCommandTests.cs
Labels: area-integrations

#9578 Initial Aspire extension code
  .github/workflows/tests.yml
  extension/.npmrc
  extension/.vscode-test.mjs
  extension/.vscode/extensions.json
  extension/.vscode/launch.json
  extension/.vscode/settings.json
  extension/.vscode/tasks.json
  extension/.vscodeignore
  extension/.yarnrc
  extension/LocProject.json
  extension/README.md
  extension/eslint.config.mjs
  extension/gulpfile.js
  extension/loc/.gitignore
  extension/owners.txt
  extension/package.json
  extension/package.nls.cs.json
  extension/package.nls.de.json
  extension/package.nls.es.json
  extension/package.nls.fr.json
  extension/package.nls.it.json
  extension/package.nls.ja.json
  extension/package.nls.json
  extension/package.nls.ko.json
  extension/package.nls.pl.json
  extension/package.nls.pt-br.json
  extension/package.nls.ru.json
  extension/package.nls.tr.json
  extension/package.nls.zh-cn.json
  extension/package.nls.zh-tw.json
  extension/src/commands/add.ts
  extension/src/commands/new.ts
  extension/src/commands/run.ts
  extension/src/constants/storageKeys.ts
  extension/src/constants/strings.ts
  extension/src/extension.ts
  extension/src/server/interactionService.ts
  extension/src/server/rpcClient.ts
  extension/src/server/rpcServer.ts
  extension/src/test/common.ts
  extension/src/test/rpc/e2eServerTests.test.ts
  extension/src/test/rpcServer.test.ts
  extension/src/utils/projects.ts
  extension/src/utils/terminal.ts
  extension/src/utils/vsc.ts
  extension/tsconfig.json
  extension/webpack.config.js
  extension/yarn.lock
Labels: area-extension

#9678 Add missing imports, move rpc server test file
  extension/src/test/rpc/e2eServerTests.test.ts
  extension/src/test/rpc/rpcServer.test.ts
  extension/tsconfig.json
Labels: needs-area-label

#9680 bump version of azure.provisioning to 1.0.1
  Directory.Packages.props
Labels: area-integrations, azure, community-contribution

#9699 Fix two common dashboard errors
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Resize/BrowserDimensionWatcher.cs
Labels: area-dashboard

#9686 Fix the state propagation for azure resources
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
Labels: area-integrations

#9675 Quarantine some flaky tests
  .github/copilot-instructions.md
  tests/Aspire.Dashboard.Tests/Integration/Playwright/BrowserTokenAuthenticationTests.cs
  tests/Aspire.Hosting.Tests/SlimTestProgramTests.cs
Labels: needs-area-label, testing ☑️

#9716 [release/9.3] Skip role assignment handling for emulators (#9705)
  src/Aspire.Hosting.Azure/AzureResourcePreparer.cs
  tests/Aspire.Hosting.Azure.Tests/AzureResourcePreparerTests.cs
Labels: area-app-model, Servicing-approved

#9733 Add .NET 10 support to dashboard
  Directory.Packages.props
  eng/Versions.props
  playground/keycloak/Keycloak.Web/Components/Layout/MainLayout.razor.css
  src/Aspire.Dashboard/Aspire.Dashboard.csproj
  src/Aspire.Dashboard/Components/App.razor
  src/Aspire.Dashboard/Components/Layout/ReconnectModal.razor
  src/Aspire.Dashboard/Components/Layout/ReconnectModal.razor.css
  src/Aspire.Dashboard/DashboardEndpointsBuilder.cs
  src/Aspire.Dashboard/DashboardWebApplication.cs
  src/Aspire.Dashboard/Embedded/blazor.web.js
  src/Aspire.Dashboard/Resources/Layout.Designer.cs
  src/Aspire.Dashboard/Resources/Layout.resx
  src/Aspire.Dashboard/Resources/xlf/Layout.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Layout.zh-Hant.xlf
  src/Aspire.Dashboard/wwwroot/css/app.css
  src/Aspire.Dashboard/wwwroot/js/app-reconnect.js
Labels: area-dashboard

#9750 Fix error CSS
  playground/keycloak/Keycloak.Web/Components/Layout/MainLayout.razor.css
  src/Aspire.Dashboard/Components/Layout/MainLayout.razor.css
Labels: area-dashboard

#9759 Fix dashboard selecting resources with dashes in instance ids
  playground/Stress/Stress.ApiService/Program.cs
  src/Aspire.Dashboard/Model/ResourceTypeDetails.cs
  src/Aspire.Dashboard/Otlp/Storage/ApplicationKey.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/StructuredLogsTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/ApplicationKeyTests.cs
  tests/Aspire.Dashboard.Tests/TelemetryRepositoryTests/TraceTests.cs
Labels: area-dashboard

#9775 Revert "Make verify tool accessible to the coding agent (#9753)"
  .github/copilot-instructions.md
  .github/workflows/copilot-setup-steps.yml
Labels: area-engineering-systems

#9777 Default ACA autoConfigureDataProtection to true for .NET projects
  src/Aspire.Hosting.Azure.AppContainers/ContainerAppContext.cs
  tests/Aspire.Hosting.Azure.Tests/AzureContainerAppsTests.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.AddContainerAppEnvironmentAddsDeploymentTargetWithContainerAppToProjectResources.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomRegistry#01.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomWorkspace#01.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ProjectUsesTheTargetPortAsADefaultPortForFirstHttpEndpoint.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ProjectWithManyReferenceTypes#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ProjectWithManyReferenceTypesAndContainerAppEnvironment#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.RoleAssignmentsWithAsExisting#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.RoleAssignmentsWithAsExistingCosmosDB#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.RoleAssignmentsWithAsExistingRedis#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureUserAssignedIdentityTests.WithAzureUserAssignedIdentity_WithRoleAssignments_MultipleProjects_Works#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureUserAssignedIdentityTests.WithAzureUserAssignedIdentity_WithRoleAssignments_MultipleProjects_Works#01.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureUserAssignedIdentityTests.WithAzureUserAssignedIdentity_WithRoleAssignments_Works#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureUserAssignedIdentityTests.WithAzureUserAssignedIdentity_Works.verified.bicep
Labels: area-integrations

#9786 Fix ACA DataProtection
  playground/AzureContainerApps/AzureContainerApps.AppHost/api.module.bicep
  src/Aspire.Hosting.Azure.AppContainers/ContainerAppContext.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.AddContainerAppEnvironmentAddsDeploymentTargetWithContainerAppToProjectResources.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomRegistry#01.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ContainerAppEnvironmentWithCustomWorkspace#01.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ProjectUsesTheTargetPortAsADefaultPortForFirstHttpEndpoint.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ProjectWithManyReferenceTypes#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.ProjectWithManyReferenceTypesAndContainerAppEnvironment#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.RoleAssignmentsWithAsExisting#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.RoleAssignmentsWithAsExistingCosmosDB#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureContainerAppsTests.RoleAssignmentsWithAsExistingRedis#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureUserAssignedIdentityTests.WithAzureUserAssignedIdentity_WithRoleAssignments_MultipleProjects_Works#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureUserAssignedIdentityTests.WithAzureUserAssignedIdentity_WithRoleAssignments_MultipleProjects_Works#01.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureUserAssignedIdentityTests.WithAzureUserAssignedIdentity_WithRoleAssignments_Works#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureUserAssignedIdentityTests.WithAzureUserAssignedIdentity_Works.verified.bicep
Labels: area-integrations

#9674 Update Docker Image tags
  src/Aspire.Hosting.Kafka/KafkaContainerImageTags.cs
  src/Aspire.Hosting.Milvus/MilvusContainerImageTags.cs
  src/Aspire.Hosting.Oracle/OracleContainerImageTags.cs
  src/Aspire.Hosting.PostgreSQL/PostgresContainerImageTags.cs
  src/Aspire.Hosting.Qdrant/QdrantContainerImageTags.cs
  src/Aspire.Hosting.Redis/RedisContainerImageTags.cs
  src/Aspire.Hosting.Seq/SeqBuilderExtensions.cs
  src/Aspire.Hosting.Seq/SeqContainerImageTags.cs
  tests/Aspire.Hosting.Seq.Tests/SeqFunctionalTests.cs
Labels: area-integrations

#9779 Set functionapp kind on Azure Functions projects
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/AzureFunctionsEndToEnd.AppHost.csproj
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/Program.cs
  src/Aspire.Hosting.Azure.AppContainers/ContainerAppContext.cs
  src/Aspire.Hosting.Azure.Functions/AzureFunctionsProjectResourceExtensions.cs
  src/Aspire.Hosting.Azure/AzureFunctionsAnnotation.cs
  tests/Aspire.Hosting.Azure.Tests/AzureContainerAppsTests.cs
  tests/Aspire.Hosting.Azure.Tests/AzureFunctionsTests.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureFunctionsTests.AddAzureFunctionsProject_WorksWithAddAzureContainerAppsInfrastructure#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureFunctionsTests.AddAzureFunctionsProject_WorksWithAddAzureContainerAppsInfrastructure#01.verified.bicep
Labels: area-integrations

#9766 Allow YARP to be configured in a programmatic way
  src/Aspire.Hosting.Yarp/Aspire.Hosting.Yarp.csproj
  src/Aspire.Hosting.Yarp/IYarpConfigurationBuilder.cs
  src/Aspire.Hosting.Yarp/YarpConfigurationBuilder.cs
  src/Aspire.Hosting.Yarp/YarpResource.cs
  src/Aspire.Hosting.Yarp/YarpServiceExtensions.cs
  tests/Aspire.Hosting.Yarp.Tests/AddYarpTests.cs
  tests/Aspire.Hosting.Yarp.Tests/Aspire.Hosting.Yarp.Tests.csproj
  tests/Aspire.Hosting.Yarp.Tests/Snapshots/YarpConfigGeneratorTests.GenerateConfiguration.verified.json
  tests/Aspire.Hosting.Yarp.Tests/YarpConfigGeneratorTests.cs
  tests/Aspire.Hosting.Yarp.Tests/YarpFunctionalTests.cs
Labels: area-app-model

#9799 Disable local auth on Azure EventHubs and WebPubSub
  playground/AspireEventHub/EventHubs.AppHost/eventhubns.module.bicep
  playground/AzureFunctionsEndToEnd/AzureFunctionsEndToEnd.AppHost/eventhubs.module.bicep
  playground/webpubsub/WebPubSub.AppHost/wps1.module.bicep
  src/Aspire.Hosting.Azure.EventHubs/AzureEventHubsExtensions.cs
  src/Aspire.Hosting.Azure.WebPubSub/AzureWebPubSubExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureEventHubsExtensionsTests.CanSetHubAndConsumerGroupName#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureWebPubSubExtensionsTests.AddAzureWebPubSubHubSettings.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureWebPubSubExtensionsTests.AddAzureWebPubSubHubWithEventHandlerExpressionWorks.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureWebPubSubExtensionsTests.AddAzureWebPubSubHubWorks.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureWebPubSubExtensionsTests.AddAzureWebPubSubWithParameters.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureWebPubSubExtensionsTests.AddDefaultAzureWebPubSub.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureWebPubSubExtensionsTests.AddWebPubSubWithHubConfigure.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureWebPubSubExtensionsTests.ConfigureConstructOverridesAddEventHandler.verified.bicep
Labels: area-integrations, breaking-change

#9810 Use default colors for prompts in CLI.
  src/Aspire.Cli/Interaction/InteractionService.cs
Labels: area-cli

#9809 Style dashboard blazor reconnect modal
  src/Aspire.Dashboard/Components/Layout/ReconnectModal.razor
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#9806 Menu button concurrency fix
  src/Aspire.Dashboard/Components/Controls/AspireMenu.razor.cs
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor
  src/Aspire.Dashboard/Components/Controls/AspireMenuButton.razor.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor
Labels: area-dashboard

#9793 Rename unset so that it gets re-translated
  src/Aspire.Dashboard/Components/Controls/Chart/ChartContainer.razor.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
Labels: area-dashboard

#9180 Show/hide hidden resources on dashboard
  playground/Stress/Stress.AppHost/Program.cs
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/ResourceSelect.razor
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Model/CommonMenuItems.cs
  src/Aspire.Dashboard/Model/ResourceGraph/ResourceGraphMapper.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.Designer.cs
  src/Aspire.Dashboard/Resources/ControlsStrings.resx
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ControlsStrings.zh-Hant.xlf
  src/Aspire.Dashboard/Utils/BrowserStorageKeys.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/CreateResourceSelectModelsTests.cs
  tests/Aspire.Dashboard.Tests/Model/ResourceGraphMapperTests.cs
Labels: area-dashboard

#9792 Add support for DeployCommand and DeployingCallbackAnnotation
  src/Aspire.Cli/Commands/DeployCommand.cs
  src/Aspire.Cli/Commands/PublishCommand.cs
  src/Aspire.Cli/Commands/PublishCommandBase.cs
  src/Aspire.Cli/Commands/RootCommand.cs
  src/Aspire.Cli/Program.cs
  src/Aspire.Hosting/ApplicationModel/DeployingCallbackAnnotation.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  src/Aspire.Hosting/Publishing/DeployingContext.cs
  src/Aspire.Hosting/Publishing/Publisher.cs
  src/Aspire.Hosting/Publishing/PublishingOptions.cs
  tests/Aspire.Cli.Tests/Commands/DeployCommandTests.cs
  tests/Aspire.Cli.Tests/Utils/CliTestHelper.cs
  tests/Aspire.Hosting.Tests/PublishingTests.cs
Labels: area-cli

#9873 Revert "update fluentui packages (#9794)"
  Directory.Packages.props
Labels: area-integrations

#9882 Add connection string to resource details
  src/Aspire.Dashboard/Model/KnownPropertyLookup.cs
  src/Aspire.Dashboard/Model/ResourceViewModel.cs
  src/Aspire.Dashboard/ResourceService/Partials.cs
  src/Aspire.Dashboard/Resources/Resources.Designer.cs
  src/Aspire.Dashboard/Resources/Resources.resx
  src/Aspire.Dashboard/Resources/xlf/Resources.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.de.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.es.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.it.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/Resources.zh-Hant.xlf
  src/Aspire.Hosting/ApplicationModel/CustomResourceKnownProperties.cs
  src/Aspire.Hosting/Orchestrator/ApplicationOrchestrator.cs
  tests/Aspire.Hosting.Tests/Orchestrator/ApplicationOrchestratorTests.cs
Labels: area-dashboard

#9908 rename InteractionService to ConsoleInteractionService
  src/Aspire.Cli/Interaction/ConsoleInteractionService.cs
  src/Aspire.Cli/Program.cs
  tests/Aspire.Cli.Tests/Commands/AddCommandTests.cs
  tests/Aspire.Cli.Tests/Commands/NewCommandTests.cs
  tests/Aspire.Cli.Tests/Interaction/ConsoleInteractionServiceTests.cs
  tests/Aspire.Cli.Tests/Projects/ProjectLocatorTests.cs
  tests/Aspire.Cli.Tests/TestServices/TestConsoleInteractionService.cs
  tests/Aspire.Cli.Tests/Utils/CliTestHelper.cs
Labels: area-integrations

#9909 Fix dashboard URL display in Aspire CLI after localization changes.
  src/Aspire.Cli/Interaction/ConsoleInteractionService.cs
Labels: area-integrations

#9695 [CI] Publish binaries for Aspire.Cli
  Directory.Packages.props
  eng/Build.props
  eng/Publishing.props
  eng/clipack/Aspire.Cli.linux-arm64.csproj
  eng/clipack/Aspire.Cli.linux-musl-x64.csproj
  eng/clipack/Aspire.Cli.linux-x64.csproj
  eng/clipack/Aspire.Cli.osx-arm64.csproj
  eng/clipack/Aspire.Cli.osx-x64.csproj
  eng/clipack/Aspire.Cli.win-arm64.csproj
  eng/clipack/Aspire.Cli.win-x64.csproj
  eng/clipack/Aspire.Cli.win-x86.csproj
  eng/clipack/Common.projitems
  src/Aspire.Cli/Aspire.Cli.csproj
Labels: area-engineering-systems, area-cli

#9891 Disable local auth on Azure SignalR
  playground/signalr/SignalR.AppHost/signalrDefault.module.bicep
  playground/signalr/SignalR.AppHost/signalrServerless.module.bicep
  src/Aspire.Hosting.Azure.SignalR/AzureSignalRExtensions.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureSignalRExtensionsTests.AddAzureSignalR#00.verified.bicep
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureSignalRExtensionsTests.AddServerlessAzureSignalR#00.verified.bicep
Labels: area-codeflow

#9841 Start the beginning of AOT'ing the Aspire.Cli.
  Directory.Packages.props
  src/Aspire.Cli/Aspire.Cli.csproj
  src/Aspire.Cli/Backchannel/AppHostBackchannel.cs
  src/Aspire.Cli/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Cli/Backchannel/CliRpcTarget.cs
  src/Aspire.Cli/Backchannel/RpcResourceState.cs
  src/Aspire.Cli/Program.cs
  src/Aspire.Hosting/Backchannel/AppHostRpcTarget.cs
  src/Aspire.Hosting/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Hosting/Backchannel/RpcResourceState.cs
  tests/Aspire.Cli.Tests/Utils/CliTestHelper.cs
Labels: area-cli

#9924 Add a section on requirements for building the repo on Alpine Linux
  docs/machine-requirements.md
Labels: needs-area-label

#9910 Fix console logs clear not going back to a blank state
  src/Shared/ConsoleLogs/LogEntries.cs
  tests/Aspire.Dashboard.Tests/ConsoleLogsTests/LogEntriesTests.cs
Labels: area-dashboard

#9940 Fix glob pattern so it includes tests/Directory.Packages.props in update-dependencies workflow
  .github/workflows/update-dependencies.yml
Labels: area-codeflow

#9959 Update launchSettings.json to support manifest generation
  playground/publishers/Publishers.AppHost/Properties/launchSettings.json
Labels: area-app-model

#9958 [release/9.3] Fix SqlServer PowerShell module version to avoid breaking changes in 22.4.5.1
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/sql1-roles.module.bicep
  playground/SqlServerEndToEnd/SqlServerEndToEnd.AppHost/sql2-roles.module.bicep
  playground/SqlServerScript/AppHost1/api1-roles-mysqlserver.module.bicep
  playground/SqlServerScript/AppHost1/api2-roles-mysqlserver.module.bicep
  src/Aspire.Hosting.Azure.Sql/AzureSqlServerResource.cs
Labels: area-integrations, Servicing-approved

#9962 Update .NET dependencies
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#9895 Update MTP to 1.7.2
  eng/Versions.props
Labels: area-codeflow

#9894 Update xunit.v3 to 3.0.0-pre.25
  eng/Versions.props
Labels: area-codeflow

#9963 Bumping patch version for 9.3.2
  eng/Versions.props
  tests/Aspire.Cli.Tests/Commands/AddCommandTests.cs
  tests/Aspire.Cli.Tests/Commands/NewCommandTests.cs
  tests/Shared/RepoTesting/Aspire.RepoTesting.targets
  tests/Shared/RepoTesting/Directory.Packages.Helix.props
Labels: area-integrations

#9973 Add .http file to ApiService in starter template
  src/Aspire.ProjectTemplates/templates/aspire-starter/9.4/Aspire-StarterApplication.1.ApiService/Aspire-StarterApplication.1.ApiService.http
Labels: area-templates

#9971 Update PublishingActivityProgressReporter to support step/task views
  src/Aspire.Cli/Backchannel/AppHostBackchannel.cs
  src/Aspire.Cli/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Cli/Commands/PublishCommandBase.cs
  src/Aspire.Hosting.Docker/DockerComposePublishingContext.cs
  src/Aspire.Hosting/Backchannel/AppHostRpcTarget.cs
  src/Aspire.Hosting/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Hosting/CompatibilitySuppressions.xml
  src/Aspire.Hosting/DistributedApplicationRunner.cs
  src/Aspire.Hosting/Publishing/NullPublishingActivityProgressReporter.cs
  src/Aspire.Hosting/Publishing/PublishingActivityProgressReporter.cs
  src/Aspire.Hosting/Publishing/ResourceContainerImageBuilder.cs
  tests/Aspire.Cli.Tests/TestServices/TestAppHostBackchannel.cs
  tests/Aspire.Hosting.Docker.Tests/DockerComposePublisherTests.cs
  tests/Aspire.Hosting.Tests/Publishing/NullPublishingActivityProgressReporterTests.cs
  tests/Aspire.Hosting.Tests/Publishing/PublishingActivityProgressReporterTests.cs
Labels: area-cli

#9968 Bump System.CommandLine.
  Directory.Packages.props
Labels: area-cli

#9951 Refactor settings file path handling
  src/Aspire.Cli/Configuration/ConfigurationService.cs
  src/Aspire.Cli/Program.cs
  src/Aspire.Cli/Projects/ProjectLocator.cs
  src/Aspire.Cli/Utils/ConfigurationHelper.cs
Labels: community-contribution, area-cli

#9986 More interaction service
  playground/Stress/Stress.AppHost/Program.cs
  src/Aspire.Dashboard/Components/Interactions/InteractionsProvider.cs
  src/Aspire.Dashboard/Model/Otlp/SelectViewModel.cs
  src/Aspire.Hosting/ApplicationModel/InteractionService.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/DistributedApplicationBuilder.cs
  tests/Aspire.Hosting.Tests/Dashboard/DashboardServiceTests.cs
  tests/Aspire.Hosting.Tests/InteractionServiceTests.cs
Labels: area-dashboard

#9996 Use a digit in resx string which is passed to string.Format
  src/Aspire.Cli/Resources/DeployCommandStrings.Designer.cs
  src/Aspire.Cli/Resources/DeployCommandStrings.resx
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.cs.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.de.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.es.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.fr.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.it.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.ja.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.ko.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.pl.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.pt-BR.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.ru.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.tr.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.zh-Hans.xlf
  src/Aspire.Cli/Resources/xlf/DeployCommandStrings.zh-Hant.xlf
Labels: area-cli

#9993 Use STJ source generation in Cli backchannel
  eng/Versions.props
  src/Aspire.Cli/Aspire.Cli.csproj
  src/Aspire.Cli/Backchannel/AppHostBackchannel.cs
  tests/Aspire.Cli.Tests/Aspire.Cli.Tests.csproj
Labels: area-cli

#9998 Exclude FluentUI from update dependencies
  .github/workflows/update-dependencies.yml
Labels: area-codeflow

#10012 Improve console logs error handling
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Resources/ConsoleLogs.Designer.cs
  src/Aspire.Dashboard/Resources/ConsoleLogs.resx
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.cs.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.de.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.es.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.fr.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.it.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.ja.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.ko.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.pl.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.pt-BR.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.ru.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.tr.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.zh-Hans.xlf
  src/Aspire.Dashboard/Resources/xlf/ConsoleLogs.zh-Hant.xlf
  src/Aspire.Dashboard/ServiceClient/DashboardClient.cs
  tests/Aspire.Dashboard.Components.Tests/Pages/ConsoleLogsTests.cs
Labels: area-dashboard

#10030 Revert "Initial extension interaction service (#9927)"
  extension/package.json
  extension/package.nls.cs.json
  extension/package.nls.de.json
  extension/package.nls.es.json
  extension/package.nls.fr.json
  extension/package.nls.it.json
  extension/package.nls.ja.json
  extension/package.nls.json
  extension/package.nls.ko.json
  extension/package.nls.pl.json
  extension/package.nls.pt-br.json
  extension/package.nls.ru.json
  extension/package.nls.tr.json
  extension/package.nls.zh-cn.json
  extension/package.nls.zh-tw.json
  extension/src/commands/new.ts
  extension/src/constants/strings.ts
  extension/src/server/cert-util.ts
  extension/src/server/interactionService.ts
  extension/src/server/rpcServer.ts
  extension/src/test/rpc/e2eServerTests.test.ts
  extension/src/utils/terminal.ts
  extension/src/utils/vsc.ts
  extension/yarn.lock
  src/Aspire.Cli/Backchannel/AppHostIncompatibleException.cs
  src/Aspire.Cli/Backchannel/ExtensionBackchannel.cs
  src/Aspire.Cli/Backchannel/ExtensionIncompatibleException.cs
  src/Aspire.Cli/Backchannel/ExtensionRpcTarget.cs
  src/Aspire.Cli/Commands/NewCommand.cs
  src/Aspire.Cli/Commands/RunCommand.cs
  src/Aspire.Cli/Interaction/ConsoleInteractionService.cs
  src/Aspire.Cli/Interaction/ExtensionInteractionService.cs
  src/Aspire.Cli/Interaction/IInteractionService.cs
  src/Aspire.Cli/Program.cs
  src/Aspire.Cli/Resources/ErrorStrings.Designer.cs
  src/Aspire.Cli/Resources/ErrorStrings.resx
  src/Aspire.Cli/Resources/xlf/ErrorStrings.cs.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.de.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.es.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.fr.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.it.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.ja.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.ko.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.pl.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.pt-BR.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.ru.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.tr.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.zh-Hans.xlf
  src/Aspire.Cli/Resources/xlf/ErrorStrings.zh-Hant.xlf
  src/Aspire.Cli/Templating/CallbackTemplate.cs
  src/Aspire.Cli/Templating/DotNetTemplateFactory.cs
  src/Aspire.Cli/Templating/ITemplate.cs
  src/Aspire.Cli/Utils/StringUtils.cs
  src/Shared/KnownConfigNames.cs
  tests/Aspire.Cli.Tests/TestServices/TestConsoleInteractionService.cs
Labels: area-cli

#10033 Quick fix to codespaces dashboard link.
  src/Aspire.Cli/Commands/RunCommand.cs
Labels: area-cli

#10007 Increase BrowserTokenAuthenticationTests timeouts
  tests/Aspire.Dashboard.Tests/Integration/Playwright/BrowserTokenAuthenticationTests.cs
Labels: area-integrations

#10056 Rename interaction inputs, improve input dialog UX
  playground/Stress/Stress.AppHost/Program.cs
  src/Aspire.Dashboard/Components/Dialogs/InteractionsInputDialog.razor
  src/Aspire.Dashboard/Components/Dialogs/InteractionsInputDialog.razor.cs
  src/Aspire.Dashboard/Components/Interactions/InteractionsProvider.cs
  src/Aspire.Dashboard/Model/InputViewModel.cs
  src/Aspire.Hosting/ApplicationModel/IInteractionService.cs
  src/Aspire.Hosting/Dashboard/DashboardService.cs
  src/Aspire.Hosting/Dashboard/DashboardServiceData.cs
  src/Aspire.Hosting/Dashboard/proto/dashboard_service.proto
Labels: area-dashboard, area-app-model

#10032 Increase name column width on the trace detail page
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
Labels: area-dashboard

#10052 Only ask for distinct package names in aspire add
  src/Aspire.Cli/Commands/AddCommand.cs
Labels: area-codeflow

#9974 Add Azure AI Foundry support
  Aspire.slnx
  Directory.Packages.props
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/AzureAIFoundryEndToEnd.AppHost.csproj
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/Program.cs
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/Properties/launchSettings.json
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/appsettings.Development.json
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/appsettings.json
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/aspire-manifest.json
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.AppHost/foundry.module.bicep
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/AzureAIFoundryEndToEnd.WebStory.csproj
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/Components/App.razor
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/Components/Layout/MainLayout.razor
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/Components/Layout/MainLayout.razor.css
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/Components/Pages/Error.razor
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/Components/Pages/Home.razor
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/Components/Routes.razor
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/Components/_Imports.razor
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/Program.cs
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/Properties/launchSettings.json
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/appsettings.Development.json
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/appsettings.json
  playground/AzureAIFoundryEndToEnd/AzureAIFoundryEndToEnd.WebStory/wwwroot/app.css
  src/Aspire.Hosting.Azure.AIFoundry/Aspire.Hosting.Azure.AIFoundry.csproj
  src/Aspire.Hosting.Azure.AIFoundry/AzureAIFoundryDeploymentResource.cs
  src/Aspire.Hosting.Azure.AIFoundry/AzureAIFoundryExtensions.cs
  src/Aspire.Hosting.Azure.AIFoundry/AzureAIFoundryResource.cs
  src/Aspire.Hosting.Azure.AIFoundry/FoundryLocalHealthCheck.cs
  src/Aspire.Hosting.Azure.AIFoundry/LocalModelHealthCheck.cs
  src/Aspire.Hosting.Azure.AIFoundry/README.md
  src/Aspire.Hosting.Azure.CosmosDB/AzureCosmosDBResource.cs
  src/Aspire.Hosting.Azure/AzureResourcePreparer.cs
  src/Aspire.Hosting.Azure/Provisioning/Provisioners/AzureProvisioner.cs
  src/Aspire.Hosting/ApplicationModel/DistributedApplicationModelExtensions.cs
  src/Aspire.Hosting/ApplicationModel/EmulatorResourceAnnotation.cs
  src/Aspire.Hosting/EmulatorResourceExtensions.cs
  src/Components/Aspire.Azure.AI.Inference/AspireAzureAIInferenceExtensions.cs
  src/Components/Aspire.Azure.AI.Inference/ChatCompletionsClientSettings.cs
  src/Components/Aspire.Azure.AI.Inference/README.md
  src/Shared/AzureAIFoundry_256x.png
  tests/Aspire.Hosting.Azure.Tests/Aspire.Hosting.Azure.Tests.csproj
  tests/Aspire.Hosting.Azure.Tests/AzureAIFoundryExtensionsTests.cs
  tests/Aspire.Hosting.Azure.Tests/Snapshots/AzureAIFoundryExtensionsTests.AddAzureAIFoundry_GeneratesValidBicep.verified.bicep
  tests/Aspire.Hosting.Tests/DistributedApplicationModelExtensionsTests.cs
Labels: area-integrations

#10095 Fix tests failing on Azdo
  tests/helix/send-to-helix-basictests.targets
  tests/helix/send-to-helix-inner.proj
Labels: area-integrations

#10101 Implement CLI prompting on top of InteractionService
  src/Aspire.Cli/Backchannel/AppHostBackchannel.cs
  src/Aspire.Cli/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Cli/Commands/PublishCommandBase.cs
  src/Aspire.Cli/Interaction/ConsoleInteractionService.cs
  src/Aspire.Cli/Interaction/ExtensionInteractionService.cs
  src/Aspire.Cli/Interaction/IInteractionService.cs
  src/Aspire.Hosting/Backchannel/AppHostRpcTarget.cs
  src/Aspire.Hosting/Backchannel/BackchannelDataTypes.cs
  src/Aspire.Hosting/Publishing/NullPublishingActivityProgressReporter.cs
  src/Aspire.Hosting/Publishing/PublishingActivityProgressReporter.cs
  tests/Aspire.Cli.Tests/Commands/PublishCommandPromptingIntegrationTests.cs
  tests/Aspire.Cli.Tests/Commands/PublishCommandTests.cs
  tests/Aspire.Cli.Tests/TestServices/TestAppHostBackchannel.cs
  tests/Aspire.Cli.Tests/TestServices/TestConsoleInteractionService.cs
  tests/Aspire.Cli.Tests/Utils/CliTestHelper.cs
  tests/Aspire.Hosting.Tests/Publishing/PublishingActivityProgressReporterTests.cs
  tests/Aspire.Hosting.Tests/Publishing/PublishingExtensionsTests.cs
Labels: area-cli

#10054 More extension cleanup
  extension/package.nls.cs.json
  extension/package.nls.de.json
  extension/package.nls.es.json
  extension/package.nls.fr.json
  extension/package.nls.it.json
  extension/package.nls.ja.json
  extension/package.nls.json
  extension/package.nls.ko.json
  extension/package.nls.pl.json
  extension/package.nls.pt-br.json
  extension/package.nls.ru.json
  extension/package.nls.tr.json
  extension/package.nls.zh-cn.json
  extension/package.nls.zh-tw.json
  extension/src/commands/add.ts
  extension/src/commands/config.ts
  extension/src/commands/deploy.ts
  extension/src/commands/new.ts
  extension/src/commands/publish.ts
  extension/src/commands/run.ts
  extension/src/constants/storageKeys.ts
  extension/src/extension.ts
  extension/src/loc/strings.ts
  extension/src/server/interactionService.ts
  extension/src/server/rpcServer.ts
  extension/src/test/rpc/interactionServiceTests.test.ts
  extension/src/utils/strings.ts
  extension/src/utils/terminal.ts
  extension/src/utils/vsc.ts
Labels: area-extension

#10112 Reapply "Update dependencies from https://github.com/microsoft/usvc-a…
  eng/Version.Details.xml
  eng/Versions.props
Labels: area-codeflow

#10117 Fix Typos in TalkingClockResource
  playground/CustomResources/CustomResources.AppHost/TalkingClockResource.cs
Labels: needs-area-label, community-contribution

#10091 Kubernetes Publisher connection strings fix
  src/Aspire.Hosting.Kubernetes/KubernetesResource.cs
  tests/Aspire.Hosting.Kubernetes.Tests/KubernetesPublisherTests.cs
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_CustomWorkloadAndResourceType#01.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_GeneratesValidHelmChart#01.verified.yaml
  tests/Aspire.Hosting.Kubernetes.Tests/Snapshots/KubernetesPublisherTests.PublishAsync_HandlesSpecialResourceName#04.verified.yaml
Labels: needs-area-label, community-contribution

#10131 Interaction service improvements
  playground/Stress/Stress.AppHost/InteractionCommands.cs
  playground/Stress/Stress.AppHost/Program.cs
  src/Aspire.Dashboard/Components/Interactions/InteractionsProvider.cs
  src/Aspire.Dashboard/wwwroot/css/app.css
Labels: area-dashboard

#10132 Fix space between header and content in trace detail
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.css
Labels: area-dashboard

#10133 Improve telemetry logging
  src/Aspire.Dashboard/Otlp/Model/AddContext.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpApplication.cs
  src/Aspire.Dashboard/Otlp/Model/OtlpHelpers.cs
  src/Aspire.Dashboard/Otlp/OtlpLogsService.cs
  src/Aspire.Dashboard/Otlp/OtlpMetricsService.cs
  src/Aspire.Dashboard/Otlp/OtlpTraceService.cs
  src/Aspire.Dashboard/Otlp/Storage/TelemetryRepository.cs
Labels: area-dashboard

#10080 Telemetry fixes
  src/Aspire.Dashboard/Components/Controls/ResourceDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/SpanDetails.razor.cs
  src/Aspire.Dashboard/Components/Controls/StructuredLogDetails.razor.cs
  src/Aspire.Dashboard/Components/Pages/ComponentTelemetryContext.cs
  src/Aspire.Dashboard/Components/Pages/ConsoleLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/Error.razor.cs
  src/Aspire.Dashboard/Components/Pages/Login.razor.cs
  src/Aspire.Dashboard/Components/Pages/Metrics.razor.cs
  src/Aspire.Dashboard/Components/Pages/NotFound.razor.cs
  src/Aspire.Dashboard/Components/Pages/Resources.razor.cs
  src/Aspire.Dashboard/Components/Pages/StructuredLogs.razor.cs
  src/Aspire.Dashboard/Components/Pages/TraceDetail.razor.cs
  src/Aspire.Dashboard/Components/Pages/Traces.razor.cs
  src/Aspire.Dashboard/Model/DashboardCommandExecutor.cs
  src/Aspire.Dashboard/ServiceClient/DashboardClient.cs
  src/Aspire.Dashboard/Telemetry/DashboardTelemetryService.cs
  src/Aspire.Dashboard/Telemetry/TelemetryPropertyKeys.cs
  tests/Aspire.Dashboard.Components.Tests/Shared/StructuredLogsSetupHelpers.cs
  tests/Aspire.Dashboard.Tests/Telemetry/ComponentTelemetryContextTests.cs
Labels: area-dashboard

#9977 Fix support for non-localhost endpoint targets
  src/Aspire.Hosting/ApplicationModel/AllocatedEndpoint.cs
  src/Aspire.Hosting/Dcp/DcpExecutor.cs
  src/Aspire.Hosting/ProjectResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Tests/ProjectResourceTests.cs
Labels: NO-MERGE, needs-area-label
