Repository dotnet/aspire, changes with the owners that CODEOWNERS names for each.
All owners: @dotnet/source-build-internal, @radical, @eerhardt, @reubenbond, @sebastienros, @joperezr, @mitchdenny

CODEOWNERS:

/eng/SourceBuild* @dotnet/source-build-internal

/dogfood.sh @radical @eerhardt
/src/Aspire.Hosting.Testing @reubenbond
/src/Components @radical @eerhardt @sebastienros
/src/Microsoft.NET.Sdk.Aspire @joperezr @radical

# tests

/tests/Aspire.EndToEnd.Tests @radical @eerhardt
/tests/Aspire.Hosting.Testing.Tests @reubenbond
/tests/Aspire.Hosting.Tests @mitchdenny
/tests/Aspire.Workload.Tests @radical @eerhardt
/tests/Shared @radical @eerhardt
/tests/helix @radical @eerhardt
/tests/workloads.proj @radical @eerhardt

Remove obsolete, pre-GA, DCP-related annotations
  src/Aspire.Hosting/Dcp/Model/Executable.cs
Owners: none

Update AspireNatsClientExtensions.cs
  src/Components/Aspire.NATS.Net/AspireNatsClientExtensions.cs
Owners: @radical, @eerhardt, @sebastienros

Remove init modifiers
  src/Aspire.Hosting.SqlServer/PublicAPI.Unshipped.txt
  src/Aspire.Hosting.SqlServer/SqlServerDatabaseResource.cs
Owners: none

Adding public API test coverage (#5225)
  src/Microsoft.Extensions.ServiceDiscovery.Dns/ServiceDiscoveryDnsServiceCollectionExtensions.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Dns.Tests/DnsServicePublicApiTests.cs
Owners: none

Remove inits
  src/Aspire.Hosting.MongoDB/MongoDBBuilderExtensions.cs
  src/Aspire.Hosting.MongoDB/MongoDBDatabaseResource.cs
  src/Aspire.Hosting.MongoDB/PublicAPI.Unshipped.txt
Owners: none

Formatting
  tests/Aspire.MongoDB.Driver.Tests/MongoDBDriverPublicApiTests.cs
Owners: none

Fix component governance alerts (#5164)
  Directory.Packages.props
  src/Components/Aspire.Azure.AI.OpenAI/Aspire.Azure.AI.OpenAI.csproj
  src/Components/Aspire.Azure.Data.Tables/Aspire.Azure.Data.Tables.csproj
  src/Components/Aspire.Azure.Messaging.EventHubs/Aspire.Azure.Messaging.EventHubs.csproj
  src/Components/Aspire.Azure.Messaging.ServiceBus/Aspire.Azure.Messaging.ServiceBus.csproj
  src/Components/Aspire.Azure.Messaging.WebPubSub/Aspire.Azure.Messaging.WebPubSub.csproj
  src/Components/Aspire.Azure.Search.Documents/Aspire.Azure.Search.Documents.csproj
  src/Components/Aspire.Azure.Security.KeyVault/Aspire.Azure.Security.KeyVault.csproj
  src/Components/Aspire.Azure.Storage.Blobs/Aspire.Azure.Storage.Blobs.csproj
  src/Components/Aspire.Azure.Storage.Queues/Aspire.Azure.Storage.Queues.csproj
  src/Components/Aspire.Microsoft.Azure.Cosmos/Aspire.Microsoft.Azure.Cosmos.csproj
  src/Components/Aspire.Microsoft.Data.SqlClient/Aspire.Microsoft.Data.SqlClient.csproj
  src/Components/Aspire.Microsoft.EntityFrameworkCore.Cosmos/Aspire.Microsoft.EntityFrameworkCore.Cosmos.csproj
Owners: @radical, @eerhardt, @sebastienros

Adding public API test coverage for Aspire.Hosting.SqlServer (#5241)
  src/Aspire.Hosting.SqlServer/SqlServerBuilderExtensions.cs
  src/Aspire.Hosting.SqlServer/SqlServerDatabaseResource.cs
  tests/Aspire.Hosting.SqlServer.Tests/SqlServerPublicApiTests.cs
Owners: none

[tests] Addressing review feedback for Aspire.Playground.Tests
  playground/Directory.Build.targets
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

Adding public API test coverage for Aspire.MongoDB.Driver (#5171)
  src/Components/Aspire.MongoDB.Driver/AspireMongoDBDriverExtensions.cs
  tests/Aspire.MongoDB.Driver.Tests/MongoDBDriverPublicApiTests.cs
Owners: @radical, @eerhardt, @sebastienros

Fix names
  tests/Aspire.Hosting.Garnet.Tests/GarnetPublicApiTests.cs
Owners: none

Adding public API test coverage for Aspire.Hosting.Keycloak (#5144)
  src/Aspire.Hosting.Keycloak/KeycloakResource.cs
  src/Aspire.Hosting.Keycloak/KeycloakResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Keycloak.Tests/KeycloakPublicApiTests.cs
Owners: none

[tests] Add CosmosEndToEnd to playground tests
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/Program.cs
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

Quarantine AppBarTests.AppBar_Change_Theme
  tests/Aspire.Dashboard.Tests/Integration/Playwright/AppBarTests.cs
Owners: none

Remove obsolete, pre-GA, DCP-related annotations (#5242)
  src/Aspire.Hosting/Dcp/Model/Executable.cs
Owners: none

revert test changes
  tests/TestingAppHost1/TestingAppHost1.AppHost/Program.cs
  tests/TestingAppHost1/TestingAppHost1.AppHost/TestingAppHost1.AppHost.csproj
  tests/TestingAppHost1/realms/weathershop-realm.json
Owners: none

PR Feedback round 1 - Removed tests from testproject (handled in func) - changed tests to enable the random parameter usage
  tests/Aspire.EndToEnd.Tests/IntegrationServicesFixture.cs
  tests/Aspire.EndToEnd.Tests/IntegrationServicesTests.cs
  tests/Aspire.Hosting.Milvus.Tests/MilvusFunctionalTests.cs
  tests/Aspire.Hosting.Tests/ManifestGenerationTests.cs
  tests/testproject/Common/TestResourceNames.cs
  tests/testproject/TestProject.AppHost/TestProgram.cs
  tests/testproject/TestProject.AppHost/TestProject.AppHost.csproj
  tests/testproject/TestProject.IntegrationServiceA/Milvus/MilvusExtension.cs
  tests/testproject/TestProject.IntegrationServiceA/Program.cs
  tests/testproject/TestProject.IntegrationServiceA/TestProject.IntegrationServiceA.csproj
Owners: @radical, @eerhardt, @mitchdenny

[tests] Add Keycloak playground app to tests
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

[tests] Add CosmosEndToEnd to playground tests (#5244)
  playground/CosmosEndToEnd/CosmosEndToEnd.ApiService/Program.cs
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

Produce 8.2.0 versions and add error in case of insufficient AppHost version
  eng/Versions.props
  src/Aspire.Hosting.Sdk/SDK/Sdk.targets
Owners: none

Add test for WithRealmImport, and use the full path for directory-exists check
  src/Aspire.Hosting.Keycloak/KeycloakResourceBuilderExtensions.cs
  tests/Aspire.Hosting.Keycloak.Tests/KeycloakPublicApiTests.cs
Owners: none

Address PR feedback
  src/Aspire.Hosting.PostgreSQL/PgWebConfigWriterHook.cs
  src/Aspire.Hosting.PostgreSQL/PostgresBuilderExtensions.cs
  src/Aspire.Hosting.PostgreSQL/PostgresContainerImageTags.cs
  src/Aspire.Hosting.PostgreSQL/PublicAPI.Unshipped.txt
  tests/Aspire.Hosting.PostgreSQL.Tests/AddPostgresTests.cs
Owners: none

Adding public API test coverage Aspire.Hosting.NodeJs
  src/Aspire.Hosting.NodeJs/NodeAppResource.cs
  src/Aspire.Hosting.NodeJs/NodeExtensions.cs
  tests/Aspire.Hosting.NodeJs.Tests/NodeJsPublicApiTests.cs
Owners: none

fix path
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

[tests] Addressing review feedback for Aspire.Playground.Tests (#5243)
  playground/Directory.Build.targets
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

Remove usings
  tests/Aspire.Hosting.Tests/Utils/LoggerNotificationExtensions.cs
Owners: @mitchdenny

Quarantine AppBarTests.AppBar_Change_Theme (#5245)
  tests/Aspire.Dashboard.Tests/Integration/Playwright/AppBarTests.cs
Owners: none

Improve stability of Valkey functional tests
  tests/Aspire.Hosting.Valkey.Tests/ValkeyFunctionalTests.cs
Owners: none

Improve notification loop exit (#5233)
  tests/Aspire.Hosting.Testing.Tests/TestingFactoryTests.cs
  tests/Aspire.Hosting.Tests/Utils/LoggerNotificationExtensions.cs
Owners: @reubenbond, @mitchdenny

Add error when insufficient version of workload is detected.
  src/Aspire.Hosting.AppHost/build/Aspire.Hosting.AppHost.targets
  src/Aspire.Hosting.Sdk/Aspire.Hosting.Sdk.csproj
  src/Aspire.Hosting.Sdk/SDK/Sdk.in.props
  src/Aspire.Hosting.Sdk/SDK/Sdk.props
  src/Microsoft.NET.Sdk.Aspire/WorkloadManifest.Aspire.targets
Owners: @joperezr, @radical

Microsoft.Extensions.ServiceDiscovery
  src/Microsoft.Extensions.ServiceDiscovery/ServiceDiscoveryHttpClientBuilderExtensions.cs
  src/Microsoft.Extensions.ServiceDiscovery/ServiceDiscoveryServiceCollectionExtensions.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Tests/ServicePublicApiTests.cs
Owners: none

Add missing packageVersion
  tests/Shared/RepoTesting/Directory.Packages.Helix.props
Owners: @radical, @eerhardt

Add Aspire.Hosting.Keycloak
  tests/Shared/RepoTesting/Directory.Packages.Helix.props
Owners: @radical, @eerhardt

[tests] Add PostgresEndToEnd playground app to tests
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

Microsoft.Extensions.ServiceDiscovery.Abstractions
  src/Microsoft.Extensions.ServiceDiscovery.Abstractions/ServiceEndpoint.cs
  src/Microsoft.Extensions.ServiceDiscovery.Abstractions/ServiceEndpointQuery.cs
  src/Microsoft.Extensions.ServiceDiscovery.Abstractions/ServiceEndpointSource.cs
  tests/Microsoft.Extensions.ServiceDiscovery.Tests/ServicePublicApiTests.cs
Owners: none

[tests] Add Elasticsearch playground app to tests
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

[tests] Add SqlServerEndToEnd playground app to tests
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

[tests] Add ParameterEndToEnd playground app to tests
  playground/ParameterEndToEnd/ParameterEndToEnd.ApiService/Program.cs
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: none

Improve reliability of `AppHostTests.TestEndpointsReturnOk`
  tests/Aspire.Hosting.Tests/Utils/LoggerNotificationExtensions.cs
  tests/Aspire.Playground.Tests/AppHostTests.cs
  tests/Aspire.Playground.Tests/Aspire.Playground.Tests.csproj
Owners: @mitchdenny

[ci] Avoid duplicating trx file on helix, and copy it for playground tests also
  tests/helix/send-to-helix-basictests.targets
  tests/helix/send-to-helix-buildonhelixtests.targets
  tests/helix/send-to-helix-endtoendtests.targets
  tests/helix/send-to-helix-workloadtests.targets
Owners: @radical, @eerhardt
